[2017-11-17 00:16] soumyalj opened #18 "Fatal error when creating Kubernetes cluster with hosts using encrypted ssh keys"
rke version:  0.0.1-dev
1. Create encrypted ssh keys using ssh-keygen
2. Add these keys to .ssh/authorized_keys file on the hosts that are used to create the cluster(specified in cluster.yml)
3. Create cluster using `./rke cluster up` command.
Cluster creation fails with a fatal error.
[code]

[2017-11-17 22:02] soumyalj opened #21 "RKE fails with "no key found" error when ssh keys not named id_rsa.pub/id_rsa"
rke version: 0.0.1-dev
Steps:
1. Create ssh keys using ssh-keygen. Use names abc.pub and abc for public/private keys
2. Add the public key to .ssh/authorized_keys file on the hosts that are used to create the cluster(specified in cluster.yml)
3. Create a cluster using ./rke cluster up command.
Cluster creation fails with "key not found" error. The keys are not named id_rsa.pub and id_rsa on the sy

[2017-11-18 17:37] galal-hussein commented on #18
you can test this fix using v0.0.2-dev release

[2017-11-20 21:42] soumyalj opened #24 "Panic - runtime error when master node is removed from the Kubernetes cluster"
rke version v0.0.2-dev

Steps:
1. Create a cluster with one master [controlplane, etcd] node and the other worker node using cluster.yml file.  Use the command ```./rke_darwin-amd64 cluster up --cluster-file cluster.yml ```
Cluster.yml file example:
[code]

2. Remove the master node in the cluster.yml file and rerun the ```./rke_darwin-amd64 cluster up``` command
It fails with a panic as below
[co

[2017-11-20 23:11] soumyalj opened #26 "Panic-runtime error when upgrading Kubernetes cluster using an invalid cluster file"
rke version v0.0.2-dev

Steps:
1. Create a cluster(v1.7.5_coreos.0) with one master [controlplane, etcd] node and the other worker node using cluster.yml file. Use the command ./rke_darwin-amd64 cluster up --cluster-file cluster.yml
Cluster.yml file example:
[code]
2. Upgrade the cluster using a cluster file with version v1.7.6_coreos.0 but with different hosts/ip addresses not relevant to the exi

[2017-11-20 23:18] soumyalj opened #27 "Kubernetes cluster upgrade fails with error " FATA[00XX] Failed to set cordonded state for node""
rke version v0.0.2-dev

Steps:

1. Create a cluster(v1.7.5_coreos.0) with one master [controlplane, etcd] node and the other worker node using cluster.yml file. Use the command ./rke_darwin-amd64 cluster up --cluster-file cluster.yml
Cluster.yml file example:
[code]
2. Upgrade the cluster using a valid cluster file with version v1.7.6_coreos.0 relevant to the cluster created above. Cluster upgrade

[2017-11-21 01:02] soumyalj commented on #18
Tested with rke version v0.0.2-dev. Creation of Kubernetes cluster when hosts are using encrypted ssh keys are successful. There is a password prompt as the keys are encrypted.

[2017-11-21 01:02] #18 closed

[2017-11-21 19:28] galal-hussein commented on #27
Cordon function needed to have sleep between retries in case the kubernetes api wasn't ready yet after deployment

[2017-11-22 21:57] sangeethah opened #36 "kubectl exec and logs not working."
rke version v0.0.3-dev

Steps to reproduce the problem:
Create a cluster using hosts from Digitial Ocean provider.
Create user pods.
kubectl exec and logs do not work.

[code]

[2017-11-22 22:11] sangeethah opened #37 "Not able to launch dashboard after one of the existing master node is powered down."
rke version v0.0.3-dev

Steps to reproduce the problem:
Create a cluster with 1 node in controlplane , 1 in etcd and 1 in worker.
Also have dashboard installed as addons.
Add 1 more node in controlplane and 1 more node in woker.
Make sure we are able to launch bashboard successfully.

Power off one of the nodes in the controlplane which has the bashboard container running.

After sometime, dashboa

[2017-11-22 23:35] sabiodelhielo opened #39 "Failed to get job complete status when using Calico network plugin"
Using the Calico network plugin, I got the message that rke cluster up failed:

INFO[0280] [addons] Successfully Saved addon to Kubernetes ConfigMap: rke-netwok-plugin
INFO[0280] [addons] Executing deploy job..
Failed to get job complete status: <nil>
FATA[0286] Failed to deploy addon execute job: Failed to get job complete status: <nil>

The calico pods were up and running though

Traviss-MacBook

[2017-11-22 23:37] galal-hussein commented on #39
this looks like a race condition, where rke doesn't wait enough for the k8s job to finish and report success, the code only wait for 5 seconds, i will put a fix for that

[2017-11-23 01:09] sangeethah opened #41 "Rename "ip" to "host" and make "advertised_hostname" optional."
host config parameter requirements:

advertised_hostname: Optional - If provided ,  name should be resolvable
host:  Required - can be ip of fqdn that is fully resolvable externally
advertise_address: Optional - Internally resolvable ips

Default resolution order ( in kube api):
advertised_hostname
advertise_address
host

This can be altered by configuring the following in kube api:
[code]

This w

[2017-11-23 01:59] galal-hussein commented on #37
@sangeethah In DO hostnames are not resolvable so kubeapi will not be able to reach the node by hostname, it will cause exec/logs to fail, to solve this you can just specify the following extra arguments for kubeapi service:
[code]

[2017-11-23 02:01] galal-hussein commented on #36
@sangeethah In DO hostnames are not resolvable so kubeapi will not be able to reach the node by hostname, it will cause exec/logs to fail, to solve this you can just specify the following extra arguments for kubeapi service:
[code]

[2017-11-23 02:39] sangeethah opened #42 "When nodes are removed , attempt to clean up system containers from the host."
rke version v0.0.4-dev

Steps to reproduce the problem:
Create a cluster with 2 nodes in controlplane  and 1 node each in etcd and worker.
Remove one of the nodes in controlplane.

Even after the node is removed from the cluster , system containers continue to be present in the host.

[code]

It would be good to make an attempt to clean up system containers from the host when the hosts are reachab

[2017-11-23 02:50] sangeethah opened #43 "Upgrade option should allow for upgrading services when configurations (other than image) is updated."
rke version v0.0.4-dev

Currently upgrade option allows for upgrading services only when image name provided in cluster yml file is different from what is being deployed in the cluster. We should allow for upgrading services when configurations (other than image) is updated.

[2017-11-23 03:29] soumyalj commented on #26
Tested with rke version v0.0.4-dev. There is no panic runtime error when invalid file is used.
[code]

[2017-11-23 03:29] #26 closed

[2017-11-23 03:59] soumyalj commented on #27
Tested with rke version v0.0.4-dev.
Created a Kubernetes cluster with version rancher/k8s:v1.8.2-rancher5.
Created pods and then upgraded to version rancher/k8s:v1.8.3-rancher2
Upgrade was successful . All the kubernetes components upgraded to version rancher/k8s:v1.8.3-rancher2. Creation of new pods was ok. Dashboard launched successfully.
[code]

[2017-11-23 03:59] #27 closed

[2017-11-23 04:51] sangeethah commented on #36
rke version v0.0.4-dev

Steps to reproduce the problem:

used the following  extra_args for kube-api service:
[code]

Create a cluster using hosts from Digitial Ocean provider.
Create user pods.
kubectl exec and logs works.

[2017-11-23 05:17] soumyalj opened #44 "Provide relevant error messages when nodes are added/removed during cluster upgrade"
1. Create a k8s cluster using image rancher/k8s:v1.8.2-rancher5 in cluster.yml file.
./rke_darwin-amd64 cluster up --cluster-file cluster.yml
2. Update the cluster.yml file with  rancher/k8s:v1.8.3-rancher2 for all the components
and add another node
3. Upgrade the cluster .  Adding another node during upgrade gives an error message as below:

[code]
A relevant error message should be provided to

[2017-11-23 05:25] sangeethah opened #45 "etcd added to an existing cluster is not able to join existing etcd cluster."
rke version v0.0.4-dev

Steps to reproduce the problem:
Create a cluster with following configuration:
host1 in etcd and controlplane
host2 in controlplane
host3 in worker

Update cluster (using cluster up command)  by making host2 in etcd as well
etcd service gets deployed in host2 successfully but it is not able join existing cluster.

[code]

[code]

[2017-11-23 05:48] soumyalj commented on #24
Tested with rke version v0.0.4-dev. Created a cluster with one master and one worker node using cluster.yml file,
Removed the master node from the cluster.yml file and cluster up command was run again.
There was no panic runtime error. A relevant error message was displayed as below
[code]

[2017-11-23 05:48] #24 closed

[2017-11-26 20:12] galal-hussein commented on #45
A fix added to raise error if a node added/removed during upgrade

[2017-11-26 20:13] galal-hussein commented on #44
A fix added to raise an error for adding/removing nodes while upgrade

[2017-11-26 22:42] moelsayed commented on #37
Currently, when a new node is added to the cluster, a new KubeAPI cert/key pair is generated for it.

The same key is used to sign service account tokens. The results is an auth split brain where tokens signed by one API server can't authenticate with the other API server.

[2017-11-27 00:21] galal-hussein commented on #45
The fix can be tested with v0.0.5-dev

[2017-11-27 00:22] galal-hussein commented on #44
The fix can be tested with v0.0.5-dev

[2017-11-27 00:22] galal-hussein commented on #42
The fix can be tested with v0.0.5-dev

[2017-11-27 00:23] galal-hussein commented on #39
The fix can be tested with v0.0.5-dev

[2017-11-27 00:24] galal-hussein commented on #37
The fix can be tested with v0.0.5-dev

[2017-11-27 18:26] sangeethah opened #50 "Host ip should be able to accept fqdn names that are resolvable."
rke version v0.0.5-dev

When host ip is provided as  fqdn name that is resolvable ,certificate generation has problems.

[code]

[2017-11-27 18:28] soumyalj commented on #44
Tested with  rke version v0.0.5-dev with the following steps:
1. Create a k8s cluster using image rancher/k8s:v1.8.3-rancher1 in cluster.yml file.
./rke_darwin-amd64 cluster up --cluster-file cluster.yml
2 Update the cluster.yml file with rancher/k8s:v1.8.3-rancher2 for all the components
and add another node.
Relevant error message was displayed as below:
[code]
Also, tried the steps and removed

[2017-11-27 18:28] #44 closed

[2017-11-27 18:51] sangeethah commented on #45
Tested with rke version v0.0.5-dev
Following error message is presented to the user when trying to add/remove etcd nodes to existing k8s cluster
[code]

[2017-11-27 18:51] #45 closed

[2017-11-27 19:04] sangeethah opened #51 "When cluster remove is done , kube_config_cluster.yml continues to be present."
rke version v0.0.5-dev

Steps to reproduce the problem:
Create a new K8s cluster using ```cluster up``` command.
Remove K8s cluster using ```cluster remove``` command.
At this point ,  kube_config_cluster.yml continues to be present.

When attempting to add a new cluster using ```cluster up`` command , rke now attempts to  fetch cluster state from the removed Kubernetes and it fails before it proc

[2017-11-27 19:10] soumyalj commented on #21
Tested with rke version v0.0.5-dev. Created ssh keys with names abc-rsa and abc-rsa.pub.
Provided the correct path for the ssh keys in cluster.yml file as below:
[code]
Creation of k8s cluster with ./rke up command succeeded.
If the right path is not provided, then the cluster creation fails as expected.
[code]

[2017-11-27 19:10] #21 closed

[2017-11-27 19:43] soumyalj opened #52 "Provide relevant error message when unsupported auth strategy and network plugins are used in cluster.yml file"
1. Create a cluster with one master [controlplane, etcd] node and the other worker node using cluster.yml file. Use the command ./rke_darwin-amd64 cluster up --cluster-file cluster.yml
Cluster.yml file example:
[code]
Cluster creation fails but does not provide any indication that the fields are unsupported/invalid.
It fails with the below error:
[code]
Relevant error messages must be provided to

[2017-11-27 19:59] sangeethah commented on #42
rke version v0.0.4-dev

Steps to reproduce the problem:
Create a cluster with 2 nodes in controlplane and 1 node each in etcd and worker.
Remove one of the nodes in controlplane.

After the control node is removed from the cluster , system containers get removed from the host.
Only pods  relating to network continues to be present.

[code]

[2017-11-27 19:59] #42 closed

[2017-11-28 01:18] sangeethah commented on #36
Reopening this issue  to support the case where when the advertised_hostname provided is not resolvable there should be no need for user to manually override the default order for kube-api service by providing kubelet-preferred-address-types

[2017-11-28 01:32] sangeethah opened #53 "Should be allowed to create a k8s cluster by specifying only image parameter for all the service containers."
Should be allowed to create a k8s cluster by specifying only image parameter for all the service containers.

[2017-11-28 02:04] galal-hussein opened #54 "Remove cluster from the cli command"
Remove the `cluster` from cli command, and just use:
[code]

[2017-11-28 02:05] galal-hussein opened #55 "Add information about saving .kube_config locally"
The user should know from the logs that .kube_config file has been saved locally

[2017-11-28 19:21] sangeethah opened #59 "Better error message and directions on next steps when control plane node is not reachable."
Tested with rke version v0.0.5-dev

Steps to reproduce the problem:
1. Create a k8s cluster with 1 node each in controlplane,etcd and worker.
2. Add another node to controlplane.
Power down the host in controlplane from step 1 , which is the api-server configured in .kube_config_cluster.yml

Using cluster up command results in ```Error establishing SSH connection```.
Can this error message be impr

[2017-11-28 20:26] sangeethah commented on #37
rke version v0.0.5-dev

Not able to reproduce the issue reported in the bug when following steps were done:

Create a cluster with 1 node in controlplane , 1 in etcd and 1 in worker.
Also have dashboard installed as addons.
Change existing node in etcd to be in both controlplane and etcd.
Add 1 more node in controlplane and 1 more node in woker.
Make sure we are able to launch bashboard successful

[2017-11-28 20:26] #37 closed

[2017-11-28 21:03] superseb opened #60 "Check Docker version on host"
As we already talk to the Docker API, we can retrieve `ServerVersion` and compare to supported Docker versions set in rke.

[2017-11-28 21:32] sangeethah opened #61 "Changes done to control plane is reflected in only 1 of the worker nodes's nginx proxy container."
rke version v0.0.5-dev

Steps to reproduce the problem:
Have K8s cluster with 2 control nodes , 2 worker nodes and 1etcd node.
Remove one of the control nodes.

Control node gets removed successfully.
But rolling updates to nginx containers on the worker node is done only for 1 of the worker nodes.

Expected Behavior:
Rolling updates to nginx containers should be attempted for all worker nodes.

[2017-11-28 23:21] sabiodelhielo commented on #39
Verified this on v0.0.5-dev

[2017-11-28 23:21] #39 closed

[2017-11-29 00:09] sangeethah commented on #50
rke version v0.0.6-dev

When host ip is provided as fqdn name that is resolvable ,certificate generation has problems.
Able to create K8s cluster successfully when specifying "address" parameter for the node to as fqdn.
[code]

[2017-11-29 00:09] #50 closed

[2017-11-29 00:11] sangeethah commented on #53
rke version v0.0.6-dev

Able to create K8s cluster successfully by using only the following parameters in services section of cluster.yml
[code]

[2017-11-29 00:11] #53 closed

[2017-11-29 00:42] galal-hussein opened #63 "Ability to use real hostname value for hostname from each host"
currently hostname_override defaults to address, and kube-api has option:

```"--kubelet-preferred-address-types=InternalIP,ExternalIP,Hostname"```
which tell kube-api to skip hostname resolution for the nodes and use internal ip address and external if not found.

We should be able to fetch the hostname from the host, using a docker container with `--net=host`.

note: kubelet uses `/proc/sys/kern

[2017-11-29 00:58] sangeethah commented on #41
rke version v0.0.6-dev

Following configurations  works fine:
Able to create K8s cluster successfully.
Able to deploy pods.
Able to launch dashboard addon.
Able to exec/log to containers.

1. Specify only address for host:
[code]

In this case , nodes get registered with the "address".

2. Specify host , internal_address and hostname_override.
In my case hostname_override is not resolvable:

[code

[2017-11-29 01:08] sangeethah commented on #36
rke version v0.0.6-dev

Following configurations works fine:
Able to create K8s cluster successfully.
Able to deploy pods.
Able to launch dashboard addon.
Able to exec/log to containers.

1. Specify host , internal_address and hostname_override.
In this case hostname_override is not resolvable:
 nodes:
  - address: ec2-<ip>.us-east-2.compute.amazonaws.com
    internal_address: <ip>
    hostname_ov

[2017-11-29 01:08] #36 closed

[2017-11-29 01:08] #41 closed

[2017-11-29 01:27] soumyalj commented on #52
Tested with rke version v0.0.6-dev. Relevant error messages are provided when unsupported strategy and plugins are used:
[code]
[code]

[2017-11-29 01:27] #52 closed

[2017-11-29 01:45] sangeethah commented on #54
rke version v0.0.6-dev
command to do up and remove does not include cluster anymore.

[code]

[2017-11-29 01:48] #54 closed

[2017-11-29 04:17] sangeethah commented on #61
rke version v0.0.7-dev

Changes done to control plane is reflected in all of the worker nodes's nginx proxy containers.

Tested both removal of nodes from control plane and addition of control planes.

[2017-11-29 04:18] #61 closed

[2017-11-29 04:25] sangeethah opened #66 "When existing worker node is made a control plane node , the node gets removed from the cluster."
rke version v0.0.7-dev

Steps to reproduce the problem:
Created a k8s with 1 controlplane node , 1 etcd  and 3 worker nodes.
Updated one of the node in worker plane to become a controlplane node.

When controlplane nodes are getting evaluated:
The updated host, becomes a controlplane node (I do see the system containers relating to control plane being deployed in this host).
Also rolling updates f

[2017-11-29 18:21] sangeethah opened #67 "Should there be more retries when trying to reach the nodes to prevent rke from giving up too early when there are network glicthes?"
rke version v0.0.7-dev
When attempting "up" command to alter existing k8s cluster for adding/removing nodes , rke sometimes errors out when an attempt to reach one of the nodes fails.

Most often time , re running the same command with succeed.

[code]

Should there be more retries when trying to reach the nodes to prevent rke from giving up too early when there are network glicthes?

[2017-11-29 18:26] sangeethah opened #68 "kube dns deployment scale should be increased to more than 1."
rke version v0.0.7-dev

Currently the kube dns deployment that gets created automatically on K8s clusters deployed with rke has scale of 1.

We should increase this scale to provide more high availability.

[2017-11-29 19:00] sangeethah opened #69 "Role for worker nodes is reported as "none"."
rke version v0.0.7-dev

Steps to reproduce the problem:
Create a K8s cluster with nodes in control plane , worker and etcd plane.
Role of worker nodes is reported as "none"

[code]

[2017-11-29 19:33] sangeethah opened #70 "Attempting to delete a node that is not reported as k8S node should be ignored"
rke version v0.0.7-dev

In my case , because of this -  https://github.com/rancher/rke/issues/66 , it left my cluster.yml inconsistent with the actual K8s cluster.
cluster.yml had an additional control plane entry that is not present in the k8s cluster.
So to make the  cluster.yml consistent with K8s cluster , I removed the control plane entry from cluster.yml.

Attempted to do "up" .
This results

[2017-11-29 21:22] sangeethah opened #72 "Attempting to remove controlplane role from a node that had etcd and controlplane node results in broken cluster."
rke version v0.0.7-dev
Steps to reproduce the problem:
Create a kubetnetes setup with following configuration:
node1 - etcd , controlplane
node 2 - worker
node 3 - controlplane.

Modify node1's role to be only "etcd"  (by removing controlplane node).
This results in k8s cluster broken.

Controlplane tear down results in  etcd data dir being removed as well resulting in broken cluster.

[2017-11-29 21:30] soumyalj opened #73 "RKE fails to find the key when using ~/.ssh/id_rsa for SSH private Key path"
1. Create a Kubernetes cluster using private key path ~/.ssh/id_rsa in the cluster.yml file
RKE fails to find the key with the below error:
[code]
If a config file is generated using `./rke config --name test.yml` , the default ssh_key_path is ~/.ssh/id_rsa and users who use this default key path will run into this "no key found" issue

[2017-11-30 01:08] moelsayed commented on #68
I enabled [kube-dns auto scaling](https://kubernetes.io/docs/tasks/administer-cluster/dns-horizontal-autoscaling/). To test, you should have more than 4 nodes in the cluster, to be able to see more than 1 kube-dns pod.

[2017-11-30 10:11] superseb opened #79 "Remove invalid RestartPolicy for cert-deployer"
We specify `never` as RestartPolicy for the cert-deployer image (https://github.com/rancher/rke/blob/master/pki/deploy.go#L79) but this is not a valid value. The reason it works is that it's not verified in the API version used in Docker 1.12 (`1.24`). We should not specify the RestartPolicy, as default is `""` which is do no restart.

Next to being invalid, this also blocks using newer Docker ver

[2017-11-30 17:59] galal-hussein commented on #79
Reopening for QA to test with newer docker versions

[2017-11-30 19:14] moelsayed opened #84 "Allow user to provide internal-use images for air-gapped setups"
We need to allow users to provide their own cert downloader and nginx proxy images to allow running using private registries and air-gapped deployments.

[2017-11-30 19:20] galal-hussein commented on #84
all images used and statically hardcoded:

- alpine:latest
- rancher/rke-nginx-proxy:0.1.0
- rancher/rke-cert-deployer:0.1.0
- quay.io/calico/kube-controllers:v1.0.0
- quay.io/calico/node:v2.6.2
- quay.io/calico/cni:v1.11.0
- quay.io/coreos/flannel:v0.9.1
- quay.io/coreos/flannel-cni:v0.2.0

[2017-12-01 13:29] colinlabs opened #86 "how to add extra pki dnsname"
we need add `vip` or `loadbalance ip` to pki dnsname,like this
[code]

[2017-12-01 14:07] junaid18183 opened #87 "rke remove does not stop the flanneld"
# ./rke -v
rke version v0.0.7-dev

# ./rke remove

# ps aux | grep kube
root     11276  0.0  0.5 313220 10576 ?        Ssl  07:08   0:03 /opt/bin/flanneld --ip-masq --kube-subnet-mgr

Ideally remove should also stop flannel

[2017-12-01 16:49] sheng-liang opened #88 "RKE should allow users to specify their own Kubernetes images"
Users should be able to install, for example, standard hyperkube images with RKE. We need to make sure everything (like host name etc.) is still setup correctly in that case.

[2017-12-02 07:24] moelsayed commented on #88
At this point, we have tested both Rancher Kubernetes images and Hyperkube images. Both work with no issues.

In theory, any Kubernetes image, with Kubernetes binary installed in $PATH should work fine with no problems since we don't do or use anything specific to the image.

[2017-12-02 07:28] moelsayed commented on #87
At this point, this is by design. We don't remove any deployed kubernetes resources from the cluster. We only remove the kubernetes docker containers and helper containers we deployed.

However, we are looking into changing this behavior to remove kubernetes system resources as well.

[2017-12-02 18:45] galal-hussein commented on #86
Currently we are using host's address, internal address, and hostname as values for pki alt names and ips, but we don't allow for extra names or ips at the moment, we will consider adding custom IPs and DNS Names to the kube api certificate

[2017-12-03 01:21] colinlabs commented on #86
@galal-hussein hi guys,   this feature will be usefully, by the default ,we can't add more ips to kube api  certificate, so when we connect to apiserver with loadbalance ip, it can't work. we hope that this feature could be implementation As soon as possible, thanks you!

[2017-12-03 15:06] nevermosby opened #93 ""rke up" got "ssh: rejected: administratively prohibited (open failed)""
rke version: rke version v0.0.7-dev

problem:
when to run "./rke -d up" with the file "cluster.yml" in the same folder, I got:

Tried to fix it by enabling the ssh config,`AllowTcpForwarding yes`, but failed.

Any suggestions?

[2017-12-03 15:28] superseb commented on #93
Is this on CentOS/RHEL by any chance?

[2017-12-03 15:30] galal-hussein commented on #93
Can you also make sure that the ssh user you are using has access to docker engine

[2017-12-03 19:04] de13 opened #94 "Containerd Support"
As Docker is not my best choice runtime engine for worker nodes, any chance to include support for Containerd in the roadmap?

gz#6781

[2017-12-03 19:10] de13 opened #95 "Arm support"
Popularity of kubeadm comes (partially) from it's support of RPi, because running K8s on 4 Hypriot RPi's or more is an excellent training playground (far better than minikube). I'm sure that I can change images to point to Google Hyperkube, but why not providing k8s:v1.8.3-rancher2 for armhf architectures?

[2017-12-03 20:32] superseb opened #96 "Support for choosing a k8s version"
With 1.9 around the corner, we should implement support for choosing which k8s versions will be setup.

[2017-12-03 20:49] galal-hussein commented on #96
@superseb the user can use kubernetes 1.9 when it comes out, it just a matter of changing the image for the services

[2017-12-04 00:57] iyacontrol commented on #93
i also meet the same problem。i try root user to ssh ，but failed。

[2017-12-04 09:08] superseb commented on #96
I was thinking more in terms of supported Docker versions, etcd versions based on the choice of k8s version.

[2017-12-04 13:37] iyacontrol commented on #93
@nevermosby have you solved the problem?

[2017-12-04 13:37] superseb commented on #93
@iyacontrol Please share used OS (`cat /etc/os-release`)

[2017-12-04 13:40] iyacontrol commented on #93
@superseb
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.org/"

CENTOS_MANTISBT_PROJECT="CentOS-7"
CENTOS_MANTISBT_PROJECT_VERSION="7"
REDHAT_SUPPORT_PRODUCT="centos"
REDHAT_SUPPORT_PRODUCT_VERSION="7

[2017-12-04 13:42] iyacontrol commented on #93
@superseb  Linux 3.10.0-693.el7.x86_64

[2017-12-04 14:04] nevermosby commented on #93
@superseb yeah, it is a centos system, details are listed beblow:

@galal-hussein I used "root" to run the command so it can be sure I have the access to docker engine.

 @iyacontrol I still have this issue with centos.

New progress here:
I tried ubuntu system instead  and it did work.
So some different OS configuration can be the root cause.

[2017-12-04 16:12] galal-hussein commented on #93
@nevermosby I will try to reproduce with CentOS 7 to see if the problem is related to specific OS

[2017-12-04 18:10] galal-hussein opened #97 "Add SSH key and path per host"
in order for correct integration with docker machine, rke should support ssh key and path per host

[2017-12-04 22:21] #97 closed

[2017-12-04 23:08] de13 opened #99 "Failed to Save Kubernetes certificates"
I tried to use rke from mac mac on rancheros 9.2 (docker v1.12) on aws, and I have this message at the end of the install:

I tried with rke on ubuntu, same result. I tried with ubuntu host with docker-engine 1.12.6, same result...

[2017-12-05 00:41] acrom18 opened #100 "Custom SSH Port"
It would be great, if there was a possiblity to specify a custom ssh port in the cluster.yml file.

[2017-12-05 00:57] galal-hussein commented on #93
@nevermosby @iyacontrol @superseb I was able to reproduce the issue, however i am not sure what is the root cause, CentOS seems to reject ssh local forwarding using the root:
[code]
however it works for another users other than root, for a work around you can specify other users than root for now

[2017-12-05 01:13] #55 closed

[2017-12-05 01:18] galal-hussein commented on #99
i am not able to reproduce the issue, i was able to bring a 3 node kubernetes cluster on Rancher os image from aws successfully without any problem, also tried with ubuntu and the cluster came up successfully:
[code]

can you paste your cluster.yml file to check if something is wrong

[2017-12-05 05:06] de13 commented on #99
Sure, this is my cluster file:
[code]

[2017-12-05 05:12] de13 commented on #99
I can guess what my problem is... I should be tired yesterday: internal addresses should be internal for the cluster, not for aws. I suppose I can let this field empty.

[2017-12-05 05:39] de13 commented on #99
Unfortunately, same file without `internal_address:` set gives me the same results.

[2017-12-05 05:54] de13 commented on #99
I've "find" the issue: security group. Hosts talking to each other on public ip. I have to find the ports that flannel use.

[2017-12-05 05:54] #99 closed

[2017-12-05 05:55] flaccid opened #101 "Be on par with minikube"
minikube works for the use case of standing up a local k8s. From my efforts so far, I still can't get rke to do the same for such a simple use case. I created https://github.com/flaccid/rke-vagrant to attempt to do so (nightmare).

For minikube:
[code]

Can we attempt to do the same and have it documented? I'm not suggesting that rke manage VMs, but currently there isn't a simple example to 'spin

[2017-12-05 10:05] de13 opened #102 "Support for configuring cloud-provider"
I ask while I trying to figure out where to set the option:
[code]

[2017-12-05 11:08] nevermosby commented on #93
@galal-hussein thx for feedback.  On the same centos machine, I took ur advice and tried another user other than root but got same error.

[2017-12-05 15:34] galal-hussein commented on #100
@acrom18 Thanks for opening an issue, we are going to work on adding a custom ssh port, and it will be available in future releases soon

[2017-12-05 15:36] superseb opened #103 "Allow use of bastion host/jumphost"
In some environments (DMZ), you can only SSH through a certain host (usually called bastion host/jump host). Would be nice to be able to configure this.

[2017-12-05 15:39] galal-hussein commented on #102
@de13 currently with RKE we explicitly set cloud provider to empty value for all k8s components because in order to enable cloud providers we have to configure each provider's options separately, we plan to include multiple cloud providers soon to RKE.

Also to enable extra args you don't need `--` you can just do that:
[code]

[2017-12-05 15:42] de13 commented on #102
It was my second guess, but doesn't work:
[code]
Any roadmap for this implementation?

[2017-12-05 15:55] galal-hussein commented on #93
@nevermosby can you make sure that the ssh user has access to docker engine, you can add the user to docker group and use it in cluster.yml

[2017-12-05 16:01] nevermosby commented on #93
@galal-hussein yes I am sure I have added the user to docker group and tried "docker push" command, it works.fine.

[2017-12-05 16:18] galal-hussein opened #104 "Nodes in not ready state with RHEL/CentOS systems"
rke v0.0.7-dev

rke failed when deploying network/addon jobs because node were in not ready state, when describing nodes i found this error message:
[code]
Adding `"/sys/fs/cgroup:/sys/fs/cgroup:rw"` to kubelet volumes solved the problem

[2017-12-05 16:30] sheng-liang commented on #88
Great. I'll close the issue if we don't have anything that depends on the content of the Kubernetes image.

[2017-12-05 16:32] galal-hussein commented on #88
@sheng-liang Yes we don't have any dependencies on the content of the image except for the binaries to be in the PATH

[2017-12-05 17:03] acrom18 commented on #100
@galal-hussein Great to hear.

[2017-12-05 17:48] #88 closed

[2017-12-05 17:48] galal-hussein commented on #93
@nevermosby Can you post the version of openssh currently installed on the centos server

[2017-12-05 20:19] galal-hussein commented on #69
new release v0.0.8-dev display all roles including: worker, master, and etcd, however a known limitation is that once the node is labeled, this label will not be changed until the node is deleted/readded as kubernetes node

[2017-12-05 20:36] mmuruganandam opened #108 "Support for newer Docker version (17.03)"
Support for 17.03 version of Docker CE.

[2017-12-05 21:22] sangeethah opened #110 "Version is not reported correctly."
rke verison - v0.0.8-dev

Version is not reported correctly.
./rke_darwin-amd64 --version
rke version 43d3342

[2017-12-05 21:26] sangeethah commented on #69
Tested with rke verison - v0.0.8-dev

When node gets added to the cluster for the first time , roles are reflected as expected.

[code]

[2017-12-05 21:26] #69 closed

[2017-12-05 21:29] sangeethah commented on #51
Tested with rke verison - v0.0.8-dev
Create a new K8s cluster using cluster up command.
Remove K8s cluster using cluster remove command.
After this , kube_config_cluster.yml get removed.

[2017-12-05 21:29] #51 closed

[2017-12-05 22:35] galal-hussein commented on #110
Fixed in the new binary

[2017-12-05 22:35] #110 closed

[2017-12-05 22:40] sangeethah commented on #68
Tested with rke verison - v0.0.8-dev

When new k8s cluster is created , kube-dns-autoscaler get deployed automatically.

When there are > 4 nodes (worker + master ), kube-dns container autoscales.

[code]

[2017-12-05 22:40] #68 closed

[2017-12-05 23:05] sangeethah opened #111 "DNS resolution very slow ( up to 15 secs) and sometimes fails ."
RKE version - v0.0.8-dev

Had a cluster with 3 nodes  - 1 node in control plane and  etcd, 1 master and 1 worker.
Added 2 more worker nodes.

kube-dns-autoscaler and kube-dns get created as expected.

[code]

From within container,DNS resolution very slow ( up to 15 secs) and sometimes it even fails .
[code]

[2017-12-05 23:25] sangeethah commented on #66
Tested with rke version v0.0.8-dev

Created a k8s with 2 controlplane node , 1 etcd and 3 worker nodes.
Updated one of the nodes in worker plane to become a control plane node.

Node that was updated to become a control plane , continues to be in part of K8s cluster and becomes a master node as expected. It has all the control plane system containers running it and no nginx-proxy container running

[2017-12-05 23:25] #66 closed

[2017-12-06 00:06] sangeethah commented on #72
rke version v0.0.7-dev
Steps to reproduce the problem:

Create a kubernetes setup with following configuration:
node1 - etcd , controlplane
node2 ,node3 - worker
node4, node5 - controlplane.

Update node1's role to be only "etcd".

node1 gets removed from the k8s cluster as master node.
etcd container on this node continues to be present.
K8s cluster is healthy . Existing pods continue to work and

[2017-12-06 00:06] #72 closed

[2017-12-06 00:27] sangeethah commented on #70
Tested with rke version v0.0.7-dev

Created a cluster with following configuration using rke up command:
Node1 - etcd
Node2, Node3 - master
Node4, Node5 - worker

Using kubectl command , removed Node3 and Node5
Removed Node3 and Node5 entries from cluster.yml.

Attempted rke up command .
This succeeded and rolling update of nginx hosts with new list of control plane host also succeeded.

Attemptin

[2017-12-06 00:27] #70 closed

[2017-12-06 00:43] soumyalj commented on #60
Tested with rke version v0.0.8-dev. Added a worker node with docker version v17.09.0-ce using rke.
It failed with the error message as below as it is not supported.
[code]

[2017-12-06 00:43] #60 closed

[2017-12-06 01:04] kevwan opened #112 "Timeout waiting for kubernetes to be ready"
**RKE version:**
rke version v0.0.8-dev

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      17.03.2-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 03:35:14 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.2-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Buil

[2017-12-06 01:12] sangeethah commented on #59
Tested with rke version v0.0.8-dev

Steps to reproduce the problem:
Create a k8s cluster with 2 nodes in controlplane and 1 node each in etcd and worker.
Power down the host in controlplane which is the api-server configured in .kube_config_cluster.yml

Using cluster up command results in following error:

[code]
@superseb The current error message is not very different from what was presented ear

[2017-12-06 01:59] sangeethah opened #113 "K8s cluster broken when trying to remove control plane node after it in not reachable."
RKE version: v0.0.8-dev,

Create a cluster with following configuration:
Node1 -> control , worker , Node2-> control and Node3-> etcd
Power down Node1.
changed cluster.yml  with following configuration to remove Node1 from cluster:
Node2-> control , worker and Node3-> etcd

Up command does not succeed with following error:

[code]

Not able to connect with updated config using kubectl:

[code]

[2017-12-06 02:43] kevwan commented on #112
Add more logs that I found it's because:
ERRO[0043] Post https://172.20.27.160:6443/api/v1/namespaces/kube-system/secrets: dial tcp 172.20.27.160:6443: getsockopt: connection refused

[2017-12-06 02:59] galal-hussein commented on #112
@kevwan It looks like kubernetes is not running correctly, can you check the docker container on this host and check all containers are running correctly, also it might help if you pasted all the output from the rke command

[2017-12-06 04:14] kevwan commented on #112
@galal-hussein Thanks for your reply!

Eventually, I figured out it's because I was running rancher-server and rancher-agent on the server.

But after this issue fixed, I got another error:
INFO[0061] [certificates] Successfuly saved certificates as kubernetes secret [k8s-certs]
INFO[0061] [state] Saving cluster state to Kubernetes
INFO[0061] [state] Successfully Saved cluster state to Kubernetes

[2017-12-06 04:16] galal-hussein commented on #112
No problem, glad you found the root cause, will close the issue.

[2017-12-06 04:18] galal-hussein commented on #112
@kevwan well, this might be a problem with kubernetes nodes not getting into ready state, can you do `kubectl describe nodes` and print the output

[2017-12-06 04:29] kevwan commented on #112
Sorry, I messed up with rancher-server and rke.

Close this issue.

Thanks for help!

[2017-12-06 04:29] #112 closed

[2017-12-06 08:55] superseb commented on #59
It's moved to an appropriate section now; `Failed to set up SSH tunneling`. The error is basically the error when setting up SSH. But we could see if we can catch certain errors and display information on what to fix. I'll take a look.

[2017-12-06 09:24] superseb commented on #108
We are in the process of running test on versions other than the initially supported v1.12. There was some code blocking the use of newer versions, which should be fixed in v0.0.8-dev. You can try that for now, we will update docs as soon as we are done.

[2017-12-06 22:24] moelsayed opened #115 "Calico inter-host connectivity problem on AWS."
**RKE version:**
v0.0.8-dev
**Docker version: (`docker version`,`docker info` preferred)**
1.12
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu 16.04
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
aws
**cluster.yml file:**

**Steps to Reproduce:**
Configure a cluster of multiple hosts with calico network plugin.
Pods on different hosts can't re

[2017-12-07 00:12] soumyalj commented on #79
Reproduced the issue with rke version v0.0.7-dev using Docker 17.03.2-ce version hosts.
Kubernetes cluster creation failed with the following error :
[code]
Tested with rke version v0.0.8-dev using docker 17.03.2-ce and docker 1.13.1 hosts. Cluster creation was successful. No errors were seen. Pod creation was successful.

[2017-12-07 00:12] #79 closed

[2017-12-07 05:05] kentinchen opened #117 "administratively prohibited (open failed)"
Docker version 17.06.2-ol, build d02b7ab

FATA[0000] Failed to set up SSH tunneling for Etcd host [prd-svr01]: Can't retrieve Docker Info: error during connect: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.24/info: Failed to dial to Docker socket: ssh: rejected: administratively prohibited (open failed)

[2017-12-07 09:25] superseb commented on #117
Duplicate of https://github.com/rancher/rke/issues/93

[2017-12-07 09:25] #117 closed

[2017-12-07 17:16] HighwayofLife commented on #108
RKE isn't allowing docker version 17.10...

[code]

[2017-12-07 18:43] moelsayed commented on #108
@HighwayofLife 17.10 is not supported by Kubernetes, yet. Support will be added when upstream Kubernetes adds support for this version.

[2017-12-07 19:18] moelsayed commented on #115
Calico needs specific [configuration](https://docs.projectcalico.org/v2.6/reference/public-cloud/aws) to work on AWS, both on AWS side and on the cluster side.

The fix implements the needed configuration on the cluster side. On AWS, you need to [disable src/dest checks](http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/VPC_NAT_Instance.html#EIP_Disable_SrcDestCheck) on the cluster nodes.

[2017-12-07 19:59] soumyalj commented on #104
Reproduced the issue in rke version v0.0.7-dev. Tested with rke version v0.0.8-dev for RHEL and Centos hosts. Creation of cluster was successful. The nodes were in Ready state. Creation of pods also succeeded.
For Centos hosts:
[code]

[2017-12-07 21:12] soumyalj opened #119 "Kubernetes cluster removal fails for Centos hosts with error "Unable to remove filesystem..""
**RKE version:**v0.0.8-dev

**Docker version: (`docker version`,`docker info` preferred)**1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**Centos

**Steps to Reproduce:**
1. Create a cluster using Centos hosts
2. Cluster creation is successful.
3. Remove the cluster using ./rke_darwin-amd64 remove --config cluster.yml
[code]
Creation of new clusters fails after

[2017-12-07 21:27] #104 closed

[2017-12-07 23:49] galal-hussein opened #120 "Fix redundant ssh tunneling for hosts with more than one role"
**RKE version:**
v0.0.8-dev
**Docker version: (`docker version`,`docker info` preferred)**
1.12
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Centos and Ubuntu
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS
**cluster.yml file:**
[code]
**Steps to Reproduce:**
start rke with node that has multiple roles
**Results:**
[code]

[2017-12-08 00:31] nevermosby commented on #93
@galal-hussein sorry for late reply. The version installed on my centos machine is :

[2017-12-08 01:50] HighwayofLife opened #121 "Failed to Save Kubernetes certificates: Timeout waiting for K8s to be ready"
**RKE version:**
rke version v0.0.8-dev

**Docker version: (`docker version`,`docker info` preferred)**
Docker version 17.03.2-ce, build f5ec1e2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
NAME="Ubuntu"
VERSION="16.04.3 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.3 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="

[2017-12-08 02:10] HighwayofLife commented on #121
A bit more detail. Once the VMs are newly provisioned, I install docker using this script.
Following that is when I run rke against these machines. No other configuration is being done on them.

[code]

[2017-12-08 03:51] mmuruganandam commented on #121
I have the similar problem.

[2017-12-08 09:27] superseb commented on #121
The kubernetes components are setup using SSH, after setting it up the certificates are saved to kubernetes using the setup certificates to the apiserver on port 6443. My guess would be that port 6443 is being blocked in your env/on your host. Could be nice to do this over the SSH tunnel as well, to minimize failures like this. Will discuss, in the meantime, can you try opening up the port and see

[2017-12-08 09:55] niusmallnan commented on #93
@galal-hussein
It seems that `pam_unix` causes this issue.
Try this: https://serverfault.com/questions/416441/pam-module-causes-flurry-of-ssh-sessions

[2017-12-08 14:39] randrewedwards opened #122 "Support for NSX-T plugin"
We plan on implementing NSX-T across the board for our Openstack and vSphere platforms.

It'll be great if RKE had support to use NSX-T for a CNI.

Documentation can be found (No idea if up to date) here [https://docs.vmware.com/en/VMware-NSX-T/2.0/nsxt_20_ncp_kubernetes.pdf](https://docs.vmware.com/en/VMware-NSX-T/2.0/nsxt_20_ncp_kubernetes.pdf)

[2017-12-08 14:42] randrewedwards commented on #96
Can you not specify the k8s version in your cluster.yaml file? (Looking at docker version numbers)

[2017-12-08 16:53] xrain0610 commented on #121
The same problem.  the port 6443 is open. i think ,is the too short timeout ?

[2017-12-08 16:56] galal-hussein commented on #121
i don't think its a short timeout, can you check the docker containers on the machines and make sure nothing is in restarting loop, also what is the output of `kubectl describe nodes
`

[2017-12-08 21:05] bgehman opened #123 "CentOS 7: Path /var/lib/kubelet is mounted on / but it is not a shared mount."
**RKE version:**
rke version v0.0.8-dev

**Docker version: (`docker version`,`docker info` preferred)**
Docker version 1.12.6, build 85d7426/1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
CentOS Linux 7 (Core)
`uname -r`: 3.10.0-693.11.1.el7.x86_64

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
kvm guest on my RHELv7 laptop.
KVM VM network s

[2017-12-08 21:36] superseb commented on #123
@galal-hussein hit this yesterday and is looking into it, thanks for reporting

[2017-12-08 21:39] galal-hussein commented on #123
@bgehman @superseb yes i think it may be related to the Mountflags in docker service, i believe it should be Mountflags=0 in the service configuration, we still looking into it, thanks for reporting the issue

[2017-12-08 22:54] galal-hussein opened #124 "no idempotency for rke remove"
**RKE version:**
v0.0.8-dev

running `rke remove` twice will result in the following error:
[code]
we should just add warning instead of fatal

[2017-12-08 23:58] galal-hussein commented on #123
@bgehman Since we are using containerized kubelet i think you need to reset Mountflags to empty value instead of `slave`, see https://github.com/kubernetes/kubernetes/issues/4869#issuecomment-195696990

I just tested with upstream docker (which has MountFlags disabled) and worked.

[2017-12-09 00:03] galal-hussein commented on #93
@niusmallnan No i don't think this is the issue, i just tested with disabling PAM and same error, also i think not using PAM is not recommended in RHEL

[2017-12-09 00:11] moelsayed commented on #93
@nevermosby You need to upgrade your openssh server to 7.x to get support for local stream forwarding.

[2017-12-09 01:08] HighwayofLife commented on #121
I thought it might be due to 6443 being blocked to inbound traffic. It is, but I can tunnel into one of the servers, and it still will fail.
From my terminal to the rke host (master), and tested from one of the worker nodes (they are all on the same subnet):
[code]

[2017-12-09 01:09] galal-hussein commented on #121
@HighwayofLife can you send kube-api logs and kubelet as well

[2017-12-09 02:14] galal-hussein commented on #121
@HighwayofLife sorry i don't understand what you mean by ` I created an SSH tunnel FIRST (not after it failed)`, how do you create the ssh tunnel?

[2017-12-09 04:58] HighwayofLife commented on #121
1. Spin up Virtual Machines in Azure cloud
2. Install Docker
3. Run rke against machines
-- Fails:
[code]
4. SSH Tunnel into one of the VMs
5. Run rke again against machines
-- Still fails.
I had noticed that the API Server seems to be in a restart loop in this case.

### Start Over...
1. Spin up Virtual Machines in Azure cloud
2. SSH Tunnel into one of the VMs (does not matter which one)
[code]
3

[2017-12-09 05:48] HighwayofLife commented on #121
Without the tunnel. I searched for logs, but couldn't find any.
`sudo journalctl -r -u kubelet` shows `-- no entries --`

[code]

[code]

[2017-12-09 06:11] HighwayofLife commented on #121
And one final note for anybody interested later down the road.
If you run into this problem, then create the tunnel, you can run `rke remove` to remove the cluster, and then (while tunneled) you can do `rke up` to create the cluster without recreating/wiping your machines.

[2017-12-10 20:11] skarlsson opened #129 "Ceph RBD support?"
Is there support for PersistentVolumes using ceph? If so - any hints on how to set it up?. I can never get the MountVolume.SetUp to succed.

Ceph Luminius (on Ubuntu 16) - minimum client support kraken
K8s on ubuntu 16 (with ceph-common from ubuntu repo, and "modeprobe rbd" loaded.

[2017-12-10 22:02] galal-hussein commented on #129
@skarlsson Currently RKE doesn't provide the support for cloud providers, so its not currently possible to use cloud providers with like AWS, Ceph, etc

[2017-12-11 04:13] nevermosby commented on #93
Hi @moelsayed ，thx for remind and I just upgraded my openssh version to 7.4 and enabled "AllowTcpForwarding" for yes:
[code]
However, I still got the same error. Maybe the forwarding configuration is not right. Could u give some advise for this?

[2017-12-11 09:00] tobiajo commented on #129
@galal-hussein how come? Ceph RBD does have an internal provisioner, i.e. it is shipped alongside Kubernetes.

[2017-12-11 09:23] DiamondYuan opened #130 "Failed to deploy addon execute job: Failed to get job complete status: <nil>"
**RKE version:**
v0.0.8-dev

**Docker version: (`docker version`,`docker info` preferred)**

 Version:      17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

VERSION="16.04.3 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04.3 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com/"
BUG_REPORT_URL

[2017-12-11 14:33] galal-hussein commented on #129
@tobiajo @skarlsson Sorry for the confusion, i wasn't aware about the integration between ceph and kubernetes, were you able to run the ceph dynamic provisioner successfully? if not what are other requirements it needs before running on Kubernetes cluster?

[2017-12-11 14:36] galal-hussein commented on #130
@DiamondYuan Can you check kubelet on the hosts, and make sure that they are up and running, also it would be useful if you posted the logs of kubelet, and the result of following command:
[code]

[2017-12-11 14:37] galal-hussein opened #131 "Add RBAC and PodSecurity Policy Support"
Add RBAC with option at the cluster level, for example: `rbac: true`

[2017-12-11 14:56] #108 closed

[2017-12-11 15:40] skarlsson commented on #129
Well,  I've managed to connect the ceph cluster to a rancher 1.x cluster and I think i did the same here. On ubuntu 16, in theory you need package ceph_common and modprobe rbd, possibly a  /etc/ceph/ceph.config since the lock code seems to check that file. I was asking to see if someone else had done this before. The claim gets bound both on dynamic provisioning and when you mount an image - but t

[2017-12-11 16:52] luoshiqian commented on #121
i have the same problem,when run "rke -d up".the error show me is
FATA[2627] [certificates] Failed to Save Kubernetes certificates:
  Failed to save certificate [kube-proxy] to kubernetes: [certificates]
  Timeout waiting for kubernetes to be ready.
and i resolve it by run "rke remove" and then run "rke -d up" again

[2017-12-11 17:20] bgehman commented on #123
@galal-hussein Thanks, was able to find/edit `/etc/systemd/system/multi-user.target.wants/docker.service` and set `MountFlags=` (no value).  That worked around the problem.  However, immediately ran into other issues with this CentOS minimal install: swap is enabled by default, which k8 doesn't support.  Disabled that and now running into kubelet crashloop:

[code]

Will try with docker from docke

[2017-12-11 17:20] #123 closed

[2017-12-11 17:35] galal-hussein commented on #123
@bgehman we actually resolved this problem in https://github.com/rancher/rke/pull/125, and will be available in the next release, you will be able to work with both systemd and cgroupfs drivers

[2017-12-11 18:09] luoshiqian commented on #93
if you run rke in centos7, you should not use the root user to open the ssh tunnel.you can try the following step to run rke
in all nodes:
1\update openssh to 7.4,and docker version v1.12.6
2\set "AllowTcpForwarding yes" "PermitTunnel yes" to /etc/ssh/sshd_config,and then restart sshd service
3\the host which run rke can ssh to all nodes without password
4\run: "groupadd docker" to create docker g

[2017-12-11 22:31] bgehman commented on #123
@galal-hussein With CentOSv7 minimal + docker v1.12.6 from upstream docker (installed with https://raw.githubusercontent.com/rancher/install-docker/master/1.12.6.sh) -- seeing a different kubelet failure now.

rke v0.0.8 up output:
[code]

kubelet container logs (looping with):
[code]

Perhaps I should be using Ubuntu until rke+CentOS is a little more baked?  Thanks!

[2017-12-12 00:28] moelsayed commented on #130
@DiamondYuan Can you also provide the logs for the pod(s) name `rke-kubedns-addon-deploy-job-*` in the `kube-system` namespace.

[2017-12-12 01:54] DiamondYuan commented on #130
@moelsayed @galal-hussein

when I use
[code]
return nothing

When I use `kubectl get all --all-namespaces` get
[code]

when i use `kubectl logs jobs/rke-network-plugin-deploy-job -n="kube-system"` return
[code]

[2017-12-12 01:55] galal-hussein commented on #130
@DiamondYuan since `kubectl describe nodes` returns nothing that means that kubeet is not starting correctly on the nodes, you need to grab kubelet logs: `docker logs kubelet` on the hosts

[2017-12-12 01:58] DiamondYuan commented on #130
[code]

maybe i need to disable swap

[2017-12-12 02:00] galal-hussein commented on #130
@DiamondYuan yes you can either disable swap or add this to kubelet service in cluster.yml file:
[code]

[2017-12-12 02:04] DiamondYuan commented on #130
Can I replace ` rancher/k8s:v1.8.3-rancher2` to my own image ?
Where i can find the Dockerfile of rancher/k8s

[2017-12-12 02:05] galal-hussein commented on #130
@DiamondYuan you can use hyperkube image or any kubernetes image that has the binary in $PATH

[2017-12-12 02:11] DiamondYuan commented on #130
It's success on my server but i use `kubectl get all --all-namespaces` rerurn
[code]

[2017-12-12 02:14] galal-hussein commented on #130
can you check `kubectl describe nodes`

[2017-12-12 02:16] DiamondYuan commented on #130
[code]

Status is all NotReady at first,and wait for few minutes.2 nodes get ready

Does rke support weave? Readme don't say,but i find i sourceCode;
[code]

[2017-12-12 02:18] DiamondYuan commented on #130
I kown the reason.Because GFW in china ,so i cant't pull imge from google

[2017-12-12 02:18] galal-hussein commented on #130
@DiamondYuan rke supports weave but it will be available in the next release, do you still have a problem with the setup, if not can you please close the issue, thanks

[2017-12-12 02:19] DiamondYuan commented on #130
close

[2017-12-12 02:19] #130 closed

[2017-12-12 06:37] subhransusekhar commented on #93
Hi @luoshiqian thanks your solutions worked for me on centos 7.4

[2017-12-12 15:02] chrisurwin opened #134 "Add support for --iface to be specified for flannel"
**RKE version:**
0.8-dev

Flannel out of the box supports the specifying of --iface to allow you to specify the interface that flannel is to bind to. By default it uses the default gateway interface, this causes a problem for Virtualbox as this is the eth0 and this always gets 10.0.2.15 on all machines which causes flannel to fail.

https://coreos.com/flannel/docs/latest/running.html under the Run

[2017-12-12 20:20] galal-hussein opened #136 "SSH tunneling is not working for Root user on CentOS/RHEL"
using openssh 7.0+, root user is not allowed to ssh tunnel to docker socket on the CentOS/RHEL hosts, however normal users work normally with RKE.

[2017-12-12 20:20] galal-hussein commented on #93
@luoshiqian Thanks for the steps, OpenSSH doesn't allow ssh tunneling for root users for some reason, closing this issue and will track the root user bug in this issue https://github.com/rancher/rke/issues/136

[2017-12-12 20:20] #93 closed

[2017-12-12 20:22] galal-hussein commented on #121
@HighwayofLife Kubernetes api is running on port 6443 in rke, if this port is opened between hosts in your private network then rke should start successfully, are you still seeing the problem or its save to close the issue

[2017-12-12 20:49] bgehman opened #137 "Request: option to not pull images if already present"
**RKE version:**
`rke version v0.0.8-dev`

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
KVM VM on laptop -- simulating a network isolated "on-prem" installation.

**cluster.yml file:**
[code]

**Steps to Reproduce:**

[2017-12-12 20:52] galal-hussein commented on #137
@bgehman This is an interesting issue, we enabled Airgap installations by adding `system_images:`, but we assumed that user will set up a private registry that contain the images and accessible from all hosts, instead of loading all the images on every host, i think this workaround will work successfully with your situation.

[2017-12-12 21:16] bgehman commented on #137
Thanks for the suggestion @galal-hussein , will look into it.

[2017-12-13 00:11] saphoooo opened #138 "jobs still pending"
**RKE version:**

rke version v0.0.8-dev

**Docker version: (`docker version`,`docker info` preferred)**

Containers: 6
 Running: 5
 Paused: 0
 Stopped: 1
Images: 9
Server Version: 1.12.6
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 68
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: null host br

[2017-12-13 00:27] ibuildthecloud commented on #137
@galal-hussein This really should be the default behavior to pull only if not found.  Don't pull always.  There are plenty of use cases where assuming a valid registry exists is just not feasible.

[2017-12-13 00:29] HighwayofLife commented on #121
@galal-hussein

If that's the case, then there are multiple problems (bugs?)

1. `rke` and rke docs do not list port 6443 being open as a prerequisites.
2. Why the need for an SSH Tunnel if `rke` isn't using it?
3. Why isn't `rke` testing port 6443 to the hosts to ensure that the port is open?
4. `rke` starts just fine, but kubernetes is not becoming fully ready on the nodes. Unclear why because t

[2017-12-13 01:29] bgehman commented on #137
@galal-hussein @ibuildthecloud It does get messy if you are using `latest` tagged images, or other upstream images where existing tags are constantly moved to point to newer versions.  Perhaps you do want to attempt a pull in those cases...  I'd be content with just trying to pull, and if it fails but the image already exist locally: go with what you got (maybe log a warning instead).  It should

[2017-12-13 05:45] de13 commented on #138
**kubectl describe nodes**

**kubectl describe pods -n kube-system**

Name:           rke-kubedns-addon-deploy-job-4qgtq
Namespace:      kube-system
Node:           192.168.1.201/
Labels:         controller-uid=774a9662-df93-11e7-9950-52540092739a
                job-name=rke-kubedns-addon-deploy-job
Annotations:    kubernetes.io/created-by={"kind":"SerializedReference","apiVersion":"v1","referenc

[2017-12-13 05:54] galal-hussein commented on #138
Kubelet is failing to start because of the swap, you need to either disable swap on the machines or start kubelet with extra_args:
[code]

[2017-12-13 06:09] de13 commented on #138
Indeed, that's it. You can close the issue. Thanks!

[2017-12-13 06:09] #138 closed

[2017-12-13 10:38] yasker opened #140 "Add support for Flexvolume driver"
There are two issues need to be resolved for this:
1. kubelet container need to bind-mount a directory on the host and use it as the location for Flexvolume driver. For example (assuming the Flexvolume driver is at the default location, see https://github.com/kubernetes/community/blob/master/contributors/devel/flexvolume.md):

[code]

2. The k8s package used by RKE need to support bind-mount `/hos

[2017-12-13 15:36] superseb commented on #137
@bgehman Current logic in the PR is checking for local image first, if found, it will be used, if not, we pull. The tag `latest` or moved existing tags should be avoided in general, and in your case, you are manually loading the images to the machines which makes you in control of the state of the images on the machines.

Using a pull policy parameter was considered, but we like to keep options to

[2017-12-13 16:01] bgehman commented on #137
@superseb the proposed changes will help my use-case.  Many thanks to all who are working on it.  👍   The default stance of rke README has etcd using `quay.io/coreos/etcd:latest`.  So original behavior was that etcd would always be upgraded (if/when new `latest` image is cut), new behavior is that rke will continue to use whatever version of etcd was downloaded when the cluster was originally buil

[2017-12-13 16:35] galal-hussein commented on #121
@HighwayofLife
1. We are still working on the documentation for RKE that will include more details, there is already opened PR for more detailed README

2. User shouldn't worry about ssh tunneling at all, RKE will use ssh tunnel connection as a custom dialer for Docker connection https://github.com/rancher/rke/blob/master/hosts/dialer.go#L33-L53, so the only requirement for the user to have ssh co

[2017-12-13 21:47] mmuruganandam commented on #121
Opening 6443 makes the deployment go through without issues

[2017-12-13 21:48] de13 opened #144 "Add support for iscsi volume"
**RKE version:**

v0.0.8-dev

**Persistent volume configuration**

[code]

**Results:**

E1213 21:43:19.493389    1416 nestedpendingoperations.go:264] Operation for "\"kubernetes.io/iscsi/192.168.1.90:iqn.2014-12.world.srv:storage.target00:0\"" failed. No retries permitted until 2017-12-13 21:45:21.493319898 +0000 UTC (durationBeforeRetry 2m2s). Error: MountVolume.WaitForAttach failed for volume "

[2017-12-13 21:55] galal-hussein commented on #144
@de13 looks like `iscsiadm` should be installed in kubelet container, you can try building your own custom kubernetes image with iscsiadm installed and specify this image in `cluster.yml`

[2017-12-14 02:03] DiamondYuan opened #146 "Can i write a chinese Readme and pull requests to the project."

[2017-12-14 05:51] de13 commented on #144
@galal-hussein sur, I already did it, but it doesn't solve the problem. Apparently, it's a know issue on Rancher [cant-mount-iscsi-volume/5413/5](https://forums.rancher.com/t/cant-mount-iscsi-volume/5413/5).

[code]

[2017-12-14 09:51] DiamondYuan opened #148 "Does etcd not use https?"
**RKE version:**
v0.8

[code]

[code]

[2017-12-14 10:32] DiamondYuan commented on #148
if one etcd nodes is delete.how can i recovery?

[2017-12-14 15:47] greatbn commented on #121
I have same error. Port 6443 is opened.

[2017-12-14 16:55] Kamaradeivanov commented on #121
Hi, I got the same problem on GCE. But I solved it with the help of @superseb.
All my ports are opened between private network interfaces.
But only port 22 are open on public interfaces.

I just open port 6443 on public network and everything works well know. BTW I has no other choice to open it to use kubectl from my post to contact my k8s cluster.

[2017-12-14 17:37] galal-hussein opened #149 "Add warning instead of error when using unsupported docker version"
RKE should give the user a warning and complete the installation instead of generating an error when the host has unsupported docker version

[2017-12-14 17:39] ibuildthecloud commented on #149
@galal-hussein I think you should have to opt in to the warning.  So by default we fail.  But you can add something like `ignoreDockerVersion: true` to a node to make it just warn and continue.

[2017-12-14 17:43] galal-hussein commented on #149
@ibuildthecloud got it

[2017-12-14 19:41] skarlsson commented on #129
I got it to work by adding a volume mount "/etc/ceph:/etc/ceph" to the kubelet. Is it possible to add volume mounts as parameters or is it ok to always add this?

[2017-12-14 21:07] HighwayofLife commented on #121
The `kube-apiserver --secure-port` default is 6443, but this is configurable, and would be nice to be able to configure within rke as an option. Many clusters are created with other tools that are created with secure port 443 (for example).

[2017-12-15 03:44] galal-hussein commented on #144
@de13 does this problem also happen with hyperkube image with open-iscsi installed?

[2017-12-15 03:50] mmuruganandam opened #151 "Dashboard UI - Authorization Token"
What is the initial password/token for the dashboard?  Where do we get that info?

[2017-12-15 10:28] de13 commented on #144
@galal-hussein not yet tried, but I will.

[2017-12-15 10:30] de13 commented on #151
Use the token of the dashboard:

`$ kubectl get secrets -n kube-system`

`$ kubectl -n kube-system describe secret dashboard-minimal-token`

Then in the UI, use authentication by token.

[2017-12-15 12:53] chanwit commented on #149
Thank you for tackling this. Cheers!

[2017-12-15 12:56] chanwit commented on #121
Even my 6443 port in the security group is opened, I still got this error and the cluster is failed to be provisioned.

The environment is AWS.

[2017-12-15 16:57] galal-hussein opened #152 "Add kubenretes components validation"
RKE code should make sure that the deployed component is up and running before deploying the next component, rke should check /healthz endpoints and should check if etcd cluster healthy

[2017-12-15 21:40] alena1108 opened #153 "Addons: consider switching from using manifests"
We should come up with a better way of managing addons files. Templates perhaps? And see if we can keep them in the same folder under the root, and import it as a package to the place where it needs to be modified.

[2017-12-16 10:00] superseb opened #157 "Specify taints to nodes"
Ability to specify taints to nodes in cluster.yml

[2017-12-16 14:44] moelsayed commented on #157
Add `extra_arge:` to the nodes to be passed to the kubelet maybe ?

[2017-12-16 16:56] superseb commented on #157
Could be, need to test if multiple `--node-labels` arguments get merged. But I think labels/taints param to node would be nice.

[2017-12-17 11:54] moelsayed commented on #157
They get merged, we do [this](https://github.com/rancher/rke/blob/f5de7ff42ebdc247909a54e439dfc1c613be6c91/services/kubelet.go#L45) to assign multiple labels to nodes with multiple roles.

I was thinking of a generic solution, but explicit params for this do sound better!

[2017-12-17 16:31] nii236 opened #159 "Failed to apply the ServiceAccount needed for job execution"
**RKE version:**
Master branch
**Docker version: (`docker version`,`docker info` preferred)**
[code]
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

VMs on XenServer baremetal

**cluster.yml file:**

[code]

**Steps to Reproduce:**
[code]
**Results:**
[code]

[2017-12-17 16:40] nii236 commented on #159
Is there a way to specify a .crt and .key file for SSL?

[2017-12-17 21:02] galal-hussein commented on #159
@nii236 The error may indicates that you are trying reuse the hosts without cleaning the certificates on the hosts, currently we generate the certificates and redeploy them on the hosts, can you try using:
[code]
to clean the cluster components and remove the previously deployed certificates, and then try to re-deploy again

[2017-12-17 21:06] galal-hussein commented on #157
@superseb @moelsayed node-lables is still an alpha feature in k8s 1.8, so i don't think we should add an explicit option for it in rke, and the user may still add it through extra_args, and you can assign it multiple times so it will have no problem as @moelsayed pointed out.

[2017-12-17 21:07] galal-hussein commented on #151
@de13 thanks for your answer, closing this issue now, @mmuruganandam please feel free to open if you still experience a problem with the Dashboard.

[2017-12-17 21:07] #151 closed

[2017-12-17 21:12] galal-hussein commented on #148
@DiamondYuan Currently we don't use tls connection for etcd.

For the second question, you can recover etcd manually, but rke doesn't currently do any add/remove operations regarding etcd nodes.

[2017-12-17 21:18] galal-hussein commented on #129
@skarlsson thanks for providing the solution, we can consider adding `/etc/ceph` as volume mount to kubelet

[2017-12-17 21:21] galal-hussein commented on #121
The error is considered a general error that means that kubernetes cluster is not running probably hence saving certificates to k8s will fail, so it may mean that the port is not opened or kube-api can't connect to etcd, etc.

we opened an issue for rke to validate components after deployment #152

[2017-12-18 02:01] nii236 commented on #159
Cool, thanks! I have been executing `remove` every time before `up`, but the problem is still there.

I suspect that something may have happened at some point where I updated from 0.0.8-dev to master.

Anyway I will reset my VM and start from scratch, it should be fine now.

[2017-12-18 02:01] #159 closed

[2017-12-18 02:42] greatbn opened #162 "Kubelet can't use drv_cfg of ScaleIO"
**RKE version: 0.7**

**Docker version: (`docker version`,`docker info` preferred) 1.12**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred) Ubuntu 16.04**

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO) KVM**

**cluster.yml file:**
[code]
**Steps to Reproduce:**

I install Kubernetes 1.8.5 by using RKE 0.7. As in K8s 1.8.4 release change log (https://githu

[2017-12-18 06:29] deniseschannon commented on #146
We always welcome PRs to our project! Reviewing Chinese PRs may take a bit more time than our English ones, but we welcome any contributions.

[2017-12-18 06:29] #146 closed

[2017-12-18 08:55] zhanhaibin opened #163 "panic: runtime error: invalid memory address or nil pointer dereference"
**RKE version:**
   v0.0.8-dev
**Docker version: (`docker version`,`docker info` preferred)**
   Docker version 1.13.1, build 092cba3
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
NAME="Ubuntu"
VERSION="16.04 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubun

[2017-12-18 08:56] zhanhaibin commented on #163
ssh,已经可以免密登陆到node1机器
ubuntu@master:~/.ssh$ ssh ubuntu@10.10.64.141
Welcome to Ubuntu 16.04 LTS (GNU/Linux 4.4.0-21-generic x86_64)

 * Documentation:  https://help.ubuntu.com/

588 packages can be updated.
281 updates are security updates.

Last login: Mon Dec 18 16:38:26 2017 from 10.10.64.140
ubuntu@node1:~$

[2017-12-18 08:57] superseb commented on #162
The only place I can find where the binary is referenced is here: https://github.com/kubernetes/kubernetes/blob/v1.8.5/pkg/volume/scaleio/sio_client.go#L319

[code]

See https://github.com/kubernetes/kubernetes/issues/51537 for more info. I don't think this is a bug on `rke` side.

[2017-12-18 16:12] #163 closed

[2017-12-18 16:20] zhanhaibin opened #164 "Finished building Kubernetes cluster successfully.But,kubectl: command not found."
**RKE version:**
v0.0.8-dev
**Docker version: (`docker version`,`docker info` preferred)**
Docker version 1.13.1, build 092cba3
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
NAME="Ubuntu"
VERSION="16.04 LTS (Xenial Xerus)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 16.04 LTS"
VERSION_ID="16.04"
HOME_URL="http://www.ubuntu.com/"
SUPPORT_URL="http://help.ubuntu.com

[2017-12-18 16:41] superseb commented on #164
`rke` builds your Kubernetes cluster according to the given `cluster.yml`, and will generate a `kubectl` configuration file but will not provide the actual binary. You would still need to get a copy of kubectl yourself. (https://kubernetes.io/docs/tasks/tools/install-kubectl/)

[2017-12-18 17:53] moelsayed commented on #111
@sangeethah I am still unable to reproduce this. Did you manage to reproduce it again ?

[2017-12-18 21:01] sheng-liang commented on #152
I think RKE code needs to go one step further. Requirements like required Docker version or open ports should be checked at a separate initial phase prior to deploying Kubernetes components. For example, perhaps RKE can deploy test containers on each node and run test scripts in these containers to make sure ports are open.

[2017-12-19 00:53] #164 closed

[2017-12-19 02:20] mmuruganandam opened #167 "Unable to pull the images from Private Registry"
Hi,
Using the docker secret in the kubernetes yaml file, the images are not pulled.  It is failing with http code of 401 (unauthorized).

Error on the dashboard.
"**Failed to pull image "xxxxxxxxxxxxxxxxxxxx/test-service:latest": rpc error: code = Unknown desc = unauthorized: authentication required
Error syncing pod**"

[code]

Yaml:
[code]

[2017-12-19 13:59] flemzord opened #168 "Support version for Docker"
**RKE version:** v0.0.8-dev

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      17.09.0-ce
 API version:  1.32
 Go version:   go1.8.4
 Git commit:   afdb6d4
 Built:        Tue Sep 26 22:24:58 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.09.0-ce
 API version:  1.32 (minimum version 1.12)
 Go version:   go1.8.4
 Git commit:   afdb6d4
 Built:        Tu

[2017-12-19 14:49] superseb commented on #168
We made it possible to ignore supported Docker version (https://github.com/rancher/rke/issues/149). This is in `master`, not yet released.

[2017-12-19 14:49] #168 closed

[2017-12-19 16:53] galal-hussein opened #169 "Add /var/log/pods and /var/log/containers to the mount points for kubelet"
Both mount points:
- /var/log/pods
- /var/log/containers
should be mounted within kubelet to be able to track the pods logs using tools like fluentd.

[2017-12-19 18:56] galal-hussein commented on #129
Reopening for testing

[2017-12-20 16:26] moelsayed commented on #136
https://bugs.centos.org/view.php?id=14291

[2017-12-20 16:33] moelsayed commented on #136
This is a regression in OpenSSH. We tested using OpenSSH 7.5 and it works fine. Older version should be updated to versions with the back-ported fix.

[2017-12-20 16:33] #136 closed

[2017-12-21 01:37] zeppelinux opened #172 "hostPath volume doesn't work"
**RKE version:**
v0.0.8-dev
**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      17.03.2-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 02:21:36 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.2-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue

[2017-12-21 02:38] galal-hussein commented on #172
@zeppelinux I don't think the error related to rke or kubelet, i wasn't able to reproduce:
[code]
[code]

[2017-12-21 02:55] idefav opened #173 "Timeout waiting for kubernetes to be ready"
**centos 7.3**

FATA[0091] [certificates] Failed to Save Kubernetes certificates: Failed to save
 certificate [kube-controller-manager] to kubernetes: [certificates] Timeout wai
ting for kubernetes to be ready
[code]

Log:
INFO[0052] [worker] Successfully started Worker Plane..
INFO[0052] [certificates] Save kubernetes certificates as secrets
DEBU[0052] [certificates] Saving certificate [kube-node

[2017-12-21 04:14] zeppelinux commented on #172
I tried to reduce the 'unnecessary' info and reduced it to the working scenario :)
It fails for me when I add subPath (which one exists inside of /mnt/storage) like this:

- mountPath: /test-pd
      subPath: test
      name: test-volume

 Error: lstat /mnt/storage: no such file or directory

[2017-12-21 15:17] galal-hussein commented on #173
can you provide the following logs
[code]

[2017-12-21 16:45] galal-hussein commented on #172
@zeppelinux There is an issue opened for this particular problem in kubernetes upstream https://github.com/kubernetes/kubernetes/issues/56339, the directory should exist if you are going to use subpaths, to work around this you can use `type: DirectoryOrCreate` for the hostpath:
[code]

[2017-12-21 17:08] galal-hussein commented on #167
Can you make sure that you are using the right credentials, i can't reproduce the problem:

on kubernetes node
[code]
create the secret

[code]
then pod.yml
[code]

[code]

[2017-12-21 17:48] alena1108 opened #175 "RKE config: minor improvements are needed"
1) Remove redundant `config` from help:

[code]
2) The default number of hosts should be 1
[code]
3) SSH Private Key Path of host should be defaulted to Cluster level ssh private key path.
4) SSH Private Key of host should not be needed when `SSH Private Key Path of host` is defined.
5) We should display the default + all available options for networking plugin:

`Network Plugin Type [none]`
6) Au

[2017-12-21 18:01] alena1108 opened #176 "RKE: parallel image pull on all hosts. Parallel worker deployment"
Today we pull the images to all the nodes sequentially. We should consider doing it in parallel to save the time. Same for worker deployment - once control plane is set, all workers should be deployed in parallel.

[2017-12-21 20:34] zeppelinux commented on #172
So it makes sense now, thanks for updating me.

Cheers!

[2017-12-21 20:34] #172 closed

[2017-12-21 20:34] galal-hussein commented on #172
@zeppelinux you are welcome

[2017-12-21 20:45] zeppelinux opened #178 "RancherOS /etc/kubernetes deleted after restart."
**RKE version:**
v0.0.8-dev
**Docker version: (`docker version`,`docker info` preferred)**
Client:
Version: 17.03.2-ce
API version: 1.27
Go version: go1.7.5
Git commit: f5ec1e2
Built: Tue Jun 27 02:21:36 2017
OS/Arch: linux/amd64

Server:
Version: 17.03.2-ce
API version: 1.27 (minimum version 1.12)
Go version: go1.7.5
Git commit: f5ec1e2
Built: Tue Jun 27 02:21:36 2017
OS/Arch: linux/amd64
Experim

[2017-12-21 22:30] galal-hussein commented on #178
That's because rancherOS only persist user volumes (/home, /opt) during restarts, please refer to the documentation for more information http://rancher.com/docs/os/v1.1/en/system-services/system-docker-volumes/#user-volumes

[2017-12-21 22:31] galal-hussein commented on #178
As a workaround you can still upgrade your version of ROS with the user volumes you specify:
ros os upgrade -i rancher/os:v1.1.1 --append "rancher.services.user-volumes.volumes=[/home:/home,/opt:/opt,/var/lib/kubelet:/var/lib/kubelet,/etc/kubernetes:/etc/kubernetes]

[2017-12-21 23:30] zeppelinux commented on #178
Upgraded the ROS and restarted.
/etc/kubernetes is there now but it's empty, so it is the same error.
Anything else i can try?

[2017-12-21 23:31] galal-hussein commented on #178
@zeppelinux /etc/kubernetes now should be persisted, you can try redeploying kubernetes and check again.

[2017-12-21 23:54] zeppelinux commented on #178
Redeployed kubernetes, this is what i see now:

$sudo ros config export
...
rancher:
  environment:
    EXTRA_CMDLINE: /init
  services:
    user-volumes:
      volumes:
      - /home:/home
      - /opt:/opt
      - /var/lib/kubelet:/var/lib/kubelet
      - /etc/kubernetes:/etc/kubernetes
...
$sudo reboot

/etc/kubernetes is empty

[2017-12-22 04:29] galal-hussein opened #182 "Save certificate/state right after deploying control plane"
There is no point of waiting for worker plane to be deployed to save the kubernetes certificates and state to k8s, we should be able to include this stage right after deploying the control plane

[2017-12-22 14:01] nseyvet opened #183 "OSX: make -> ./rke: cannot execute binary file"
**RKE version:**
From master

**Docker version: (`docker version`,`docker info` preferred)**
Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 29
Server Version: 17.09.1-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host ipvlan macvlan null ov

[2017-12-22 14:03] superseb commented on #183
Use `CROSS=true make` to cross compile for Darwin.

[2017-12-22 14:25] nseyvet commented on #183
$ CROSS=true make
CROSS=true make
./.dapper ci
Sending build context to Docker daemon  78.68MB
Step 1/18 : FROM ubuntu:16.04
 ---> 00fd29ccc6f1
Step 2/18 : ARG DAPPER_HOST_ARCH
 ---> Using cache
 ---> 805645fcf9f3
Step 3/18 : ENV HOST_ARCH ${DAPPER_HOST_ARCH} ARCH ${DAPPER_HOST_ARCH}
 ---> Using cache
 ---> 5f87008e05c8
Step 4/18 : RUN apt-get update &&     apt-get install -y gcc ca-certificates g

[2017-12-22 14:32] superseb commented on #183
That binary is used in the `rancher/rke:dev` container, you can look in `build/bin` for the produced binaries for all platforms.

[2017-12-22 14:40] nseyvet commented on #183
That worked.

Thank you

[2017-12-22 14:40] #183 closed

[2017-12-22 23:19] zeppelinux commented on #178
Created issue for RancherOS https://github.com/rancher/os/issues/2188

[2017-12-22 23:20] #178 closed

[2017-12-26 04:07] qianlifu12345 opened #184 "Setup tunnel for host failed"
**RKE version:**
rke version v0.0.8-dev

**Docker version: (`docker version`,`docker info` preferred)**
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
aliyun
**cluster.yml file:**
[code]
**Steps to Reproduce:**
`rke up --config config.yml`
**Results:**
[code]

[2017-12-26 05:20] #184 closed

[2017-12-26 05:21] qianlifu12345 commented on #184
set ssh_key_path: /root/.ssh uncorrectly.

[2017-12-26 16:30] mmuruganandam commented on #167
@galal-hussein i have tried this multiple times and doesn't pull the images.  Still fails with 401.  I am running this on centos 7.3.  I will try this again.

[2017-12-29 16:31] jamroks opened #187 "Can i use different image for kube component"
Hi,

 i was wondering if it's possible to kubernetes component image from other source than rancher repo docker image.
for instance in example given in this repo this image is used  :
  kube-api:
    image: rancher/k8s:v1.8.3-rancher2

can i replace it with :
  kube-api:
    image: gcr.io/google_containers/kube-apiserver:v1.9.0

to be clear is that i absolutely need to replace rancher image, but i

[2017-12-29 17:25] galal-hussein opened #188 "RKE should be able to export the latest cluster.yml from a working cluster"
In case the user deleted `cluster.yml`, rke should be able to have option to export it from the current cluster, for example:
[code]

[2017-12-30 22:14] galal-hussein commented on #187
@jamroks yes you can replace the rancher image with any kubernetes image as long as it has kubernetes binaries

[2018-01-01 12:53] longwuyuan opened #189 "rke up failed"
**RKE version:**

[code]

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

[code]

**cluster.yml file:**

[code]

**Steps to Reproduce:**

- Create 3 Ubuntu xenial VMs
- Install Docker Version 17.03.2
- Add user to docker gro

[2018-01-01 15:35] galal-hussein commented on #189
can you check the following logs:
[code]

[2018-01-01 16:08] longwuyuan commented on #189
$ docker logs kubelet | tee kubelet.logs
Flag --require-kubeconfig has been deprecated, You no longer need to use --require-kubeconfig. This will be removed in a future version. Providing --kubeconfig enables API server mode, omitting --kubeconfig enables standalone mode unless --require-kubeconfig=true is also set. In the latter case, the legacy default kubeconfig path will be used until --requir

[2018-01-01 16:20] aemneina commented on #189
@longwuyuan you need to disable fail on swap...

stolen from this article: https://sysadvent.blogspot.com/2017/12/day-24-on-premise-kubernetes-with.html?utm_content=bufferf9b0d

Make sure you have either swap disabled on the host, or configure the following in cluster.yml for kubelet (we will generate cluster.yml in the next step)

[code]

[2018-01-01 16:40] longwuyuan commented on #189
Disabling swap provided expected results.

[code]
Much much appreciate the kind help. Any chance to understand/read why swap enabled is causing this.

Secondly, Side note (non directly RKE issue), I was unable to explain why i saw the master alive even after I did a "rke remove". I see a "cache" folder at ~/.kube/cache ... is there cache that need cleaning up for true kubectl working.

![image](ht

[2018-01-01 16:53] longwuyuan commented on #189
Also, swap is enabled by default on ubuntu (at least regular server xenial ISO) so wondering if note/headsup needed here http://rancher.com/an-introduction-to-rke/  and  here  https://github.com/rancher/rke/blob/master/README.md .

[2018-01-01 17:01] galal-hussein commented on #189
@longwuyuan starting kubernetes 1.6 kubelet will fail if swap is enabled on the host, `fail-swap-on` was added to support the option to disable this behavior.
Regarding the cache there an issue opened for this bug regarding `cluster-info` https://github.com/kubernetes/kubernetes/issues/14232

[2018-01-01 17:30] longwuyuan commented on #189
Much thanks again. All clear now so will close.

[2018-01-01 17:30] #189 closed

[2018-01-02 16:41] #162 closed

[2018-01-02 16:53] moelsayed opened #190 "Add support for user addons as URLs to yaml manifests."
We need to allow uses to define addons as URLs in addition to inline manifests, for example:
[code]

[2018-01-02 23:22] galal-hussein opened #192 "Regression with using passphrased SSH keys"
**RKE version:**
v0.0.9-dev

Using ssh keys protected by passphrase causes two issues:

1- unexpected error:
[code]
this caused by wrong return of err instead of nil

2- After the first issue is resolved, user will have difficulty of running rke because rke will keep asking for passphrase due to the healthcheck addition

[2018-01-02 23:22] galal-hussein commented on #192
CC @vincent99

[2018-01-03 00:19] soumyalj commented on #124
Tested with rke version v0.0.9-dev. Created a cluster and performed a remove twice.
The following warning message was displayed instead of a FATAL error
[code]

[2018-01-03 00:19] #124 closed

[2018-01-03 01:23] soumyalj commented on #113
Tested with rke version v0.0.9-dev
Create a cluster with following configuration:
Node1 -> control , worker , Node2-> control and Node3-> etcd
Power down Node1.
Changed cluster.yml with following configuration to remove Node1 from cluster:
Node2-> control , worker and Node3-> etcd
./rke up command succeeded and the cluster was created successfully. Creation of pods was successful in the cluster

[2018-01-03 01:23] #113 closed

[2018-01-03 02:44] yasker opened #194 "Network communicate issue sometime happens due to `failed to add vxlanRoute` in flannel"
**RKE version:**
v0.0.9-dev

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04.3 LTS
4.4.0-103-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
DO. Had a similar issue with baremetal before as well, but didn't identify the exact issue at the time.

**cluster.y

[2018-01-03 11:30] dhrp opened #196 "validate service args (feature request)"
**RKE version:**

0.0.9-dev

**Docker version: (`docker version`,`docker info` preferred)**

not relevant

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

not relevant

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

any

**cluster.yml file:**

[code]

**Steps to Reproduce:**

Here is the challenge: *Spot the mistake*.

Spoiler: extra-args should be

[2018-01-03 14:57] Overv opened #197 "Add support for extra binds"
To make it easier to add plugins like flex volumes, it should be possible to add extra binds to services like `kubelet` and `kube-controller` with an approach that is similar to the extra arguments.

For, example:

[code]

I see that this would require extending `v3.KubeletService` in https://github.com/rancher/types/blob/e7e7b69880af3dad9b067e593c54ab350f2a0e33/client/management/v3/zz_generated_k

[2018-01-03 16:58] dghadi1 opened #198 "Support for linuxkit for baremetal installations"
Would it be a good idea to support a more robust baremetal installations using linuxkit (similar to the [linuxkit/kubernetes](https://github.com/linuxkit/kubernetes)) project.

I like the spec for the cluster.yml in rke and would be a nice abstraction if we can either generate an equivalent linuxkit.yml or directly an iso for the target platform.

This combined with rancher/rke#95 can provide a ni

[2018-01-03 17:01] superseb opened #200 "Support for running Calico on GCE"
Possibility to specify `gce` as calico cloud provider

[2018-01-03 20:19] soumyalj commented on #119
Tested with rke version v0.0.9-dev. Created a cluster and removed the cluster. Cluster removal was successful without any fatal errors.
[code]

[2018-01-03 20:19] #119 closed

[2018-01-03 21:58] soumyalj commented on #182
Tested with rke version v0.0.9-dev. Deployed a cluster with one [controlplane, etcd] node and 2 worker nodes. It was observed that certificates and cluster state were saved right after control plane deployment. Snippet from the cluster deployment
[code]

[2018-01-03 21:58] #182 closed

[2018-01-04 16:02] bgehman commented on #137
Verified fixed in rke v0.0.9:

[code]

Thanks!

[2018-01-04 16:02] #137 closed

[2018-01-04 16:55] cdata opened #201 "Failure to verify healthcheck, but manual verification works"
**RKE version:**
rke version v0.0.9-dev

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-metal

**cluster.yml file:**
[code]

**Steps to Reproduce:**
1. `rke up`
2. Observe printed results

**Results:**
[code]

**Additiona

[2018-01-04 17:15] cdata commented on #201
If I run the command a second time without clearing out the Docker containers, I get a different outcome:

[code]

It looks like maybe there could be a timing problem checking `http://localhost:8080/healthz`, and the second time we run `rke up`, it regenerates the certificates which causes auth to fail? Just speculating. Your advice would be appreciated.

[2018-01-04 17:20] galal-hussein commented on #201
@cdata regarding the first issue, the logs message `http://localhost/healthz` is because we add a custom healthcheck dialer with the right port, but it doesn't mean that the healthcheck tries to probe port 80, it could be a timing issue, and the kube-api is just not ready in time, can you please try to do `rke remove` and try again to see if the problem reproduce.

regarding the second issue, beca

[2018-01-04 17:23] cdata commented on #201
Thanks for the response!

I was able to "fix" the health check problem by adding a sleep (five seconds) just before the dial for `http://localhost:8080/healthz`, so it definitely seems like a timing issue.

I will see how `rke remove` affects the situation.

[2018-01-04 17:38] cdata commented on #201
After using `rke remove` to clean before retry, and keeping the sleep in before the health check, I can successfully provision the cluster. Thank you for the advice!

[2018-01-04 17:43] galal-hussein opened #202 "Increasing timeouts for healthchecks and addons jobs"
with some slow servers, kubeapi and other components may take sometime to be ready, also for addons pulling images with some servers with slow internet, it may take than the timeout threshold for addons to be deployed.

[2018-01-04 17:45] galal-hussein commented on #201
@cdata No problem, i opened #202 to consider increasing timeouts for healthcheck and addons deployments, closing this issue for now, thanks! please reopen if you have any other concerns.

[2018-01-04 17:45] #201 closed

[2018-01-04 18:21] galal-hussein commented on #196
@dhrp we do add cluster config validation but for the correct fields, for example if you tried to add network plugin that doesn't exist, rke will fail with an error of invalid argument for network plugin.

RKE will ignore any unrecognized fields though in the cluster.yml, to make sure that you have the right arguments, you may want to try `rke config --empty --print` which will print an empty conf

[2018-01-04 18:23] dhrp commented on #197
I was talking to @Overv by the way; and believe he'd be willing to make PR, of you'd welcome one?

[2018-01-04 18:25] dhrp commented on #196
I think that's fair. And validation is not so urgent.

[2018-01-04 18:25] #196 closed

[2018-01-05 00:30] soumyalj commented on #175
Tested with rke version v0.0.9-dev.
The fixes mentioned above are reflected in ./rke config:
[code]

[2018-01-05 00:30] #175 closed

[2018-01-05 00:47] soumyalj commented on #120
Reproduced the issue with rke version v0.0.8-dev. Created a cluster using one host with all three roles.
[code]
Tested with rke version v0.0.9-dev. Created a cluster using one host with all three roles.
Only one ssh tunneling was observed for the host.
[code]

[2018-01-05 00:47] #120 closed

[2018-01-05 01:10] soumyalj commented on #149
Tested with  rke version v0.0.9-dev. Used ignore_docker_version: true in the cluster.yml file and created a cluster with a host using unsupported docker version(17.09.0-ce).
A warning was displayed that the docker version is not supported and the cluster creation continued successfully
[code]

[2018-01-05 01:10] #149 closed

[2018-01-05 01:13] galal-hussein commented on #173
closing for inactivity, @idefav please reopen if the problem still happening

[2018-01-05 01:13] #173 closed

[2018-01-05 08:22] MayankTahil opened #203 "Does kube-proxy not deploy in provisioned K8 cluster?"
**RKE version:** `rke version v0.0.9-dev`

**Docker version: (`docker version`,`docker info` preferred)** `Docker version 1.12.6, build 78d1802`

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
running

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Bare-Metal

**cluster.yml file:**

[code]

**Steps to Reproduce:**

[code]

**Results:*

[2018-01-05 18:08] moelsayed commented on #203
It gets deployed as a container not as a pod. You should be able to see it in `docker ps` output.

[2018-01-05 19:26] MayankTahil commented on #203
Ah I see it now. Interesting, I always remember Kube-Proxy being deployed as a DeamonSet with other deployment methods. Thanks @moelsayed for clarifying, appreciate the response.

[2018-01-05 19:26] #203 closed

[2018-01-05 20:18] soumyalj commented on #176
Observed that with rke version 0.0.8-dev the images are being pulled sequentially.
Tested with rke version 0.0.9-dev, the images are being pulled in parallel and hence cluster creation is faster.
For a cluster with one node having [controlplane, etcd] and two worker nodes, the time taken to create a cluster for rke version 0.0.8-dev
[code]

For rke version 0.0.9-dev
[code]

[2018-01-05 20:18] #176 closed

[2018-01-05 21:55] soumyalj commented on #152
Tested with rke version v0.0.9-dev.

1. Health check is being performed after components kube-controller, kube-api, kubelet, scheduler, kube-proxy are deployed. The log messages are displayed as shown in the snippet below:
[code]
2. Start a cluster with 3 nodes as [controlplane, etcd], worker, worker using ./rke up --config cluster.yml file.
While the cluster is being created, as soon as the etcd

[2018-01-05 21:55] #152 closed

[2018-01-05 22:11] alena1108 opened #205 "Kubernetes 1.9 as a default image version"
@moelsayed @galal-hussein once we validate k8s 1.9, if there are no issues, we should make it a default k8s image version for rke.

[2018-01-05 22:55] galal-hussein commented on #153
@soumyalj to verify this issue, just make sure that system and user addons are deployed normally as well as the network plugin pods.

[2018-01-05 23:19] #187 closed

[2018-01-05 23:57] soumyalj commented on #169
Tested with rke version v0.0.9-dev. Each host has directories /var/log/pods and /var/log/containers.
It was verified that the directories have data for both system and user level pods.
[code]
[code]

[2018-01-05 23:57] #169 closed

[2018-01-06 01:17] soumyalj commented on #153
Tested with rke version v0.0.9-dev. Dashboard addon could be deployed on a cluster with rbac disabled.
[code]
Dashboard addon could be deployed on a cluster with rbac enabled.
[code]

[2018-01-06 01:44] #153 closed

[2018-01-06 01:44] alena1108 commented on #205
Before switching, lets confirm with the rest of the team. I know some api stuff got promoted from v1beta to v1 in k8s 1.9, that can cause some conflicts that need to be resolved.

[2018-01-06 16:08] galal-hussein commented on #197
@Overv @dhrp That will be a good addition, PRs are welcomed, this can extra_binds can be added to the BaseService struct shared between all services types.

[2018-01-08 02:24] wsj5857 opened #207 "FATA[0180] [workerPlane] Failed to bring up Worker Plane: Failed to start [kubelet] container on host [192.168.10.51]: Error response from daemon: linux mounts: Path /var/lib/kubelet is mounted on / but it is not a shared mount."
**RKE version:**
v0.0.9-dev
**Docker version: (`docker version`,`docker info` preferred)**
1.12.6
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
OS：centos7.4.1708， Kernel：4.9.39
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
DO
**cluster.yml file:**
auth:
  strategy: x509
  options:
    foo: bar

network:
  plugin: flannel
  options:
    flannel_imag

[2018-01-08 18:21] superseb commented on #207
Should have been fixed with https://github.com/rancher/rke/pull/125.

Did you specify `service_sidekick_image` under `system_images`? This should be added to the example. Does the sidekick run on the hosts?

[2018-01-08 18:22] deniseschannon commented on #129
@skarlsson Can you test if this is working with the latest release (`v0.0.9-dev`)?

[2018-01-09 16:10] nseyvet opened #209 "ETCD fails on AWS using internal_ip"
**RKE version:**
0.0.9-dev

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
4.4.0-1041-aws

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS

**cluster.yml file:**
[code]

**Steps to Reproduce:**

When doing rke --debug up --config k8s-aws_demo.yml (ie above cluster.yml file), th

[2018-01-09 16:22] superseb commented on #209
Is this reproducible all the time? Can you share more logging of etcd containers?

[2018-01-09 17:01] galal-hussein commented on #209
@nseyvet Can you provide more logs like:
[code]
it might also be a timing issue, so can you check
[code]

[2018-01-09 17:15] galal-hussein commented on #207
@wsj5857 can you check this comment https://github.com/rancher/rke/issues/123#issuecomment-350402236, you might need to change some parameters in docker service before start, please let us know if the problem still happening

[2018-01-09 19:51] soumyalj commented on #134
Tested with RKE version 0.0.9-dev. Created a cluster using AWS hosts by providing the flannel iface option.A new interface "eth1" was added and attached to the hosts.
[code]
Cluster creation was successful . The flannel container logs were observed to ensure that the specified interface was used:
[code]
On a setup with GCE hosts, the interface "ens4" was provided in the cluster config file
The fla

[2018-01-09 19:51] #134 closed

[2018-01-09 20:14] soumyalj opened #211 "Inter-host communication is lost when re-using GCE/AWS hosts with flannel network plugin"
**RKE version:**rke version v0.0.9-dev

**Docker version: (`docker version`,`docker info` preferred)**1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**Ubuntu

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**AWS/GCE

**Steps to Reproduce:**
1. Create a cluster using GCE/AWS hosts with flannel network plugin
2. Create user pods.
3. Verify inter-host

[2018-01-09 20:38] galal-hussein opened #212 "Check the required open ports between nodes at the beginning of RKE deployment"
Currently the following ports should be open for rke deployment to be fully successful:

- **from rke host to other nodes:** we only need the ssh port 22 and 6443 to communicate for control plane nodes
- **from k8s hosts to other k8s hosts:** 2379,2380 (etcd), 10251 (Scheduler), 10252 (Controller), 10250 (kubelet), 10256 (kubeproxy), 6443 (kubeapi), 8472 (flannel vxlan)

rke  should check for thes

[2018-01-09 22:19] soumyalj commented on #115
Tested with rke version v0.0.9-dev. Disabled src/des checks on AWS hosts and used them to create a cluster successfully. The config file had the calico settings as below:
[code]
Created user pods and verified inter-host communication by exec'ing to the pods.
Ping between pods on different hosts was successful
[code]

[2018-01-09 22:19] #115 closed

[2018-01-09 23:59] soumyalj commented on #131
Tested with rke version v0.0.9-dev. Created an RBAC setup. Created some user pods. Created role for reading pods and rolebinding to user1 for the role created. Ymls used below:
[code]
[code]
User1 was able to only get the pods and creation of pods was not allowed for user1
[code]
If the role is edited to add create option, user1 can create pods.
Clusterrole and Clusterrolebinding are also function

[2018-01-09 23:59] #131 closed

[2018-01-10 00:38] zhangwj-HS opened #215 "Failed to save certificate [kube-node] to kubernetes: [certificates] Timeout waiting for kubernetes to be ready"
**RKE version:0.0.8-dev

**Docker version: 17.03.2

**Operating system and kernel: centos

**Type/provider of hosts: VirtualBox

**Results:INFO[0055] [certificates] Save kubernetes certificates as secrets
FATA[0085] [certificates] Failed to Save Kubernetes certificates: Failed to save certificate [kube-node] to kubernetes: [certificates] Timeout waiting for kubernetes to be ready**

[2018-01-10 00:41] galal-hussein commented on #215
@zhangwj-HS can you provide more information about the components, mainly:
[code]

Also you might want to try the latest release `0.0.9-dev` which has healthcheck that can light more information about the problem

[2018-01-10 00:49] zhangwj-HS commented on #215
@galal-hussein  thank you
**docker logs kubelet**
W0110 00:42:34.852905    4153 cni.go:196] Unable to update cni config: No networks found in /etc/cni/net.d
E0110 00:42:34.853671    4153 kubelet.go:2095] Container runtime network not ready: NetworkReady=false reason:NetworkPluginNotReady message:docker: network plugin is not ready: cni config uninitialized
E0110 00:42:35.461298    4153 reflector.g

[2018-01-10 07:16] nseyvet commented on #209
Actually this was my mistake, used Terraform to create a VPC + securitygroup and forgot to open the ingress ports for the VPC.  (Terraform removes all ingress rules).

Added ingress rules, now it is up.

Thank you for the help.

[2018-01-10 09:07] superseb commented on #209
Thanks for reporting back, we have https://github.com/rancher/rke/issues/212 open for checking ports

[2018-01-10 09:07] #209 closed

[2018-01-10 10:49] guangbochen commented on #212
@galal-hussein I think we should have separate port range check for nodes with different roles.
### etcd, controlplane Node(s):

Protocol | Direction | Port Range | Purpose
-- | -- | -- | --
TCP | Inbound | 22 | ssh server
TCP | Inbound | 6443* | kubernetes API server
TCP | Inbound | 2379-2380 | etcd server client API
TCP | Inbound | 10250 | kubelet API
TCP | Inbound | 10251 | scheduler
TCP | Inbo

[2018-01-10 15:07] nseyvet opened #216 "Adding "extra_args: cloud-provider: aws" fails kube controller deploy"
**RKE version:**
0.0.9-dev

**Docker version: (`docker version`,`docker info` preferred)**
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
4.4.0-1041-aws

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS
**cluster.yml file:**
[code]
**Steps to Reproduce:**
We are trying RKE on AWS, and using dynamic volume provisioning,

Storage class:
[code]

[2018-01-10 15:57] nseyvet commented on #216
Adding the extra_args for cloud_provider appears to fail:

cluster.yml:
`---
authentication:
  strategy: x509
  options: {}

authorization:
  mode: none
  options: {}

# supported plugins are:
# flannel
# calico
# canal
network:
  plugin: flannel
  options:

nodes:
  - machine_name: ec2-34-242-164-192.eu-west-1.compute.amazonaws.com
    address: 50.0.30.74
    user: ubuntu
    role: [etcd,controlp

[2018-01-11 09:07] almorelle commented on #187
Hi,

Could you explain what differences there is between your image build and other's with kube binaries?

Thanks

[2018-01-11 09:30] zommarin opened #218 "Support the SSH agent"
**RKE version:**
v0.0.9-dev

When running RKE it would be nice if it could use the SSH key credentials from the SSH agent just as SSH itself does. This way we do not have to specify the private key password when running RKE (which SSH agent users in general prefers not to do).

[2018-01-11 09:32] superseb commented on #218
Can you check if this is a duplicate of https://github.com/rancher/rke/issues/192?

[2018-01-11 09:36] zommarin commented on #218
#192 is related, but not the same in my opinion. This issue is however one possible solution for issue #192. Another possible solution for #192 would be to cache the password and not ask for it several times.

[2018-01-11 09:39] zommarin commented on #218
I would prefer that RKE never (not even once) asks for the password, instead it gets the credentials from the SSH Agent, if available. That way I would feel more secure as less secrets are exposed to RKE.

[2018-01-11 12:52] nseyvet commented on #216
The "cloud.provider" setting in the kube-controller /opt/rke/entrypoint.sh is hard-coded to "" (empty string) by RKE in https://github.com/rancher/rke/blob/master/services/kubecontroller.go#L26, and no config options.

[2018-01-11 12:55] superseb commented on #216
Support setting cloud provider is tracked in https://github.com/rancher/rke/issues/102, closing as duplicate.

[2018-01-11 12:55] #216 closed

[2018-01-11 20:54] ibuildthecloud commented on #218
I'd love to see support for this too.  We use golang.org/x/crypto/ssh for SSH.  So the question is whether that library support SSH agent.

[2018-01-11 20:55] ibuildthecloud commented on #218
Sure seems like there is some support, but not really sure how to use it.

https://godoc.org/golang.org/x/crypto/ssh/agent

[2018-01-11 21:00] ibuildthecloud commented on #95
We really just need to compile ARM images and make the image multi-arch (manifest list).  Beyond compilation/packaging I don't think there is much issue with supporting ARM.  Now having said that I don't think we will support anything but ARM64.  We'll see.  I plan on looking a ARM support in a bit as I want Rancher 2.0 (the management product) to run on ARM also.

[2018-01-12 19:24] galal-hussein commented on #215
@zhangwj-HS can you check if you still have the same problem with 0.0.9-dev, the logs doesn't show anything unusual, you may also want to try:
[code]

[2018-01-12 22:48] soumyalj commented on #84
Tested with rke version v0.0.9-dev. Pushed the images above to a private repository and used them in the cluster.yml file.
When the images are private in the repository, the pull is not successful.
[code]
When the images are made public, rke pulls the images on the host and the cluster is created successfully.

[2018-01-14 13:09] galal-hussein opened #224 "Saving certificates in remote hosts as backup"
RKE should be able to save certificate in a temp remote place in case of k8s failure to restore certificates and continue installation.

[2018-01-14 13:10] galal-hussein commented on #224
Can be tested with rke v0.0.10-dev

[2018-01-14 13:12] galal-hussein opened #225 "Handling etcd Add/Remove"
RKE should be able to handle add and remove for etcd nodes, rke also should be able to handle adding and removing simultaneously.

[2018-01-14 13:14] galal-hussein commented on #225
Can be tested with v0.0.10-dev

[2018-01-14 13:15] galal-hussein commented on #202
Can be tested with v0.0.10-dev

[2018-01-14 13:16] galal-hussein commented on #192
Can be tested with v0.0.10-dev

[2018-01-14 13:17] galal-hussein commented on #167
@mmuruganandam Closing for inactivity, please feel free to reopen if you are having the same problem, i wasn't able to reproduce on my side

[2018-01-14 13:17] #167 closed

[2018-01-14 13:19] galal-hussein commented on #144
should be solved by https://github.com/rancher/kubernetes-package/pull/123, can be tested with v0.0.10-dev

[2018-01-14 13:26] xiaohui-zhangxh opened #226 "Support customized docker graph"
By default, docker lib places at `/var/lib/docker`, we can set `graph` in `/etc/docker/daemon.json` to choose another dir, such as `/data/docker` in the most of cloud nodes.

However, RKE's kubelet service hardcode it to `/var/lib/docker`, see

https://github.com/rancher/rke/blob/master/services/kubelet.go#L70

Can we add a attribute `dockerGraph` to Host config:

https://github.com/tanmer/types/c

[2018-01-14 13:28] galal-hussein commented on #226
@xiaohui-zhangxh I think this is duplicate of #197, adding support for extra binds will solve such a problem

[2018-01-14 13:31] xiaohui-zhangxh opened #227 "can't build rke binary from my Mac(High Sierra 10.13.1)"
When exectuting `make` from this project, it will fetch dapper from `https://releases.rancher.com/dapper/latest/dapper-Darwin-x86_64`, this binary is crashed with this error message:

[code]

I need to build my own rke binary ASAP since current version doesn't support customized Docker graph DIR, see #226

[2018-01-14 13:35] xiaohui-zhangxh commented on #226
@galal-hussein I think this should be an option for changing default Docker graph path(`/var/lib/docker`), instead of extra binds. Sure, about the coding side, this is an duplicate issue on changing file kubelet.go

[2018-01-14 13:40] galal-hussein commented on #227
@xiaohui-zhangxh This is probably a dapper issue, can you open issue with rancher/dapper repo, in the mean time you can build using `go build` normally

[2018-01-14 14:48] skarlsson commented on #129
sorry for not responding earlier. I confirmed that it's still working
rke:     v0.0.9-dev and v0.0.11-dev
ceph:  v12.2.2 Luminous
os:      ubuntu 16.04

as a note:  I (still) have to set back ceph compability to hammer - don't know why

otherwise you get lots of messages like those...
Jan 14 14:58:43 f009-k8s kernel: [79208.496241] libceph: mon0 10.1.46.7:6789 feature set mismatch, my 106b84a842a4

[2018-01-14 16:31] skarlsson commented on #129
forgot kubernetes version... both working
k8s_image: rancher/k8s:v1.8.5-rancher4
k8s_image: rancher/k8s:v1.9.1-rancher1-1

[2018-01-15 05:00] zhangwj-HS opened #229 "Failed to create SubnetManager"
**RKE version:*0.0.9*

**Docker version: (Containers: 0
 Running: 0
 Paused: 0
 Stopped: 0
Images: 14
Server Version: 17.03.2-ce
Storage Driver: overlay
 Backing Filesystem: xfs
 Supports d_type: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
Swarm: inactive
Runtimes: runc
Default Runtime: runc
Init Binary: docker-init
cont

[2018-01-15 22:19] galal-hussein opened #234 "start stopped k8s services"
If rke found k8s components containers exist but not started it will raise an error, this behavior should be modified so that if container was in stopped state then rke can start it

[2018-01-16 00:08] soumyalj opened #235 "Healthcheck for kube-api fails and RKE cluster fails to come up successfully when rbac is disabled"
**RKE version:**rke version v0.0.12-dev

**Docker version: (`docker version`,`docker info` preferred)**1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**Ubuntu

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**DO

**cluster.yml file:**
[code]
**Steps to Reproduce:**
1. Create a cluster with rbac disabled using the yml file above
2. RKE fails to come

[2018-01-16 00:52] soumyalj commented on #129
Tested with v0.0.9-dev and v0.0.12-dev. Verified that volume mount /etc/ceph is present on kubelet hosts.

[2018-01-16 00:52] #129 closed

[2018-01-16 01:06] soumyalj commented on #202
Verified that the timeout in rke version 0.0.9-dev was 15s.
1. Create a cluster with 2 hosts h1[control, worker] h2[etcd].
2. Stop the etcd as soon as it gets created on h2
3. Observe that the healthcheck timeout before an error is reported is 15s
[code]
Tested with rke version v0.0.12-dev . Verified that the healthcheck timeout is 50s by performing the same steps as above.
[code]

[2018-01-16 01:06] #202 closed

[2018-01-16 04:59] soumyalj commented on #234
Tested with rke version v0.0.12-dev
1.Create a cluster with 2 hosts h1[control, worker] h2[etcd] using command ./rke up --config config.yml
2. After the cluster is up, stop the kubelet, scheduler on h1 and etcd on h2
3. Re-run ./rke up --config cluster.yml

Kubelet, scheduler and etcd which were stopped, are started successfully and cluster is functional.

[2018-01-16 04:59] #234 closed

[2018-01-16 07:06] myselfghost opened #236 "FATA[0113] Failed to deploy addon execute job: Failed to get job complete status: <nil>"
**RKE version:** rke version v0.0.11-dev or  v0.0.12

**Docker version: (`docker version`,`docker info` preferred)** Docker version 17.03.2-ce, build f5ec1e2

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** Linux docker-test4 3.10.0-514.2.2.el7.x86_64 #1 SMP Tue Dec 6 23:06:41 UTC 2016 x86_64 x86_64 x86_64 GNU/Linux

**Type/provider of hosts: (VirtualBox/Bare-metal/A

[2018-01-16 09:22] superseb commented on #236
Can you show the output of:

`kubectl get nodes`
`kubectl --kubeconfig .kube_config_cluster.yml logs -l job-name=rke-network-plugin-deploy-job -n kube-system`
`kubectl --kubeconfig .kube_config_cluster.yml logs -l k8s-app=flannel -n kube-system -c kube-flannel`

and the complete logging from `docker logs kubelet`.

[2018-01-16 09:31] superseb commented on #229
Can you show the output of `docker logs kube-api` and `docker logs kubelet` from the `controlplane` node?

[2018-01-16 21:36] deniseschannon commented on #144
@de13 if the v0.0.10-dev release doesn't work, please re-open.

[2018-01-16 21:36] #144 closed

[2018-01-16 21:48] soumyalj commented on #225
Tested with rke version 0.0.12-dev. Addition and removal of etcd nodes is functional. Tested the below use cases. After each addition/removal of etcd node, ensure cluster is functional by adding new pods and verify etcd cluster health by exec'ing into etcd container[etcdctl cluster-health]
1. Add a new etcd node
2. Remove an etcd node
3. Add and remove etcd node at the same time
4. Start with a si

[2018-01-16 21:48] #225 closed

[2018-01-16 22:20] soumyalj opened #239 "RKE should issue a warning when removing the node in a single node cluster and adding a node with roles [control, worker, etcd]"
**RKE version:**rke version v0.0.12-dev

**Docker version: (docker version,docker info preferred)**1.12.6

**Operating system and kernel: (cat /etc/os-release, uname -r preferred)**Ubuntu

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**DO

**Steps to Reproduce:**
1. Create a single node cluster using the below cluster.yml file
[code]
2. Modify the cluster.yml file to add a node with

[2018-01-16 22:49] soumyalj commented on #224
Tested with rke version v0.0.12-dev.
1. Start creation of cluster with 2 nodes using ./rke up command
2. Stop the cluster creation using conrol C right after the certs are stored in a host, but not not in the cluster.
3. Run the ./rke up command again. We can observe that the certs are retrieved from the host and the cluster creation completes successfully.
[code]

[2018-01-16 22:49] #224 closed

[2018-01-17 01:17] myselfghost commented on #236
@superseb

kubectl  get nodes:
[code]
kubectl logs -l job-name=rke-network-plugin-deploy-job -n kube-system:
[code]
kubectl logs -l k8s-app=flannel -n kube-system -c kube-flannel:
[code]
docker logs kubelet
[code]

[2018-01-17 06:00] soumyalj commented on #192
Reproduced the issue using encrypted ssh keys for hosts with rke version 0.0.9-dev
[code]
Tested with rke version v0.0.12-dev
1. Generated encrypted ssh keys and specified the ssh_key_path in the cluster.yml file.
2. Created cluster with two nodes using ./rke up command
3. Cluster creation was successful

[2018-01-17 06:00] #192 closed

[2018-01-17 12:50] nseyvet opened #240 "Calico plugin fails with calicoct: "MountVolume.SetUp failed for volume "ippool-config" : configmap references non-existent config key: none-ippool""
**RKE version:**
rke version v0.0.12-dev

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04, 4.4.0-104-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VMWare.

**cluster.yml file:**

[code]
**Steps to Reproduce:**
rke up with above cluster..yml.

**Results:**
The

[2018-01-17 13:39] nseyvet opened #241 "Question: X509 Kubernetes Autentication specifying --client-ca-file=?"
**RKE version:**
ke version v0.0.12-dev

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04, 4.4.0-104-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VMWare.

**cluster.yml file:**

[code]
**Steps to Reproduce:**
How to pass the following option including the CA

[2018-01-17 14:42] superseb commented on #240
Thanks, will get a PR in for this. We are checking for `ne .CloudProvider ""` while the default CloudProvider is set to `none`.

[2018-01-17 14:51] nseyvet commented on #240
Would it work if I set 'aws' as the "calico_cloud_provider" value even though I am on VMWare?

IMO it might as it would use the following: https://github.com/rancher/rke/blob/d351594098a026840a78f118abb3c4a93c2b619b/templates/calico.go#L475

[2018-01-17 15:05] superseb commented on #240
I would say it would probably work when specifying `calico_cloud_provider` as `""`, as this overrides `none` and would trigger not to run the cloud specific definitions.

[2018-01-17 15:12] superseb commented on #241
You can see how the kube apiserver is launched here: https://github.com/rancher/rke/blob/master/services/kubeapi.go#L45. It is referencing the pki code that generates the certificates.

If you want to use your own, that would be an enhancement. Not sure if this was already planned @moelsayed ?

[2018-01-17 21:05] HighwayofLife opened #243 "Enable custom Kubeapi HTTPS Port"
The default port for connecting between rke (or kubectl) and kubeapi is port 6443. This value is hard-coded in rke. But could be any custom port.
For private networks, sometimes need to use a specific custom https port, but this isn't currently possible out of the box.

Request for a custom config value to override the default HTTPS port of 6443 in rke.

[2018-01-18 00:04] moelsayed commented on #212
#238 adds port checking for Kubernetes services and etcd, network plugins need a different set of ports and will be added in another PR.

[2018-01-18 08:14] nseyvet commented on #240
Using calico_cloud_provider as "" worked.

[2018-01-18 11:40] moelsayed commented on #111
I am closing this inactivity. Will reopen if we hit this issue again.

[2018-01-18 11:40] #111 closed

[2018-01-18 13:44] #227 closed

[2018-01-18 14:07] galal-hussein commented on #241
@nseyvet currently there is no option to directly pass custom certificates to rke, however you can still pass the client-ca-file option as an extra_args and it should override the default generated certificate, but note that certificates for components must also be signed by this ca certificate or it won't be able to communicate with the API server, the generated certificates can be found at /etc/

[2018-01-18 14:08] galal-hussein commented on #236
@myselfghost It looks like a certificate mismatch situation, can you try removing the cluster with `rke remove` to clean up the hosts and redeploying it with `rke up` again

[2018-01-18 14:11] galal-hussein commented on #207
@wsj5857 Closing this issue for inactivity, can you please reopen if you still experience the same problem

[2018-01-18 14:11] #207 closed

[2018-01-18 14:13] galal-hussein commented on #121
@HighwayofLife Closing this issue as #152 and #212 should be able to validate healthchecks for services and make sure the right ports opened on each host.

[2018-01-18 14:13] #121 closed

[2018-01-19 01:38] myselfghost commented on #236
@galal-hussein   rke remove ,then rke up ,have the same problem

[2018-01-19 09:11] superseb commented on #236
@myselfghost The error implies some kind of time sync issue. As it can't recognize the certificat being valid. Can you check the timesync (ntpd or ntpdate) on all the machines?

[2018-01-19 09:12] superseb commented on #229
If you can share your `cluster.yml` and the box you are using in VirtualBox, we can try to reproduce.

[2018-01-19 10:31] frankiezdh opened #247 "Failed to copy file [/etc/kubernetes/.tmp/kube-ca.pem] from container"
**RKE version:**
[code]
**Docker version: (`docker version`,`docker info` preferred)**
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VirtualBox
**cluster.yml file:**
[code]
**Steps to Reproduce:**

**Results:**
[code]

[2018-01-19 14:03] galal-hussein commented on #247
@frankiezdh I think that happens because the .tmp directory actually exists but with no certificates, which causes the fetcher to try to fetch any certificate from the first etcd host and fail, as a workaround for now you can remove the cluster using `rke remove` and try again

@moelsayed can you check and fix this bug, thanks!

[2018-01-19 18:26] moelsayed opened #248 "Port check fails if when adding a control plan role to a worker node during update."
If `rke up` was run to add a control plan tole to an existing worker node, the port listener will fail due to the nginx-proxy component holding the kube-api port

[2018-01-20 01:06] moelsayed commented on #247
This seems to happen when using docker version > 17.06. The "file not found" message returned by Docker is different.

[2018-01-20 01:22] moelsayed commented on #247
#252 fixes this.

[2018-01-20 07:05] frankiezdh commented on #247
You guys are awesome

[2018-01-20 07:05] frankiezdh commented on #247
You guys are awesome

[2018-01-20 22:10] galal-hussein commented on #248
reopen for testing

[2018-01-22 02:10] myselfghost commented on #236
thanks

[2018-01-22 02:10] #236 closed

[2018-01-22 06:42] yuanjinyong commented on #201
I used rke_linux-amd64-v0.0.12-dev, and also have this issue. Error message is following:
**[root@bogon k8s]# rke --debug up --config /opt/k8s/test.yml**
[code]

From the log message, timeouts has already increased.
And I tried following, the connect  is ok, the 6443 port can be connected:
**[root@bogon k8s]# curl https://192.168.42.135:6443/healthz --insecure**
[code]

**Following are my environm

[2018-01-22 10:52] superseb commented on #201
Is there anything in the `kube-api` log that explains a possible delay?

[2018-01-22 21:22] quando139 commented on #236
@galal-hussein @superseb I also run into this error.
`INFO[0076] [addons] Executing deploy job..
Failed to get job complete status: <nil>
FATA[0102] Failed to deploy addon execute job: Failed to get job complete status: <nil>`

Have this issue been resolved yet? Thanks!

[2018-01-22 21:23] superseb commented on #236
Are you getting `x509: certificate has expired or is not yet valid` in the log? And did you check the time on the hosts as it seems out of sync?

[2018-01-22 21:26] quando139 commented on #236
@superseb  which log are you talking about and how do I get it on the hosts?

[2018-01-22 21:30] superseb commented on #236
Check the nodes by running `kubectl --kubeconfig .kube_config_cluster.yml get nodes` and get the logs by running `docker logs kubelet` on the host.

[2018-01-22 21:37] quando139 commented on #236
I don't see any `x509: certificate has expired or is not yet valid in the log`. Here is the entire log and all hosts have the same log
`docker logs kubelet
+ '[' kubelet == kubelet ']'
++ DOCKER_API_VERSION=1.24
++ ./docker info
++ grep -i 'docker root dir'
++ cut -f2 -d:
+ for i in '$(DOCKER_API_VERSION=1.24 ./docker info 2>&1  | grep -i '\''docker root dir'\'' | cut -f2 -d:)' /var/lib/docker /ru

[2018-01-23 02:16] yuanjinyong commented on #201
I find the error message in /var/log/messages file:
[code]

[2018-01-23 02:18] yuanjinyong commented on #201
Another question, the log-dir arg for k8s doesn't take effect.
I add the log dir args in test.yml:
...
services:
  etcd:
    image: quay.io/coreos/etcd:latest
    extra_args: {}
  kube-api:
    image: rancher/k8s:v1.8.3-rancher2
    extra_args:
      **logtostderr: false
      log-dir: /var/log/kube-apiserver.log**
...

Confirm the args in master node:
**[root@bogon /]# ps -ef|grep etcd**
[code]
*

[2018-01-24 15:00] nseyvet opened #259 "passing featuregates attributes to the scheduler?"
**RKE version:**
rke version v0.0.9-dev

**Docker version: (`docker version`,`docker info` preferred)**
not relevant
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
not relevant
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS
**cluster.yml file:**

[code]

**Steps to Reproduce:**
Use above cluster.yml.

**Results:**
Kubernetes scheduler container f

[2018-01-24 15:06] nseyvet commented on #259
OK. made a typo. The following works:

[code]

[2018-01-24 15:06] #259 closed

[2018-01-24 21:23] tychota opened #260 "Make RKE more precise about the fact that swap has to be disabled"
Hi,

was about to open a bug for:

[code]

I did find the answer here https://github.com/kubernetes/kubernetes/issues/53333#issuecomment-333587943

It would be nice of rke to check for swap:
https://github.com/kubernetes/kubernetes/blob/a5c46303a2ed2c252c69855b3e650103f08a5703/pkg/kubelet/cm/container_manager_linux.go#L204-L215

and fail with a nice error.

I would say, those lines can be copy pas

[2018-01-24 22:57] alena1108 opened #261 "Performance issues"
RKE is great, but some things need improvements in terms of speed.

1. Image pull should be done in parallel on all the nodes; perhaps during control plane coming up. So by the time the workers are ready to deploy, we have to make sure that the images are pulled. It means in that in the code we should separate image pull from component deployment.

2. Certificate deployment is being done on per ro

[2018-01-25 04:31] ericlanderson opened #262 "Host bindmount for /usr/libexec/kubernetes/kubelet-plugins fails on CoreOS"
Container Linux by CoreOS has a read-only /usr filesystem. This causes the bind mount for /usr/libexec/kubernetes/kubelet-plugins to fail with the following error:

[code]
Is there the possibility for a cluster config option to support an alternate host path to support Flexvolume plugins?

Similar to https://github.com/kubernetes/kubeadm/issues/476.

**RKE version:**

v0.0.12-dev

**Docker version

[2018-01-25 08:19] zhanhaibin opened #263 "Failed to start [cert-fetcher] container on host"
**RKE version:**
rke version v0.0.12-dev
**Docker version: (`docker version`,`docker info` preferred)**
Containers: 1
 Running: 0
 Paused: 0
 Stopped: 1
Images: 14
Server Version: 1.13.1
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 74
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host m

[2018-01-25 09:41] superseb commented on #263
Think this is still valid when using Docker 1.13, looks like https://github.com/rancher/rancher/issues/9858 is related. @moelsayed @galal-hussein ?

[2018-01-25 10:21] de13 opened #264 "Path /var/lib/kubelet is mounted on / but it is not a shared mount."
**RKE version:**

v0.0.12-dev

**Docker version: (`docker version`,`docker info` preferred)**

Docker version 17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

Ubuntu 16.04.3 LTS

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

LXD

**cluster.yml file:**

[code]

**Steps to Reproduce:**

**Results:**

FATA[1327] [workerPlane] Failed to brin

[2018-01-25 11:04] superseb commented on #264
Can you check this https://github.com/rancher/rke/issues/123#issuecomment-350402236?

[2018-01-25 13:00] de13 commented on #264
Looks similar, but not.
I havn't MountFlags option in my service. If I add `MountFlags=` then reload and restart, I still have the same issue.

[2018-01-25 15:29] ghost opened #266 "Do not have put the generated CA Private Key on Every Node"
**RKE version:**
0.0.12-dev

**Docker version: (`docker version`,`docker info` preferred)**
17.06.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
RancherOS v1.1.3

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Baremetal (KVM)

**cluster.yml file:**
Not required

**Steps to Reproduce:**
* Run RKE on any cluster.yml configuration
* SSH into any n

[2018-01-25 15:39] de13 commented on #264
I forced `MountFlags=shared` on docker service, and now kubelet works correctly.

[2018-01-25 15:39] #264 closed

[2018-01-25 17:46] joshuacox opened #267 "rke ignores ~/.ssh/config"
**RKE version:** 0.0.12-dev

**Docker version: (`docker version`,`docker info` preferred)**

Containers: 2
 Running: 0
 Paused: 0
 Stopped: 2
Images: 7
Server Version: 17.12.0-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
 L

[2018-01-25 18:02] vincent99 commented on #267
RKE uses the golang [SSH client](https://godoc.org/golang.org/x/crypto/ssh), which doesn't know anything about OpenSSH's config files.

[2018-01-25 18:30] joshuacox commented on #267
any way I can tell RKE to use a proxy/jumpbox to implement my cluster that is in a private network?

I guess I can just have the provisioning host (where rke runs) inside the network, but I'd like to be able to provision many clusters from a single host

[2018-01-25 19:04] superseb commented on #267
We have https://github.com/rancher/rke/issues/103 open for this

[2018-01-25 21:00] joshuacox commented on #267
closing here, and watching #103

[2018-01-25 21:00] #267 closed

[2018-01-25 23:55] HighwayofLife opened #270 "RKE fails on CoreOS hosts due to read-only filesystem"
**RKE version:**

[code]

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Azure

**cluster.yml file:**

[code]

**Steps to Reproduce:**

* Bootstrap with rke v0.0.10-dev or above.
* Run on CoreOS nodes.

**Results:**

[code]

[2018-01-26 00:00] superseb commented on #270
Duplicate of https://github.com/rancher/rke/issues/262

[2018-01-26 00:00] #270 closed

[2018-01-26 01:39] ericlanderson commented on #262
Ideally, this could be a kubelet property specifying the host path to use for the plugins bind mount where /usr/libexec/kubernetes/kubelet-plugins is the default if none is provided:

[code]

[2018-01-26 02:15] yuanjinyong commented on #243
You can try the following:
Add the extra_args in cluster.yml file, eg:
...
[code]
...

Then at master node, check this whether take effect:
**[root@bogon /]# ps -ef|grep kube-api**
`root      16780  16763 74 10:07 ?        00:00:04 kube-apiserver --insecure-bind-address=127.0.0.1 --bind-address=0.0.0.0 --insecure-port=0 --secure-port=6443 --cloud-provider= --allow_privileged=true --kubelet-preferr

[2018-01-26 09:42] HighwayofLife commented on #243
Supplying additional arguments does not appear to override preset
arguments.

On Thu, Jan 25, 2018, 6:15 PM 袁进勇 <notifications@github.com> wrote:

[2018-01-26 15:05] moelsayed commented on #243
KubeAPI port is hardcoded. Using extra_args won't help here. We will make this configurable at some points. PRs are welcome, too!

[2018-01-26 19:09] alena1108 opened #272 "Add ingress controller option to cluster"
RKE should start ingress controller (provider is configurable) as a part of cluster.up

[2018-01-26 19:15] alena1108 opened #273 "Use structure type for system images"
Today we use Generic map for storing system images:

https://github.com/rancher/types/blob/master/apis/management.cattle.io/v3/rke_types.go#L15

For private registry integration in UI/API, it would make sense to define system images as as struct, where every image is a field with the default value. So the UI would know what to display to the user, so the user can modify each field with the image o

[2018-01-26 19:18] alena1108 opened #274 "Respect cluster.Version field"
cluster object has a top level field Version which defines k8s version for the main image. RKE should respect this field

[2018-01-26 20:45] Hefeweizen opened #275 "specifying arguments to apiserver results in dual arguments, rather than appended arguments"
RKE version:
[code]
Docker version: (docker version,docker info preferred)
[code]
Operating system and kernel: (cat /etc/os-release, uname -r preferred)
[code]
Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)
[code]
cluster.yml file:
[code]
Steps to Reproduce:
* Bootstrap with rke v0.0.10-dev or above.
* Run on CoreOS nodes.

Results:
[code]
We can see that kube-apiserver is started with

[2018-01-27 15:51] rukor commented on #262
Please has this been released yet? I am unable to use this with coreos at the moment

[2018-01-29 03:56] wayarmy opened #281 "Provision K8s cluster with --cloud-provider:openstack"
Hi there,

I used rke 0.1.0 for installing k8s on my own Openstack system. But i can't find the way to provision k8s cluster with config cloud-provider. Can you provide for me the way to setup that cluster?

I've just patch rke cli with cloud-provider like this:
[code]
But i have got an errror:
[code]

And my controler container's logs:
[code]
And the logs of kubelet container:
[code]

Any idea el

[2018-01-29 07:37] annymsMthd commented on #140
What's the status of this and using Longhorn on a rke created cluster? I'm testing out different volume providers and I would love to help test this out.

[2018-01-29 21:55] leodotcloud commented on #136
@galal-hussein I encountered this issue on Ubuntu 14.04.

[code]

[code]

On my OSX machine:
[code]

cluster.yaml:
[code]

[2018-01-29 22:02] leodotcloud commented on #136
Upgrading `openssh` on OS X laptop, didn't help either.
[code]

[2018-01-29 22:26] alancivita commented on #281
see issue #102  cloud providers are not supported yet.

[2018-01-29 22:36] leodotcloud commented on #136
Ok upgrading the OS to Ubuntu 16.04 solved the problem for me.

[code]

[2018-01-29 23:16] galal-hussein commented on #136
RKE uses Stream local forwarding feature to tunnel and connect to docker engine on each host, OpenSSH supports stream local forwarding since version 6.7, so Ubuntu 14.04 will not work with rke since it has OpenSSH 6.6, OpenSSH should be upgraded on ubuntu 14.04

[2018-01-30 03:51] leodotcloud commented on #136
Installing newer version of openssh resolved the issue on 14.04. Upgrading openssh server was pretty straight forward.

[code]

[2018-01-30 09:54] wayarmy commented on #281
@alancivita thanks, but can you show me the Dockerfile of image `rancher/k8s:v1.8.5-rancher4`. Maybe i can find the way to workaround for this.

[2018-01-30 16:13] galal-hussein commented on #281
@wayarmy thanks for opening this issue, @alancivita is correct as rke doesn't officially support cloud providers yet, we hardcoded cloudproivder to components to `""` https://github.com/rancher/rke/blob/master/services/kubelet.go#L44, some users tried to override this parameter in all components using `extra_args` however i am not sure if that will work also you will need to place your provider co

[2018-01-30 20:14] sabiodelhielo opened #285 "RKE exit status 16 with AWS/Canal/Docker-1.13.1/Ubuntu-16.04"
**RKE version:**
v0.1.0
**Docker version: (`docker version`,`docker info` preferred)**
1.13.1

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu-16.04

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS

**cluster.yml file:**
ignore_docker_version: true
ssh_key_path: {{ master_ssh_key_path }}
network:
  plugin: canal
nodes:
  - address: {{ ip_add

[2018-01-30 20:23] sabiodelhielo opened #286 "RKE RHEL-7.4 with weave: "Failed to deploy addon execute job: Failed to get job complete status""
**RKE version:**
v0.1.0
**Docker version: (`docker version`,`docker info` preferred)**
native docker version for RHEL (1.12.6)
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
NAME="Red Hat Enterprise Linux Server"
VERSION="7.4 (Maipo)"
ID="rhel"
ID_LIKE="fedora"
VARIANT="Server"
VARIANT_ID="server"
VERSION_ID="7.4"
PRETTY_NAME="Red Hat Enterprise Linux Server 7.4 (Ma

[2018-01-30 20:44] sabiodelhielo commented on #286
[root@ip-172-31-14-91 ~]# docker logs e6b9bd9c309a
DEBU: 2018/01/30 20:35:35.284395 [kube-peers] Checking peer "42:42:78:d5:fb:19" against list &{[{42:42:78:d5:fb:19 18.218.223.142}]}
INFO: 2018/01/30 20:35:37.796297 Command line options: map[ipalloc-range:10.233.64.0/18 name:42:42:78:d5:fb:19 host-root:/host http-addr:127.0.0.1:6784 ipalloc-init:consensus=1 db-prefix:/weavedb/weave-net expect-npc

[2018-01-30 21:24] superseb commented on #263
Closing as duplicate of https://github.com/rancher/rke/issues/285

[2018-01-30 21:24] #263 closed

[2018-01-30 21:43] #273 closed

[2018-01-30 21:46] deniseschannon commented on #148
Available on master of RKE

[2018-01-30 22:34] deniseschannon opened #287 "RKE Image Management"
We're moving all RKE images from other registries into Dockerhub under the `rancher` org.

1. We need to start pushing images used in RKE into Rancher dockerhub.

We need to remove the default registries out of the defaults for RKE.

[2018-01-30 22:40] galal-hussein opened #288 "External Etcd"
RKE should be able to create cluster and attach it to already created external etcd cluster, user will pass the following config to rke:

- etcd connection string
- etcd ca cert
- etcd tls cert
- etcd path

[2018-01-31 07:20] annymsMthd commented on #140
Actually I just checked and all the pieces are in place. I have longhorn running in my cluster now:)

[2018-01-31 18:42] moelsayed commented on #84
Previously rke would try to pull an image and it failed if it's a private image. #276 fixes this by adding configuration for private registry authentication.

[2018-01-31 20:36] sabiodelhielo opened #292 "After adding a controlplane node to an existing RKE cluster nginx.conf is missing the new nodes IP"
**RKE version:**
v0.1.0

**Docker version: (`docker version`,`docker info` preferred)**
docker 1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu-16.04

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS

**cluster.yml file:**

**Steps to Reproduce:**
    Update cluster adding a controlplane node
    First cluster config, Create three node

[2018-01-31 20:37] moelsayed opened #293 "Speed up certifcate saving"
No.4 in https://github.com/rancher/rke/issues/261

[2018-01-31 23:21] galal-hussein commented on #292
after debugging with @sabiodelhielo, the controlplane list is not being updated on etcd nodes but being updated on worker nodes, i will put a fix for this.

[2018-02-01 01:47] satomic opened #295 "FATA[0079] [controlPlane] Failed to bring up Control Plane: Failed to verify healthcheck"
**RKE version:**
rke version v0.1.0

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
private cloud

**cluster.yml file:**
[code]

**Steps to Reproduce:**
rke up

**Results:**
[code]

[2018-02-01 01:54] satomic commented on #295
I had try some many time each with different config of cluster.yml, but always except explose with the FATA log: FATA[0079] [controlPlane] Failed to bring up Control Plane: Failed to verify healthcheck: service [kube-api] is not healthy response code: [403], response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"forbidden: User "system:anonymous" cannot get p

[2018-02-01 04:06] galal-hussein commented on #295
@satomic can you check kube-api logs on this server, but i think the problem is that you are using etcd v2, v2 is not supported in rke, we explicitly use `"--storage-backend=etcd3"` for kube-api

[2018-02-01 08:13] satomic commented on #295
@galal-hussein, emmmm. i can't find kube-api container run, with commond "docker ps -a", 4 contains exist, like below.
CONTAINER ID        IMAGE                                                COMMAND                  CREATED             STATUS                    PORTS               NAMES
bb292c222355        10.143.145.213/rancher/k8s:v1.8.3-rancher2           "/opt/rke/entrypoint."   21 hours ago

[2018-02-01 08:20] satomic commented on #295
@galal-hussein the fomat is so strange... repost it ....
`CONTAINER ID        IMAGE                                                COMMAND                  CREATED             STATUS                    PORTS               NAMES
bb292c222355        10.143.145.213/rancher/k8s:v1.8.3-rancher2           "/opt/rke/entrypoint."   21 hours ago        Up 54 seconds                                 kube-api

[2018-02-01 08:22] satomic commented on #295
@galal-hussein now the text format maybe right....
`
CONTAINER ID        IMAGE
bb292c222355        rancher/k8s:v1.8.3-rancher2
941cdf5b36ed        rancher/rke-service-sidekick:v0.1.0
e7f6083d86b2        rancher/etcd:v2.3.7-13
391c918e1fec        rancher/alpine

`

[2018-02-01 21:40] gtirloni commented on #295
I just faced the same issue (CentOS 7.4, Docker 1.12.6, rke 0.1.0) but with the k8s:v1.9.0-rancher2-2 and etcd:latest images.

[code]

**Logs**: [kube-api.log](https://github.com/rancher/rke/files/1687326/kube-api.log)

[2018-02-01 22:26] superseb commented on #295
@gtirloni Do you have SELinux enabled?

[2018-02-01 22:43] moelsayed commented on #261
Note: Port checking is already running in parallel.

[2018-02-01 22:56] superseb commented on #295
@satomic The current released default is `image: quay.io/coreos/etcd:latest`, if you use that, that should work.

[2018-02-01 23:02] superseb opened #301 "Make compatible running with SELinux enabled"
**RKE version:**
v0.1.0

**Docker version: (`docker version`,`docker info` preferred)**
Docker 1.12.6 (RHEL)
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
RHEL 7.4
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS
**cluster.yml file:**
Default `rke config` from v0.1.0
**Steps to Reproduce:**
- Run RHEL 7.4 AMI (with SELinux enabled)
- Install RHEL

[2018-02-01 23:03] galal-hussein commented on #301
@superseb can you check https://github.com/rancher/rke/pull/268

[2018-02-01 23:41] galal-hussein commented on #293
I can see now certificate saving is taking less than 1 second:
[code]
I made sure update works as well, and fetching certificate works okay.

[2018-02-01 23:41] #293 closed

[2018-02-01 23:59] galal-hussein commented on #274
rke version: v0.1.1-rc1
I was able to verify this feature by adding:
[code]
to the cluster config and i can see this tag is used with rancher/k8s image and can verify the version using `rke version`
[code]

[2018-02-01 23:59] #274 closed

[2018-02-02 00:00] galal-hussein commented on #272
@moelsayed can you make sure that ingress resources are being created and can be accessed on k8s nodes on ports 80/443

[2018-02-02 00:04] galal-hussein commented on #261
version v0.1.1-rc1

I can verify all 4 points with rke:

- k8s image is being pulled on all nodes before deployment in parallel:
[code]
- Certificate deployment has been refactored to only run cert deployer once per node
- Port checks is being executed in parallel
- Saving certificate has been verified #293

[2018-02-02 00:04] #261 closed

[2018-02-02 00:06] gtirloni commented on #295
@superseb sorry to hijack this issue. Disabling SELinux got me further in the process but now it stopped in another error. I'll have more time to investigate this in detail tomorrow. Thanks for all the help so far!

[2018-02-02 00:08] galal-hussein commented on #248
rke version: v0.1.1-rc1

Adding control role to worker node doesn't create any problem anymore with ports checks

[2018-02-02 00:08] #248 closed

[2018-02-02 00:23] galal-hussein commented on #247
rke version v0.1.1-rc1

I was able to verify that saving/fetching certs from the backup location works okay with hosts that has docker version > 17.06
[code]
[code]

[2018-02-02 00:23] #247 closed

[2018-02-02 00:25] galal-hussein commented on #212
rke version v0.1.1-rc1

I was able to verify that port checking between hosts works okay:
[code]

[2018-02-02 00:25] #212 closed

[2018-02-02 00:27] galal-hussein commented on #96
feature added and verified in https://github.com/rancher/rke/pull/289

[2018-02-02 00:27] #96 closed

[2018-02-02 00:28] galal-hussein commented on #215
Closing for inactivity, @zhangwj-HS please reopen if you still see the problem

[2018-02-02 00:28] #215 closed

[2018-02-02 01:12] satomic commented on #295
@superseb thanks, I'll have a try, and feedback here the result a moment later.

[2018-02-02 01:40] satomic commented on #295
@superseb your advice is so amazing, now I can pass Healthcheck steps. it looks near the final success. haha. but, a new FATA come out, as the logs below.

INFO[0000] Building Kubernetes cluster
INFO[0000] [dialer] Setup tunnel for host [100.104.179.42]
INFO[0000] [dialer] Setup tunnel for host [100.104.193.49]
INFO[0000] [dialer] Setup tunnel for host [100.104.225.248]
INFO[0001] [network] Deploy

[2018-02-02 01:43] satomic commented on #295
@gtirloni hey! bro! is your newest FATA info is like this?
and what your installation environment? bare metal, or virtual linux like AWS/Private Cloud?

FATA[0078] [auths] Failed to apply RBAC resources: Failed to apply the ServiceAccount needed for job execution: Post https://100.104.179.42:6443/apis/rbac.authorization.k8s.io/v1/clusterrolebindings: x509: cannot validate certificate for 100.104.1

[2018-02-02 02:05] satomic commented on #295
@superseb as after changing the etcd version from 2 to latest, the last FATA change to **Failed to apply RBAC resources**, so I change the authorization mode: rbac to none, like
`
authorization:
  mode: none
  options:
`
cuz the official cluster.yml said that Use `mode: none` to disable authorization. but the Healthcheck FATA again, and the details are difference between the FATA caused by etcd v2

[2018-02-02 08:56] stefanvangastel commented on #84
Fyi: I can confirm a working rke in an air-gapped on-premise offline environment.

[2018-02-02 10:05] superseb commented on #295
Are you using `rke remove`, and cleaning the hosts to make sure we are testing this correctly?

[2018-02-02 11:54] superseb commented on #301
Validated with code from #268 and the following user-data:

[code]

[2018-02-02 11:54] #301 closed

[2018-02-02 12:13] satomic commented on #295
@superseb yeap! I am sure that using 'rke remove cluster.yml' before 'rke up', and even I using 'docker ps -a' and 'docker rm container_ids' to clear all the history containers.

[2018-02-02 12:13] satomic commented on #295
@superseb yeap! I am sure that using `rke remove cluster.yml` before `rke up`, and even I using `docker ps -a` and `docker rm container_ids` to clear all the history containers.

[2018-02-02 13:32] superseb commented on #295
Yes that issue is reported here: https://github.com/rancher/rke/issues/235?

If you run `rke remove`, clean the hosts and run it again you get the following error consistently?

[code]

[2018-02-02 13:33] superseb commented on #235
Happens because of https://github.com/rancher/rke/commit/8685523038e98c40b28b2570c73964126ac45f3b#diff-111b125aad2589be356304e9a498b27bR34

[2018-02-02 14:04] moelsayed commented on #59
@superseb Did you make any changes related to this after v0.0.8-dev ?

[2018-02-02 14:08] moelsayed commented on #59
@sangeethah I think the error message is clear enough. It clearly indicates that rke was not able to establish an ssh connection to a specific host. User's next step should be to check why.

[2018-02-02 14:29] superseb commented on #59
2 improvements possible here:

- Check SSH error and present a nice error on that
- Add another line saying what could possibly be wrong (wrong port/wrong user/wrong key etc)

[2018-02-02 16:13] moelsayed commented on #148
Tested using master:
- I was able to confirm etcd is working over tls.
- I was able to add and remove 2 etcd nodes to a 3 etcd-nodes cluster with no problem.

[2018-02-02 16:13] #148 closed

[2018-02-02 17:02] moelsayed commented on #240
Tested with master and the same cluster.yml file modified to work on DO. Works fine.

[2018-02-02 17:02] #240 closed

[2018-02-02 17:17] sabiodelhielo commented on #292
Verified with v0.1.1-rc1

[2018-02-02 17:17] #292 closed

[2018-02-02 19:10] alena1108 opened #302 "Add self anti affinity to sky dns"
We should add self anti affinity to sky dns pods in rke config

https://github.com/kubernetes/kubernetes/pull/57683

[2018-02-02 19:26] gtirloni opened #303 "CentOS 7.4 with flannel/calico: Failed to deploy addon execute job: Failed to get job complete status"
**RKE version:**
[code]

**Docker version: (`docker version`,`docker info` preferred)**
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VM (KVM/libvirt) on a flat network.

**cluster.yml file:**
[code]
**Steps to Reproduce:**
1. `rke up`

**Results:**
[code]

I also tried the "flann

[2018-02-02 20:28] superseb commented on #303
What rke version is this on (`rke --version`)? And is SELinux enforcing/permissive/disabled?

[2018-02-02 21:15] gtirloni commented on #303
rke version v0.1.0 and SELinux permissive.

[2018-02-02 21:28] gtirloni commented on #303
[code]

[code]

[2018-02-02 21:44] superseb commented on #303
From this output it actually looks pretty good, can you run:

```kubectl  describe job/rke-network-plugin-deploy-job -n kube-system```

And did you try cross host networking, does it not work? My best guess would be that the default timeout was too short to finish setting up and failed and it eventually came up.

[2018-02-02 22:07] moelsayed opened #304 "calicoctl pod is crashing with CrashLoopBackOff"
**RKE version:**
v0.1.1-rc1
**Docker version: (`docker version`,`docker info` preferred)**
v1.12.6
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu 16.04
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS and GCE
**Results:**
[code]

[2018-02-02 22:08] moelsayed commented on #200
Tested with v0.1.1-rc1. Interhost connectivity and pod internet connectivity works fine.

[2018-02-02 22:08] #200 closed

[2018-02-02 22:18] gtirloni commented on #303
Inter-pod communication between different hosts works fine! Everything looks good, that was a good guess.

[code]

[2018-02-02 22:34] moelsayed commented on #304
Calico networking is broken due to this.

[2018-02-02 22:42] moelsayed commented on #272
Tested on v0.1.1-rc1. Created one ingress, and two backend services. I was able to reach the pods using the configured hostname and urls.

[2018-02-02 22:42] #272 closed

[2018-02-03 00:56] HighwayofLife commented on #303
I'm getting the same thing...
[code]

[code]

[2018-02-03 01:26] satomic commented on #295
@superseb yes, my current situation is exactly same as #235. and, yes, after run `rke remove` and run it again, I always get the error consistently.

and, I found that you replayed "Happens because of 8685523#diff-111b125aad2589be356304e9a498b27bR34", and does it mean that, this bug will be fix on the next version? maybe the rke 0.1.1? and what I can do now is just wait for the new release?

[2018-02-03 01:43] HighwayofLife opened #307 "healthz: Failed to dial to Local Port [10250] on host"
**RKE version:**
`0.1.1-rc1+` (with manual fix for coreos /usr mount issue)

**Docker version: (`docker version`,`docker info` preferred)**
`Docker version 1.12.6, build d9ad3fc`

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
`4.14.16-coreos`

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Azure Private Cloud

**cluster.yml file:**
[code]

**Steps t

[2018-02-03 02:45] galal-hussein commented on #307
@HighwayofLife can you check kubelet logs on this host

[2018-02-03 02:54] galal-hussein commented on #303
@gtirloni @HighwayofLife on the first control host, you should find kubectl pod container in a exit state:
[code]
can you check the logs of these containers

[2018-02-03 03:00] galal-hussein commented on #295
@satomic i am not sure i understand the problem, can you start the cluster with minimal cluster.yml, something like this:
[code]
and see if you can still reproduce the problem

[2018-02-03 03:31] satomic commented on #295
@galal-hussein I tried it with minimal cluster.yml like:
[code]

and I got diffferent FATA error...
[code]

[2018-02-03 03:34] satomic commented on #295
@galal-hussein  just now, I wanna remove it and try again, FATA errors come out...
[code]

[2018-02-03 03:52] satomic commented on #295
@galal-hussein I kill and rm all the containers, and clear the files in the paths like `/etc/kubernetes/ssl`
then I `rke up` again, change the k8s version `fromrancher/k8s:v1.8.3-rancher2` to `rancher/k8s:v1.8.3-rancher3`, I got a new FATA
[code]

[2018-02-03 03:54] galal-hussein commented on #295
@satomic can you please get the logs of kubelet now, it looks like kubelet can't start for some reason

[2018-02-03 04:29] HighwayofLife commented on #307
```docker logs --tail 50 --follow kubelet```
Showed me that I had left a config in the kubelet command to connect to Azure and it was missing... please close this ticket.

[2018-02-03 04:29] #307 closed

[2018-02-03 06:14] satomic commented on #295
@galal-hussein I kill and rm all the containers, and clear the files in the paths like `/etc/kubernetes/ssl`
then I `rke up` again, change the k8s version `fromrancher/k8s:v1.8.3-rancher2` to `rancher/k8s:v1.8.3-rancher3`, I got a new FATA
[code]

[2018-02-03 06:59] satomic commented on #295
@galal-hussein I  change the k8s version from `ncher/k8s:v1.8.3-rancher3`to `ancher/k8s:v1.8.3-rancher2` again, and now the error is:
[code]

and yes, the kubelet container come out
[code]

and the kubelet container logs is here, the inner fireworl of my working PC disable file upload, so I can only post some of the logs of the kubelet container.
[code]

[2018-02-03 07:08] satomic commented on #295
@galal-hussein @superseb big new... by using the minimal cluster.yml and add `extra_args: {"fail-swap-on":"false"}` to kubelet config, I successed  up it!!! so happy!! and thanks, I'll try to add more node to it and do some test, If new issue come, I'll be back. LOL.
[code]

[2018-02-03 08:12] satomic commented on #295
@galal-hussein @superseb hi, now I have successfully run k8s with cluster.yml below:
[code]
thank you very much.

[2018-02-05 06:25] MayankTahil opened #310 "Request to specify custome kubelet flags in cluster.yaml"
What's the recommended way to add flags to kubelet in an already deployed k8 cluster?
Not quite sure how to follow [these directions]( https://rook.github.io/docs/rook/master/flexvolume.html) given I can't see where in cluster.yaml file I can add additional flags.

**RKE version:**

Next

**Docker version: (`docker version`,`docker info` preferred)**

17.03.x-ce

**Operating system and kernel: (`c

[2018-02-05 07:53] stefanvangastel opened #311 "enforce_docker_version has no effect"
**RKE version:**
`rke version v0.1.1-rc1`

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 17.10

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
OpenStack VM

**cluster.yml file:**
[code]

**Steps to Reproduce:**
Run `cluster.yml`

**Results:**
Docker version is **not** igno

[2018-02-05 08:35] myselfghost opened #312 "Support kube-router"
Is it possible to install kube-router instead of kube-proxy and Calico?

[2018-02-05 09:40] superseb commented on #311
It was reverted back to `ignore_docker_version` here: https://github.com/rancher/rke/commit/c425298f698bb587287bdc5b48f99e51f6315155

We are working on getting the example `cluster.yml` updated.

[2018-02-05 09:40] #311 closed

[2018-02-05 09:51] stefanvangastel commented on #311
Check, that works.

[2018-02-05 09:53] superseb commented on #311
This PR should update the defaults https://github.com/rancher/rke/pull/265

[2018-02-05 12:47] adalga opened #313 "Centos 7 Segmentation fault"
**RKE version:**
v0.1.1-rc1

**Docker version:**
17.03.2-ce

**Operating system and kernel:**
[code]
Kernel version: `3.10.0-693.17.1.el7.x86_64`

**Type/provider of hosts:**
Vmware Workstation 12 Player

**cluster.yml file:**
[code]

**Steps to Reproduce:**
`sudo ./rke up`

**Results:**
`Segmentation fault`

When I try to rke up on Centos 7 I get segmentation fault. I tried same setup with ubuntu

[2018-02-05 14:45] superseb commented on #313
Copy-pasting the `cluster.yml` does not reproduce on CentOS7 with that kernel. Can you run `sudo ./rke --debug up`?

[2018-02-05 14:59] akd31 commented on #313
Again it gives segmentation Segmentation fault

[2018-02-05 16:19] de13 opened #314 "rke remove - enhancement"
I noticed that rke remove has also removed images from my machines, which in my case is not fair, because it's just a remove to start on a clean deployment.
Could you imagine to add a flag to remove, eg. keep_image, which is not the default, but save some time for reboostraping a new cluster.

[2018-02-05 22:27] sabiodelhielo opened #316 "Failed to start kubelet container on worker node"
**RKE version:**
v0.1.1-rc1

**Docker version: (`docker version`,`docker info` preferred)**
1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu-16.04

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS

**cluster.yml file:**
[code]
**Results:**
time="2018-02-05T15:01:27-07:00" level=info msg="Building Kubernetes cluster"
time="2018-02-05T15

[2018-02-05 22:42] sabiodelhielo commented on #316
root@ip-172-31-13-204:/home/ubuntu# docker inspect kubelet
[
    {
        "Id": "cefa503670433390dc243d6e0ca62d7ca950242f93c82ba7d032374443426d4a",
        "Created": "2018-02-05T22:12:02.882159852Z",
        "Path": "/opt/rke/entrypoint.sh",
        "Args": [
            "kubelet",
            "--v=2",
            "--address=0.0.0.0",
            "--cluster-domain=cluster.local",
            "--

[2018-02-05 22:53] de13 opened #317 "Docker 1.12.6 doesn't work on LXC with rke"
**RKE version:**

rke version v0.1.1-rc1

**Docker version: (`docker version`,`docker info` preferred)**

1.12.6-0~ubuntu-xenial

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

VERSION="16.04.3 LTS (Xenial Xerus)"
4.4.0-62-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

LXC

**cluster.yml file:**

**Steps to Reproduce:**

**Results:**

FATA

[2018-02-05 23:28] moelsayed commented on #317
LXC is not a virtualized environment. You can't directly run docker inside it.

[2018-02-05 23:29] moelsayed commented on #314
RKE remove doesn't remove images.

[2018-02-06 06:04] HighwayofLife commented on #310
[code]

[2018-02-06 06:05] hemanthavs commented on #303
@galal-hussein Here are the logs

[code]

[code]

[code]

[code]

After some restarts ( 9 ), finally pod run successfully
[code]

[2018-02-06 06:26] akd31 commented on #313
I reinstalled Centos and it works.

[2018-02-06 07:33] de13 commented on #317
Are you serious? :) Of course yes, you can.

[2018-02-06 07:37] de13 opened #318 "Failed to deploy network addon"
**RKE version:**

rke version v0.1.0

**Docker version: (`docker version`,`docker info` preferred)**

Client:
 Version:      1.13.1-cs9
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   1bc62a2
 Built:        Wed Dec 13 20:49:22 2017
 OS/Arch:      linux/amd64

Server:
 Version:      1.13.1-cs9
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   1bc62a2
 Built:

[2018-02-06 07:38] MayankTahil commented on #310
@HighwayofLife thank you for your quick response! On a side note do you know where I can find the complete cluster.yaml spec? Where would this be documented?

[2018-02-06 16:00] gtirloni opened #319 "`rke remove` does not remove network pods"
**RKE version:**
0.1.0 and 0.1.1-rc1

**Docker version: (`docker version`,`docker info` preferred)**
1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
CentOS 7.4

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
libvirt/KVM VM

**cluster.yml file:**
[code]

**Steps to Reproduce:**
1. Run `rke remove`
2. Verify that calico pod still exists on the n

[2018-02-06 22:19] galal-hussein commented on #319
@gtirloni Yes rke doesn't remove pods at all, it just removes the k8s building blocks like kube-api, kubelet, etc. rke remove will also clean the dirs including network, etcd, certificate, which will lead to new kubernetes cluster whenever you decide to create new cluster using `rke up`

[2018-02-06 22:25] moelsayed commented on #317
Not saying you can't period. :)

[2018-02-06 22:37] deniseschannon opened #323 "Provisioning a cluster with 3 nodes with all roles for all 3 nodes fails"
RKE v0.1.1-rc1

Trying 3 nodes with all roles for all 3 nodes fails.

[2018-02-06 22:38] gtirloni commented on #319
@galal-hussein thanks for the info. So it's not a problem, right? I have removed and recreated clusters with RKE many times so it seems to be fine.

[2018-02-06 22:39] HighwayofLife opened #324 "Cluster certificate is not valid for load balancer"
Creating a load balancer for master nodes, kubectl can't connect through the external load balancer because the certificate generated isn't valid for any IPs outside of the master node IPs, 127.0.0.1, and the DNS service IP.

[code]

Is there an option or workaround that allows you to create an external load balancer or VIP with the certificate being generated?

[2018-02-06 22:50] moelsayed opened #325 "Use v1.8.7-rancher1-1 as default version"

[2018-02-07 01:49] ericlanderson commented on #262
I have tested this on Container Linux 1576.4.0 and 1632.2.1 and this does indeed work fine.

[2018-02-07 03:21] rukor commented on #262
Thank you. I’ll give it a spin

------------
Roland Ukor

[2018-02-07 05:23] hemanthavs opened #329 "K8 Cluster created taking time to get Stabilized"
**RKE version:**
[code]

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

[code]

**cluster.yml file:**

[code]

**Steps to Reproduce:**

-> rke up
-> Occasionally K8 Cluster taking around 1 hour to get stabilized

[code]

Thi

[2018-02-07 05:52] hemanthavs commented on #229
@superseb Occasionally  we are seeing this error but eventually cluster is stabilized after a while

Created another issue for it https://github.com/rancher/rke/issues/329

Here are the logs requested

[kube-api.log](https://github.com/rancher/rke/files/1701910/kube-api.log)
[kubelet.log](https://github.com/rancher/rke/files/1701911/kubelet.log)

[2018-02-07 09:56] superseb commented on #324
Not yet, duplicate of https://github.com/rancher/rke/issues/86

[2018-02-07 09:56] #324 closed

[2018-02-07 09:58] superseb commented on #329
No, why is it restarting? Do all the nodes have the same specs shown in the `docker info`? Any system logging that can provide explanation? How is the CPU load/memory usage etc?

[2018-02-07 13:23] akd31 commented on #313
When I try v0.1.1-rc2 release  I got segmentation fault again and then I tried old version which worked before but it gave segmentation fault too.

[2018-02-07 14:08] akd31 commented on #84
Does it work with insecure registries ? I have an insecure registry and I can pull image from it manually. However,when I define it as a private_registries: in the cluster.yml rke still tries to pull from docker.io and gives an error like
Can't pull Docker image [alpine:latest] for host [192.168.112.146]: Error response from daemon: Get https://registry-1.docker.io/v2/: net/http: request canceled

[2018-02-07 17:38] bleleve opened #330 "Problem with pod to pod communication (7 nodes & calico)"
Hi there,

I have a network problem with my fresh k8s cluster setup.

The heapster service which is currently running on worker 3 is not accessible by the dashboard on worker 4. I have executed `curl http://10.74.252.2:8082/metrics` on all cluster nodes, all return me a timeout except master 2 and worker 3...

The random side disturbs me, I can not understand why but I guess a calico conf problem.

[2018-02-07 18:53] superseb commented on #318
Is `kubectl get nodes` showing the nodes? And what does a describe show on the pods that are in `Error` or `Evicted` ?

[2018-02-07 19:12] de13 commented on #318
Yes, `kubectl get no` gives the list of nodes in ready state.
And for the pod logs:

[code]

[2018-02-07 19:13] HighwayofLife commented on #86
Another voice for requesting this ability/feature, we could use additional flags for hostnames or IPs to add to the kube api certificate so that we're able to use a load balancer for all master nodes.

[2018-02-07 19:14] HighwayofLife commented on #325
Out of curiosity, why use 1.8.x as the default rancher/k8s image instead of the 1.9.x line?

[2018-02-07 19:28] superseb commented on #318
Can you share `kubectl describe pods  --show-all --selector=job-name=rke-network-plugin-deploy-job -n kube-system` and `kubectl describe jobs -n kube-system`

[2018-02-07 19:34] deniseschannon commented on #325
@HighwayofLife Neither 1.6 or 2.0 are using k8s 1.9 yet. The impact of bumping from k8s 1.8 to 1.9 has some decent API changes that will impact 2.0. We plan on updating to the k8s 1.9 after 2.0 beta.

[2018-02-07 19:34] deniseschannon commented on #325
@HighwayofLife We do have a k8s 1.9.x image available. But it hasn't been tested in RKE.  You're welcome to test it out if you dare:`k8s:v1.9.2-rancher1-1`

[2018-02-07 20:54] HighwayofLife commented on #325
@deniseschannon 1.6 and 2.0 of what product?

FYI, I've been using the 1.9.x series of k8s images for the last few weeks.

[2018-02-07 21:28] deniseschannon commented on #323
Fixed in Rancher side

[2018-02-07 21:28] #323 closed

[2018-02-07 21:35] deniseschannon commented on #325
@HighwayofLife v1.6 and v2.0 of Rancher.

[2018-02-07 21:47] moelsayed commented on #330
This is probably a duplicate of #304, it should be fixed in `v0.1.1`. Please try again with this release and lets us know how it goes.

[2018-02-07 21:50] moelsayed commented on #316
This turned out to be an issue with the AMI we build specifically for testing.

I haven't been able to pinpoint the exact issue yet, however, it seems that restarting docker service before creating the AMI, or rebooting the instance after it's created from the AMI fixes the issue.

[2018-02-07 22:12] hemanthavs commented on #329
@superseb yes, all the nodes have same spec.  CPU / Memory are good.

My Observation, some of the nodes are not able to reach kubernetes svc ip ( 10.233.0.1 )
So, the pods which are scheduled on that node which are not able to reach 10.233.0.1 are keep crashing

after some time, node finally able to reach 10.233.0.1 ip and Cluster is stabilized

Below is from such cluster
You can see nodes 169.48.

[2018-02-07 23:12] hemanthavs commented on #329
#### Rke up failed once on this cluster. 2nd time it is successful
Attaching both the rke log files

[rke_output_20180207-212804.log](https://github.com/rancher/rke/files/1705069/rke_output_20180207-212804.log)
[rke_output_20180207-215542.log](https://github.com/rancher/rke/files/1705070/rke_output_20180207-215542.log)

First time RKE is failed with `level=fatal msg="Failed to deploy addon execute

[2018-02-08 00:15] HighwayofLife commented on #281
Just a note for anyone coming to this ticket later... having the ability to provide a cloud provider will be super helpful, and would allow for the ability to create cross-cloud clusters.

[2018-02-08 00:31] austinnichols101 commented on #262
Confirming working on 1632.2.1.  Because 1632.2.1 uses docker 17.09.1-ce, I had build a new `rke` binary so that I can override the supported docker version (ref: https://github.com/rancher/rke/issues/168)

- clone the RKE repo and `make` against the master branch
- add `ignore_docker_version: true` to the top of my `cluster.yml` file.

Rancher 2.0 + RKE all running on this single host.  Nice work

[2018-02-08 01:22] de13 commented on #318
I have recreated my cluster, so I didn't have these logs anymore.
But I think I've solved my problem with:
[code]
in `/etc/docker.daemon.json`  on all nodes

[2018-02-08 01:24] de13 commented on #318
But `rke` failed with msg:
[code]
And I didn't see my dns addon... I'll try to run `rke` on more time

[2018-02-08 01:38] hemanthavs commented on #329
@superseb Looks Kube-proxy pod on node 169.48.240.218 failing to apply iptable rules causing this issue

[code]

[2018-02-08 04:48] hemanthavs opened #333 "Feature Request : Add a configuration parameter to override verbose logging level"
Currently Verbose level is hard coded to --v=2.

During rke up, I come across a scenario some times kube-proxy failing to apply ip tables rules and logs of pods are not sufficient to identify the root cause.

Ticket Reference: https://github.com/rancher/rke/issues/329

Since no option to override, I will need to create the binary with required level

It will be help during trouble shooting if rke

[2018-02-08 06:37] adalga opened #334 "Kubernetes Dashboard CrashLoopBackOff"
**RKE version: 0.1.1

**Docker version:

 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 02:21:36 2017
 OS/Arch:      linux/amd64

**Operating system:

VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_UR

[2018-02-08 08:00] de13 commented on #318
Second pass of `rke`:

[code]

And if I took a look on pods:

[code]

Everything looks fine, but it's not:

[code]

[2018-02-08 08:03] de13 commented on #318
[code]

but in `cluster.yml` the cluster dns is set to 10.233.0.3

[2018-02-08 09:20] bleleve commented on #330
OK, thank you moelsayed.

I had to switch to Flannel because my cluster must be ready today. I will make some tests later.

Best regards.

[2018-02-08 12:08] superseb commented on #281
Closing as duplicate of #102, we'll be following up in there.

[2018-02-08 12:08] #281 closed

[2018-02-08 16:47] moelsayed commented on #333
You probably can use `extra_args` to do that:
[code]

[2018-02-08 19:12] galal-hussein commented on #295
@satomic Can you check `kubectl get nodes` its probably something is not deployed properly

[2018-02-08 19:14] galal-hussein commented on #319
@gtirloni yes it shouldn't be a problem, kubernetes will automatically remove these old pods, closing this issue for now, please reopen if you have any questions, thanks!

[2018-02-08 19:14] #319 closed

[2018-02-08 19:15] galal-hussein commented on #313
@adalga can you provide full logs and where do you get `segmentation fault` exactly?

[2018-02-08 19:18] galal-hussein commented on #310
@MayankTahil Sorry for the late reply, @HighwayofLife is right about the `extra_args` extra args can provide extra flags to any services not only kubelet, regarding the cluster.yml you can find the yaml spec in the repo, or a better solution to do is to use `rke config`:
[code]

A side note about the volume-plugin-dir is that we already merged a PR that changed the place of volume plugin dir from

[2018-02-08 19:22] #241 closed

[2018-02-08 23:14] galal-hussein commented on #84
RKE Version: master build Feb 9

I was able to verify airgap using private docker registry and the following cluster.yml file:
[code]

I verified that nodes are airgapped and has no access to the internet, and i was able to pull from this private registry with authentication without docker login on the hosts

[2018-02-08 23:14] #84 closed

[2018-02-09 03:23] satomic commented on #295
@galal-hussein
`kubectl get nodes`, it looks all are ready
[code]

and `kubectl get cs`, all are healthy too
[code]

and then `kubectl get pods`, the `kube-dns` pods can not be create
[code]

[2018-02-09 05:30] adalga commented on #313
There is no log. It immediately gives segmentation fault after execute ./rke up .

[2018-02-09 06:06] adalga commented on #313
![segmentation](https://user-images.githubusercontent.com/13197483/36013971-6e2a61dc-0d78-11e8-864a-bd1c959ff2c1.JPG)

I reinstalled new Centos 7.3 Gnome Desktop. I tried both rke_linux-amd64 and rke releases and they both gave segmentation fault as above.

[2018-02-09 06:21] adalga commented on #334
The logs of the dashboard pod is like below.

**kubectl logs kubernetes-dashboard-747d579ff5-h2mc5 --namespace=kube-system**

2018/02/09 06:19:03 Using service account token for csrf signing
2018/02/09 06:19:03 No request provided. Skipping authorization
2018/02/09 06:19:03 Starting overwatch
2018/02/09 06:19:04 Error while initializing connection to Kubernetes apiserver. This most likely means th

[2018-02-09 08:36] linjungz opened #337 "FATA[0315] [controlPlane] Failed to bring up Control Plane: Failed to verify healthcheck"
**RKE version:**
rke version v0.1.1

**Docker version: (`docker version`,`docker info` preferred)**
$ docker version
Client:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   78d1802
 Built:        Tue Jan 10 20:38:45 2017
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   78d1802
 Built:        Tue Jan

[2018-02-09 08:55] #337 closed

[2018-02-09 10:06] superseb commented on #295
According to this, it gets scheduled but kubelet refuses. Can you check `docker logs kubelet` to see why?

[code]

[2018-02-09 10:54] alwinmark commented on #295
Hi,

I had just before some minutes the same problem. Thanks to @superseb  I looked into the kubelet logs (before I was assuming firewall/network/IPv6 vs. IPv4 Issues because I got a connection refused.

Finally the problem was, that on my hosts swap was enabled. So `swapoff -a` fixed it

[2018-02-09 17:53] sabiodelhielo opened #338 "Pods getting the same ip address"
**RKE version:**
v0.1.1

**Docker version: (`docker version`,`docker info` preferred)**
docker 1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
ubuntu-16.04

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS

**cluster.yml file:**
three node cluster,each node with a single role. so one node -controlplane, node - worker, node -etcd

**Steps to

[2018-02-09 19:29] superseb opened #339 "etcd plane should be healthy before proceeding"
**RKE version:**
v0.1.1

**Docker version: (`docker version`,`docker info` preferred)**
`17.03.2-ce`

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04.3 + `4.4.0-112-generic`

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
DO

**cluster.yml file:**
[code]

**Steps to Reproduce:**
1. Create two nodes
1. Cap network traffic on both nodes by

[2018-02-09 23:10] nlowe opened #341 "Cannot specify `ingress: none` as per README"
**RKE version:**

[code]

**Docker version: (`docker version`,`docker info` preferred)**

<details>
<summary>Docker Info</summary>

[code]

</details>

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

<details>
<summary>/etc/os-release</summary>

[code]

</details>

`uname -r`: `4.4.0-112-generic`

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Bare-

[2018-02-09 23:33] galal-hussein commented on #341
@nlowe thanks for opening the issue, i think the docs are bit unclear, but the ingress config is not a field its a structure, to disable ingress you need to specify the following:
[code]

[2018-02-10 01:02] HighwayofLife commented on #341
@galal-hussein type or provider?

[code]

[2018-02-10 22:38] HighwayofLife opened #342 "Ingress Controller Not Deployed"
**RKE version:**
rke version 6ea9ff0 (latest master)

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Azure Private Cloud

**cluster.yml file:**
[code]

**Steps to Reproduce:**
```rke up```

**Results:**
No ingress controller d

[2018-02-10 23:11] HighwayofLife commented on #342
Current workaround is to run rke up every 5 minutes or so, a total of ~3 times to finish deploying all of the default addons (kube DNS and ingress controller)

[2018-02-10 23:33] HighwayofLife commented on #318
This is related to issues: #303, #286, #342, #329

[2018-02-10 23:33] HighwayofLife commented on #303
This is related to issues: #286, #342, #329, #318

[2018-02-10 23:35] HighwayofLife commented on #286
This is related to issues: #303, #342, #329, #318

[2018-02-10 23:35] HighwayofLife commented on #342
This is related to issues: #303, #286, #329, #318

[2018-02-10 23:37] hemanthavs commented on #329
These issues are happening because cluster_cidr is conflicting with my vm's private networking on 10.x networking.

No longer facing the issue when using 172.x addresses for cluster_cidr

[2018-02-10 23:37] #329 closed

[2018-02-10 23:37] hemanthavs commented on #303
These issues are happening because cluster_cidr is conflicting with my vm's private networking on 10.x networking in my case.

No longer facing the issue when using 172.x addresses for cluster_cidr

[2018-02-10 23:38] hemanthavs commented on #229
These issues are happening because cluster_cidr is conflicting with my vm's private networking on 10.x networking in my case.

No longer facing the issue when using 172.x addresses for cluster_cidr

[2018-02-11 01:50] satomic commented on #295
[code]

[2018-02-11 01:51] satomic commented on #295
[code]

[2018-02-11 01:51] satomic commented on #295
[code]

[2018-02-11 02:00] satomic commented on #295
[code]

[2018-02-11 02:07] satomic commented on #295
then the log print come out a loop, like:
[code]

[2018-02-11 03:55] galal-hussein commented on #342
@HighwayofLife can you check the deploy job for ingress on the server manually to see if it succeeded after the first run:
[code]

[2018-02-11 03:58] galal-hussein commented on #303
@gtirloni do you still have this problem if so, can you check the logs mentioned in this comment:
https://github.com/rancher/rke/issues/303#issuecomment-362771191?

[2018-02-11 04:03] galal-hussein commented on #334
@adalga I am not able to reproduce with 0.1.1 or master, can you check the networking between pods to make sure that pods can ping each other on the different nodes, also can you post the logs of the following:
[code]

[2018-02-11 04:04] #333 closed

[2018-02-11 04:05] #314 closed

[2018-02-11 04:07] galal-hussein commented on #310
Closing this issue, @MayankTahil Please reopen if you still having a problem of specifying extra arguments to any k8s component, thanks!

[2018-02-11 04:07] #310 closed

[2018-02-12 14:54] nlowe commented on #341
That seems to have done it, thanks!

[2018-02-12 18:03] bleleve opened #345 "Ability to customize dnsPolicy"
**RKE version:**
0.1.1

Hi all,

Is there a reason for the KubeDNS dnsPolicy setting to be Default?

Is it possible to make it customizable?

Best regards,
Benoît.

[2018-02-13 02:23] HighwayofLife commented on #342
@galal-hussein I ran `docker ps -a` on both worker nodes that are slated to install ingress, and the ingress container doesn't appear on either node.
Also does not appear in any of the 3 masters.

[2018-02-13 13:30] Overv opened #347 "Better error message for invalid ssh_key_path value"
**RKE version:**

rke version v0.0.8-dev

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

VirtualBox

**cluster.yml file:**

[code]

**Steps to Reproduce:**

Try to start a cluster with an invalid SSH key path in the cluster

[2018-02-13 14:04] adalga commented on #334
I tried 1 controlplane instead of 3 and it worked well. For HA I want to use 3 controlplane and I think there is a scheduler issue. Both 3 master try to schedule deployment and 2 of them fail and 1 of them succeeds. Should I create a new issue for this?

[2018-02-13 16:51] moelsayed commented on #260
Tested with latest master. RKE Would fail to start kubelet with `fail_swap_on: true`. Otherwise swap is ignored and kubelet is started normally.

[2018-02-13 16:52] #260 closed

[2018-02-13 17:03] moelsayed commented on #325
Tested with latest master. Without setting any version or image options RKE will default to use `rancher/k8s:v1.8.7-rancher1-1` as expected.

[2018-02-13 17:03] #325 closed

[2018-02-13 17:11] HighwayofLife commented on #334
Yes, please create a new issue.

On Tue, Feb 13, 2018, 6:04 AM Abdulkadir Dalga <notifications@github.com>
wrote:

[2018-02-13 19:05] moelsayed commented on #262
Tested on latest master on CoreOS 1632.2.1with `ignore_docker_version: true`. RKE completed successfully with a healthy cluster.

[2018-02-13 19:05] #262 closed

[2018-02-13 23:17] moelsayed commented on #347
@Overv that's an old rke version. Please try the latest.

[2018-02-14 05:31] #334 closed

[2018-02-14 05:42] adalga opened #350 "Deployment is already assigned to node"
**RKE version: 0.1.1

**Docker version: 17.03.2-ce

**Operating system and kernel: Ubuntu 16.04 - 4.10.0-28-generic

**Type/provider of hosts: VMWare

**cluster.yml file:**

**Steps to Reproduce:

Create any deployment. I tried below.
[deployment.yaml.txt](https://github.com/rancher/rke/files/1722775/deployment.yaml.txt)

**Results:**

I think both 3 of master tries to schedule deployment on same

[2018-02-15 19:28] galal-hussein opened #354 "Reconcile etcd should be idempotent"
rke should make sure that reconciling an etcd node is idempotent, scenarios might include the following:

- Adding etcd node that is already a part of the cluster
- Removing etcd node that is not a part of the cluster
- Resuming operations if the first etcd reconcile run stopped for any reason

[2018-02-16 00:05] #341 closed

[2018-02-16 09:29] Overv commented on #347
Confirmed fixed in newer versions.

[2018-02-16 09:29] #347 closed

[2018-02-16 13:04] rickard-von-essen commented on #218
[Here is an example](https://github.com/hashicorp/packer/blob/master/builder/amazon/common/ssh.go#L95-L111) of how we use the SSH agent in Packer.

[2018-02-16 18:24] nlowe opened #358 "Support Windows Worker Nodes"
**RKE version:**
0.1.1

**Docker version: (`docker version`,`docker info` preferred)**
<details>
<summary>docker version</summary>

[code]

</details>

<details>
<summary>docker info</summary>

[code]

</details>

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

Windows Server 2016 Core

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Bare-Met

[2018-02-16 19:28] lindenle commented on #316
@moelsayed Any news on this? We are seeing it as well.

[2018-02-16 21:15] moelsayed commented on #316
@lindenle Can you provide more details on your case?

[2018-02-16 22:24] jamiebuxxx commented on #316
We have seen this issue recently as well. It turns out that the base AMI we were using to build had the unattended upgrade enabled. It appears the unattended upgrade was updating some kernel headers and lib packages AFTER Docker had been install, causing the need for a reboot.

We disabled it with Packer using `sudo apt-get remove -y unattended-upgrades` and everything is working as expected.

[2018-02-17 03:11] galal-hussein opened #360 "rke remove doesn't remove etcd directory"
rke version: master

RKE doesn't seem to remove etcd directory in master

[2018-02-17 06:54] robodude666 commented on #339
Getting same error message when trying to do `rke up --local` or `rke up` using the default config.

Also running same RKE, docker, Ubuntu version. Tried with multiple different versions of RKE and all three supported versions of docker; same `forbidden: User \"system:anonymous\" cannot get path \"/healthz\"` error in all cases.

I have swap disabled via `swapoff -a`.

[2018-02-19 07:54] adalga opened #362 "Ceph rbd volume mount problem"
**RKE version: 0.1.1

**Docker version: 17.03.2-ce

**Operating system and kernel: Ubuntu 16.04 - 4.10.0-28-generic

**Type/provider of hosts: VMWare

**cluster.yml file:

**Steps to Reproduce:**

Create a ceph cluster. (I created by following this guide http://docs.ceph.com/docs/master/start/quick-ceph-deploy/)
Create a persistent storage class and claim then try it in a sample pod. (I followed t

[2018-02-19 15:56] superseb opened #363 "Ability to override node-ip on kubelet"
Systems with multiple interfaces get the wrong Node IP autodetected when that IP is not the IP to the default gateway.

kubelet option:
[code]

Example here: https://github.com/rancher/rancher/issues/11365

[2018-02-20 02:39] MayankTahil commented on #310
@galal-hussein sorry for the late reply. Could you expand a bit on :

Not sure what you mean by that.

[2018-02-20 04:15] annymsMthd commented on #310
A little extra gotcha on this one. When you add args to an already running cluster it won't add them to the containers that are already running. I just added something onto my controller and I had to docker rm -f the controller container on the host itself then run rke up for the changes to be made.

[2018-02-20 05:01] qianxiaoming opened #364 "Failed to dial to Docker socket while deploy etcd"
**RKE version:**
v0.1.1

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      17.03.2-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 02:21:36 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.2-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Ju

[2018-02-20 05:07] MayankTahil commented on #310
hmm... @annymsMthd see there is something weird going on. I re-deployed my cluster from scratch, removes all contents from persistent directories and removed all containers and running Kubernetes 1.9.1 at the moment. I went ahead added the argument to my kubelet:

[code]

and when I inspect my kubelet container I can see the following :

[code]

so the arguments have successfully passed. But the i

[2018-02-20 07:00] moelsayed commented on #364
Please check https://github.com/rancher/rke/issues/93

[2018-02-20 12:11] moelsayed commented on #316
@jamiebuxxx Thank you for the excellent feedback.

@lindenle Can you confirm that this works in your case ?

[2018-02-20 12:28] superseb commented on #339
@robodude666 Did you check the logging of `etcd` and `kube-api`?

[2018-02-20 16:26] m4ce commented on #259
What if you want to enable more than one feature?

[2018-02-20 16:35] galal-hussein commented on #345
@bleleve This is the default setting in the official kubedns yaml templates, its unfortunately hardcoded in rke's code.

[2018-02-20 16:38] galal-hussein commented on #330
@bleleve are you still experiencing the same problem with v0.1.1?

[2018-02-20 16:42] galal-hussein commented on #362
@adalga it seems like /lib/modules should be added to kubelet mounts for ceph rbd to work https://github.com/rancher/rke/blob/master/cluster/plan.go#L212-L227

[2018-02-20 17:15] m4ce commented on #259
Never mind, you can specify multiple features comma-separated.

[2018-02-20 17:24] m4ce opened #366 "Issues with mountPath and local storage"
**RKE version:**
rke version v0.1.1

**Docker version: (`docker version`,`docker info` preferred)**
docker-ce-17.03.2.ce-1.el7.centos.x86_64

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HO

[2018-02-20 17:30] m4ce commented on #366
Never mind - I've mounted it under /var/lib/kubelet/volumes/vol0001 and it works since /var/lib/kubelet is already volume bound to the kubelet container.

[2018-02-20 17:57] #366 closed

[2018-02-20 19:26] kuwas opened #367 "Private Registry Issue"
**RKE version:**
0.1.1-rc1

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Redhat 3.10.0-693.11.6.el7.x86_64

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Baremetal

**cluster.yml file:**
[code]

**Steps to Reproduce:**
- Setup a local private registry with a port and `REGISTRY_

[2018-02-20 19:32] m4ce opened #368 "DNS not working inside PODs"
Looks like the pods cannot resolve any external domain unless /proc/sys/net/bridge/bridge-nf-call-iptables is set to 1.

[code]

For reference, this issue was reported in kubeadm here -> https://github.com/kubernetes/kubeadm/issues/312.

[2018-02-20 23:06] moelsayed opened #369 "Use image defaults from types instead of local defaults"
We should use the `K8sVersionToRKESystemImages` map from: https://github.com/rancher/types/pull/221

[2018-02-21 08:02] adalga commented on #362
Yeah. That was my solution too and I applied and tested on master branch. It works.

[2018-02-21 09:10] qianxiaoming commented on #364
Thanks! It works for CentOS 7.4.

[2018-02-21 09:10] #364 closed

[2018-02-21 09:16] qianxiaoming opened #371 "Is there a plan to support kubernetes 1.9.x?"
If there is, can someone tell me the estimated time?

[2018-02-21 11:31] galal-hussein commented on #350
@adalga I am not able to reproduce this problem, where do you see this error exactly?

[2018-02-21 15:20] HighwayofLife commented on #371
I've been using rke with Kubernetes 1.9.x successfully for nearly 2 months.

[2018-02-21 16:08] aemneina commented on #371
@qianxiaoming the next rancher 1.6 release should make it available. That’s due out next month.

[2018-02-21 17:38] scriptjs opened #372 "Document RKE cluster.yml properties"
Its really important that cluster.yml properties are clearly documented. To use RKE, one only gains some insight from the blog post and Darren's presentation but this is insufficient. Neither covers all properties and its quite important to make use of the tool. RKE is likely to be one of the first experiences folks have with the Rancher org to stand a Kubernetes cluster. I think it would be best

[2018-02-22 03:07] robodude666 commented on #339
@superseb Hmm. They were complaining about the certificate not existing.

Either way, after some digging I realized my `ssh_key_path` file did not exist. I would have figured `rke` would abort or not require it for `--local` mode. Seems to be working now that I created a key.

I did run into the "Failed to check /healthz for service [kube-api]" error a few times while trying to create the cluster

[2018-02-23 07:36] adalga commented on #350
I tried to create a basic deployment via this yaml below.

Thne there is an error logged like below.

![capture](https://user-images.githubusercontent.com/13197483/36583017-d9ef3566-1884-11e8-885b-84d130ec12c1.JPG)

[2018-02-23 15:36] adalga opened #375 "Ingress does not give an address"
**RKE version: 0.1.1

**Docker version: 17.03.2-ce

**Operating system and kernel: Ubuntu 16.04 - 4.10.0-28-generic

**Type/provider of hosts: Bare metal

**cluster.yml file:

**Steps to Reproduce:

Create a simple deployment and service
Create an ingress

**Results:

here is the ingress controller's log.

I0223 11:16:54.908725       5 main.go:193] Running in Kubernetes Cluster version v1.8+ (v1.8

[2018-02-23 16:30] rickard-von-essen commented on #218
I've done a ugly fix for this that works for my personal use, but I'd like to do a proper PR but I'l like some comments before completing it.

I would like to remove password prompting and instead fail with a proper error message if the private key is encrypted.
And add a new configuration option `ssh_agent` (bool) which defaults to false, if true enable using the SSH agent.

[2018-02-24 10:18] qianxiaoming commented on #371
so what 's  the name of k8s 1.9.x image? I found that 'rancher/k8s:latest' not works. what should I write in my cluster yml file?

[2018-02-24 10:22] qianxiaoming commented on #371
OK, I find it in docker hub: v1.9.3-rancher1-1

[2018-02-24 10:22] #371 closed

[2018-02-24 15:03] HighwayofLife commented on #371
https://hub.docker.com/r/rancher/k8s/tags/

Latest is: v1.9.3-rancher1-1

[2018-02-25 10:24] bleleve commented on #330
@galal-hussein we had very busy days, I had no time to check. I will come back to you soon.

[2018-02-26 09:50] Overv opened #379 "Control plane hosts are marked as schedulable"
Why are control plane hosts also schedulable even when they are not marked as worker nodes?

https://github.com/rancher/rke/blob/9601ddd5a6c7c98e0c3c10e89d2fd3fb1d94e85f/services/workerplane.go#L20

[2018-02-26 14:05] adalga opened #380 "Can not reach nodes after restart"
**RKE version: Master branch

**Docker version: 17.03.2-ce

**Operating system and kernel: Ubuntu 16.04 - 4.10.0-28-generic

**Type/provider of hosts: Bare metal

**cluster.yml file:
[cluster.yml.txt](https://github.com/rancher/rke/files/1758850/cluster.yml.txt)

**Steps to Reproduce:

Restart all nodes
Try to get nodes via kubectl get nodes

**Results:**
I can't reach the nodes after I restart al

[2018-02-26 14:09] adalga opened #381 "High availability does not work"
**RKE version: 0.1.1

**Docker version: 17.03.2-ce

**Operating system and kernel: Ubuntu 16.04 - 4.10.0-28-generic

**Type/provider of hosts: Bare metal

**cluster.yml file:

**Steps to Reproduce:

shut down the first controlplane node

**Results:**

[2018-02-26 19:55] moelsayed commented on #381
You will need to update your kubeconfig file with the address of another (working) control plan host.

You can also remove the host from your `cluster.yml` file and run `rke up`. RKE will remove the host from the cluster and update the kubeconfig file.

[2018-02-26 20:40] moelsayed commented on #379
We do this to allow for single node deployment.

[2018-02-26 20:51] moelsayed commented on #380
Can you provide logs from kubelet and kube-api containers on your setup? I can't reproduce your issue.

[2018-02-26 20:56] moelsayed commented on #367
Can you please run this again in debug mode and post the full log ?

[2018-02-26 20:59] moelsayed commented on #367
Also, is `kubenet.io` resolvable from the nodes in your cluster ?

[2018-02-26 21:44] moelsayed commented on #380
Sorry, my bad. I am able to reproduce now. Fix pushed.

[2018-02-26 22:31] Overv commented on #379
Yes, but then the control plane mode would simply also be marked as worker, right?

[2018-02-27 11:59] adalga commented on #380
Master branch is working now. Thanks.

[2018-02-27 17:31] galal-hussein opened #390 "Support for rke node operations"
RKE should be able to run node operations include:

- `rke node up`
- `rke node remove`

rke should only add/remove the nodes added/removed from the config file, also it shouldn't attempt to re-deploy the whole cluster again.

[2018-02-27 17:31] galal-hussein commented on #390
CC @sheng-liang @ibuildthecloud

[2018-02-27 17:40] galal-hussein commented on #379
@Overv not really, the controlplane node marked as `master` and workers are marked as `worker`, the control plane are schedulable but they include the master components include:
- kubeapi
- scheduler
- controller-manager
and also it contains the worker's compnents:
- kubelet
- kubeproxy

you can have a minimum cluster with just one node that has `controlplane` and `etcd` roles only

[2018-02-27 18:52] Overv commented on #379
Is there no way to have a `controlplane` and `etcd` without `kubelet`?

[2018-02-28 13:56] adalga commented on #375
I figured it out. Since I don't have load balancer, it is normal that there is no ingress address.

[2018-02-28 13:56] #375 closed

[2018-02-28 13:56] adalga commented on #381
Thanks for reply. I got your point. I am closing the issue.

[2018-02-28 13:56] #381 closed

[2018-03-02 09:11] mtchuyen opened #395 "Help check cluster health in etcd"
**RKE version:**
rke version v0.0.12-dev

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
Linux 3.10.0-693.17.1.el7.x86_64 #1 SMP Thu Jan 25 20:13:58 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

**Steps to Reproduce:**
1. Attach to etcd container run

[2018-03-02 11:31] moelsayed commented on #395
Can you clarify what you are trying to do here ?

[2018-03-02 13:57] adalga opened #396 "Unable to Communicate With Kube Api"
**RKE version: Master Branch

**Docker version:  17.03.2-ce

**Operating system and kernel: Centos7 -  3.10.0-693.el7.x86_64

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO) BareMetal

**cluster.yml file:
[cluster.yml.txt](https://github.com/rancher/rke/files/1775245/cluster.yml.txt)

**Steps to Reproduce: rke up

**Results:**
kubectl get pods -n kube-system

kube-dns-6f7666d48c-jn76g

[2018-03-03 11:02] tychota opened #398 "After upgrading rke to latest version, cannot deploy anymore"
**RKE version:** master (installed with `go get`)

**Docker version:**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

see above

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Bare Metal

**cluster.yml file:**

[code]

**Steps to Reproduce:**

- `rke --debug up --config config.yaml` (or `rke --debug remove --config config.yaml`)

**Results