[2018-03-03 13:20] superseb commented on #398
The only thing you changed is the binary you are running? Nothing else changed?

[2018-03-03 18:15] tychota commented on #398
Yes.
Before it was working (go get from 1-2 weeks ago), now with same config, same ssh and no change on server, it can't connect.

[2018-03-05 09:19] mtchuyen commented on #395
Sorry for replying late!
After install by RKE successful, I try check cluster etcd health, so I run command: `etcdctl cluster-health`, but the response make me confuse.

Please help me the correct command.
Thanks

[2018-03-05 20:25] #285 closed

[2018-03-06 02:44] Jason-ZW opened #404 "System break when restart node"
**RKE version:**
master branch - last release
**Docker version: (`docker version`,`docker info` preferred)**
1.13.1
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS
**cluster.yml file:**
[code]
**Steps to Reproduce:**
1. build from master
2. rke up --local
3. reboot system
**Resul

[2018-03-06 05:54] mtchuyen commented on #395
Thanks @galal-hussein ! It done.

[2018-03-06 05:54] #395 closed

[2018-03-06 09:49] galal-hussein commented on #398
@tychota that's because of the recent changes to ssh agent in rke, as a workaround you can unset the SSH_AUTH_SOCK environment variable for now

[2018-03-06 15:58] HighwayofLife opened #406 "How to debug rke"
Question: How can you debug issues when building rke?

Build, and test succeed, but the changes are failing on validation and merely print as:

[code]

I cannot determine what is causing validation to fail, other than the file the validation is failing against.

[2018-03-06 16:07] superseb commented on #406
It's failing on `go fmt`, the changes in `cluster/plan.go` or not properly formatted (according to https://golang.org/cmd/gofmt/)

If you run `go fmt cluster/plan.go`, it will be automatically formatted correctly and this will succeed.

[2018-03-06 16:07] #406 closed

[2018-03-06 19:00] moelsayed commented on #360
Confirmed fix on latest master.

[2018-03-06 19:00] #360 closed

[2018-03-06 19:30] moelsayed commented on #218
Tested and confirmed working with latest master.

[2018-03-06 19:30] #218 closed

[2018-03-06 19:43] moelsayed commented on #100
Tested with latest master. Works as expected.

[2018-03-06 19:43] #100 closed

[2018-03-06 19:52] gtirloni commented on #100
Thank you very much!

[2018-03-06 20:32] rickard-von-essen commented on #218
Fixed in #387

[2018-03-06 20:54] moelsayed commented on #338
Confirmed fix with latest master:
- created 3 node cluster, 1 role each, with `rancher/k8s:v1.8.5-rancher3`
- updated the cluster to `rancher/k8s:v1.8.7-rancher1-1`
- checked pod IPs
- repeated several times.

[2018-03-06 20:54] #338 closed

[2018-03-08 11:35] adalga opened #408 "Ceph RBD Could not map image: Timeout after 10s"
**RKE version: Master Branch

**Docker version: 17.03.2-ce

**Operating system and kernel: Ubuntu 16.04 - 4.13.0-36-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO) BareMetal

**cluster.yml file:**

**Steps to Reproduce:**

build rke
rke up
Create a ceph cluster. (I created by following this guide http://docs.ceph.com/docs/master/start/quick-ceph-deploy/)
kubectl create secret

[2018-03-08 11:42] adalga commented on #408
It is about https://github.com/rancher/rke/commit/0d1b4597421bb985f79092886172d507e81ba492 . When I revert this it works.

[2018-03-08 20:38] superseb opened #409 "Secure kubelet port"
kubelet port should not be exposed with anonymous-auth enabled

https://kubernetes.io/docs/admin/kubelet-authentication-authorization/
https://github.com/kubernetes/kops/blob/master/docs/security.md
https://github.com/kubernetes/kubeadm/issues/118

[2018-03-09 12:05] zommarin commented on #218
Thanks Guys! Great job!

[2018-03-09 22:34] HighwayofLife commented on #342
Is there any other debug info that I could gather that would help localize this issue? It's plaguing me with every single cluster I stand up. I have to run: `rke up; rke up; rke up` every time to get the cluster online, obviously taking 3x longer than it should.

[2018-03-10 18:13] rossedman commented on #103
@superseb Interested to see where this is at. Thanks

[2018-03-11 05:18] rossedman commented on #86
+1 to this. Would like to have master nodes load balanced and not exposed publicly. Would be best to be able to add SANs to configuration.

Maybe something like this?
[code]

[2018-03-11 14:58] obenziane2 commented on #123
This issue still apply to my environment using rancher server alpha:21

[2018-03-11 16:51] rossedman commented on #190
@moelsayed Wanted to open another issue for local files as well. Could this be a similar feature?

[code]

[2018-03-11 20:22] rossedman commented on #218
@moelsayed @superseb does this mean that if we have a custom ssh_config with bastion proxies it will work?

[2018-03-12 14:33] dahendel commented on #398
@galal-hussein thanks for the tip. This was driving me mad

[2018-03-12 16:02] galal-hussein commented on #396
@adalga can you post the following logs:
[code]

[2018-03-12 16:43] galal-hussein commented on #380
rke version: v0.1.2
I was able to verify that all components works after restart

[2018-03-12 16:43] #380 closed

[2018-03-12 22:12] galal-hussein commented on #404
@Jason-ZW i don't think rke affect ssh login, i wasn't able to reproduce with latest master build

[2018-03-12 22:17] galal-hussein commented on #379
@Overv not really, the current implementation adds kubelet to each node type

[2018-03-12 23:12] Jason-ZW commented on #404
@galal-hussein Are you use docker 1.13.1 ？

[2018-03-13 19:06] cloudnautique opened #412 "RKE Kuberenetes component logs"
The container logs for the RKE Kubernetes components are difficult to capture without getting duplicate data. In a typical k8s logging setup `/var/log/containers` is being monitored by fluentd for Pod logs. These links are currently, for Docker envs, symlinks back into to `/var/lib/docker` which is where the RKE Kubernetes components log to.

It would be ideal, if we could follow a similar model a

[2018-03-14 12:30] Valentin8251 commented on #398
@galal-hussein @dahendel how and where do I unset the SSH_AUTH_SOCK? thanks :)

[2018-03-14 12:35] superseb commented on #398
`unset SSH_AUTH_SOCK`

[2018-03-14 12:42] Valentin8251 commented on #398
@superseb Im using the rancher 2.0 preview and tried to add custom hosts to my cluster. i could neither set one node to control and etcd and another one to worker nor etcd, worker and control on one. Its giving me this ui error. I tried to unset on the host, in the rancher container and in the node. Im I missing somethign?

[2018-03-14 16:35] dahendel commented on #190
I am interested in working on this if work has not been done already but not sure the best way to proceed as we would need a new field in [rke_types](https://github.com/rancher/types/blob/master/apis/management.cattle.io/v3/rke_types.go#L13)  which appears to be generated.

[2018-03-14 16:51] superseb commented on #398
@Valentin8251 This issue was targeted for people running `rke` on the command line, where it uses the SSH auth socket. If you are hitting this using rancher 2.0 preview, can you file it here: https://github.com/rancher/rancher/issues/new and describe used steps/commands/OS so I can reproduce?

[2018-03-14 19:44] dahendel commented on #190
Here is my code to handle [urls and paths](https://github.com/dahendel/rke/blob/addons_include/cluster/addons.go#L57). I added AddonsInclude to rancher/types that will be another pull request. Built it locally by adding AddonsInclude []string to the RancherKubernetesEngineConfig in the vendor directory

[2018-03-14 23:37] mimizone commented on #205
wondering where we stand on this. Any update on support of 1.9.x?

[2018-03-15 00:02] HighwayofLife commented on #205
Just FYI, we've been running RKE with K8s 1.9 for 3 months now. I haven't found any issues so far.

[2018-03-15 04:11] aiwantaozi commented on #412
Hi @cloudnautique , RKE component are not in the cluster that rke deploy. So the log for this component are lack of info like namespace and so on.

Kubenetes create the symlink /var/log/container -> /var/log/pods/ -> /var/lib/docker/containers. In 2.0 which part create the symlink?

How to know whether the cluster is deploy by RKE?

[2018-03-15 17:00] moelsayed commented on #205
@mimizone It's possible to override the default images and use 1.9. We have not seen any issues related to using 1.9 so far, or got any bug reports. However, we didn't run it through our certification process yet, that's why it's not promoted as a default.

[2018-03-15 17:33] mimizone commented on #205
thanks. may I ask where this configuration is done? can additional parameters be given, for instance to enable GPU support? and is there a way to do it via rancher 2.0, even in a "hackie" way, by changing that config in the rancher master node?

[2018-03-15 20:53] moelsayed commented on #205
For rke standalone, you can configure the images used in the [cluster.yml](https://github.com/moelsayed/rke/blob/master/cluster.yml#L103-L115) file. You can also pass additional options parameters to k8s components using [extra_args](https://github.com/moelsayed/rke/blob/master/cluster.yml#L48)

I am not sure about rancher 2.0, you probably should open a separate [issue](https://github.com/rancher

[2018-03-15 20:57] moelsayed commented on #190
@dahendel Thank you for the PR, can you also send a rancher/rke PR ? We will review and merge as soon as possible.

[2018-03-15 21:15] HighwayofLife opened #415 "Support Cluster Name for Kube Config"
The kube_config file is saved with the cluster name as "local" hard-coded. There is no parameter to change this. The problem with that configuration is that you can't merge it with your normal `~/.kube/config` as if you have multiple rke clusters (as I do), they all conflict.

The resolution would be to add cluster name support to the `cluster.yml` file.

Pull Request Submitted: #413

[2018-03-15 21:17] HighwayofLife commented on #275
Submitted a pull request to solve this.

[2018-03-15 23:37] moelsayed commented on #288
@galal-hussein I am unable to get this working. I get the following error:
[code]

[2018-03-16 01:10] rossedman commented on #190
@dahendel should json so be included in the types? Do we see a situation where someone is piping in machine generated manifests? Awesome start!

[2018-03-16 01:11] MayankTahil opened #416 "Port check failure on vBox environment"
Not sure why, I have a simple network topology with 3 target nodes all of which are workers, controlplane, and etcd hosts. All machines deployed on VBox using docker-machine commands and trying to deploy a K8 cluster with RKE and I keep getting 'checking port failures':

[code]

**RKE version:**
[code]
**Docker version: (`docker version`,`docker info` preferred)**

For both where RKE is being exec

[2018-03-16 10:36] Overv opened #418 "RKE upgrade does not take care of renamed containers"
Recently, the names of the Kubernetes containers were changed to match the binaries:

https://github.com/rancher/rke/commit/a90b672fe472e215ceca52c992f58f1653577484

However, this results in `rke up` on a cluster that existed before this change to run duplicate copies of all containers. My cluster ended up running `kube-api`, `kube-apiserver`, `kube-controller`, `kube-controller-manager`, `schedul

[2018-03-16 18:18] deniseschannon commented on #409
Available in v0.1.3-rc1

[2018-03-16 18:19] deniseschannon commented on #398
Available with v0.1.3-rc1

[2018-03-16 20:44] moelsayed commented on #409
Tested using `v0.1.3-rc1`:
- https endpoint on port 10250 now requires authentication.

[2018-03-18 11:43] PatrickHuetter commented on #398
@Valentin8251 same problem here. Using rancher 2.0 preview i get the same error. It's not possible to set up a cluster. Did you find a solution for that? Did you raise an issue in the rancher issue tracker?

[2018-03-18 12:17] Valentin8251 commented on #398
@PatrickHuetter unfortunately I did not find a solution using a custom cluster. I think rke detects the wrong external ip and rancher is having trouble to connect via ssh. That just speculation tough because I saw the local ip as node ip in rancher. But it worked when I used digital ocean as a predefined provider.
I have not opened an issue.

[2018-03-18 18:42] dahendel commented on #190
I will get json added in the rke types in the morning.

[2018-03-19 00:47] jam2205 opened #419 "hi, having problems with cropcoin masternode set up. i sync up both wallets local and vps. i make all the changes to the config files and then restart the wallets but as soon as start all i get a runtime error.it happems every time. plent of ram on the pc and just restored. dont know what else to do. HELP"
**RKE version:**

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

**cluster.yml file:**

**Steps to Reproduce:**

**Results:**

[2018-03-19 00:51] HighwayofLife commented on #419
There is no information in this ticket.

[2018-03-19 00:57] jam2205 commented on #419
I hi, having problems with cropcoin masternode set up. to hi, having problems with cropcoin masternode set up. i sync up both wallets local and vps. i make all the changes to the config files and then restart the wallets but as soon as start all i get a runtime error.it happems every time. plent of ram on the pc and just restored. dont know what else to do.

[2018-03-19 00:58] jam2205 commented on #419
sorry this is my first time

[2018-03-19 01:00] jam2205 opened #420 "RUNTIME ERROR HELP"
**RKE version:**

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

**cluster.yml file:**

**Steps to Reproduce:**

**Results:**

[2018-03-19 01:01] jam2205 commented on #420
hi, having problems with cropcoin masternode set up. to hi, having problems with cropcoin masternode set up. i sync up both wallets local and vps. i make all the changes to the config files and then restart the wallets but as soon as start all i get a runtime error.it happems every time. plent of ram on the pc and just restored. dont know what else to do.

[2018-03-19 01:52] HighwayofLife commented on #420
I think you're looking in the wrong place for help for that.

[2018-03-19 01:59] HighwayofLife commented on #419
This is not the right place to ask for support for that.

[2018-03-19 03:20] #420 closed

[2018-03-19 03:57] #419 closed

[2018-03-20 10:21] superseb opened #422 "port-checker should detect unresolvable names"
When port-checker is executed, if the hostname cannot be resolved nc will return `nc: bad address 'node'`. This should be handled properly, with an appropriate error message.

See https://github.com/rancher/rke/issues/416

[2018-03-20 10:21] superseb commented on #416
`nc::bad` is probably the result of parsing `nc: bad address 'node-1.local'`. Resolving these from the host running `rke` is not enough, containers are launched which contain checks which should be able to resolve your hosts as well. This means either using proper DNS or manual /etc/hosts, or use IPs. I filed https://github.com/rancher/rke/issues/422 for a better error message.

Can you try and le

[2018-03-20 13:30] galal-hussein commented on #390
I added two options:

- `update-only` which will skip redeployment of the cluster and only focus on the added worker nodes
- `disable-port-check` this option will disable port check validation between nodes

[2018-03-20 21:52] doubleswirve commented on #409
Apologies if I missed this somewhere/this is better for Stack Overflow, but is there any way to get this update to apply to an existing cluster created with `rke`? I just downloaded v0.1.3-rc1 and re-ran `rke up`; however, it looks like, for instance, the `/pods` endpoint is still accessible. Thanks!

[2018-03-21 00:08] moelsayed commented on #409
@doubleswirve on which port ?

[2018-03-21 00:11] doubleswirve commented on #409
`10250` -- full request command: `curl --insecure  https://NODE_IP:10250/pods`. Thanks for the quick response!

[2018-03-21 03:32] moelsayed commented on #409
Can you please provide:
- Previous version you used to build the cluster.
- Log from running `rke up -d`
- `docker inspect kubelet` output

[2018-03-21 04:48] moelsayed commented on #412
The docker log drivers don't allow selecting log files location. So, AFIAK that's a dead end. There is a fluentd driver but it would be really complicated to implement.

I am trying to set `--log-dir` on the components to write logs to a specific location, but it's not working. Still looking into it.

So far, I think our best bet is use fluentd to filter logs based on tags maybe to avoid duplicati

[2018-03-21 05:10] cloudnautique commented on #412
@moelsayed, I was thinking that we would do exactly what K8s does and create symlinks. To implement it, just have another container that creates symlinks and points to the logs in `/var/lib/docker`. If you think we can watch all of /var/lib/docker/containers and just filter on labels... I suppose that would work. But I would hate to be tailing the files twice as it is already kind of expensive.

[2018-03-21 05:23] aiwantaozi commented on #412
I agree with Bill, k8s create the symlink for the container it deployed and put the info(like namespace) to the symlink path, it would be better if rke or another component create the symlink with the info we need. If we watch the path /var/lib/docker/containers, we have to parse all the log, talk to docker, filter the rke related log.

[2018-03-21 05:45] doubleswirve commented on #409
Sorry, we kept getting hit w/ the same mining software mentioned [here](https://medium.com/handy-tech/analysis-of-a-kubernetes-hack-backdooring-through-kubelet-823be5c3d67c) so I ended up just removing the cluster and starting from scratch. FWIW, we were using the [v0.1.1 release](https://github.com/rancher/rke/releases/tag/v0.1.1).

On the bright side, w/ a fresh `rke up` w/ v0.1.3-rc1, curl'ing

[2018-03-21 06:23] moelsayed commented on #409
I am sorry to hear that. I would recommend to firewalling all critical kubernetes ports as per the official documentation.

[2018-03-21 21:38] moelsayed commented on #412
@aiwantaozi #425 puts rke component logs in `/var/lib/rancher/rke/log`. I will put a PR later today to add this in rancher master and you can add it to fluentd config.

[2018-03-22 02:20] aiwantaozi commented on #412
Cool, I will add them to fluentd.

[2018-03-22 11:44] rbucker opened #429 "consider docker-machine and ssh/config before going to DNS"
**RKE version:**
rke version v0.1.3-rc1
**Docker version: (`docker version`,`docker info` preferred)**
17.12.0-ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1688.2.0
VERSION_ID=1688.2.0
BUILD_ID=2018-03-02-2254
PRETTY_NAME="Container Linux by CoreOS 1688.2.0 (Rhyolite)"
ANSI_COLOR="38;5;75"
HOME_URL="https://cor

[2018-03-22 16:32] scriptjs commented on #409
Could you please release v0.1.3 officially. Having a critical security fix lingering as a RC without a release is only putting those that are helping you test RKE and Rancher 2 at risk.

[2018-03-23 03:57] HighwayofLife commented on #86
Submitted a PR #433 -- Looking for feedback from you guys. Thanks!

[2018-03-23 14:31] dahendel commented on #429
I like this idea as well. I think we could take it one step further and even generate node configs from the docker-machine config.

Roles could be set via engine labels [worker=true] [etcd=true]
SSHUser,SSHKeys,IP address all could be grabbed as well.

Maybe implement it with a flag under rke config command.

Thoughts?

[2018-03-23 16:51] dahendel commented on #429
A little [POC](https://github.com/dahendel/rke/tree/machine-config).
Run `rke config -m`
[code]
The cluster.yml is the one generated with the command

*Note* I am using a docker-machine cloudstack driver, there are variations between drivers where it stores the IP.

Engine Labels:
- worker=[true|false]
- controlplane=[true|false]
- etcd=[true|false]

If no labels are passed it assumes all roles

[2018-03-23 18:09] #369 closed

[2018-03-23 18:09] #287 closed

[2018-03-23 18:18] galal-hussein opened #434 "Add support for AWS cloud provider"
Adding support for AWS cloud provider can be done by passing cloud provider options to:
- kubelet
- controller-manager
- kubeapi
There is no need for deploying cloud-config file to nodes like other providers

[2018-03-23 19:39] moelsayed commented on #409
@scriptjs We are working on releasing v0.1.3 as soon as possible. In the mean time, the fix is available in master.

[2018-03-23 19:39] #409 closed

[2018-03-23 21:08] moelsayed commented on #404
Tested using current master and confirmed kubernets working across reboots with no issues.

[2018-03-23 21:08] #404 closed

[2018-03-23 22:00] galal-hussein commented on #197
I verified in the latest master that extra binds works as expected

[2018-03-23 22:00] #197 closed

[2018-03-23 22:19] galal-hussein commented on #316
Confirmed on my side because of unattended-upgrades, after removing the package i don't see the problem anymore

[2018-03-23 22:19] #316 closed

[2018-03-23 23:32] moelsayed commented on #390
Tested using the latest master. `--update-only` works as expected but still hits all nodes when pre-pulling images and cleaning up logs.

`--disable-port-check` works as expected.

[2018-03-24 00:44] moelsayed commented on #434
Tested using latest master. I was able to deploy a cluster on existing aws instances configured with a proper IAM role. I was also able to create a simple web deployment with an ELB based service.

[2018-03-24 00:44] #434 closed

[2018-03-24 01:15] galal-hussein commented on #140
Tested with latest master:

My steps:

1- started kubelet with the following extra_binds:
[code]
2- created the longhorn stack
[code]
3- create test volume
[code]

I was able to see the volume created and the pod started successfully.

[2018-03-24 01:15] #140 closed

[2018-03-24 01:21] moelsayed commented on #275
Tested using latest master. Arguments are updated as specified in the cluster.yml file.

@Hefeweizen Please note that with this fix, you need to update the admission controllers list, not append to it.

For example, the default list is:
[code]

To enable `NamespaceAutoProvision`, you will need to configure your cluster to be:
[code]

[2018-03-24 01:21] #275 closed

[2018-03-24 01:28] yasker commented on #140
@galal-hussein Can we add those steps to the doc? If we're not going to enable them by default.

[2018-03-24 01:47] galal-hussein commented on #86
I can confirm with latest master that i extra sans were added to the kubeapi certificate:
[code]

[2018-03-24 01:47] #86 closed

[2018-03-24 01:54] galal-hussein commented on #415
I can test this feature with `cluster_name` option in the cluster config, and i can see the result in kube config, thanks!

[2018-03-24 01:54] #415 closed

[2018-03-24 02:28] moelsayed commented on #398
Confirmed fix with latest master. I was able to create a cluster using a shell with a broken `SSH_AUTH_SOCK`.

[2018-03-24 02:28] #398 closed

[2018-03-24 02:29] moelsayed commented on #390
#437 applies `--update-only` on all cases now.

[2018-03-24 02:29] #390 closed

[2018-03-24 03:33] moelsayed commented on #190
Works as expected with a minor issue if the any of the included manifests after the first one doesn't start with `---`.

#440 should fix this.

[2018-03-24 03:39] #190 closed

[2018-03-25 13:36] kujenga opened #441 "Unable to perform `rke up` with ssh_key_path field"
**RKE version:**

` v0.1.3-rc4`

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

Ubuntu 16.04

17.4.0

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

AWS

**cluster.yml file:**

[code]

**Steps to Reproduce:**

run `rke up --config path/to/cluster.yaml`

**Results:**

The ssh ke

[2018-03-25 16:24] HighwayofLife commented on #102
#431 and #414 both enable cloud provider support now. (verified)

[2018-03-25 16:26] HighwayofLife commented on #103
I'm currently doing this for my own implementation as well, while I can ssh over port 22 into my hosts, I cannot reach them over port 6443, for example, so I tunnel through a jump host using sshuttle. It would be cool to build this functionality into RKE, just pointing out that there is a decent workaround using sshuttle.

[2018-03-25 16:30] HighwayofLife commented on #372
I'll work on creating a PR for this next.

[2018-03-25 17:16] scriptjs commented on #372
@HighwayofLife Cool! I am also willing to help. I've been gradually getting things in line for automating my Rancher 2 dev cluster. One thing that going to be important to a number of organizations doing private cloud and on premise is not duplicating their etcd cluster for multiple kubernetes clusters.

I fall in to this camp. I want to maintain a single etcd and consul cluster for discovery and

[2018-03-26 02:13] HighwayofLife commented on #43
This is still an issue, if arguments or attributes are added to a service, the service will not restart and thus not apply those changes to attributes. We need a way to determine if a service should be restarted with the updates made to a cluster.yml file, or when comparing the ideal state with the current state of that particular service.

[2018-03-26 16:30] galal-hussein commented on #441
@kujenga i am not able to reproduce this problem at all:

my cluster config:
[code]
[code]
[code]

[2018-03-26 17:30] dahendel commented on #429
PR #442

[2018-03-27 14:08] kujenga commented on #441
Interesting, @galal-hussein what version of `rke` are you using?

[2018-03-27 19:27] rossedman commented on #157
@superseb @moelsayed @galal-hussein Is there a way to do this that is recommended? Use case would be I want nodes labeled so my addons can utilize taints and tolerations when standing up clusters.

[2018-03-27 21:15] HighwayofLife opened #447 "Lint fails on cluster/addons - redundant if"
Attempting to build binaries results in the following build error from golint:

[code]

Relevant commit ID: 7875c0996645b1b0f3d5a4d55960068b238e8779

[2018-03-27 21:26] dahendel commented on #447
That should be fixed in [master](https://github.com/rancher/rke/blob/master/cluster/addons.go#L110) already

[2018-03-27 21:35] HighwayofLife commented on #447
@dahendel The problem exists in master.
I built off of master ( 19eb46332ef0f960a78a9fec42924b992284f3f9 )

[2018-03-27 21:53] #447 closed

[2018-03-28 12:32] mateuszdrab commented on #140
Is there a way I can do this bind mount on v1.6.14?
I installed a fresh install of docker 17.03 and rancher v1.6.14 and I can't get my head round this - wanted to try Longhorn as so far I can't find a reliable storage solution for docker.

[2018-03-28 18:02] aemneina opened #450 "RFE - Ease certificate rotation in kubernetes"
Add the ability to rotate certificates out within kubernetes:
- user should be able to rotate the certificates using rke command `rke cert rotate` or similar

- user should be able to provide certificates as an option - Removed this request to a different issue: https://github.com/rancher/rke/issues/1037

[2018-03-29 11:30] moelsayed commented on #102
Tested and confirmed working in #434

[2018-03-29 11:30] #102 closed

[2018-03-29 15:27] moelsayed commented on #363
Tested using latest master:

[code]
Results:
[code]

[2018-03-29 15:27] #363 closed

[2018-03-29 19:25] moelsayed commented on #354
Tested using latest master. Test case passed successfully.

[2018-03-29 19:25] #354 closed

[2018-03-29 23:40] rossedman opened #454 "Azure Cloud Provider Writing Empty File On System"
**RKE version:** v0.1.5-rc1

**Docker version: (`docker version`,`docker info` preferred)** 17.09.1-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** 4.14.19-coreos

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** Azure

**cluster.yml file:**

[code]

**Steps to Reproduce:**

Run RKE against an Azure cluster on CoreOS. The file is output to the syste

[2018-03-29 23:40] rossedman commented on #454
Referencing PR: https://github.com/rancher/rke/pull/449
Tagging @galal-hussein

[2018-03-30 14:08] superseb commented on #416
Let us know if you need help on this.

[2018-03-30 14:08] #416 closed

[2018-03-30 15:07] RhubarbeM opened #456 "Backup etcd"
Set up a rke cluster in no time, simple, fast, just awesome work guys.

What and how should all this be backed up?

Thanks

[2018-03-30 15:09] HighwayofLife opened #457 "Cannot connect to the Docker daemon on what node?"
**RKE version:**
rke version 192182c (master)

**Docker version: (`docker version`,`docker info` preferred)**
1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
4.14.30-coreos

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Azure

**Steps to Reproduce:**
From a running cluster of 3 controlplane/etcd, and 3 worker nodes, re-provisioned and reboote

[2018-03-30 15:30] HighwayofLife commented on #339
For a test case, I'm getting this error after updating the nodes on my cluster. (re-provisioning in place)

[2018-03-30 16:53] kyamazawa opened #459 "typo bind-propagation"
https://github.com/rancher/rke/blob/228423358a575d0b99c23aefeaa98fc666f5f06c/cluster/plan.go#L281

<img width="316" alt="2018-03-31 0 55 57" src="https://user-images.githubusercontent.com/26079331/38145823-33e8199e-3486-11e8-9e92-4e122c02b256.png">

[2018-03-30 17:05] vincent99 commented on #459
That's not a typo.  The mount propagation options are `private`, `shared`, and `slave`, and the `r` prefix means recursive.

[2018-03-30 17:05] #459 closed

[2018-03-30 17:14] kyamazawa commented on #459
Sorry, but I think “/dev:/host/dev:rprivate” is right...

[2018-03-30 17:36] JonnyBGod commented on #123
I am also getting this with:

- Rancher 2.0 alpha 24
- Packer server
- Kubernetes v1.9.5-rancher1-1
- Docker 17.03

[code]

[2018-03-30 17:56] moelsayed commented on #459
@kyamazawa You are right, thank you for reporting this!

[2018-03-30 21:38] leodotcloud opened #462 "rke incorrectly prints the image pull is successful, when it's not"
rancher/rancher: c7b18f88

[code]

This image doesn't exist on node
and adding the host goes into retry

[code]

[2018-03-30 23:57] moelsayed commented on #418
Unfortunately, at this point we will not handle backwards compatibility for similar changes, since we are still in development. Once we reach GA, any similar changes, if any, will be handled gracefully.

[2018-03-31 00:01] #379 closed

[2018-03-31 02:19] HighwayofLife opened #464 "Azure Cloud Provider Cloud Config Not Passed Through"
The [Azure Cloud Config](https://github.com/rancher/types/commit/9d34b8b8a4b16bfada13370ed52874924293d7af) is defined in the types list, which is fine until that list changes on the Kubernetes side, which would require maintenance to follow the updates. What if, instead, we just allow a pass through of the parameters to the json file rather than defining a static list?

[2018-03-31 02:20] HighwayofLife commented on #457
Fixed in #460

[2018-03-31 02:20] #457 closed

[2018-03-31 02:31] vincent99 commented on #464
Everything requires maintenance.  Static typing allows useful options to show up in the CLI/API/UI and be validated instead of map[things]stuffs.

[2018-03-31 06:19] HighwayofLife commented on #464
We allow pass through currently for most parameters in services, we don't define those parameters. Or perhaps we should add the ability to define anything extra to add to the cloud config.

[2018-03-31 12:57] rossedman commented on #454
@HighwayofLife it didn't work for me but can try again.

[2018-04-02 15:30] HighwayofLife opened #468 "No Peer Review on some commits?"
There are some commits being committed to master without going through peer review, this is a little bit concerning for folks who want to use RKE to stand up Kubernetes production environments. Shouldn't all commits, even from owners, go through a peer review process to ensure quality and stability of the commits before being merged to master?

[2018-04-02 16:51] galal-hussein commented on #454
@rossedman Can you post the logs of kubelet to see what went wrong, thanks.

[2018-04-02 18:02] will-chan commented on #468
Hi @HighwayofLife, thanks for your interest in using RKE for your deployments and I definitely understand your concerns about the commits.  Although it may look like we don't do peer reviews at times, I can assure you we are definitely doing them.  It may come in the form of another engineer just doing your traditional "look-at-your-monitor-review" or the"LGTM" comments to them that happens in our

[2018-04-02 18:13] HighwayofLife commented on #468
Thanks for the explanation. We've been testing RKE since December and plan to deploy our production environment around the end of April as well.

[2018-04-02 18:13] #468 closed

[2018-04-03 03:25] xewn opened #473 "ssh: unsupported key type "PRIVATE KEY""
**RKE version:v0.1.5-rc1**

**Docker version: 1.13.1**

**centos7**

**hyperV**

**cluster.yml file:**

**Steps to Reproduce:**

**Results:**
 Failed to set up SSH tunneling for host [192.168.0.212]: Can't retrieve Docker Info: error during connect: Get http://%2Fvar%2Frun%2Fdocker.sock/v1.24/info: Failed to dial ssh using address [192.168.0.212:22]: Error configuring SSH: ssh: unsupported key typ

[2018-04-03 15:09] HighwayofLife commented on #43
@galal-hussein was this solved/fixed in 36e37d58f303e8fb88c2d5265b4c6e30657a2e76 ?

[2018-04-03 15:17] rossedman commented on #454
@galal-hussein @HighwayofLife Still getting multiple failures. The only log entries without flag dumps is this:

[code]

This makes sense if the `/etc/kubernetes/cloud-config.json` file is empty though, which it is.

[2018-04-03 15:20] rossedman commented on #454
Here is the full rke config, I redacted some things just like labels and secrets:

[code]

[2018-04-03 19:10] rossedman commented on #454
Pretty confused. This is getting written to file system now. I'm not sure what changed. Having different errors. Will close as I determine what happened. I did a `rke remove` before posting this issue and before everytime I've attempted this.

[2018-04-03 19:12] rossedman commented on #454
Alright, so as strange as this seems I'm getting very inconsistent results. Sometimes it gets written to some nodes, sometimes it doesnt get written, sometimes it gets written with line breaks between every like the cloud-config.json

[2018-04-03 21:52] rossedman commented on #454
One more addition to this. Now I am getting even more granular misses. Some of the fields will be empty. Just had a run where `subnetName`, `vnetName` and `vnetResourceGroup` weren't filled in.

[2018-04-03 22:52] mimizone commented on #310
@MayankTahil did you ever find a work around?

[2018-04-03 23:01] galal-hussein commented on #288
@moelsayed i am unable to reproduce the problem with latest rke, my steps are:

1- generate a self signed certificate:
[code]
2- Add common name `etcd.rancher.com`
3- start etcd with client auth and https:
[code]
4- add `etcd.rancher.com` on the /etc/hosts of all other nodes that kube-api will be deployed on (alternative can be using IP SAN or valid fqdn for etcd)

5- start rke with this config:
[

[2018-04-03 23:58] MayankTahil commented on #310
Unfortunately I did not. I really wish I got this working in my deployment.

On Tue, Apr 3, 2018, 3:52 PM Jeremy Huylebroeck <notifications@github.com>
wrote:

[2018-04-04 00:28] dahendel commented on #310
Have you triend using the extra_binds option to mount the volumeplugin volume? That might fix it.

[2018-04-04 02:18] mimizone commented on #310
I will try later this week adding that option. Do I only need to add it in the cluster.yml file, call `rke up` And that would update the kubelets and restart them?

[2018-04-04 03:49] dahendel commented on #310
I personally have not tested that functionality. I would think that it would, but if it does not I would try it on a fresh cluster or try locally with `rke up --local` to make sure it works. If you do an rke remove before you try you will need to do cleanup some folders as mentioned in the README and reboot the servers to clear the network intefaces.

[2018-04-05 13:55] nmlabs opened #482 "Renew an expired certificate"
Hi,

The question is in the title : how do I renew expired certificates generated during rke up ?
I prefer ask the question now, rather than in one year when they will expire. :)

All the best

EDIT:

I propose:
[code]

[2018-04-05 15:37] saiJPlus opened #483 "i had I the similar problem,"
**RKE version:**
rke version v0.1.5-rc2

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   78d1802
 Built:        Tue Jan 10 20:20:01 2017
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   78d1802
 Built:        Tue Jan 10 20:20:01 2

[2018-04-05 19:23] galal-hussein opened #484 "Customize /etc/kubernetes path"
currently /etc/kubernetes is the default path for `ssl`, `cloud-config` and `tmp certs`, this path is hardcoded as a volume for all containers components and for certificate deployment, this path should be customized and be provided as an option to the cluster config

[2018-04-06 20:04] frankhinek opened #485 "Only Able to Reach NodePort Services Externally On Node Pod Schedules On"
I've deployed a new K8s cluster using RKE and Calico networking.  I've discovered that I am only able to access type NodePort services on the node the pod is scheduled to.  If I try access the service from any other node it fails.  I've confirmed that I am able to access the service while SSH'd to any one of the nodes, so the problem is only exhibited when attempting to access services from outsid

[2018-04-06 20:47] frankhinek commented on #485
I've done a bit more digging, and as best I can tell, the culprit is Docker's policy of setting the `FORWARD` chain policy to `DROP` as a fix for this security vulnerability: https://github.com/moby/moby/issues/14041

I've confirmed that each time I attempt `curl 10.224.88.85:32745` that the `policy DROP` packet counter increments:
[code]

[2018-04-06 20:49] frankhinek commented on #485
I found an issue opened just 2 days ago in Project Calico that confirms this is a known problem: https://github.com/projectcalico/calico/issues/1840

This is an upstream bug in Kubernetes: https://github.com/kubernetes/kubernetes/issues/59656

Fix waiting to be merged: https://github.com/kubernetes/kubernetes/pull/62007

[2018-04-06 22:29] moelsayed opened #486 "Support different options for different kubernetes versions"
Currently, we have a single set of service arguments for all supported kubernetes versions. This can be problematic with changes across kubernetes releases.

We need to be able to specify a set of service arguments based on the selected kubernetes version.

[2018-04-09 01:26] zvercodebender commented on #123
I'm getting this in Rancher 2.0 Beta 1, Docker 17.03.2-ce

[2018-04-09 11:49] lumiere000 commented on #483
try using etcd:v3.2 instead of etcd:latest, I also got this problem today, and this fixed my problem

services:
  etcd:
    image: quay.io/coreos/etcd:v3.2

[2018-04-09 13:12] superseb commented on #483
Supported etcd version for 1.8 is `v3.0.17`. Can you try that and share `docker logs --tail=all etcd` and `docker logs --tail=all kube-apiserver`?

[2018-04-09 15:24] saiJPlus commented on #483
no problem,this is my steps:https://blog.csdn.net/yalishadaa/article/details/79833559

[2018-04-09 15:28] rossedman opened #489 "Docker Daemon: Invalid Mount Config"
**RKE version:** 1.5

**Docker version: (`docker version`,`docker info` preferred)** 17.09.1-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** CoreOS

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** Azure

**cluster.yml file:**
[code]

**Steps to Reproduce:**

Ran RKE remove and then reprovisioned. This error occurs and cannot be resolved. This was o

[2018-04-09 15:39] superseb commented on #489
Can you share `docker info` from that host?

[2018-04-09 15:59] rossedman commented on #489
@superseb I'm sorry I just destroyed the host. I am not sure if this is related to kernel tuning or something else as well. I am currently starting from scratch to see if I can recreate. There are a couple of problems I mentioned here, but I am not sure how they are related yet. Will update if I can trace down and run `docker info` as I poke around.

[2018-04-09 16:00] HighwayofLife commented on #489
I can tell you this is because CoreOS stable channel [just updated Docker from 17.09.1 to 17.12.1](https://coreos.com/releases/#stable) on March 27th with release 1688.4.0. This changed the requirements for mounts, and RKE mounts the docker socket as `rprivate`.

You can find information about this change in Docker here: https://github.com/moby/moby/commit/589a0afa8cbe39b6512662fd1705873e2d236dd0#

[2018-04-09 16:02] rossedman commented on #489
@HighwayofLife had a lot of problems with that recent release. Am currently running `1632.3.0`. Maybe that is part of the problem though, maybe my variable for version didn't catch in underlying IaaS scripts. We had lots of boot up problems on Azure with new stable release though.

[2018-04-09 16:04] HighwayofLife commented on #483
For those finding this issue, you can check current running docker containers on your host that is failing the health check. Sometimes this can occur because the port checker container didn't get removed from the host, and it's consuming the port for the kubeapi server, which keeps the kubeapi server container from starting.

[2018-04-09 16:10] HighwayofLife commented on #489
Yes, for now, I would use the ignition file to force Docker 1.12. Partially because keeping up with the stable channel means that reprovisioning a CoreOS node could upgrade Docker right out from under you, which could cause other problems.

Here's a snippet of my Terraform file:
[code]

[2018-04-09 16:12] rossedman commented on #489
@HighwayofLife yep this is literally what I just wrote. thanks for the input, this helps a lot. will make troubleshooting much easier if version is supported by RKE. I will try with this and see if I get better results.

[2018-04-09 19:31] gregath opened #491 "thinpool not monitored for image garbage collection"
**RKE version:**

v0.1.5

**Docker version: (`docker version`,`docker info` preferred)**

Client:
 Version:         1.12.6
 API version:     1.24
 Package version: docker-1.12.6-71.git3e8e77d.el7.x86_64
 Go version:      go1.8.3
 Git commit:      3e8e77d/1.12.6
 Built:           Wed Dec 13 12:18:58 2017
 OS/Arch:         linux/amd64

Server:
 Version:         1.12.6
 API version:     1.24
 Package

[2018-04-09 21:10] rossedman commented on #454
Still trying to track this down. every now and then the stars will align and the file will write the servers and when it does I get this error: https://github.com/kubernetes/kubeadm/issues/484

I tried to use kube 1.9 but was never able to get the files to write again.

[2018-04-11 11:16] nseyvet opened #496 "Is ingress.provider mandatory?"
**RKE version:**
v0.1.5
**Docker version: (`docker version`,`docker info` preferred)**
Containers: 16
 Running: 3
 Paused: 0
 Stopped: 13
Images: 12
Server Version: 17.03.2-ce
Storage Driver: aufs
 Root Dir: /var/lib/docker/aufs
 Backing Filesystem: extfs
 Dirs: 95
 Dirperm1 Supported: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null

[2018-04-11 18:07] moelsayed commented on #486
Fixes https://github.com/rancher/rancher/issues/10354 for 2.0

[2018-04-12 01:45] frankhinek opened #498 "Directory /sys/fs/cgroup/cpuacct,cpu missing on RHEL 7.3 with Kubernetes v1.9.5-rancher1-{1,2}"
**NOTE**: This issue was not resolved by the latest `rancher/k8s:v1.9.5-rancher2` image.

#### **RKE version:** 0.1.5

#### **Docker version:**
<details>
<summary>docker version</summary>

[code]
</details>
<details>
<summary>docker info</summary>

[code]
</details>

#### **Operating system and kernel:**

<details>
<summary>cat /etc/os-release</summary>

[code]
</details>

<details>
<summary>uname

[2018-04-12 07:39] superseb commented on #498
Fix also needs to be applied here: https://github.com/rancher/rke-service-sidekick/blob/master/package/entrypoint.sh

[2018-04-12 14:17] superseb commented on #313
@adalga Can you try to reproduce outside of your machine/VMWare Workstation? I have not seen a single report around this which makes me believe the host is overloaded/has bad memory or some other configuration causing this.

[2018-04-12 14:18] superseb commented on #396
Please report back with the needed info so we can investigate.

[2018-04-12 14:18] #396 closed

[2018-04-12 16:59] adalga commented on #313
Actually I gave it up and started to work on Ubuntu.

[2018-04-12 18:18] techninja1008 opened #499 "Allow some method for custom PKI"
In some instances, it is very useful to have control over the certificates and keys used to set up a cluster. To allow for this options could be added to the cluster.yml file to either specify the certificates and keys to be used for particular things, or, more powerfully, specify a path to some sort of arbitrary executable which, when passed a specific set of parameters, outputs either an appropr

[2018-04-13 10:35] lurch42 opened #500 "kubelet cannot mount local volume"
**RKE version:**
`v0.1.5`

**Docker version: (`docker version`,`docker info` preferred)**
`docker info`:
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
`uname -r`: `4.9.80-rancher`

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
vm-ware esxi

**cluster.yml file:**
[code]

**Steps to Reproduce:**
- bring kubernetes cluster up (`rke up -config c

[2018-04-14 00:46] yasker opened #502 "Enable Flexvolume support by adding extra bindings by default"
I don't think we should disable the functionality of Flexvolume by default for RKE.

We should add those two extra bindings to the default configuration, and make sure the cluster provisioned by Rancher works with Flexvolume by default.

https://github.com/rancher/rke/issues/140#issuecomment-375835796

[2018-04-14 00:48] ibuildthecloud commented on #500
Our kubelet runs in a container so it doesn't see all host paths by default.  You need to bind in paths you might use.  This is done as follows in the cluster.yml

[code]

Make sure you add rshared.  Hopefully that works for you.

[2018-04-14 01:36] yasker commented on #502
I found dev bind-mount has already been covered https://github.com/rancher/rke/blob/a4aa5c81928363ed4cba6e36b7dcccebb6fa5f06/cluster/plan.go#L327

[2018-04-14 01:51] yasker commented on #502
@galal-hussein confirmed that `/var/lib/kubelet` has also been bind-mounted into the kubelet, so it should work now.

[2018-04-14 01:51] #502 closed

[2018-04-14 11:30] lurch42 commented on #500
Yes it works. Thank you!

[2018-04-14 11:30] #500 closed

[2018-04-14 13:24] gaui commented on #123
I'm getting this in Rancher 2.0.0-beta3, Docker 17.03.2-ce

[2018-04-16 13:44] superseb opened #507 "port-checker exceeds Docker dialer timeout causing unclear error messages"
* Set up multiple nodes, blocking network traffic on the ports needed.
* Run `rke up`
* Log shows

[code]

This is because the `nc` command to check ports does not have a timeout, exceeding the 30 second timeout on the Docker dialer.

[2018-04-16 19:23] rossedman opened #508 "Rancher Server Cannot Access Through Load Balancer"
**RKE version:** v0.1.5

**Docker version: (`docker version`,`docker info` preferred)** 1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** 4.14.19-coreos

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** Azure

**cluster.yml file:**

[code]

**Steps to Reproduce:**

[code]

**Results:**

Cannot contact using Rancher Server provided credentials. Can

[2018-04-16 21:32] HighwayofLife commented on #508
I don't know the *right* answer yet as I don't go through Rancher Server, but looking up the kubeapi arguments, this parameter stood out:

* `--advertise-address ip`
  * The IP address on which to advertise the apiserver to members of the cluster. This address must be reachable by the rest of the cluster. If blank, the `--bind-address` will be used. If `--bind-address` is unspecified, the host's d

[2018-04-16 22:42] moelsayed opened #509 "Consolidate system images into a single tools image"
We need to consolidate cert-deployer, nginx, sidekick, and alpine into a single image and call functions using docker cmd instead of using entrypoints for each one.

[2018-04-16 22:46] moelsayed opened #510 "Kubernetes image should take precedence over cluster kubernetes version"
Currently setting a specific kubernetes version will override explicitly defined kubernetes system image. We need to make systems images override version definition.

[2018-04-16 22:48] moelsayed opened #511 "Kubernetes service options map needs to use major version."
Currently was use full kubernetes version tag to select version specific service options. We need to use major version only to simplify using other images.

[2018-04-16 22:57] moelsayed opened #512 "Start using hyperkube images"

[2018-04-17 15:02] rossedman commented on #508
@HighwayofLife Just to update on this, this did not appear to work. Will take it to Rancher Server since its not a problem with RKE. Also tried `external-hostname` argument as well with load balancer DNS entry.

[2018-04-17 15:02] #508 closed

[2018-04-18 00:18] moelsayed opened #515 "Set docker container labels for rke componentes"
We need to set a `container_name` label for rke components to simplify integration with monitoring and log aggregation systems.

[2018-04-18 02:33] heww commented on #512
please using hyperkube images from dockerhub (not from gcr.io) for the default, thanks!

[2018-04-18 15:16] Luke035 opened #521 "Can't access DASHBOARD through API SERVER"
**RKE version:**
0.1.5

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_

[2018-04-18 21:34] gtirloni commented on #303
Sorry for the delay. I got sidetracked by other projects.

Tested again with rke 0.1.5, CentOS 7.4, Rancher 2.0.0-beta3, Kubernetes 1.8.10-rancher1 and Docker 17.03.2-ce. Still getting the same error:

[code]
Here are the logs:

[code]

[code]

[code]

[code]

[code]

[code]

[2018-04-19 04:59] micw commented on #409
How about the other 2 ports (10255, 4194)? For Rancher 1.6 there's the issue https://github.com/rancher/rancher/issues/12142 - Should we create a similar one for RKE?

[2018-04-19 18:12] deniseschannon commented on #512
@heww They are in our rancher repo in dockerhub.

[2018-04-19 20:43] deniseschannon commented on #205
k8s 1.10 is the default with Rancher CLI

[2018-04-20 05:33] bilby91 opened #527 "RBAC authorization issue (403)"
**RKE version: rke version v0.1.6-rc1**

**Docker version: Docker version 17.03.2-ce, build f5ec1e2**

**Operating system and kernel: 16.04.4 LTS (Xenial Xerus), 4.13.0-1012-azure**

**Type/provider of hosts: Azure**

**cluster.yml file:**
[code]

**Steps to Reproduce:**
Run `rke up`

**Results:**
[code]

[2018-04-20 06:56] heww commented on #527
same bug with the rke build from master

[2018-04-20 06:57] heww commented on #527
[code]

[2018-04-20 06:58] heww commented on #527
but, run `rke up` again, it success.

[2018-04-20 12:08] moelsayed commented on #462
Fixed in https://github.com/rancher/rke/pull/519

[2018-04-20 12:39] Luke035 commented on #521
I tried to install the key in my browser, without success.
Anyway I managed to find a solution, I posted it on stackoverflow https://stackoverflow.com/questions/49918894/kubernetes-client-certificate-rke-managed

[2018-04-20 14:04] HighwayofLife commented on #521
Thanks for sharing your solution!

[2018-04-20 14:06] #521 closed

[2018-04-20 14:08] superseb commented on #527
@heww If it succeeds the second time, looks like something is delayed. What instance specs are you running this one?

@bilby91 `docker logs etcd` and `docker logs kube-apiserver` can help here

[2018-04-20 14:47] bilby91 commented on #527
@superseb Definitely not a timing issue in my case, tried multiple times and same output.

`etcd`
[code]

[code]

It seems to be issues on `etcd` and `apiserver` then ?

[2018-04-20 14:54] superseb commented on #527
I would say this:
[code]

Question, what is wrong on the machine keeping that port? Can you run:

```netstat -plant | grep 2380``` on host `40.121.217.69`

[2018-04-20 14:57] bilby91 commented on #527
That is the strange thing, this box was created for this purpose so there is nothing running in 2380, `netstat -plant | grep 2380` returns nothing.

Any ideas of what could be the issue ?

[2018-04-20 15:13] superseb opened #528 "Fix bash specific lines in entrypoint for hyperkube images"
**RKE version:**
v0.1.6-rc1

hyperkube uses Debian as base, which symlinks `/bin/bash` to `/bin/sh`, breaking our bashisms in `/opt/rke/entrypoint.sh`

[2018-04-20 16:44] superseb commented on #527
Can you share `docker exec etcd ifconfig` and `docker exec etcd cat /etc/hosts` as well?

[2018-04-20 16:47] bilby91 commented on #527
I can't run `exec` because the container is always restarting. Not sure if this useful:

[code]

[2018-04-20 16:56] rossedman opened #529 "/old-kube-apiserver and /old-kube-proxy not cleaned up properly"
**RKE version:** 1.5

**Docker version: (`docker version`,`docker info` preferred)** 1.12.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** 4.14.19-coreos

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** Azure

**cluster.yml file:**

**Steps to Reproduce:**

- Deploy cluster with `v1.8.7-rancher1-1`
- Upgrade cluster to `v1.8.9-rancher1-1`
- Cluster u

[2018-04-20 17:06] rossedman commented on #529
Wanted to add to this that after I removed these failed containers I got 5 successful upgrades in a row. So I think it was caused from this.

[2018-04-20 17:13] jhu-arod commented on #123
+1 on Rancher 2.0.0-beta3, Docker 1.13.1

[2018-04-20 17:17] superseb commented on #527
Ok got it, can you run `docker run --net=host rancher/coreos-etcd:v3.0.17 ifconfig`

[2018-04-20 17:18] bilby91 commented on #527
Sure,

[code]

[2018-04-20 17:27] superseb commented on #527
Yep, it's a regression from https://github.com/rancher/rke/pull/505 and is being fixed in https://github.com/rancher/rke/pull/526 (https://github.com/rancher/rke/pull/526/commits/0270f266c212b4c4449636fb9e9a19b2fe90b9cb).

[2018-04-20 17:28] bilby91 commented on #527
@superseb Awesome! I just subscribed to the issues and will waiting for a new release then!

[2018-04-20 17:37] HighwayofLife commented on #454
I have confirmed that this is an issue in the latest master. The log indicates that the cloud config is being deployed to the node, but the file is empty. I'm unclear why and am working on debugging it.

I’ve confirmed that `RKE_CLOUD_CONFIG={<cloud-config-json>}` is populated in `doDeployConfigFile`, and the container claims that it’s successfully started and then removed…

[code]

However, the p

[2018-04-20 20:30] bmdepesa commented on #512
Validated with rke version v0.1.6-rc1.

Showing `rancher/hyperkube:v1.8.10`.

[2018-04-20 20:30] #512 closed

[2018-04-20 20:34] bmdepesa commented on #509
Validated against rke version v0.1.6-rc1.

Showing `rancher/rke-tools:v0.1.1`

[2018-04-20 20:34] #509 closed

[2018-04-20 22:42] deniseschannon commented on #205
k8s 1.10 is the default with RKE CLI

[2018-04-20 22:59] deniseschannon commented on #527
@bilby91 v0.1.6-rc2 was just released, which shoudl have the fix. Can you test it out?

[2018-04-20 22:59] bilby91 commented on #527
@deniseschannon Sure, let me try it

[2018-04-20 23:24] bilby91 commented on #527
@deniseschannon Now I'm getting this following error in the `kube-apiserver`

[code]

The output from `rke` is:

[code]

[2018-04-20 23:32] moelsayed commented on #527
@bilby91 Thank you for testing. Can you please share your cluster.yml file and the debug log ?

[2018-04-20 23:40] bilby91 commented on #527
@moelsayed cluster.yml is exactly the same as the one in the description expect for the name and path of the ssh key.

Based on what I found, the problem is that `kub-apiserver` is not able to start with `Error: unknown flag: --tls-cipher-suites` error.

Debug output:

[code]

[2018-04-21 00:07] bilby91 commented on #527
@moelsayed I think the issue is that I'm using `rancher/hyperkub:v1.8.10` and based on what I found `tls-cipher-suites` was introduced in version `v1.10`.

I updated the image and got a new error:

[code]

Second time I run it finished successfully. Any ideas on the previous error ? timing ?

I would be happy to collaborate on getting the code updated so that it uses the correct version :)

[2018-04-21 00:07] moelsayed commented on #527
That's very weird. Are those fresh hosts or this is a per-existing setup?

`--tls-cipher-suites` is a new option that's added in Kubernetes v1.10. We implemented a feature in #486 and #511 to select service options based on k8s version. You are using image version `v1.8.10`, which shouldn't get that option.

I have used the same image to test now and the deployment completed successfully.

[2018-04-21 00:08] moelsayed commented on #527
@bilby91 which job is that ? can you grab a few more log lines before this.

[2018-04-21 00:09] bilby91 commented on #527
@moelsayed It was a previous setup but I run `rke remove` before running.

The config file was generated with yesterday's release, might be that ?

This are some extra line from previous log:

[code]

[2018-04-21 22:16] galal-hussein commented on #288
@soumyalj can you share your cluster.yml file and your setup details

[2018-04-22 14:57] moelsayed commented on #529
I can't reproduce the problem with v0.1.5. What was the version use for the initial deployment being upgraded here ?

[2018-04-23 14:19] frankhinek opened #538 "Kubelet Hyperkube image missing mkfs.xfs"
#### **RKE version:** 0.1.5

#### **Docker version:**
<details>
<summary>docker version</summary>

[code]
</details>
<details>
<summary>docker info</summary>

[code]
</details>

#### **Operating system and kernel:**

<details>
<summary>cat /etc/os-release</summary>

[code]
</details>

<details>
<summary>uname -r</summary>

[code]
</details>

#### **Type/provider of hosts:**
Virtual machines runnin

[2018-04-23 14:31] rossedman commented on #529
@moelsayed It was all 1.5 for everything. Stood up and tore down the cluster all in the same sitting.

[2018-04-23 14:31] superseb commented on #538
Should be present in the `hyperkube:v1.10.1`, can you try 0.1.6-rc2 and that version?

[2018-04-23 16:51] adingilloRancher commented on #205
Master 4/23/18
Verified 1.10.1 is default version

[2018-04-23 16:51] #205 closed

[2018-04-23 18:45] frankhinek commented on #538
@superseb I have not yet tested with any v0.1.6 release candidates yet.  Do I need to specify a particular image in my `cluster.yml` when testing with v0.1.6-rc2?

[2018-04-23 19:53] galal-hussein commented on #288
after debugging with @soumyalj it turned out that the above error was because the wrong format was used in the cluster.yml, after using the right certificate external etcd worked okay, reassigning the issue to soumya for further testing

[2018-04-24 04:57] soumyalj commented on #288
Created a cluster with external etcd using the steps above.
./rke up --config cluster.yml

Few points  to remember:
1. If self signed certs are used, ca_cert should be same as the cert
2. For every new cluster created, we need to ensure that old Kubernetes data stored in etcd is cleaned up by:
    a. use different etcd path prefix in the cluster yml
    b. Create fresh data.
3. Create pods in the

[2018-04-24 04:57] #288 closed

[2018-04-24 09:01] joesonw opened #541 "Path /var/lib/kubelet is mounted on / but it is not a shared mount"
**RKE version:**
  v0.1.6-rc2
**Docker version: (`docker version`,`docker info` preferred)**
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
 * Server:
[code]
 * Client:
macOS Sierra 10.12.6

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Aliyun KVM
**cluster.yml file:**
[code]
**Steps to Reproduce:**
spin up a few machiens

set them up with fo

[2018-04-24 09:11] Anders-Falk commented on #123
+1 Rancher 2.0.0-beta3, Docker 17.03.2

[2018-04-24 09:24] joesonw commented on #541
`Path /var/lib/rancher is mounted on / but it is not a shared mount` popped up randomly during `rke up` tries

[2018-04-24 09:43] superseb commented on #541
Can you try with the steps here: https://gist.github.com/superseb/59da2bf0c4afdf8c86aa71534b017e6b

Just to make sure, and what exact version of RHEL/CentOS are you on? `cat /etc/redhat-release`

[2018-04-24 09:56] superseb commented on #538
`rke config` will get you defaults that you can use to test

[2018-04-24 10:04] joesonw commented on #541
@superseb
well
[code]
can't be applied because of partial context to unlabeled file.

and still yield the error
[code]

[2018-04-24 12:48] lm1427934400 commented on #527
I got the same problem ,

FATA[0286] [controlPlane] Failed to bring up Control Plane: Failed to verify healthcheck: Service [kube-apiserver] is not healthy on host [ip-192-168-71-139.hadoop.com.cn]. Response code: [403], response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"forbidden: User \"system:anonymous\" cannot get path \"/healthz\"","reason":"Forbidde

[2018-04-24 14:11] #541 closed

[2018-04-24 16:08] frankhinek commented on #538
@superseb I just built a new cluster using RKE v0.1.6-rc2.  The `mkfs.xfs` binary is still missing on the kubelet:
[code]

The `mkfs.ext3`, `mkfs.ext4`, etc. binaries are installed by the `e2fsprogs` package which is installed in the Ubuntu-based container image:
[code]
[code]

However, the `mkfs.xfs` binary is missing because the `xfsprogs` package is **_not_** installed.
[code]

[2018-04-24 18:02] soumyalj commented on #507
Tested with rke version v0.1.6-rc1. Created a GCE host with ports 2379 and 2380 blocked.
Running rke up command displayed a relevant error as below:
[code]

[2018-04-24 18:02] #507 closed

[2018-04-25 02:14] joesonw opened #546 "cluster certificate not generated by default?"
**RKE version:**
v0.1.6-rc2
**Docker version: (`docker version`,`docker info` preferred)**
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
`KVM`
**cluster.yml file:**
[code]
**Steps to Reproduce:**
`rke up`
**Results:**
`Success`, But when I was installing istio with automatic sidecar inject

[2018-04-25 08:46] superseb commented on #538
Has been added to 1.9:

[code]

Let me know if this still causes issues.

[2018-04-25 08:46] #538 closed

[2018-04-26 09:54] Luke035 opened #551 "Reuse generated cluster certificate"
Hi all,

currently I'm using `rke up` to deploy a k8s cluster and `rke remove` to delete it. When I need to restart the cluster (usually for implement something new in config file), I always need to re-generate p12 certificate for my client browser and re-install it on my pc.
Is there any way to specify how to reuse already generated certificates?
Thanks in advance

**RKE version:**
v0.15
**Docker

[2018-04-26 10:15] eldada commented on #235
So how can I spin up a cluster with `authorization.mode: none`? A minimal one...

[2018-04-26 19:26] galal-hussein commented on #527
@bilby91 can you use the latest rke and check the following logs if you got the same problem:
[code]

[2018-04-26 19:30] galal-hussein commented on #454
@HighwayofLife can you post your cluster.yml file, it maybe a problem with the cloud config, also can you get the logs of kubelet container

[2018-04-26 19:33] HighwayofLife commented on #454
This was fixed in #533 for me.

[2018-04-26 19:46] galal-hussein commented on #454
This also fixed here https://github.com/rancher/rke-tools/blob/master/cloud-provider.sh#L32-L33
@rossedman please reopen the issue if you can still reproduce it, i can't reproduce with the latest rc

[2018-04-26 19:46] #454 closed

[2018-04-26 19:54] galal-hussein commented on #546
@joesonw you can pass any extra arguments to any service using extra_args, for example:
[code]

[2018-04-26 20:26] ericlanderson opened #552 "kubectl exec fails with "error: unable to upgrade connection: Unauthorized""
**RKE version:**
v0.1.6-rc2 and v0.1.6-rc3

**Docker version: (`docker version`,`docker info` preferred)**
17.12.1-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-metal

**cluster.yml file:**
[code]
**Steps to Reproduce:**
[code]
**Results:**

This used to work for me on this cluster. This

[2018-04-26 20:29] #362 closed

[2018-04-26 20:34] galal-hussein commented on #464
@HighwayofLife actually that's available now for users to add different parameters for the cloud config, the static types are not being directly used in rke cli you can still pass a map of strings to config directly:
[code]
This will actually write a cloud-config.json:
[code]

[2018-04-26 20:46] ericlanderson commented on #552
For what it's worth, I just verified on a brand new cluster recently built using v0.1.6-rc2 and running K8s 1.10.1 and "kube exec" works fine for that cluster.

[2018-04-26 21:05] rossedman commented on #454
@HighwayofLife @galal-hussein Thanks! I just read the PR too. Super cool. Getting more familiar with the codebase, I'm guessing I could've fixed this 🥁

[2018-04-26 21:07] rossedman commented on #529
@moelsayed do you have a way to fail a cluster upgrade? maybe you can recreate by bailing half way through. I can try to find some steps to replicate better.

[2018-04-26 21:07] HighwayofLife commented on #464
Cool! Thanks for the update! -- The reason for this is that you can add some additional flags to be used by other resources.

[2018-04-26 21:07] #464 closed

[2018-04-26 21:54] rossedman commented on #529
@moelsayed yeah I think the concerning part is if it does fail, and you try to upgrade after that failures are caused even if you destroy the cluster because those containers hang around. so you have to manually SSH into every node and remove them yourself.

[2018-04-27 02:04] ericlanderson commented on #552
Additional follow up, I restarted the kube-apiserver and it is working now.

[2018-04-27 05:50] gitlawr commented on #527
Hit the same error with v0.1.6-rc3

[code]

Only etcd and apiserver containers are started on the host.
The host was used to run rke cluster successfully before.Did `rke remove`, checked that previous containers are stopped, `/var/lib/etcd` and `/etc/kubernetes` are cleaned before `rke up` this time.
[code]

[code]

[code]

[2018-04-27 13:26] andrexus commented on #546
Any plans to make it configurable also in the UI?

[2018-04-27 15:25] #528 closed

[2018-04-27 15:30] moelsayed commented on #496
@nseyvet are you still seeing this issue in the latest rc ?

[2018-04-27 15:33] #486 closed

[2018-04-27 15:36] moelsayed commented on #485
@frankhinek Thank you for detailed report. We will keep the issue open to and track the upstream issues until they are resolved.

[2018-04-27 15:39] moelsayed commented on #462
Tested and confirmed fixed in latest master.

[2018-04-27 15:39] #462 closed

[2018-04-27 15:42] #418 closed

[2018-04-27 15:43] #229 closed

[2018-04-27 17:17] ericlanderson commented on #552
As far as I am concerned, this issue is a duplicate of [529](https://github.com/rancher/rke/issues/529).

[2018-04-27 17:17] #552 closed

[2018-04-27 19:05] kujenga commented on #441
I have not not had much time to re-visit this issue recently, but no, it has not been resolved.

[2018-04-27 19:31] galal-hussein commented on #546
@andrexus opened an issue in rancher/rancher repo, thanks for the suggestion

[2018-04-27 19:31] #546 closed

[2018-04-27 19:34] galal-hussein commented on #499
Duplicate of https://github.com/rancher/rke/issues/450

[2018-04-27 19:34] #499 closed

[2018-04-27 19:52] galal-hussein commented on #484
@sangeethah rke should be tested against ROS and B2D hosts:
- for RancherOS path prefix will be automatically added for /opt/rke
- for B2D path prefix will be automatically added for /mnt/sda1/rke

[2018-04-27 20:00] galal-hussein commented on #482
Duplicate of https://github.com/rancher/rke/issues/450

[2018-04-27 20:00] #482 closed

[2018-04-28 16:59] ronny35 opened #557 "kube-apiserver : /healthz returns 401 Unauthorized"
**RKE version:**
v0.1.6-rc3

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
debian

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-metal

**cluster.yml file:**
[code]

**Steps to Reproduce:**
./rke up --config cluster.yml

**Results:**
[code]

[2018-04-28 20:25] superseb commented on #557
Can you supply the full output of `docker logs --tail=all etcd` and `docker logs --tail=all kube-apiserver`?

[2018-04-29 07:30] ronny35 commented on #557
**etcd.logs**

2018-04-28 17:24:35.542547 I | etcdmain: etcd Version: 3.1.12
2018-04-28 17:24:35.542621 I | etcdmain: Git SHA: 918698add
2018-04-28 17:24:35.542638 I | etcdmain: Go Version: go1.8.7
2018-04-28 17:24:35.542654 I | etcdmain: Go OS/Arch: linux/amd64
2018-04-28 17:24:35.542668 I | etcdmain: setting maximum number of CPUs to 1, total number of available CPUs is 1
2018-04-28 17:24:35.542

[2018-04-30 03:19] jgreat opened #558 "kube_config_cluster gets json extension instead of yml"
**RKE version:**
rke version v0.1.5

I want to specify my config as json so its easier to generate a config with external tools. When I run `rke up --config ./cluster.json` , `rke` parses the file just fine and runs as expected. :+1:

The weird part is the generated credentials file is named kube_config_cluster.json but the file is still formatted in yaml.

**Steps to Reproduce:**
Run rke
[code]

[2018-04-30 12:01] satomic commented on #295
@do-web nope, no news here, I have waited for the stable version 2.0, and I tried it as soon as it was released, but the problems still here, I gave up now... maybe there are some fatal enviorment badside of my linux...

[2018-04-30 12:08] superseb commented on #295
@satomic
[code]

[2018-04-30 12:38] superseb commented on #557
Seems to be a duplicate of https://github.com/rancher/rke/issues/235, can you run it with RBAC enabled for now and see if that solves it. If not, please report back.

[2018-04-30 12:38] #557 closed

[2018-04-30 12:45] superseb opened #560 "Try to get the actual error on failure instead of only healthcheck output"
When components fail their healthcheck, in most cases we can do better to show what's going wrong.

- Container state (Restarting)
- Logs (we can define a few pattern which gives us the root cause like `^Error` and `Failed to run Kubelet` for instance)

This makes the debugging process easier in both RKE and Rancher.

[2018-04-30 17:10] ronny35 commented on #235
Now, I have the same issue for kube-proxy step with rbac enabled

[2018-05-01 16:17] Overv opened #563 "Increase the default job retry count / sleep time"
The number of default retries is currently quite low (5):

https://github.com/rancher/rke/blob/e3b9389db4baa5a7b777194de4046e83e6aaa6d3/k8s/k8s.go#L14

It is easily imaginable that depending on network conditions, some containers may take more than 25 seconds to start. Could this be changed to a more reasonably amount or could the sleep time be increased?

On my current setup this low retry count

[2018-05-02 03:51] JasonvanBrackel opened #564 "rke for Windows fails to run"
**RKE version:**
v.0.1.6

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Windows 10

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Azure

**cluster.yml file:**
[code]

**Steps to Reproduce:**
1. Rename the rke binary to rke.exe
2. Unblock the binary
3. Run .\rke.exe

**Results:**

[2018-05-02 11:49] superseb opened #565 "Use env vars when launching etcd to make etcdctl work out of the box"
To check etcd status from within the etcd container, you need to manually pass arguments for certs or set environment variables. We can launch the etcd container with the needed env vars so `etcdctl` works out of the box.

[2018-05-02 16:14] ronny35 opened #567 "./rke remove action remove loopback binary in /opt/cin/bin"
**RKE version:**
v0.1.6-rc3

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
debian

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-metal

**cluster.yml file:**
[code]

**Steps to Reproduce:**
./rke remove

**Results:**
[code]

[2018-05-03 14:55] Luke035 opened #572 "How to upgrade to K8S v.1.10"
Hi All,

I'm trying to upgrade my cluster from K8S 1.8.3 to 1.10. How can I achieve it?
I tried to change my config file from this:

[code]

to this

[code]

But it didn't did the trick (I can't complete rke up correctly). Is there any supported way to do this?
Thank you.

[2018-05-03 20:16] moelsayed commented on #498
Tested and working as expected in the latest rke-tools.

[2018-05-03 20:16] #498 closed

[2018-05-03 20:25] moelsayed commented on #368
I am not sure this is actually a bug. You are manually setting `bridge-nf-call-iptables` to 0 to simulate the issue.
What is the behavior you are expecting in this case ?

[2018-05-03 20:26] moelsayed commented on #367
Closing this for inactivity. Please reopen if you are still seeing this issue.

[2018-05-03 20:26] #367 closed

[2018-05-03 20:37] moelsayed commented on #350
@adalga This might be related to resources on the nodes.If you can still reproduce this, can you please share the output of `kubectl describe pod` for this pod.

[2018-05-03 20:41] moelsayed commented on #330
I am closing this for inactivity. Several issues have been fixed since this release. Please feel free to re-open if you are still seeing this problem.

[2018-05-03 20:41] #330 closed

[2018-05-03 20:48] moelsayed commented on #211
Host reboot is required in this case as a part of clean up.

[2018-05-03 20:48] #211 closed

[2018-05-03 21:35] Luke035 commented on #572
Hi,

rancher version is 0.1.5, while this is the rke logs:

[code]

[2018-05-03 21:48] moelsayed commented on #572
Thank you for the quick response. Can you please provide the output for the following commands:
[code]

[2018-05-03 22:05] Luke035 commented on #572
Sure!

`kubectl -n kube-system describe job rke-network-plugin-deploy-job`

[code]

`kubectl -n kube-system get pod -l job-name=rke-network-plugin-deploy-job  -o yaml`

[code]

`kubectl -n kube-system describe pod -l job-name=rke-network-plugin-deploy-job`

[code]

`kubectl -n kube-system logs -l job-name=rke-network-plugin-deploy-job `
This goes in error

`Error from server: Get https://172.31.4.

[2018-05-03 22:52] moelsayed commented on #572
Thank you! it seems kubelet is not reachable/broken. Can you please get the output for this command on both nodes:
[code]

[2018-05-03 23:21] superseb opened #575 "Retrieve NSG from given credentials when generating cloud-config for Azure"
**RKE version:**
v0.1.6

Explore if it's possible to retrieve Network Security Group (NSG) from given credentials instead of supplying it

[2018-05-04 07:32] Luke035 commented on #572
UPDATE: After exectuing on both node:

[code]

something seems better.

`kubectl get nodes` now gives nodes as ready
[code]

`rke up` now gives this error (as you can see this are ec2 instances where 18-220-1-93 is the worker node):
[code]

While `docker logs --tail 50 kubelet` now gives this output on both nodes:

[code]

Any idea about the error shown in rke up logs?

[2018-05-04 08:00] Luke035 commented on #572
@moelsayed  after reading your answer https://github.com/rancher/rancher/issues/12587 I managed to find a solution.

1- Upgrade RKE to version 0.1.6

2- Use the following cluster.yml

[code]

In this way I managed to deploy a K8S 1.10.1 cluster!

[2018-05-04 10:27] niranjan94 commented on #123
+1 Rancher 2.0 Docker version 17.09.1-ce, build 19e2cf

[2018-05-04 12:04] mvisonneau commented on #295
Facing the same issue using custom provider within `Rancher 2.0` on AWS instances running `rancher/os:v1.3.0` is there any possibility to add the `fail-swap-on` arg somewhere in the cluster definition 🤔

[2018-05-04 12:14] mvisonneau commented on #295
ok should have read more carefully the thread 😅 will wait the release then..!

[2018-05-04 12:33] superseb commented on #295
@mvisonneau `fail-swap-on` is `false` for a long time, especially if you are using `rancher/rancher:v2.0.0` to deploy clusters. Also, `fail-swap-on` will trigger an error on the `kubelet`, not the `kube-apiserver`. Please file an issue with reproducible steps and error at https://github.com/rancher/rancher/issues

[2018-05-04 12:41] mvisonneau commented on #295
Yes absolutely, I figured it out after posting. Thanks for the feed back though @superseb 🙏

[2018-05-04 13:08] danielbjornadal opened #576 "Failed to apply the ServiceAccount needed for job execution - Forbidden"
**RKE version:**
[code]

**Docker version: (`docker version`,`docker info` preferred)**
[code]

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VMWare 6.5 Virtual Machine

**cluster.yml file:**
[code]

**Steps to Reproduce:**
./rke up

**Results:**
[code]

[2018-05-04 16:56] #572 closed

[2018-05-04 16:58] moelsayed commented on #572
@Luke035 Awesome! Thank you for reporting back. I am sorry about this, I assumed that you were already using 0.1.6 which has k8s 1.10 support!

[2018-05-04 17:05] moelsayed commented on #567
@ronny35 Can you please clarify more that's the problem here. RKE doesn't expect anything to be already in /opt/cni/bin, so subsequent up commands shouldn't have a problem in this case.

[2018-05-04 17:09] galal-hussein commented on #235
Tested running the cluster with rbac disabled, it works fine!

[2018-05-04 17:09] #235 closed

[2018-05-06 10:18] panho66 commented on #576
got the same problem. I did rke remove and then up still the same problem.

rke version v0.1.6
Docker version 1.12.6, build 78d1802
Red Hat Enterprise Linux Server release 7.4 (Maipo)

cluster.yml
nodes:
- address: myhost
  port: "22"
  internal_address: 10.138.111.110
  role:
  - controlplane
  - etcd
  hostname_override: ""
  user: docker
  docker_socket: /var/run/docker.sock
  ssh_key: ""
  ssh

[2018-05-06 10:50] panho66 commented on #576
using rke version v0.1.5 is worked

[2018-05-06 20:50] superseb opened #579 "Publish rke release as Docker image"
Publish each release as Docker image `rancher/rke:$TAG` and provide some instructions on how to use it.

gz#6035

[2018-05-06 20:51] superseb opened #580 "Publish rke release as homebrew package"
Make it easy to install/use rke on Mac by publish homebrew package with each release.

[2018-05-06 20:57] superseb opened #581 "Mark release candidates as GitHub pre-release (non production)"
If we set each release candidate as pre-release in GitHub we:

- Can use `https://github.com/rancher/rke/releases/latest` as link for documentation to point to latest production ready release.
- Marking the release as pre-release makes the user aware of non production use.

[2018-05-07 07:31] danielbjornadal commented on #576
**kube-apiserver logs**
`http: TLS handshake error from 10.10.7.61:10682: remote error: tls: bad certificate`

[2018-05-07 16:37] moelsayed commented on #473
Closing this for inactivity. Please reopen if you are still seeing the same issue.

[2018-05-07 16:37] #473 closed

[2018-05-07 16:38] moelsayed commented on #368
Closing this for inactivity. Please reopen if you need to.

[2018-05-07 16:38] #368 closed

[2018-05-07 16:38] #350 closed

[2018-05-07 16:49] coffeesn0b opened #582 "Permission denied during mkdir /var/lib/etcd"
RKE Version: 1.6 (latest)

Docker: 17.03

NAME="Ubuntu"
VERSION="18.04 LTS (Bionic Beaver)"

Bare metal, (Intel NUC device)

Cluster.yml file: https://pastebin.com/jSnDFC2i

When I attempt to cluster using ./rke up I receive:
INFO[0113] [etcd] Building up etcd plane..
FATA[0113] [etcd] Failed to bring up Etcd Plane: Failed to start [etcd] container on host [192.168.0.100]: Error response from daem

[2018-05-07 17:35] moelsayed opened #583 "Reduce faliure on addon provisioning timeouts."
We are currently failing on if any addon fails. Some of the addons can take sometime to complete, so we will:
- split addons to critical and non-critical, fail on critical addons, and warn on non-critical.
- make job state retries configurable.

[2018-05-07 17:40] moelsayed opened #584 "Enable addons upgrades"
Currently, during upgrade, we only upgrade core components only. We don't upgrade any of the addons.  We need to support that.

[2018-05-07 19:29] coffeesn0b commented on #582
This was due to using snap to install Docker... permissions can be problematic

[2018-05-07 19:29] #582 closed

[2018-05-07 21:06] lmickh opened #586 "User provided CA cert/key"
**RKE version:**
v0.1.6

**Enhancement**
Allow users to provide the CA cert/key that is then used to generate the rest of the certificates.  This allows the user to leverage their existing CA trust chains across the Rancher/RKE clusters.  I would imagine it looking something like when providing etcd certs in the `cluster.yml`.   The existing pki code would have to check for the value before defaul

[2018-05-07 21:33] deniseschannon commented on #581
@cloudnautique is this possible with our drone builds?

[2018-05-07 21:38] cloudnautique commented on #581
You can do pre-release. Right now we only publish on tag events for branch master. We would need an alternate event situation to publish pre-releases.

[2018-05-07 21:46] galal-hussein commented on #586
@lmickh thanks for opening the issue, this is a duplicate of https://github.com/rancher/rke/issues/450

[2018-05-07 21:46] #586 closed

[2018-05-07 22:40] superseb commented on #581
We can test:

[code]

[2018-05-07 23:41] galal-hussein opened #588 "Pre-Pull Pause images to be able to use private registries with basic auth"
Using private registries with basic auth in rke should allow kubelet to use the pause image, one solution is to pre pull the image with docker credentials like we do in kubernetes images. also using ImagePullSecret will be necessary to be added to the templates

https://github.com/rancher/rancher/issues/13339

[2018-05-08 00:26] panho66 commented on #576
follow this to sign three certificates instead of one, case 1 and case 3 works ok
https://kubernetes.io/docs/setup/independent/high-availability/
Create etcd CA certs

[2018-05-08 06:45] lovebaicai opened #591 "Failed to verify healthcheck，rke can not work。"
**RKE version: rke version v0.1.6**

**Docker version: (`docker version:`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO): VirtualBox**

**cluster.yml file:**
[code]

**Steps to Reproduce:**
 1. rke -d up --config cluster.yml
 2. error & exit

**Results:**
[c

[2018-05-08 07:36] lovebaicai commented on #591
- I use this cluster.yml(https://github.com/rancher/rke/blob/master/cluster.yml), not work.
- error info:
[code]
- docker logs --tail=all kube-apiserver
[code]
- docker logs --tail=all etcd
[code]

[2018-05-08 16:40] fradeve commented on #295
Same here. Any idea?

[2018-05-08 20:04] mvisonneau commented on #295
@fradeve, in my case it was something else related to a missing tag on the EC2 instances as I had selected `aws` as the cloud provider. Looking at the beginning of the logs of the `kubelet` container should let you know what's going wrong.

[2018-05-08 21:29] do-web commented on #295
Stable seems to be out, but with the new Version the i am getting also these error.

[workerPlane] Failed to bring up Worker Plane: Failed to verify healthcheck: Failed to check https://localhost:10250/healthz for service [kubelet] on host [xxxx]: Get https://localhost:10250/healthz: dial tcp [::1]:10250: getsockopt: connection refused
--

[2018-05-08 23:52] fradeve commented on #295
@mvisonneau Thanks for your suggestion. I am looking at the `kubelet` container logs, but they look pretty much the same as @do-web just pasted above. I can't find anything useful there, but any suggestion is very welcome.

[2018-05-09 04:07] deniseschannon commented on #295
As of Rancher v2.0, Rancher actually launches/brings up the worker nodes, while RKE code brings up the control plane/etcd.

@do-web @fradeve it might be better if you create issues in the rancher repo as yours as specific to having your worker nodes not able to start up, which is a Rancher issue (not RKE CLI).

@satomic would you be able to test again with the latest release of RKE CLI (v0.1.6) as

[2018-05-09 04:07] #295 closed

[2018-05-09 04:14] deniseschannon commented on #313
@adalga Since you've moved on to Ubuntu and we haven't had any other reports, I'll close this issue out.

[2018-05-09 04:14] #313 closed

[2018-05-09 08:53] wangwj opened #594 "docker.io/rancher/hyperkube 镜像有问题"
**RKE version:
rke version v0.1.6
**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:         1.13.1
 API version:     1.26
 Package version: <unknown>
 Go version:      go1.8.3
 Git commit:      774336d/1.13.1
 Built:           Wed Mar  7 17:06:16 2018
 OS/Arch:         linux/amd64

Server:
 Version:         1.13.1
 API version:     1.26 (minimum version 1.12)
 Packag

[2018-05-09 13:19] zedtux opened #595 "RKE and Rancher 2 on the same server"
I want to use the Kubernetes feature from Gitlab so I bough a VPS and I want to use Rancher to manage all the Docker things on this server.

I'm stuck at the step to import the k8s in Rancher. See bellow.

**RKE version:**

[code]

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]
**Type/pr

[2018-05-09 13:57] zedtux commented on #595
I'm also trying to follow what's written from [the rancher blog article **An Introduction To Rancher Kubernetes Engine (RKE)**](https://rancher.com/an-introduction-to-rke/), from the section **Connecting to the Cluster**.

I have installed `kubectl` on my Mac

[code]

and copied the generated file `kube_config_cluster.yml` from the `rke` command within my `~/.kube`/ folder (I just created it) but

[2018-05-09 14:09] superseb commented on #595
Try `kubectl --kubeconfig kube_config_cluster.yml get nodes`

[2018-05-09 15:00] YoranSys opened #596 "K8 Cluster created with weave don't have CNI loopback driver"
**RKE version:**

`   v0.1.6`

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

Kernel : `4.9.0-6-amd64`

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
`
Bare-metal`

**cluster.yml file:**

[code]

**Steps to Reproduce:**

1.  Install debian 9
2.  Install docker 17.03 fro

[2018-05-09 15:29] bobdis opened #597 "Example cluster config files are very confusing"
cluster.yml documentation is extremely poor, or I am looking in the wrong place

The installation guide at https://rancher.com/docs/rancher/v2.x/en/installation/server-installation/ha-server-install says that you should use this RKE template yml:

https://github.com/rancher/rancher/blob/master/rke-templates/3-node-certificate.yml

Which isn't great, because you might decide to terminate ssl at the

[2018-05-09 15:31] bobdis commented on #597
I notice that someone has actually already completed a PR to improve the comments in the config file.
Unfortunately, it's nothing like enough.

[2018-05-09 23:00] galal-hussein commented on #575
in order to test this issue, you need to run rke with Azure cloud provider on azure nodes, and you need to make sure that network security group is added to the cloud-config file deployed on the hosts

[2018-05-09 23:09] galal-hussein commented on #484
@sangeethah you can also test that in a regular setup by providing this option in the cluster.yml
[code]
then you will find the prefix added to your paths for example:

/etc/kubernetes/ssl will be /foo/bar/etc/kubernetes/ssl
....

[2018-05-09 23:39] moelsayed commented on #563
This is resolved in https://github.com/rancher/rke/pull/589. This PR implements `addon_job_timeout` which should reflect a similar effect.

This is included in #583. Closing as a duplicate.

[2018-05-09 23:39] #563 closed

[2018-05-09 23:47] moelsayed commented on #529
To test this:
- Create an rke cluster with version 1.8.10
- Try to upgrade the cluster to 1.10.1 with debug enabled
- Watch for the message `Successfully stopped old container` and cancel the upgrade.
- Try to upgrade again. Before this fix, the upgrade would break. Using the fix, it will continue with no problem.

[2018-05-09 23:56] moelsayed commented on #583
You can:
- Use a broken user addon. RKE should log a warning and continue.
- Use different values for `addon_job_timout`. RKE should wait longer for the addon before it logs a warning.

[2018-05-10 01:00] rossedman commented on #103
@galal-hussein Just worked for me! Thanks so much, this is great.

[2018-05-10 01:22] rossedman opened #598 "SELinux relabeling of /var/lib is not allowed: "operation not supported""
**RKE version:**

1.7-rc1

**Docker version: (`docker version`,`docker info` preferred)**

1.12

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
NAME="Container Linux by CoreOS"
ID=coreos
VERSION=1632.3.0
VERSION_ID=1632.3.0
BUILD_ID=2018-02-14-0338
PRETTY_NAME="Container Linux by CoreOS 1632.3.0 (Ladybug)"
ANSI_COLOR="38;5;75"
HOME_URL="https://coreos.com/"
BUG_REPO

[2018-05-10 01:40] rossedman commented on #103
@galal-hussein Hitting a couple of errors with this. May be releated to 1.7rc1 or could be my host configuration or something else.

[code]

This happens when using the bastion. Seems to time out or terminate connection. Can open another issue if needed.

[2018-05-10 01:44] HighwayofLife commented on #103
@rossedman can you ssh directly to your bastion host? Are you referencing the ssh-key path correctly in the cluster.yml file for the bastion host?

[2018-05-10 01:47] sangeethah commented on #515
Tested with rke version v0.1.7-rc1

docker container labels are set for the following rke components:

[code]
[code]

[code]

[code]
[code]

[2018-05-10 01:48] rossedman commented on #103
@HighwayofLife yeah it makes it into the servers and eventually times out. I'm also getting a lot of other SELinux errors though which is strange. I downgraded to 1.6 and am still having those issues too so I'm not sure if is related.

[2018-05-10 01:52] sangeethah commented on #515
@moelsayed I dont see the "org.label-schema." labels set for canal/flannel/calico related pods.
Wanted to confirm , if these labels need to be set in these containers as well ?

[2018-05-10 02:59] deniseschannon commented on #598
@galal-hussein can you look at the k8s over-riding issue?

[2018-05-10 14:25] rossedman commented on #598
@deniseschannon sorry about dropping that in there, was in the middle of trying to debug this and found that, can open new issue if need too. Currently trying to track down root cause of this. I started running into this with 1.6 as well so am provisioning fresh IaaS to see if it keeps happening. Will post more details here to see if I can recreate.

[2018-05-10 14:45] galal-hussein commented on #598
@rossedman thanks for opening the issue, i think we should open another issue for the kubernetes version because i think there are two regressions happening here:

1- selinux issue because we changed the mount volume of etcd to /var/lib:/var/lib/rancher:z
2- kubernetes image has priority over version https://github.com/rancher/rke/pull/513

[2018-05-10 14:47] rossedman commented on #598
@galal-hussein Here is a log from a fresh cluster, with brand new VMs.

[code]

[2018-05-10 14:48] rossedman commented on #598
@galal-hussein I think that sounds good to track a new issue, seems like two separate regressions. I was worried something else was happening. I had dug through the commits and didn't see if there was a volume mount relabeled, but that confirms where the issue is coming from. Thanks for updating.

[2018-05-10 16:38] sangeethah commented on #515
Is it only the "io.rancher.rke.container.name" that we have added all components ? I see  "io.rancher.rke.container.name" being set for canal/flannel/calico related pods as well.

[2018-05-10 17:50] #515 closed

[2018-05-10 18:33] soumyalj commented on #510
Tested with rke version v0.1.7-rc1. It fails with the below error:
[code]

[2018-05-10 20:48] sheng-liang opened #601 "Windows: time stamps don't print correctly in RKE command line output"
**RKE version:** 0.1.7-rc1

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** Windows 10

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** AWS

**cluster.yml file:**

**Steps to Reproduce:**
In Windows cmd console
Run `rke up cluster.yml` to bring up cluster

**Results:**
The time stamps don'

[2018-05-10 20:53] sangeethah commented on #564
Tested with rke_windows-amd64.exe from rke version v0.1.7-rc1.
Able to bring up a cluster successfully.

[2018-05-10 20:53] #564 closed

[2018-05-10 21:13] sangeethah commented on #583
Tested with rke version v0.1.7-rc1
When using a broken user addon,  RKE should log a warning (after 30 sec - default addon_job_timeout) and reports success.

[code]

With - ```addon_job_timeout: 60 ``` , RKE waits 60 sec after which it reports the warning.

[code]

[2018-05-10 21:13] #583 closed

[2018-05-10 21:26] bmdepesa commented on #226
Provisioned a VM and changed graph location through /etc/docker/daemon.json, then restarted Docker and verified location was changed.
Added VM as node to custom cluster.
Node was provisioned correctly.
Workloads/SD are deploying correctly.

[2018-05-10 21:26] #226 closed

[2018-05-10 23:37] soumyalj commented on #565
Created a cluster using rke version v0.1.7-rc1. On the node where etcd was created, executed the following etcdctl commands after an exec into etcd. etcdctl was functional
[code]

[2018-05-10 23:37] #565 closed

[2018-05-11 04:13] rossedman commented on #598
@galal-hussein Just confirmed that #599 fixed my issue. Thanks!

[2018-05-11 04:13] #598 closed

[2018-05-11 05:19] zedtux commented on #595
Awesome @superseb ! That's solved the mentioned issue 👍

Nonetheless nothing appear in Rancher 😞

So from Rancher I created a new cluster, as an import, and changed the given command with the `--kubeconfig` flag that you gave:

[code]

In Rancher the cluster has the following error: `Waiting for full cluster configuration`.

Do you know shall I do to solve this?

[2018-05-11 07:49] YoranSys commented on #596
After copy from a working host with flannel some CNI driver to each host of my cluster.
My network started to work and the pod start correctly.

The files/directory I copied :

[code]

[2018-05-11 10:23] zedtux opened #604 "Generated SSL certificate verify failure"
I use rke from my Mac to install k8s on my VPS, all went fine, and BTW it's a very nice tool 👍.

I'm using it to build my own Kubernetes cluster for Gitlab (run tests and isolated environments).
I was able to import the k8s cluster in Gitlab and now I need to continue the Gitlab setup by installing Helm tiller (Gitlab has an "Install" button to do so).

Unfortunately the installation fails with th

[2018-05-11 15:28] Luke035 commented on #485
Same problem here!

[2018-05-11 17:17] bmdepesa commented on #575
RKE v0.1.6:

Ran rke against an azure node w/ cloud provider.
Did not set NSG in cloud config.
Once node is active, the cloud-config displays the automatically assigned NSG.

[2018-05-11 17:17] #575 closed

[2018-05-11 19:34] moelsayed commented on #594
@wangwj Can you please reformat the issue? It's very hard to read in the current state.

[2018-05-11 19:35] moelsayed commented on #567
Closing this for inactivity. Please reopen if you need.

[2018-05-11 19:35] #567 closed

[2018-05-11 21:09] soumyalj commented on #510
Tested with rke version v0.1.7-rc2. Provided rancher/k8s:v1.9.5-rancher1-1 image versions for components in services section and provided ```kubernetes: rancher/hyperkube:v1.10.1-rancher1```  in the system images section. Service level images were not honored. K8s cluster came up with version v1.10.1-rancher1

Also, with the below config file, Kubernetes image version had precedence over the clust

[2018-05-11 21:09] #510 closed

[2018-05-12 03:06] wangwj commented on #594
**RKE version:
rke version v0.1.6

Docker version: (docker version,docker info preferred)
Client:
Version: 1.13.1
API version: 1.26
Package version:
Go version: go1.8.3
Git commit: 774336d/1.13.1
Built: Wed Mar 7 17:06:16 2018
OS/Arch: linux/amd64

Server:
Version: 1.13.1
API version: 1.26 (minimum version 1.12)
Package version:
Go version: go1.8.3
Git commit: 774336d/1.13.1
Built: Wed Mar 7 17:06

[2018-05-14 09:59] guangbochen opened #606 "Enable API bearer tokens (including service account tokens) to be used to authenticate to the kubelet’s HTTPS endpoint"
**RKE version:** 0.1.7
This is a feature request:

Prometheus operator requires service account tokens authentication of `kubelets` to be enabled for it own and cadvisor metrics, can we please add this config to rke with enabled on default and optional to turn off by cluster admin.
[code]

Reference:
https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet-authentication-authoriza

[2018-05-14 10:03] bradyjoestar opened #607 "kubelet 10255 isn't open"
I am using rke 0.1.7 to bring up the k8s cluster and it succeed.

But when I  want to using the heapster and grafana to monitor the cluster ,I found the kubelet's port 10255 isn't open.How can I solve this problem?

Thanks for your time!

[2018-05-14 10:06] superseb commented on #607
This is a potential security risk, be sure to firewall the access to it.

[code]

[2018-05-14 10:06] #607 closed

[2018-05-14 10:38] superseb opened #608 "port-checker is inaccurate"
**RKE version:**
0.1.7-rc2

Tested on Oracle Enterprise Linux with firewalld active.

Port checks run with port mapping (bridge), which is allowed in firewalld. After, the actual components use host networking which is not allowed.

[2018-05-14 15:47] adingilloRancher commented on #529
Performed above test scenario.

To test this:

Create an rke cluster with version 1.8.10
Try to upgrade the cluster to 1.10.1 with debug enabled
Watch for the message Successfully stopped old container and cancel the upgrade.
Try to upgrade again. Before this fix, the upgrade would break. Using the fix, it will continue with no problem.

`INFO[0039] Finished building Kubernetes cluster successfull

[2018-05-14 15:47] #529 closed

[2018-05-14 16:55] cjellick commented on #606
To accomplish this, the k8s authentication webhook framework would need an endpoint to call back to. We would need to expose the Rancher authentication proxy as an an endpoint capable of functioning as one. I've opened the following issue in the rancher repo:
https://github.com/rancher/rancher/issues/13474

[2018-05-14 17:11] superseb commented on #594
Please remove this from `cluster.yml` and try again:

[code]

[2018-05-14 17:22] deniseschannon opened #609 "Ability to upgrade rancher version with a rancher flag"
Using an existing cluster.yml file for RKE that launched Rancher, we'd like a flag to be able to upgrade the tagged version that you want for Rancher.

[code]

[2018-05-14 18:59] greatbn opened #611 "Feature Request: Support Openstack Cloud Provider"
**RKE version:**
rke version v0.1.6

**Docker version: (`docker version`,`docker info` preferred)**
1.13.1

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Openstack

**cluster.yml file:**
[code]
**Steps to Reproduce:**

rke up --config cluster.yml

**Results:**

After cluster create `cloud

[2018-05-14 18:59] rossedman commented on #529
@adingilloRancher Flavortown achievement activated.

[2018-05-14 19:04] #611 closed

[2018-05-14 19:12] nfrik commented on #123
+1 Rancher 2.0 Docker 1.13.1 build 092cba3

[2018-05-14 20:27] soumyalj opened #613 "rke etcd restore fails when all etcd hosts are replaced"
**RKE version:**
rke version v0.1.7-rc2

**cluster.yml file:**
[code]

**Steps to Reproduce:**
Create a rke cluster with the cluster.yml above
[code]
rke up fails with the below error:
[code]
etcd logs below:
[code]

[2018-05-14 21:16] adingilloRancher commented on #484
@galal-hussein Unable to customize default path for RancherOS.  Still set to /opt/rke after updating prefix_path: /foo/bar

[2018-05-15 01:27] aemneina commented on #608
hey @superseb do you think we should detect and log the presence of firewalld and warn of shenanigans?

[2018-05-15 01:36] galal-hussein opened #616 "Add S3 for etcd backup/restore"
Currently etcd backup/restore uses local disk for backup storage, it will be a nice enhancement to etcd backup to save and restore backups from Amazon S3 buckets to both the regular backups and onetime backups, for example:
cluster.yml
[code]
and for one time backup:
[code]

[2018-05-15 12:20] Cobra1978 opened #618 "Message "Must Authenticate" upon first login"
**RKE version:**
1.16

**Docker version: (`docker version`,`docker info` preferred)**

Client:
 Version:      17.03.2-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 02:21:36 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.2-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun

[2018-05-15 12:50] harutyundermenjyan opened #619 "service etcd backup/restore does not being to be created in the existing cluster"
Hi,
to enable etcd-backup I’ve added the following lines in my cluster.yaml and re run ./rke up --config …. command on the existing cluster
[code]
but it still doesn’t backup. Also there is no any `etcd-backup` container created after that.

[2018-05-15 12:56] curx commented on #619
can you please post your rke version `rke -v`

[2018-05-15 12:58] harutyundermenjyan commented on #619
```./rke_linux-amd64 -v```
`rke version v0.1.6`

[2018-05-15 12:58] curx commented on #616
or on others, like minio ?

[2018-05-15 13:11] curx commented on #619
this feature is available since the v0.1.7-rc1, so please for using this feature update to the last rke release.

[2018-05-15 13:54] harutyundermenjyan commented on #619
seem I understood the issue my etcd instances listens to public and private addresses but not to localhost
How to do that the etcd listen to all interfaces?

[2018-05-15 16:00] vincent99 commented on #618
You are accessing the UI as http instead of https.  This is never supported, but there will be a more clear error in 2.0.1 https://github.com/rancher/rancher/issues/13344#issuecomment-387447982

(Why you are able to try and do that in the first place is a separate problem, probably involving a missing redirect)

[2018-05-15 16:01] Cobra1978 commented on #618
Ok.

And supposing i need to put the rancher web interface behind an ssl termianting reverse proxy?

[2018-05-15 19:50] harutyundermenjyan commented on #619
just I’ve tested it with clean install without selecting internal_address and it started to work properly and listening to all interfaces
but when we already have a cluster installed with internal_address the etcd-backup doesn’t work even if we commenting out internal_address and re run the `rke up --config...` command

[2018-05-15 20:33] de13 opened #621 "Apply resource limits to nginx ingress controller elements"
**Enhancement**

**RKE version:**
[code]

I noticed there is no resource definition in the nginx ingress pod:

[code]

Which means that pod (even if it is a daemonset) can be evicted under node pression, oom_killed or be a noisy neighbour. It can be a good practice to set requests and limits to avoid unfair issue with ingress.

[2018-05-15 20:43] adingilloRancher commented on #484
Validated default path and custom path for RancherOS, B2D, CoreOS, and Ubuntu

[2018-05-15 20:43] #484 closed

[2018-05-15 23:31] soumyalj commented on #613
Tested with rke version v0.1.7-rc4.
1- set up a 2 node cluster, N1 -[c, w] N2 - [etcd]
2- create few pods
3- take backup
4- Power OFF etcd node (N2)
5- Add the snapshot to a new node
6. Run Restore with the new node in the config file
7. Do rke up again

rke up succeeded with no errors. The old pods were intact. New pods were created successfully.

[2018-05-15 23:33] soumyalj commented on #456
Tested with rke version v0.1.7-rc4/v0.1.7-rc4
etcd backup and restore is functional. The following uscases were tested:
1.
[code]
2.
[code]

[2018-05-15 23:33] #456 closed

[2018-05-16 01:26] galal-hussein commented on #619
@harutyundermenjyan that's correct, i was able to reproduce thanks for reporting the bug

[2018-05-16 12:45] harutyundermenjyan commented on #619
I've faced to another issue as well, that is after restoring ETCDs I got `502 Bad Gateway` and can’t login to my existing cluster

[2018-05-16 14:08] galal-hussein commented on #619
@harutyundermenjyan i am not sure i understand the problem, how many nodes did you have?, and how did you restore the etcd from a snapshot? can you walk me through your steps exactly

[2018-05-16 14:30] galal-hussein commented on #496
I am not able to reproduce the problem on my side, @nseyvet please reopen if you still experiencing the problem

[2018-05-16 14:37] galal-hussein commented on #604
@zedtux this is duplicate of https://github.com/rancher/rke/issues/450, please follow the progress of the problem there

[2018-05-16 14:37] #604 closed

[2018-05-16 14:40] harutyundermenjyan commented on #619
I've installed the rke recently and started my tests a few days ago the number of my hosts is 7
1. installing rke with HA version 3 workers 2 controlplane 2 etcd (`./rke_linux-amd64 up --config cluster.yaml `
2. creating deployment with replicas 15(for test purposes)
3. creating etcd backup `./rke_linux-amd64 etcd backup --name snapshot --config cluster.yaml `
4. removing my cluster in order to te

[2018-05-16 14:58] harutyundermenjyan commented on #619
I've sent you the versions of my cluster.yaml by slack

[2018-05-16 16:04] superseb opened #625 "Check cluster_cidr with node IPs"
We should check the configured cluster_cidr for a match with the host address/internal_address because it will break if it conflicts. Better docs are one, but can be caught:

[code]

[2018-05-16 16:13] curx opened #626 "Warn before overriding existing cluster.yaml when using rke config -e"
A warning or interaktion should be presented if you use `rke config -e` in a directory holding you current config, if not - it is filled with empty variables, or use a option `-f` to override it.

[2018-05-16 16:39] galal-hussein commented on #619
@harutyundermenjyan you should restore all etcd from the same snapshot, so you should copy the snapshot to both etcd hosts in /opt/rke/etcdbackup path, and then do the restore, also i would like to see the logs of etcd backup and restore commands

[2018-05-16 21:42] deniseschannon commented on #609
We're going to update rancher using a different method.

[2018-05-16 21:42] #609 closed

[2018-05-17 05:42] zedtux commented on #604
Thank you @galal-hussein

[2018-05-17 05:42] zedtux commented on #450
Any progress on this?

[2018-05-17 07:28] harutyundermenjyan commented on #619
also I've noticed that when we restore the etcd from that snapshot with wrong date/time without removing the existing cluster it restores successfully but after removing the cluster and trying to restore, facing to the mentioned issue.

[2018-05-17 09:12] harutyundermenjyan commented on #619
now it doesn't works even when we do a fresh install in the clean hosts, so when the part of the etcd-backup service exists in the cluster
[code]
 then the setup exit with the following error
[code]

[2018-05-17 10:50] volatilemolotov12 commented on #619
Doing rke etcd restore inrke version v0.1.7-rc2 fails with

FATA[0000] Failed to create Kubernetes Client: stat ./kube_config_cluster.yml: no such file or directory

and cluster goes down (rancher local cluster) and kube-apiserver goes into a loop resulting in 100% CPU usage. Only way to fix is to redeploy the cluster

[2018-05-17 15:49] galal-hussein opened #628 "etcd backup and restore commands are confusing"
`rke etcd backup` and `rke etcd restore` commands should be changed to become the same as `etcdctl`'s it should become something like:
[code]
and
[code]

[2018-05-17 21:26] harutyundermenjyan commented on #619
seem the etcd backup issue was solved but the restore issue still exists.
So I'm closing this issue and going to open another one relating to restoration.
Because after restore I got `502 Bad Gateway` and some of pods not in running state.
[code]

[2018-05-17 21:26] #619 closed

[2018-05-17 21:45] sebastien-prudhomme opened #631 "Air gap installation mode"
**RKE version:**

v0.1.6

**New feature**

As Rancher as an air gap installation mode throught env variable CATTLE_SYSTEM_DEFAULT_REGISTRY, allow such a mode with RKE without changing each individual system image.

[2018-05-18 00:56] BalaBalaYi commented on #136
@galal-hussein So what is the best solution for centos7 for now?

[2018-05-18 08:11] wangwj commented on #594
原有测试环境不在，应该是和配置的cluster.yml有关，目前我已经通过rancher的HA方式成功部署集群 @moelsayed @superseb ,谢谢关注

[2018-05-18 08:12] #594 closed

[2018-05-18 11:39] SaiDoFan opened #635 "After the new node is added by RKE, there will be two identical ones in the rancher management UI."
**RKE version:**
rke version v0.1.6
**Docker version: (`docker version`,`docker info` preferred)**
docker 1.13.1
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
CentOS7.5
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
KVM
**cluster.yml file:**

**Steps to Reproduce:**
rke up --config
**Results:**

After the new node is added by RKE, there will be two

[2018-05-18 13:49] gigi-at-zymergen opened #636 "Failing Docker version check despite docker --version reporting 17.03"
**RKE version:**
[code]
**Docker version: (`docker version`,`docker info` preferred)**
This is the heart of my issue. I originally had the latest stable `18.03.1-ce` installed, but then rolled back to `17.03.2` based on the compatible versions listed.
[code]
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
`16.04.4 LTS (Xenial Xerus)`
**Type/provider of hosts:

[2018-05-18 17:14] harutyundermenjyan opened #637 "rke snapshot-restore brings 502 Bad Gateway"
Hi,
here is my steps:
1. installing rke with HA version: 1 nginx, 3 etcd, 3 controplane, 3 worker (`./rke_linux-amd64 up --config rancher-cluster.yml` (https://rancher.com/docs/rancher/v2.x/en/installation/ha-server-install/)
2. creating deployment with a few replicas(for test purposes)
3. creating etcd backup `./rke_linux-amd64 etcd snapshot-save --name snapshot --config rancher-cluster.yml`
4. r

[2018-05-18 17:27] gigi-at-zymergen commented on #636
Just realized it's failing on the check on my other nodes configured in the cluster yaml. Initially rolled back just on the first node. Closing this issue.

[2018-05-18 17:27] #636 closed

[2018-05-18 17:38] jaxxstorm opened #638 "Docker version requirements restrict coreos, rancheros"
I'm trying to use RKE on CoreOS Stable, but getting the following error:

[code]

This version requirements also means that RancherOS, your own OS, [can't be used with RKE](https://github.com/rancher/os#release) unless the docker version is switched.

[2018-05-18 18:40] galal-hussein commented on #638
@jaxxstorm these docker versions are the ones supported by k8s, you can still use rke with unsupported docker version by adding `ignore_docker_version: true` to the cluster.yml file

[2018-05-20 05:14] gaui opened #639 "Error configuring SSH: ssh: no key found"
**RKE version:**

0.1.6, also tried 0.1.7-rc6

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

Windows 10 Professional

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

VMware vSphere

**cluster.yml file:**

[code]

**Steps to Reproduce:**

Install RKE, assemble the `cluster.yml`

[2018-05-20 10:28] eliu opened #640 "NodePort Not Available Across the Nodes"
We created 3 VMs using vagrant virualbox vm (centos/7) and launch `rke up` to create a Kubernetes cluster.
[code]
All resource status seems fine except the following issues:
1. The NodePort service we created are not available for all kubernetes nodes.
2. All containers managed on worker node do not have network connectivity ( e.g ping www.baidu.com won't work)

application service we deployed:
[c

[2018-05-21 00:41] galal-hussein commented on #639
@gaui Can you please confirm that the ubuntu user has docker access i.e you can create,remove, and list containers using the ubuntu user.

Also according to your cluster configuration file i think you have problem with adding the ssh-key in yaml, since its mulit string variable can you try adding the ssh key using multi line operator
[code]

[2018-05-21 00:45] gaui commented on #639
@galal-hussein I had more luck when I changed to the multi-line operator `|-`. Going to test out the docker user privilege. Thank you.

[code]

[2018-05-21 01:53] gaui commented on #639
This works perfectly now after I fixed the multi-line syntax for the RSA key and the user's Docker privileges.

[2018-05-21 01:53] #639 closed

[2018-05-21 11:04] #591 closed

[2018-05-21 21:52] qwylz opened #642 "rke cannot create cluster because kube-proxy fails to start on all nodes"
**RKE version:**
rke version v0.1.6

and

rke version v0.1.7-rc6

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      17.03.2-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 03:35:14 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.2-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Gi

[2018-05-22 05:42] zedtux commented on #260
@tychota I tried to disable the swap on my machines (`swapoff -a`) but `rke` is still failing with the same error.

Anything you did else ?

[2018-05-22 09:01] alexkleinfig opened #643 "High Availability Installation documentation, ingress fails because 80 already used"
Hello,
I followed the installation procedure given here: https://rancher.com/docs/rancher/v2.x/en/installation/ha-server-install/

**RKE version:v0.1.6**
https://rancher.com/docs/rancher/v2.x/en/installation/ha-server-install/

**RKE version:v0.1.6**

**Docker version: 17.03.2-ce, build f5ec1e2**

**Operating system and kernel: Ubuntu 16.04.4 LTS, kernetl 4.4.0-124-generic**

**Type/provider of ho

[2018-05-22 09:20] superseb commented on #643
The ingress controller is launched on all nodes and binds to port 80 and 443. These are not available (at least 80), so you need to clear it on the host before it can successfully run. Usually `netstat -plant | grep :80` will show whats occupying port 80.

[2018-05-22 09:44] alexkleinfig commented on #643
Thank you.
I definitly missed something :D.

[2018-05-22 10:26] superseb opened #644 "Better error when network ports are not opened"
Provide a better error describing the situation and what to check.

[2018-05-22 13:07] eliu commented on #640
I've got the resolution. The default eth0 network interface is NAT type for Vagrant environment. The flannel network plugin will use it by default. Therefore we need explicitly specify eth1 network, the type of which is host-only, in order to make flannel work properly.

Here is the configuration in my cluster.yaml

[code]

[2018-05-22 13:07] #640 closed

[2018-05-22 21:42] parmarnandish opened #646 "Error configuring SSH: ssh: no key found, even when key is supplied"
**RKE version:**
0.1.6

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   78d1802
 Built:        Tue Jan 10 20:20:01 2017
 OS/Arch:      linux/amd64

Server:
 Version:      1.12.6
 API version:  1.24
 Go version:   go1.6.4
 Git commit:   78d1802
 Built:        Tue Jan 10 20:20:01 2017
 OS/Arch:

[2018-05-23 11:36] yipai opened #647 "make release rke"
**RKE version:**

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

**cluster.yml file:**

**Steps to Reproduce:**

**Results:**

[2018-05-23 14:22] HighwayofLife commented on #342
This has since been solved/fixed.

[2018-05-23 14:22] #342 closed

[2018-05-23 14:23] superseb commented on #647
Can you describe your issue?

[2018-05-23 16:22] HighwayofLife opened #648 "Not able to reach the host: Can't retrieve Docker Info"
**RKE version:**
v0.1.7

**Docker version: (`docker version`,`docker info` preferred)**
1.12

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
CoreOS

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Azure

I spun up a cluster of nodes in Azure running on B-series CoreOS VMs 2 days ago. Today, I was getting consistent failures from RKE from some of the m

[2018-05-23 16:26] HighwayofLife commented on #648
I blew away the VMs and re-created them, I'm getting the same failure again, but on different nodes...

[code]

[2018-05-23 19:04] #646 closed

[2018-05-23 19:05] parmarnandish commented on #646
This was resolved by using the private key instead of the public key in the rancher-config.yml file.

[2018-05-23 19:17] HighwayofLife commented on #648
This can happen on cleans as well...
[code]
Logging into that VM, confirmed the docker daemon is indeed running.

[2018-05-23 20:13] HighwayofLife opened #649 "rke remove removing /etc/kubernetes; up doesn't bring it back"
As the title suggests, the rke remove process removes the /etc/kubernetes directory, but rke up doesn't replace that directory, and so no components start correctly following a remove.

[2018-05-23 21:08] HighwayofLife opened #650 "/opt/rke/var/lib/kubelet mounted thousands of times"
This line appears in a `df -h` command over a thousand times:
[code]
This is massively slowing down each node and we're encountering problems with the kubelet not passing healthcheck.

RKE version v0.1.7

[2018-05-24 02:28] HighwayofLife commented on #649
Found out that it's living under `/opt/rke` now... *closing*

[2018-05-24 02:28] #649 closed

[2018-05-24 06:03] yipai opened #651 "rke_linux-amd64 up cause failed info"
**RKE version:**rke version v0.1.7-rc6

**Docker version: (`docker version`,`docker info` preferred)**Docker version 1.13.1, build 092cba3

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**Linux ncd5 3.10.0-693.21.1.el7.x86_64 centos7

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** aliy

**cluster.yml file:**

**Steps to Reproduce:**

**Results:**
 Full

[2018-05-24 06:35] pjmazenot opened #652 "rke_linux-amd64 up: Failed to set up SSH tunneling for host"
**RKE version:**
v0.1.7

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce and 18.03.1-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04.1 LTS and macOS High Sierra 10.13.3

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Scaleway(Cloud/Bare-metal)

**cluster.yml file:**
Template from the official Rancher repo: ht

[2018-05-24 14:20] HighwayofLife commented on #650
Update: Once I upgraded from kubernetes_version `v1.10.1-rancher2-1` to `v1.10.1-rancher2-1`, rke-tools stopped remounting the `/opt/rke/var/lib/kubelet` This *might* have also been causing #648 once there was so many mounts, the host became largely unresponsive.

[2018-05-24 21:28] curx commented on #651
Can you log in with the user for this vm via ssh-key?

[2018-05-25 08:54] Resistance opened #653 "Incorrect expansion of ~ in ssh_key_path on Windows"
**RKE version:**

0.1.7

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

Windows

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

**cluster.yml file:**

**Steps to Reproduce:**

1.  Have valid `%USERPROFILE%\.ssh\id_rsa`
2. Run `rke up` using default `ssh_key_path` (`~/.ssh/id_rsa`)

**R

[2018-05-26 05:41] jmreicha commented on #95
Looks like this one got buried.  Has there been any more talk or plans for adding ARM support?

Would it be possible to just replace system images with arm64 versions and disable the others?

[2018-05-28 11:32] Lssikkes commented on #637
I'm seeing the same thing, using rke v0.1.7.
Cluster nginx will not show "default backend - 404" on a wrong domain, but 502 Bad Gateway after a snapshot restore.

[2018-05-29 07:46] zedtux opened #655 "Failed to get kubernetes node [XX.XX.XXX.XXX]: "XX.XX.XXX.XXX" not found"
**RKE version:**

[code]

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

VPS

**cluster.yml file:**

[code]

**Steps to Reproduce:**

1. Install docker on the VPS
2. Install `rke` on the local machine
3. Run `rke up --config

[2018-05-29 09:21] miahwk opened #656 "rancher2.0HA issue"
when I run ./rke up, display info:
Failed to bring up Control Plane: Failed to verify healthcheck: Service [kube-apiserver] is not healthy on host [192.168.0.104]. Response code: [403], response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"forbidden: User \"kube-apiserver\" cannot get path \"/healthz\"","reason":"Forbidden","details":{},"code":403}
I try man

[2018-05-29 11:48] superseb commented on #656
In most of the topics, the following information is requested:

- `cluster.yml` used
- `docker logs etcd`
- `docker logs kube-apiserver`

[2018-05-29 11:51] superseb commented on #655
The following logs indicate that this is not being done from scratch, can you supply the steps to reproduce this from scratch?

Secondly, the output of the `kubelet` container is relevant here, `docker logs kubelet`.

[code]

[2018-05-29 11:55] zedtux commented on #655
Well I had a server where I had installed Kubernetes using RKE but before to re-install it now, with a second server, I did `rke uninstall --config ...yml` and I even removed all the containers and images (and the second server was a fresh new server, I just installed Docker).

docker logs kubelet :

[code]

Okay so I will cleanup everything and retry. Thank you @superseb

[2018-05-29 12:10] zedtux commented on #655
Okay so on both servers, `docker images` was empty, `docker ps -a` too (obviously) but running `rke up --config cluster.yml` failed the same way.

Is there any files to delete on the server before to run the `up` command?

[2018-05-29 12:17] superseb commented on #655
`rke remove` clears the files, which is basically the same as https://gist.github.com/superseb/2cf186726807a012af59a027cb41270d

[2018-05-29 12:21] zedtux commented on #655
[code]

[2018-05-29 12:29] zedtux commented on #655
`docker logs kubelet` on `XX.XX.XXX.XXX` is finishing with the same line than before:

[code]

I should have a previous `kubeadm` installation or something like that then ... 🤔

`kubectl --kubeconfig kube_config_cluster.yml get nodes` output is the following:

[code]

[2018-05-29 12:33] superseb commented on #655
We should catch this, I will reproduce. For now, you can run `netstat -plant | grep 10250` to see what is occupying the port and clear it.

[2018-05-29 12:34] zedtux commented on #655
[code]

I'll check how to clean this.

[2018-05-29 12:35] #647 closed

[2018-05-29 12:36] #643 closed

[2018-05-29 12:39] zedtux commented on #655
I found 2 installed binaries : `kubectl` and `kubelet` which I have `apt-get purge` and now the `netstat -plant | grep 10250` command is clean.

I'm following again the clean / install process.

[2018-05-29 12:43] zedtux commented on #655
Now the `rke` command worked perfectly. Thank you @superseb for your support 👍

[2018-05-29 22:27] #653 closed

[2018-05-30 02:20] sangeethah opened #658 "RKE should not check for port 2380 on etcd nodes to be accessed from control nodes."
**RKE version: v0.1.7

**Steps to Reproduce:**

Created a custom cluster using rancher server with following configurations:
3 control nodes
3 etcd nodes
3 worked nodes

Cluster provisioning fails with following error:
[code]
After allowing  2380 on etcd nodes to be accessed from control nodes, cluster provisioning works.

[2018-05-30 09:43] zedtux opened #659 "Heapster get a connection refused on port 10255"
**RKE version:**

[code]

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

VPS

**cluster.yml file:**

[code]

**Steps to Reproduce:**

1. Install the Kubernetes cluster with RKE
2. Install the [k8s dashboard](https://github.c

[2018-05-30 16:48] superseb commented on #618
Yes, as described here: https://rancher.com/docs/rancher/v2.x/en/installation/single-node-install-external-lb/

[2018-05-30 16:48] #618 closed

[2018-05-30 18:43] mzuccala commented on #194
Same here:

RKE version `v0.1.7`
Docker version `17.03.2-ce`
Operating system and kernel: `CentOS Linux release 7.3.1611`, `3.10.0-514.26.2.el7.x86_64`

[code]

[2018-05-30 18:47] jaxxstorm opened #660 "Cannot set cloud-provider=external on kubelet"
**RKE version:**

v0.1.7

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

coreos-stable

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

DigitalOcean

**cluster.yml file:**

[code]

I am trying to add the external cloud provider for DigitalOcean. As per the instructions, the kubelet is the only component that needs to have a cloud provider set https:

[2018-05-30 18:50] jaxxstorm opened #661 "Let's Encrypt with RKE"
There seems to be an option in the rancher docker image to get a lets encrypt certificate for the rancher service using `--acme-domain`

Is this possible with RKE?

[2018-05-30 19:01] superseb commented on #660
`cloud-provider` is a top level configuration option. If you want to add arguments to services, you can use `extra_args`:

[code]

[2018-05-30 19:01] #660 closed

[2018-05-30 22:20] mzuccala commented on #194
Solved thanks to [this comment](https://github.com/coreos/flannel/issues/844#issuecomment-341856378).

I don't know why but I had a 10.42.0.0/16 static route on docker0.
I just needed to `ip route del 10.42.0.0/16`, restart network and it all went ok!

[2018-05-31 01:44] jaxxstorm commented on #660
Again, this isn't working. I tried it like so:
[code]

And docker inspect looks like this:

[code]

[2018-05-31 03:57] aiwantaozi opened #662 "Non-standard location for `/var/log/containers`, `/var/log/pods` in RancherOS and Boot2Docker result in fluentd failed to work"
When deploying a cluster with RancherOS or Boot2docker etc, RKE will deploy kubelet without certain bind-mount of `/var/log/pods` and `/var/log/containers`, creates softlink inside containers like this:
[code]
https://github.com/rancher/rke/blob/master/cluster/plan.go#L347

In the Rancher OS, the `/opt/rke/var/log/containers` will be bind-mounted to `/var/log/containers` inside kubelet container.

[2018-05-31 06:47] superseb commented on #660
The argument is called `cloud-provider`, not `cloud_provider`

[2018-05-31 12:21] superseb commented on #659
See https://github.com/rancher/rke/issues/607

[2018-05-31 12:21] #659 closed

[2018-05-31 12:32] zedtux commented on #659
Thank you @superseb

[2018-05-31 13:01] zedtux commented on #607
Working perfectly !

Given master has IP address XX.XX.XXX.XXX and worker YYY.YYY.YY.YY, is the following correct for you ? :

[code]

[2018-05-31 19:39] aemneina opened #664 "[RKE] Have rke open iptables ports tied to roles"
Ideally have rke program the firewall rules opening up ports relating to the hosts role(s).

[2018-05-31 19:44] jdunhamvrtx commented on #664
This was an issue with custom hosts (not cloud provider hosts) so security policies are really the host managed iptables rules.

[2018-06-01 19:32] http-teapot commented on #658
@sangeethah could you explain how you allowed `2380` on etcd nodes? It appears I am having the same problem

[2018-06-02 00:03] ababra commented on #295
Encountered the same error on CentOS 7.5 and rke_darwin-amd64 (v0.1.7). Disabling SELinux worked for me (in addition to turning off firewalld).

[2018-06-02 04:15] ababra commented on #151
Having the same issue. I don't see `dashboard-minimal-token` listed:
[code]

Tried using `kubernetes-dashboard-token-x5ltm`, however when logging in  I receive numerous errors, i.e.
[code]
Which I assume means the token does not have any access to the cluster.

[2018-06-02 04:47] ababra commented on #151
Followed the step [outlined here](https://github.com/kubernetes/dashboard/wiki/Creating-sample-user) to create a new service account, cluster role binding and generate a token that can be used to log in.

[2018-06-02 15:47] techninja1008 commented on #450
Any Progress?

[2018-06-02 23:53] jomeier commented on #597
Any news here?

[2018-06-05 06:43] #655 closed

[2018-06-05 06:44] zedtux commented on #595
I'm closing this issue as I'm no more using Rancher to deploy Kubernetes.

[2018-06-05 06:44] #595 closed

[2018-06-05 06:50] zedtux opened #668 "No default StorageClass after deploying a k8s cluster using RKE"
**RKE version:**

[code]

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

VPS

**cluster.yml file:**

[code]

**Steps to Reproduce:**

1. Install the Kubernetes cluster with RKE
2. List existing StorageClass with `kubectl get

[2018-06-05 11:54] sebastien-prudhomme commented on #668
You need to setup a storage provider.

If you don't use a cloud provider, you can try Longhorn. Here is an Helm chart: https://github.com/rancher/charts/tree/master/proposed/longhorn/v0.1.0

There is an option to use it as the default storage class.

[2018-06-05 12:07] zedtux commented on #668
Thank you @sebastien-prudhomme for this suggestion. I'm looking around and found https://www.minio.io/kubernetes.html out of many options.

Why are you recommending Longhorn ?

[2018-06-05 12:45] harutyundermenjyan commented on #637
seem the issue doesn't resolved,
now the web interface doesn't reachable at all after etcd restore.

[2018-06-05 13:10] gioppoluca opened #669 "Failed to apply the ServiceAccount needed for job execution: Post https://10.102.X.X:6443/apis/rbac.authorization.k8s.io/v1/clusterrolebindings: Forbidden"
**RKE version:**
v0.1.8
**Docker version: (`docker version`,`docker info` preferred)**
Docker version 18.03.1-ce, build 9ee9f40
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
3.10.0-862.3.2.el7.x86_64
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VMware
**cluster.yml file:**

**Steps to Reproduce:**
Creating a new Custom cluster
**Results:**
New nod

[2018-06-05 13:11] gioppoluca commented on #669
Both the node and the master are behind a corporate proxy,  could this be a problem?

[2018-06-05 16:21] sebastien-prudhomme commented on #668
Longhorn is easy to install (see the documentation) and is developped by Rancher.

You can also try Rook (based on Ceph) as another "in Kubernetes cluster" option.

There is no default as it really depends on your working environment (on AWS ? on Azure? on private datacenter ?)

[2018-06-05 18:39] harutyundermenjyan commented on #637
@galal-hussein any update?

[2018-06-05 20:19] gvisca commented on #606
I'm working with version 0.1.6 of RKE and I managed to get kubelet metrics with prometheus operator with this kubelet config
[code]
adding authorization-mode=Webhook in extra-args prevent rke to deploy the cluster

[2018-06-06 05:54] zedtux commented on #668
Okay, thank 👍

Then please update the `README.md` file in order to explain this and give the howto for all the cases :)

New comers will love it.

[2018-06-06 07:31] huangjw08 commented on #303
I use rke to deploy my k8s cluster. My environment as follows:
$ ./rke --version
rke version v0.1.2

$ docker --version
Docker version 1.13.1, build 94f4240/1.13.1

$ cat /etc/centos-release
CentOS Linux release 7.4.1708 (Core)

SElinux disabled

$ ./rke up
I‘m getting the same error:

**INFO[0063] [worker] Successfully started Worker Plane..
INFO[0063] [sync] Syncing nodes Labels and Taints
INFO[

[2018-06-06 08:06] harutyundermenjyan commented on #637
[code]

[2018-06-06 08:13] gioppoluca commented on #669
SOLVED:
The problem is tied to the company proxy there is the need to create a ".docker/config.json" file where to place proxy AND NO_PROXY information.
Our sysadmin guys saw a lot of traffic coming from the machine to the same machine since it calls 0.0.0.0:6443 and to do this it was passing from the proxy so they blocked the host fearing something wrong was happening.
By setting the proper env v

[2018-06-06 08:13] #669 closed

[2018-06-06 09:20] saphoooo opened #670 "Document how to add a PodSecurityPolicy in the cluster.yml"
Enabling PodSecurityPolicy in cluster.yml results in a non functional cluster (network addon install fail), so I wonder where I have to push my PodSecurityPolicy file in cluster.yml. Can you document this part?

[2018-06-06 15:40] cjellick commented on #606
I don't really understand what you did here, @galal-hussein @moelsayed @ibuildthecloud do you any of you understand what they did and how it allow the prom operator to work?

[2018-06-06 18:11] CarstonSchilds opened #671 "Failed to set up SSH tunneling for host, Error configuring SSH: asn1: structure error: integer not minimally-encoded"
**RKE version:**

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

**cluster.yml file:**

**Steps to Reproduce:**

**Results:**

[2018-06-06 18:59] #671 closed

[2018-06-07 10:57] willferguson opened #674 "rke pulls hyperkube:v1.10.1-rancher2 not v1.10.3-rancher2"
```rke version v0.1.7 (darwin)```

**cluster.yml file:**
[code]

Trying to create a 1.10.3 cluster, but despite adding 1.10.3 during config generation, rke still pulls 1.10.1

Thanks

[2018-06-07 16:21] junkiebev commented on #651
Having the same issue and yes - I'm able to log in with the user/SSH key. The OS I'm using for the endpoints is ubuntu 17.10 and the user I'm using isn't root - it is a user account which has sudo

[2018-06-07 16:30] superseb commented on #651
For CentOS, you can't use the `root` user to connect.

For others, `sudo` is not used, the user needs to have access to the Docker socket `/var/run/docker.sock`. Usually this means adding it to the group the socket belongs to for that OS.

[2018-06-07 18:38] matheus666matheus opened #676 "Cant Add a new node in the cluster"
**Docker version: (`docker version`,`docker info` preferred)**

 Version:      17.03.2-ce
 API version:  1.27
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 02:21:36 2017
 OS/Arch:      linux/amd64

Server:
 Version:      17.03.2-ce
 API version:  1.27 (minimum version 1.12)
 Go version:   go1.7.5
 Git commit:   f5ec1e2
 Built:        Tue Jun 27 02:21:36 2017
 OS/Arch:

[2018-06-07 18:44] #676 closed

[2018-06-07 18:45] matheus666matheus commented on #676
I figure out that it is the wrong section.

[2018-06-07 19:26] galal-hussein opened #677 "Port check should make sure that ports for network plugins are open"
Currently port checker only check for ports between k8s components, but doesn't check for network plugin ports:

**Flannel:**

8472/UDP

**Canal:**

8472/UDP
9099/TCP

**Calico:**

9099/TCP
179/TCP

**Weave:**

6781-6782 TCP
6783-6784 TCP, UDP

[2018-06-07 21:38] superseb commented on #677
9099/TCP is a liveness/readiness port, that does not need to be open between nodes.

[2018-06-08 07:28] harutyundermenjyan commented on #637
now it exit with the following error at the restore time:
`FATA[0022] Failed to run certificate bundle extract, exit status is: 1`

[2018-06-08 18:12] jbw976 commented on #140
Do users of RKE need to do anything special currently to use flexvolume plugins?  If so, is there a pointer to the single place in the documentation for RKE where enabling flexvolume plugins is explained? Thanks!

[2018-06-08 22:35] adingilloRancher commented on #596
v0.1.8-rc1

Validated loopback is present after install

[2018-06-08 22:35] #596 closed

[2018-06-08 22:52] adingilloRancher opened #679 "Unable to provision cluster with unsupported docker version"
**RKE version:**
v0.1.8-rc1

**Docker version: (`docker version`,`docker info` preferred)**
17.12.0 ce

Containers: 8
 Running: 6
 Paused: 0
 Stopped: 2
Images: 7
Server Version: 17.12.0-ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup Driver: cgroupfs
Plugins:
 Volume: local
 Network: bridge host macvlan null

[2018-06-10 04:02] annymsMthd opened #681 "Calico-cni log level is too verbose"
image: rancher/calico-node:v3.1.1

Is there a way to turn up the log level to warn? We are gathering logs via fluentd and the info logs are alot.

[2018-06-10 14:23] mlkmhd opened #683 "Port check for host failed"
Hi there,

I'm using rancher/rancher. after creating cluster and adding a node I'm getting this error:
`[network] Port check for ports: [198.100.101.79:10250] failed on host: [198.100.101.79]`

I opened port 10250 and all needed ports! (rancher server and rancher agent both running on the same server)

RKE version: v2.0.2

Docker version: `17.03.2-ce`

Operating system and kernel:
Oracle Linux Ser

[2018-06-11 07:11] clkao commented on #606
It seems `--authorization-mode=Webhook` would make the installer fail, as `nodes/proxy` is not allowed from kube-apiserver and system:nodes. The installer will stop before properly configuring cni.

If you initialize the cluster first and then add  `--authorization-mode=Webhook` to cluster.yml after creating the proper clusterrole and clusterrolebinding, running `rke up` again configures kubelet p

[2018-06-11 14:08] marcusianlevine commented on #192
This seems to have regressed again.

[code]

Using an SSH key with passphrase I get:

[code]

_(hostnames redacted with ***)_

[2018-06-11 14:17] marcusianlevine commented on #652
Also experiencing the second bug (regarding key w/ passphrase)

I think it may be related to #192 which was supposedly fixed

Here's my info:

**RKE version:**
```v0.1.7```

**Docker version: (docker version,docker info preferred)**
[code]

**Operating system and kernel: (cat /etc/os-release, uname -r preferred)**
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)
Scaleway(Cloud/

[2018-06-11 16:37] pdhung commented on #379
@galal-hussein the current implementation is great for a single node deployment, but is bad for production. I would like to have no "worker" pods running on the same node with the api-server, or any other controlplane components. How should I do it? Right now the only way seems to be k8s cordon

[2018-06-11 19:09] adingilloRancher commented on #286
Version v0.1.8-rc1

Able to successfully provision cluster with weave

[2018-06-11 19:09] #286 closed

[2018-06-11 21:06] galal-hussein commented on #303
@gtirloni I don't think this is a problem with the network addon, can you post the whole rke log and also the cluster.yml file that you are using, also can you use the latest rke and test it again.

@huangjw08 can you test with the latest rke v0.1.7

[2018-06-11 23:30] moelsayed commented on #679
I am unable to reproduce this using the latest master. However, I am hitting an issue related to the instance firewall settings that might be related: https://github.com/rancher/rke/issues/608

[2018-06-11 23:47] huangjw08 commented on #303
I have already redeployed the cluster with rancher v1.6.18. And it works fine. Thx.

[2018-06-12 13:06] harutyundermenjyan opened #685 "it’s not possible to select a container if they are several"
it’s not possible to select a container if they are several, instead it selects one of them automatically. So we can't select another one and execute a shell for instance.
<img width="1271" alt="screen shot 2018-06-12 at 4 39 38 pm" src="https://user-images.githubusercontent.com/16855630/41292157-d3dca526-6e62-11e8-9d1f-5800845c1f5c.png">

[2018-06-12 13:37] superseb commented on #685
Please file it under `rancher/rancher` and specify what version you are using.

[2018-06-12 13:37] #685 closed

[2018-06-13 08:21] jiuchongxiao commented on #606
did you solved it?@guangbochen

[2018-06-13 09:31] jiuchongxiao commented on #606
@gvisca  how to solve the prevent ?

[2018-06-13 10:01] wangwj commented on #606
rke0.1.7

![Uploading image.png…]()
FATA[0105] [workerPlane] Failed to bring up Worker Plane: Failed to verify healthcheck: Service [kubelet] is not healthy on host [192.168.181.95]. Response code: [403], response body: Forbidden (user=system:node, verb=get, resource=nodes, subresource=proxy)
 @gvisca

[2018-06-13 11:24] shyam opened #688 "Getting error "x509: cannot validate certificate for 127.0.0.1 because it doesn't contain any IP SANs" on one of the nodes"
**RKE version:**
[code]
**Docker version: (`docker version`,`docker info` preferred)**

[code]
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]
`4.4.0-116-generic`

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Bare-metal

**cluster.yml file:**

[code]
**Steps to Reproduce:**

Run `rke up`

**Results:**

[code]

Results of `docker logs

[2018-06-13 11:30] superseb commented on #688
Can you supply the output of:

[code]

and

[code]

[2018-06-13 11:44] shyam commented on #688
[code]

[code]

[2018-06-13 11:47] superseb commented on #688
Okay and what about `netstat -plant | grep 6443` on that host?

[2018-06-13 11:49] shyam commented on #688
[code]

[2018-06-13 12:02] superseb commented on #688
That doesn't look like the `nginx-proxy` we deploy, can you check where this is process is coming from and shut it down? This explains why our `nginx-proxy` can't bind to the address, as it's being kept by this one.

[2018-06-13 12:18] shyam commented on #688
Oops. Found a stray `nginx` instance running. Removed it and verified that `rke up` is working as expected.

Thank you for helping me debug this.

:+1: :+1:

[2018-06-13 12:36] #688 closed

[2018-06-13 15:12] shyam commented on #637
+1

I'm also facing the same issue.

**RKE version:**
[code]
**Docker version: (`docker version`,`docker info` preferred)**

[code]
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]
`4.4.0-116-generic`

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Bare-metal

**cluster.yml file:**

[code]
**Steps to Reproduce:**

1. Run `rke up` to cre

[2018-06-13 16:33] sebastien-prudhomme opened #689 "Wrong Openstack generated cloud config file"
**RKE version:**

v0.1.8-rc1

Not RKE fault, because the Kubernetes doc is wrong.

The [Router] section doesn't exist and is named the [Route] section when using cloud config file for OpenStack.

When using [Router] section, kubelet just crash:

[code]

See the Goland code in https://github.com/kubernetes/kubernetes/blob/master/pkg/cloudprovider/providers/openstack/openstack.go

[code]

I guess ht

[2018-06-13 16:45] greatbn commented on #689
@sebastien-prudhomme  Could you show me show cloud-provider config in your cluster.yml file?

[2018-06-13 16:47] bmdepesa commented on #644
rke v0.1.8-rc2

Verbiage for the error message has been updated correctly.

[2018-06-13 16:47] #644 closed

[2018-06-13 16:49] galal-hussein commented on #689
@sebastien-prudhomme the kubernetes documentation mentioned that its name is [router] https://kubernetes.io/docs/concepts/cluster-administration/cloud-providers/#openstack

[2018-06-13 17:12] greatbn commented on #689
@galal-hussein I have same issue with @sebastien-prudhomme

[2018-06-13 17:16] greatbn commented on #689
I think this is bug in kubernetes documents, after change Router to Route and restart kubelet container. kubelet can start

[2018-06-13 17:20] sebastien-prudhomme commented on #689
As i said the Kubernetes doc is wrong

[2018-06-13 17:21] superseb commented on #683
This is a Rancher 2.0 issue, please file future issues regarding Rancher in the `rancher/rancher` repository. When using `rke` CLI, it can be filed here. It sounds like you are hitting https://github.com/rancher/rancher/issues/13822, if not, please file a new issue with steps to reproduce in the `rancher/rancher` repository.

[2018-06-13 17:21] #683 closed

[2018-06-13 17:59] sebastien-prudhomme commented on #689
See this commit comment on Kubernetes: https://github.com/kubernetes/kubernetes/commit/0b57371ffab5b32dc991ff5fe60c3d58f7c2f9cc#diff-694c675fe77b09923cc453e7228f8fa8

[2018-06-13 18:55] galal-hussein commented on #689
@sebastien-prudhomme okay thanks for raising the issue, i will add a fix for this problem

[2018-06-13 19:07] soumyalj opened #690 "RKE etcd "snapshot-restore" fails to restore if it can't find the tmp cert directory"
**RKE version:**rke version v0.1.8-rc1

**Docker version: (`docker version`,`docker info` preferred)** 1.12.6

**cluster.yml file:**
[code]

**Steps to Reproduce:**
1. Create a two node RKE cluster
     N1 - control, etcd
     N2 - Worker
2. create few pods
3. Take a one time snapshot
4. Create a new node
5. Add the snapshot to a new node and copy the certificate bundle to the new node
6. Run Rest

[2018-06-13 19:09] sebastien-prudhomme commented on #689
I guess using the customCloudProvider as a workaround should work, will test it tommorow.

[2018-06-13 19:14] soumyalj opened #691 "RKE etcd "snapshot-restore" ] does not show a warning when certificate bundle is not present"
**RKE version:**
rke version v0.1.8-rc1

**Steps to Reproduce:**
1. Create a two node RKE cluster
N1 - control, etcd
N2 - Worker
2. Create few pods
3. Take a one time snapshot
4. Create a new node
5. Add the snapshot to a new node and do not copy the certificate bundle to the new node
6. Run Restore with the new node in the config file

**Results:**
etcd "snapshot-restore" does not provide a warni

[2018-06-13 20:06] soumyalj commented on #628
Tested with rke version v0.1.8-rc1.
Commands `rke etcd snapshot-save` and `rke etcd snapshot-restore` are functional

[2018-06-13 20:06] #628 closed

[2018-06-13 20:39] bmdepesa commented on #658
rke v0.1.8-rc2

Port 2380 is not checked from control -> etcd.

[2018-06-13 20:39] #658 closed

[2018-06-13 21:42] adingilloRancher commented on #679
Not able to reproduce.

[2018-06-13 21:42] #679 closed

[2018-06-13 22:11] gvisca commented on #606
Sorry, for my bad english !

I first tried to launch rke with options
[code]
to make prometheus work (as specified here https://github.com/coreos/prometheus-operator/issues/976)
but got the Forbidden error @wangwj mentioned

So I tried with these options
[code]
then rke is working fine and prometheus is happy ...

[2018-06-14 08:22] VanDavv commented on #167
I still have the same problem trying to access images from nvcr.io (https://ngc.nvidia.com)

[2018-06-14 09:03] harutyundermenjyan commented on #637
@deniseschannon
The issue still exists.
I've tested it with rke v0.1.8-rc2.

[2018-06-14 09:20] superseb commented on #637
As long as the issue is open, it is under investigation/testing. There is no point in pinging people directly about issues until the issue is closed as solved/released.

[2018-06-14 11:44] harutyundermenjyan commented on #637
just wanted to remind and inform that I've tested it with the new released rke as well.

[2018-06-14 14:00] sebastien-prudhomme commented on #689
I confirm using customCloudProvider seems to work (at least kubelet does't crash)

[code]

[2018-06-15 12:03] harutyundermenjyan opened #693 "After removal the worker role from controlplane nodes role list in cluster.yml file and rerun rke up command in order to remove the worker role from the controlplane nodes, the worker role still present in controlplane nodes role."
Seems it's a bug can't remove the worker role from controlplane nodes.
rke v0.1.8-rc2

[2018-06-15 13:53] superseb commented on #693
@moelsayed @galal-hussein Can you confirm/deny support for adding/removing roles currently?

[2018-06-15 14:10] eliu commented on #674
Same issues here, seems to hard-coded the image tag inside RKE binary...

[2018-06-15 14:15] galal-hussein commented on #693
@superseb adding and removing roles should be supported normally, @harutyundermenjyan can you describe the bug, what did you mean by the worker role still present, how did you confirm that.. the only thing should be different is that the node will be unschedulable and will contain the NoExecute Taint.

[2018-06-15 19:14] harutyundermenjyan commented on #693
I'll try to detail as you asked
First I've run rke with `role: [controlplane,worker]` selected for controlplane nodes, then tried to isolate my workers by removing `worker` role from that list for controlplane nodes and then rerun the `./rke up ....` with `role: [controlplane]` without `worker` for my controlplane nodes but still the worker role present in that controplane nodes.
It works with etc

[2018-06-15 21:51] sebastien-prudhomme commented on #689
@galal-hussein  I've submitted a patch in rancher/types.

The RKE documentation need to be corrected but i've seen that you have another PR about cloud configuration. Can you add the correction into your PR?

[2018-06-17 23:15] gaui opened #694 "Access etcd cluster from within a pod/ingress"
How can I access the etcd cluster from within a pod/ingress? I have Traefik as an ingress and trying to configure it to use etcd as a backend to store configuration. I don't want to depend on a IP address, instead if I could access the etcd cluster with a hostname via kube-dns, something like `etcd.kube-system.svc.cluster.local` or something like that. Is this possible?

[2018-06-18 06:47] superseb commented on #694
You shouldn't use the cluster etcd for anything else than the cluster, it's the most vital part of your cluster and you shouldn't let apps be using that most vital part as it can take your etcd down.

We run etcd via Docker, and build the connection string dynamically on the presence of hosts with the `etcd` role, and it is using client certificates to access it.

[2018-06-18 06:47] #694 closed

[2018-06-18 13:17] harutyundermenjyan commented on #693
seems it shows the worker role wrongly on web UI only, but with kubectl it shows that the role was removed normally from controlplane nodes as well.
see the screenshots, on web interface the worker role is still present for controlplane nodes but with kubectl it's not.
<img width="811" alt="screen shot 2018-06-18 at 5 06 34 pm" src="https://user-images.githubusercontent.com/16855630/41538073-5a35e

[2018-06-18 18:22] moelsayed commented on #674
@willferguson @eliu Please use the `system_images` section configuration for this:
[code]

[2018-06-18 18:59] leodotcloud opened #695 "Regenerate kubeconfig on the node using CA"
Need a way to regenerate kubeconfig on the nodes using the CA and other info available on the node.

[2018-06-18 20:02] superseb opened #696 "Update nginx and confd in rke-tools"
- Update nginx to stable
- Update confd to latest release

[2018-06-19 16:46] tknecht commented on #652
same here

RKE version:
v0.1.7

[2018-06-19 16:47] bmenant commented on #192
I confirm the regression with `rke_linux-amd64` version **v0.1.7**.
I can manually _ssh_ the nodes with those keys and `SSH_AUTH_SOCK` environment variable is set up properly.
However, running `./rke_linux-amd64 up --config rancher-cluster.yml` ends up with a `ssh: cannot decode encrypted private keys` error.

[2018-06-19 16:47] bmenant commented on #652
I confirm the issue with `rke_linux-amd64` version **v0.1.7**.
I can manually _ssh_ the nodes with those keys and `SSH_AUTH_SOCK` environment variable is set up properly.
However, running `./rke_linux-amd64 up --config rancher-cluster.yml` ends up with a `ssh: cannot decode encrypted private keys` error.

[2018-06-19 16:53] tknecht commented on #652
btw same is true for rke version v0.1.8-rc2

[2018-06-19 19:05] superseb opened #698 "Add hostname-override to kube-proxy"
- Deploy cluster

See messages in log of `kube-proxy`:

[code]

[2018-06-19 19:59] superseb opened #701 "Set cluster-cidr on kube-proxy"
Not explicitly needed for functionality (when not set you get generic rules that seem to work fine), but it removes an error in the log about distinguishing internal/external traffic.

[2018-06-19 22:18] mitchellmaler opened #703 "rke create cluster in rancher 2 server"
Hello,

Is it possible to have rke deploy the k8s cluster and then import it into rancher server just like how running the rancher agent does it.

[2018-06-20 01:03] eliu commented on #674
@moelsayed what is services/<service_name>/image: ... used for since hyperkube image is determined by system_images section in cluster.yml? can I just leave them blank?

[2018-06-20 01:23] Jason-ZW opened #704 "Re-add `etcd` node error when using rke up command"
**RKE version:**
github.com/rancher/rke v0.1.8-rc2
**Docker version: (`docker version`,`docker info` preferred)**
docker-17.03.2-ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
RancherOS-v1.4.0
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS
**cluster.yml file:**
[code]
**Steps to Reproduce:**
After `rke up` cluster, I remove `172.31.8.170` from

[2018-06-20 04:36] saphoooo commented on #94
Up. Containerd is now production ready, and looks a better choice for K8s than docker-ce.

[2018-06-20 05:32] deniseschannon commented on #689
@sebastien-prudhomme Thank you for your PR and attempts with openstack. Could you test with v0.1.8-rc3 to ensure that openstack cloud provider is now working as expected?

I am working on switching all RKE docs into our official docs site and will make a PR to change it here: https://github.com/rancher/docs/blob/master/content/rke/v0.1.x/en/config-options/cloud-providers/_index.md#openstack

[2018-06-20 05:39] deniseschannon commented on #689
@sebastien-prudhomme it's part of this PR to update docs: https://github.com/rancher/docs/pull/324/files#diff-a620746a00ac2fb7535e7a5a6146939dR175

[2018-06-20 05:55] deniseschannon commented on #703
Yes, I don't think there is any reason why it wouldn't work like any imported cluster in Rancher 2.0.

[2018-06-20 06:14] jiuchongxiao commented on #606
i did as @gvisca said

`kubelet:
   image: rancher/hyperkube:v1.10.1-rancher2
   extra_args:
     authentication-token-webhook: true`

but the rke was wrong just the same.
how to solve the problem,do you have some idea? @gvisca @superseb @sangeethah @soumyalj@adingilloRancher

[2018-06-20 07:05] sebastien-prudhomme opened #705 "Overide server URL in generated kube_config_cluster.yml"
**RKE version:**

0.17

**Use case**

I have an external load balancer that setup a virtual IP for all my Kubernetes API endpoints.

When it configures kube_config_cluster.yml, RKE setup the cluster server URL with the first (or the last?) node with the "controlplane" role.

Having an option in cluster.yml config with the URL i want to use would be great.

Thanks

[2018-06-20 09:39] sebastien-prudhomme commented on #689
@deniseschannon No problem with v0.1.8-rc3, at least with the way RKE is generating cloud config file for Kubelet. Kubelet is running fine, no more crash. Thanks a lot.

[2018-06-20 12:33] moelsayed commented on #674
@eliu it's currently only used internally and will be deprecated in the future. You shouldn't set it at all. You will see we removed it in the current [cluster.yml](https://github.com/rancher/rke/blob/master/cluster.yml) example file.

[2018-06-20 14:24] superseb commented on #652
SSH keys with passphrase are only supported using SSH-agent. When encountering issues, please provide the used `cluster.yml`, OS, SSH version and environment variables key + value set in the environment you are running.

[2018-06-20 14:43] tknecht commented on #652
Exdcution error code: https://gist.github.com/tknecht/a9d2914732dcfb5bd1e40449eb5176c4

rancher-cluster.yml: https://gist.github.com/tknecht/4f24edaae7071251c84d45011a205646

OS Version: Darwin host 17.6.0 Darwin Kernel Version 17.6.0: Tue May  8 15:22:16 PDT 2018; root:xnu-4570.61.1~1/RELEASE_X86_64 x86_64

SSH Version: OpenSSH_7.6p1, LibreSSL 2.6.2

[2018-06-20 15:52] superseb commented on #652
The prompt for passphrases for private key has been removed, it only works via the SSH-agent now. This can be enabled by adding `ssh_agent_auth: true` to the root of the YAML.

[2018-06-20 17:46] bmenant commented on #652
OS and SSH versions, environment variables: https://gist.github.com/bmenant/53579aa1eba3803856f2df46de5dc28b#file-gistfile1-txt

`rancher-cluster.yml`: https://gist.github.com/bmenant/53579aa1eba3803856f2df46de5dc28b#file-rancher-cluster-yml

[2018-06-20 17:48] superseb commented on #652
Also added this https://github.com/rancher/rke/pull/706.

@bmenant @tknecht Can you try the suggestion above?

[2018-06-20 17:56] bmenant commented on #652
Oops, sorry, I thought it enabled password prompting. So, yes, adding `ssh_agent_auth: true` to the root of `rancher-cluster.yml` works out well for me. Thanks!

[2018-06-20 18:27] #696 closed

[2018-06-20 20:50] #652 closed

[2018-06-20 20:51] superseb commented on #651
Let me know if you need anything else on this.

[2018-06-20 20:51] #651 closed

[2018-06-21 03:47] HighwayofLife opened #710 "Run RKE on a single node to add to the cluster"
RKE currently runs against your entire cluster, but when the desire is to add or cleanup (remove) a single node in that cluster, it is unnecessary to run RKE against every node that exists.
Would be nice to have the ability to run rke in a running cluster to add a single node. This might have to apply only to worker nodes if the etcd or control planes all need to be aware of each other.

[2018-06-21 08:15] superseb commented on #710
@galal-hussein You added `update-only` for updating workers only, right?

[code]

[2018-06-21 15:59] clkao opened #711 "Allow some more calico configuration"
Right now the calico network config in `cluster.yml` supports only `calico_cloud_provider`.  Is it within rke's scope to support the following opitons:

1. ip detection vs deriving from node ip known to the cluster - this can prevent calico accidentally uses public ip if a node has two interfaces:

[code]

2. node ip subnet (where the above `/32` becomes configurable) and ipipmode=cross-subnet
3.

[2018-06-21 16:05] galal-hussein commented on #710
@HighwayofLife @superseb yes using `update-only` will only update the workers and should skip running rke on control or etcd.

[2018-06-21 16:08] galal-hussein commented on #704
@Jason-ZW I tested etcd add/remove and it seems to work okay, after removing the node from cluter.yml and re-execute rke up again, what are the rke logs, also can you `etcdctl cluster-health`

[2018-06-21 16:12] galal-hussein commented on #705
@sebastien-prudhomme RKE currently can't configure kube config with the ip of the load balancer, however rke can configure the certificates SAN to include the load balancer dns:
[code]

[2018-06-21 16:18] galal-hussein commented on #693
@harutyundermenjyan can you reopen this issue in rancher/rancher repo, it doesn't seem to be a RKE issue, closing this issue.

[2018-06-21 16:18] #693 closed

[2018-06-21 16:21] galal-hussein commented on #670
pod security policy option is mentioned in cluster.yml https://github.com/rancher/rke/blob/master/cluster.yml#L47

[2018-06-21 17:00] sebastien-prudhomme commented on #705
I yet use the "sans" feature. But each time i do an "rke up", i need to manually correct the kube_config_cluster.yml.

Just need an option as the "cluster_name" one. Wish i know Go to implement it :-)

[2018-06-21 18:25] lmickh commented on #705
Using the SANs option to put the ELB name into the certs works, but if you don't have direct public access to the API server(s) the outputted kubeconfig "doesn't work".  The user has to edit the kubeconfig file with the externally accessible server address.

I get that RKE doesn't configure the kube config.  It is basically pulling it from the servers after the kube setup process generated.  It mi

[2018-06-21 18:33] harutyundermenjyan commented on #693
OK thanks,
opened, track here: https://github.com/rancher/rancher/issues/14133

[2018-06-21 19:07] #670 closed

[2018-06-21 23:10] #689 closed

[2018-06-21 23:12] #674 closed

[2018-06-22 07:19] deniseschannon commented on #372
In this PR https://github.com/rancher/rke/pull/706, we will be moving all docs to the Rancher docs repo. https://github.com/rancher/docs.

There are several PRs that are updating it so that it will be made available at rancher.com/docs.

[2018-06-22 07:23] deniseschannon commented on #597
@bobdis There is a difference between launching Kubernetes through RKE (just to get a kubernetes cluster up and running) versus launching RKE to launch Kubernetes to launch Rancher 2.0. If you want to launch Rancher 2.0, then you will need the cattle add-ons.

RKE and Rancher are 2 separate projects.

We are trying to move all RKE docs to just launch Kubernetes onto a cluster (with or without Ranc

[2018-06-22 18:38] moelsayed opened #716 "`service_cluster_ip_range` Should be set in one place"
Currently, `service_cluster_ip_range` is set in both the api and the controller services. We need to check which one actually requires it and set it only on it.

[2018-06-22 22:16] soumyalj commented on #691
Tested with  rke version v0.1.8-rc5
Create a two node RKE cluster
N1 - control, etcd
N2 - Worker
Create few pods
Take a one time snapshot
Create a new node
Add the snapshot to a new node and do not copy the certificate bundle to the new node
Run Restore with the new node in the config file

etcd "snapshot-restore" provides an error message that certificate bundle is missing and exits
[code]

[2018-06-22 22:16] #691 closed

[2018-06-22 22:46] gi-el commented on #310
This might be the same issue that I've run into. Recently, the kubelet option `enable-controller-attach-detach` is set to `true` by default (not sure since which K8s version). This means that the controller manager also calls out to flex plugins, mainly for attaching and detaching. However, by default, the controller manager started by RKE doesn't actually have access to the flex plugins.

My solu

[2018-06-22 23:09] soumyalj commented on #613
Tested with rke version v0.1.8-rc5.
1- set up a 2 node cluster, N1 -[c, w] N2 - [etcd]
2- create few pods
3- take backup
4- Power OFF etcd node (N2)
5- Add the snapshot to a new node
6. Run Restore with the new node in the config file
7. Do rke up again

rke up fails with the below error:

[code]

[2018-06-22 23:12] sangeethah commented on #584
Tested with rke version v0.1.8-rc5

Deployed cluster with following yml:

[code]
Add on service/rc and ingress get created as expected.

But when I change the image name from RC and rerun the ```rke up``` command , I see the image change reflected in the RC. But pods dont get recreated.

[2018-06-22 23:16] soumyalj commented on #690
Tested with rke version v0.1.8-rc5
1. Create a two node RKE cluster
N1 - control, etcd
N2 - Worker
2. create few pods
3. Take a one time snapshot
4. Create a new node
Add the snapshot to a new node and copy the certificate bundle to the new node
Run Restore with the new node in the config file.
Restore succeeds
[code]

[2018-06-22 23:16] #690 closed

[2018-06-23 00:51] sangeethah commented on #584
When testing with a deployment in addons , I am able to upgrade the container images of the  deployments and see the pods getting recreated.

[2018-06-23 00:51] #584 closed

[2018-06-23 00:57] sangeethah opened #718 "Upgrade on addons does not happen after a failed attempt to bring up addons."
rke version v0.1.8-rc5

Steps to reproduce the problem:
1. Have some invalid yml syntax in addon part of the cluster.yml and attempt rancher up.
2. Add ons fails to start with following error which is expected:
[code]
3. Correct the addon part of the cluster.yml for any errors and attempt rancher up.

Even though RKE indicates that User addons deployed successfully , addon job is not attempted.

A

[2018-06-23 04:47] deniseschannon commented on #372
https://rancher.com/docs/rke/v0.1.x/en/config-options/

[2018-06-23 04:47] #372 closed

[2018-06-23 04:47] deniseschannon commented on #597
https://rancher.com/docs/rke/v0.1.x/en/config-options/

[2018-06-23 04:47] #597 closed

[2018-06-23 12:54] superseb opened #721 "Add rke version to debug log, check cluster.yml as first check on remove"
Pre fix (on up you get an error when cluster.yml does not exist, on remove you don't)

[code]

[2018-06-25 07:48] Jason-ZW commented on #704
@galal-hussein
RKE logs:
[code]

[2018-06-25 13:55] bootc opened #722 "CoreDNS as an alternative to kube-dns"
This is a feature request. Please provide an option to deploy [CoreDNS](https://coredns.io/) instead of kube-dns. Bonus points for providing a migration path between them.

https://kubernetes.io/docs/tasks/administer-cluster/coredns/

[2018-06-25 18:37] deniseschannon commented on #318
@de13 are you still having issues with this?

[2018-06-25 18:40] deniseschannon commented on #408
@adalga Are you still having this issue? Have you tried with later versions of RKE?

[2018-06-25 19:03] superseb opened #725 "Better error when ssh_key_path can't be opened"
Currently, it shows:

[code]

When we check for the error given on `ioutil.ReadFile`, this becomes:

[code]

or

[code]

[2018-06-25 19:10] #703 closed

[2018-06-25 19:13] adalga commented on #408
No. I have not tried with later versions.

[2018-06-25 19:18] moelsayed commented on #656
Closed for inactivity, please reopen if you have still having issues.

[2018-06-25 19:18] #656 closed

[2018-06-25 20:05] deniseschannon commented on #485
As this was was a k8s issue tht'st now fixed. I"ll close this for now.

[2018-06-25 20:05] #485 closed

[2018-06-25 22:34] saphoooo opened #726 "Istio automatic sidecar injection doesn't seem to work"
**RKE version:**
rke version v0.1.7
**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Version:      18.03.1-ce
 API version:  1.37
 Go version:   go1.9.5
 Git commit:   9ee9f40
 Built:        Thu Apr 26 07:17:20 2018
 OS/Arch:      linux/amd64
 Experimental: false
 Orchestrator: swarm

Server:
 Engine:
  Version:      18.03.1-ce
  API version:  1.37 (minimum version 1.12)
  G

[2018-06-26 00:06] soumyalj commented on #637
Tested with rke version v0.1.8-rc5.
1. Run rke up to create HA cluster.
[https://raw.githubusercontent.com/rancher/rancher/e9d29b3f3b9673421961c68adf0516807d1317eb/rke-templates/3-node-certificate-recognizedca.yml]
2. Perform Etcd snapshot by running rke etcd snapshot-save
3. Backup kube_config_cluster.yml as kube_config_cluster.yml.backup
4. Remove the cluster and cleanup using the gist from @sup

[2018-06-26 02:58] deniseschannon commented on #718
Available with v0.1.8-rc6

[2018-06-26 02:59] deniseschannon commented on #704
Available with v0.1.8-rc6

[2018-06-26 02:59] deniseschannon commented on #560
Available with v0.1.8-rc6

[2018-06-26 03:19] Jason-ZW commented on #704
Tested. LGTM

[2018-06-26 03:19] #704 closed

[2018-06-26 07:11] saphoooo commented on #726
I just figure out that admission-control doesn't contain expected flags:

**current**

`"--admission-control=ServiceAccount,NamespaceLifecycle,LimitRanger,PersistentVolumeLabel,DefaultStorageClass,ResourceQuota,DefaultTolerationSeconds"`

**expected**

`"--admission-control=ServiceAccount,NamespaceLifecycle,MutatingAdmissionWebhook,ValidatingAdmissionWebhook,LimitRanger,PersistentVolumeLabel,Defau

[2018-06-26 07:30] #726 closed

[2018-06-26 07:36] superseb commented on #726
Here's an example of creating a cluster in Rancher 2 for that, basically a JSON representation of cluster.yml: https://gist.githubusercontent.com/superseb/0c5e4015985f470853f0a74427c306c7/raw/be7886d49d595bd738d99f4e9b4fdbdbd16db525/istiocluster.sh

[2018-06-26 07:40] sebastien-prudhomme opened #728 "Allow using an existing CA"
Hi, i'd like to do a pull request so that instead of generating a new internal CA, RKE can use a configured CA.

For these feature, i only need to add 2 new config parameters: cluster_ca_cert and cluster_ca_key

Just want to make sure that this feature is usefull for other people.

Thanks

[2018-06-26 07:46] de13 commented on #726
Thanks but I'm not using rancher, only rke. Setting up the proper flags makes the automatic injection working:

[code]

I wonder why these flags are not enabled by default.

[2018-06-26 07:48] superseb commented on #726
See https://github.com/rancher/rancher/issues/13162

[2018-06-26 09:58] zhoubofsy opened #729 "CSI isn't available in rke deploy k8s, volume isn't mounted"
**RKE version:**
v0.1.8-rc5

**Docker version: (`docker version`,`docker info` preferred)**
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS

**cluster.yml file:**
[code]
**Steps to Reproduce:**

1. deploy k8s via `cluster.yaml`

[code]
2. deploy longhorn

[code]

3. deploy CSI

[

[2018-06-26 17:23] galal-hussein commented on #613
@soumyalj the test case is really not valid in that case, there are two scenarios regarding replacing the etcd node:

1. etcd1 still up

then user should add etcd2, run rke up, and then remove etcd1

2. etcd1 is down

then user should run restore with new node in the config, run rke up

In your test case there should be a step to **shutdown** etcd1

1- set up a 2 node cluster, N1 -[c, etcd] N2 - [

[2018-06-26 19:16] HighwayofLife commented on #728
Yes, it would be useful for others. 👍

[2018-06-26 19:47] galal-hussein commented on #637
@soumyalj regarding your latest test case, in step 5:
[code]
this is not correct, this makes the certificate bundle fix useless because you basically ran rke up before restore so certificates will be regenerated and restoration process won't work.

what you need to do is restore first then run `rke up`

The panic is was just a bug that i put a fix for it, but you need to retest with the above note

[2018-06-26 20:18] cloudnautique opened #733 "Log clean up isn't happening after remove/up cycle"
**RKE version:**
v0.1.8-rc6
**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 17.10
**Steps to Reproduce:**

1. rke up --local --ignore-docker-version
1. rke remove --local --ignore-docker-version
1. rke up --local --ignore-docker-version

**Results:**
The links for the logs of the first RKE cluster

[2018-06-26 20:40] deniseschannon commented on #729
This is working as expected. All features in that are a feature-gate needs to be defined as an extra_arg until it is GA, which is when it defaults to being turned on automatically and no longer needs to be added.

For `MountPropagation`, the default might be true, but it is still in beta phase. And according to k8s docs, you still need to enable it yourself to use it.

https://kubernetes.io/docs/r

[2018-06-26 20:40] #729 closed

[2018-06-26 20:59] deniseschannon commented on #408
If you have a chance to try with a later version, please let me know. Were you able to get it working on other versions of k8s?

I'll close the issue for now

[2018-06-26 20:59] #408 closed

[2018-06-26 21:54] oskapt opened #734 "Regression with using passphrased SSH keys"
Please see #192 for comments that this has resurfaced in v0.1.7. I'm opening a new ticket because the other is closed and unlikely to see new comments. @galal-hussein @deniseschannon

[2018-06-26 23:44] soumyalj opened #735 "rke etcd restore fails on new nodes when the services section with etcd snapshot related field exists in yml file"
**RKE version:** rke version v0.1.8-rc7

**Steps to Reproduce:**
1. Create a cluster with the yml file below. Note that services section exists with etcd snapshot related fields
[code]
2- create few pods
3- take a snapshot
4. Create a new node
5- Add the snapshot and certificate bundle to a new node
6. shut down etcd1
7. Run Restore with the new node in the config file[Remove N1]

Restore fails as

[2018-06-27 00:28] soumyalj commented on #613
Tested with rke version v0.1.8-rc7
Tested the below cases :
1. etcd1 still up
then user should add etcd2, run rke up, and then remove etcd1

2. etcd1 is down
User should run restore with new node in the config, run rke up

1- set up a 2 node cluster, N1 -[c, etcd] N2 - [worker]
2- create few pods
3- take a snapshot
4. Create a new node
5- Add the snapshot and certificate bundle to a new node
6. sh

[2018-06-27 00:28] #613 closed

[2018-06-27 12:44] arnadusable opened #737 "Is it safe to upgrade system_images of cluster.yml?"
**RKE version:**
v0.1.5
**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 16.04.3 LTS : 4.4.0-128-generic
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-metal
**cluster.yml file:**
...
system_images:
  etcd: rancher/etcd:v3.0.17
  kubernetes: rancher/k8s:v1.8.7-rancher

[2018-06-27 19:51] moelsayed commented on #737
@arnadusable You can remove the versions you have already in the cluster.yml file. The RKE will fill in with the defaults for the version you will be using.

[2018-06-27 22:02] qwylz commented on #728
@sebastien-prudhomme I've just recently begun working on some additional pki enhancements for rke, as well.  I've been working on a new structure in the config that looks something like this so far:

[code]

The two `valid_days` keys control how many days the internally generated CA certificate and all other certificates (respectively) are valid for.

It would be nice if both your and my work coul

[2018-06-27 22:18] moelsayed commented on #43
This has been already implemented. All services support upgrades when any configuration parameter is changed.

[2018-06-27 22:18] #43 closed

[2018-06-27 22:19] sebastien-prudhomme commented on #728
@qwylz Ok for me. I wish someone from Rancher give its approval.

[2018-06-27 22:24] qwylz commented on #728
I'm close to having a PR ready.  All the code works; I just have to sort out how the vendoring works with PRs between `rancher/types` and `rancher/rke`.  Once I've got a PR submitted, that should elicit some kind of approval or disapproval, I imagine.

[2018-06-28 12:08] HighwayofLife commented on #728
You would submit a PR in types first. Then submit a WIP PR in rke that uses your types branch/fork in the vendor file. Once the types PR is merged, update your rke PR with the vendor update and remove the WIP prefix.

[2018-06-28 12:58] saiJPlus opened #739 "The heapster component in dashboard cannot access the apiserver"
**RKE version:**
v0.1.5
**Docker version: (`docker version`,`docker info` preferred)**
17.03
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
centos7.4
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

**cluster.yml file:**

**Steps to Reproduce:**

this is my heapster config file:
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    k8s-app: heap

[2018-06-28 15:12] superseb commented on #739
This repository (https://github.com/JasonvanBrackel/metrics-server-on-rancher-2.0.2) is used to configure metrics-servers on Rancher 2 custom clusters, and partly uses Heapster as shown here (https://github.com/superseb/metrics-server/commit/96c03399a3dcbbd2ed5feda4a0b8fa061f7a5c04)

If you want to use certificates, they are stored in `/etc/kubernetes/ssl`

[2018-06-28 17:28] harutyundermenjyan commented on #637
rke v0.1.8-rc8
now, after restoration of `etcd` and run `rke up` it fails with:
[code]
but with rke `v0.1.8-rc5` it doesn't fail and completes successfully.

[2018-06-28 22:32] moelsayed commented on #303
Closing this for inactivity. Please feel free to reopen if you have more details.

[2018-06-28 22:32] #303 closed

[2018-06-29 00:58] galal-hussein commented on #637
@soumyalj fixed the timing issue that caused the problem and i was able to do the full restoring process successfully, you can restest with v0.1.8-rc9

[2018-06-29 01:51] HighwayofLife commented on #650
Yes. I hit it again multiple times and again today. This only happens to
existing clusters, and I think the reason might be if something causes the
node to drop off line ( kubelet no longer reporting). I haven't figured out
whether the solution is to Simply restart the node, or to reprovision it
entirely.

[2018-06-29 07:02] dom3k commented on #595
@zedtux  Can you tell me what you are using now?

[2018-06-29 07:07] zedtux commented on #595
@dom3k I'm using [RKE](https://github.com/rancher/rke).

[2018-06-29 07:35] harutiundermenjian commented on #637
rke v0.1.8-rc9
I've tried to restore my old backup did by v0.1.8-rc5 if I remember it right but rke up failed as below:
Restoration process finished successfully but rke up failed.
[code]
[code]

[2018-06-29 16:39] curx opened #741 "openstack cloud provider config is empty"
**RKE version:**
v0.1.7
**Docker version: (`docker version`,`docker info` preferred)**
 17.09.1-ce, build 19e2cf6
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
RancherOS v1.3.0 / 4.9.80-rancher
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
OpenStack
**cluster.yml file:**
relevant config, see http://staging.rancher.com/docs/rke/v0.1.x/en/config-opti

[2018-06-29 17:42] moelsayed commented on #648
@HighwayofLife I am unable to reproduce this with the latest RC. Same goes for the related one #650 , which I also think might be related. Can you confirm with the latest RC ?

[2018-06-29 18:03] soumyalj commented on #718
@moelsayed : Tested with rke version v0.1.8-rc8. I still see this issue.
The cluster.yml has a simple addon which has nginx container .
[code]
Addon failed as expected as kind is ```Pods```
After fixing the error, rancher up was executed again and it still fails
[code]

[2018-06-29 18:39] galal-hussein commented on #637
@harutyundermenjyan @harutiundermenjian I wasn't able to reproduce, i tried taking a backup with 0.1.8-rc5 and restored with the latest rc and i can restore normally and rke up finished successfully.
It maybe originally a problem with the addon after restarting the k8s components like its mentioned here in step 7 https://rancher.com/docs/rancher/v2.x/en/backups/restorations/ha-restoration/, try to

[2018-06-29 19:14] galal-hussein commented on #734
@oskapt I think what you need to do is to run rke up with the option `--ssh-agent-auth` to use the ssh-agent, without this option rke will attempt to use the normal method to just ssh to the hosts with the encrypted key which will fail of course.

[2018-06-29 19:18] galal-hussein commented on #734
@oskapt can you retest the issue with the --ssh-agent-auth option and see if you can still see the issue

[2018-06-29 19:44] moelsayed commented on #718
@soumyalj This is a timing issue.

Kubernetes doesn't allow job definitions to be updated. So, internally, when an addon is updated, we remove the user-addon-job and redeploy it. This can take too long sometimes. and would timeout as in this case; RKE waited for 60 seconds before giving up.

We wait 2 x `addon_job_timeout` for this process to finish. So, can you please try again with `addon_job_ti

[2018-06-29 22:03] moelsayed commented on #718
@soumyalj I updated the error message to be more descriptive.

[2018-06-29 22:06] moelsayed commented on #650
@HighwayofLife can you please share kubelet logs ? and debug logs from rke runs ? Which RC did you use ?

[2018-06-29 22:30] soumyalj commented on #735
Tested with rke version v0.1.8-rc9.
1. Create cluster using yml file with etcd snapshot field in the services section.
2- create few pods
3- take a snapshot
4.  Create a new node
5- Add the snapshot and certificate bundle to a new node
6. shut down etcd1
7. Run Restore with the new node in the config file[Remove the node which is shutdown]

Restore succeeded
[code]

[2018-06-29 22:30] #735 closed

[2018-06-29 23:30] soumyalj commented on #718
This will be tested again once the new rc is available .

[2018-06-30 02:43] soumyalj commented on #637
Tested with rke version v0.1.8-rc10

1. Run rke up to create HA cluster. Create some pods
[https://raw.githubusercontent.com/rancher/rancher/e9d29b3f3b9673421961c68adf0516807d1317eb/rke-templates/3-node-certificate-recognizedca.yml]
2. Perform Etcd snapshot by running rke etcd snapshot-save and copy the snapshot  and certificate bundle to another host h1 (not in the cluster)
3. Remove the cluster

[2018-06-30 02:43] #637 closed

[2018-06-30 03:57] deniseschannon commented on #718
Available in v0.1.8-rc11

[2018-07-01 01:11] travisghansen commented on #739
Also ran into this when attempting to deploy https://github.com/kubernetes-incubator/metrics-server into an rke-generated cluster.

[2018-07-01 15:50] CalvinHartwell commented on #122
Did you guys manage to find out anything about NSX-T? I can't find the plugin at all anywhere, doesn't seem to be opensource.

[2018-07-01 19:19] harutyundermenjyan commented on #637
@galal-hussein Maybe I used a wrong certificate bundle not sure.
The restore works good with my other snapshots.
Thanks for all this process and solution.

[2018-07-02 09:18] superseb opened #748 "Add tolerations to nginx-ingress-controller DaemonSet"
To allow running on etcd/controlplane nodes, assuming we want to use nodeselector to determine nodes.

[2018-07-02 14:05] pdhung opened #750 "kube-apiserver extra_args not override the arguments"
**RKE version:**
rke version v0.1.7

**Docker version: (`docker version`,`docker info` preferred)**
17.03.2-ce
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
centos 7 3.10.0-862.3.2.el7.x86_64
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VM
**cluster.yml file:**
[code]

**Steps to Reproduce:**
Deploy custom etcd cert & key file, and run ./rke up

*

[2018-07-02 14:06] superseb opened #751 "Add warning when using a not supported version"
Mainly to warn users when using a release candidate.

[2018-07-02 14:49] HighwayofLife commented on #650
I am able to reproduce this with some regularity now, so working on gathering some useful info.

I created / provisioned a series of nodes (6) in Azure, CoreOS Virtual Machines. Rake rke, which runs successfully, then when I update some components, maybe updating the kubelet, the kubelet itself is restarting multiple times, and there are over a thousand mounts to /var/lib/kubelet on at least one o

[2018-07-02 14:58] HighwayofLife commented on #650
I've also noticed this on multiple versions of hyperkube 1.10, and now also 1.11. I feel it has something to do with rke-tools, but I'm having difficulty nailing it down.

cluster.yml file:
[code]

[2018-07-02 15:05] HighwayofLife commented on #650
Docker inspect kubelet: https://gist.github.com/HighwayofLife/9a30dffa9759a233d3e3f3abf8725bd7

Snippet from state:

[code]

rke version last run:
[code]

[2018-07-02 15:08] HighwayofLife commented on #648
I am pretty sure it's related to #650, and I think the reason this might happen is if the node provisioned is so small that the 1000+ mounts to var/lib/kubelet cause the node to be unresponsive. Closing this issue since it appears to be a symptom.

[2018-07-02 15:08] #648 closed

[2018-07-02 16:52] sebastien-prudhomme commented on #741
Use the 0.18 release candidate, it has all the fixes for OpenStack, and the documentation is for that version.

[2018-07-02 18:37] #748 closed

[2018-07-02 19:56] moelsayed commented on #718
I managed to reproduce the timeout. Here is what I found:

We deploy addon jobs with `backoffLimit` of `10`. Since kubernetes `v1.10.0`, the [backofflimit is broken](https://github.com/kubernetes/kubernetes/issues/62382).

When a broken user addon, is deployed using rke `v0.1.8-rc8` which defaults to k8s `v1.10.3-rancher2-1`, we can see the following:
[code]
The job keeps creating pods and trying

[2018-07-02 20:17] soumyalj commented on #718
The issue was reproduced only with K8s v1.10.3 when the addon_job_timeout is explicitly set low 10s or lower.[The default addon_job_timeout is 30s] As per the fix, the below error message is displayed to adjust the timeout value as below :
[code]
The issue is not reproduced with K8s v1.10.5 using rke version v0.1.8-rc11

[2018-07-02 20:17] #718 closed

[2018-07-02 23:10] bmdepesa commented on #701
rke v0.1.8-rc11

cluster-cidr is being set correctly for kube-proxy

[2018-07-02 23:10] #701 closed

[2018-07-02 23:51] adingilloRancher commented on #721
Version: v0.1.8-rc11

Version is seen.  Error is seen when cluster does not exist on remove.
[code]

[2018-07-02 23:51] #721 closed

[2018-07-03 13:05] techcto commented on #613
I am having this issue now, trying to heal a cluster using RKE.  Are you saying I need to use restore and that up will not work in certain cases?  I am simply deleting a server and then taking the replacement server IP, updating config.yaml, then I get this error:
[reconcile] Failed to delete etcd member [etcd-*] from etcd cluster"
[hosts] host [*] has another role, skipping delete from kubernetes

[2018-07-03 13:21] curx commented on #741
Thanks @sebastien-prudhomme , the RC fixed the issues.

[2018-07-03 13:21] #741 closed

[2018-07-03 14:12] techcto commented on #619
I think I have a variant of this issue.  I get this from RKE:
FATA[0034] Failed to take etcd snapshot exit code [1]: Error waiting for container [etcd-snapshot-once] on host [*]: Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?

I go to this host and run docker ps:

a51b387f4015        rancher/rke-tools:v0.1.8             "/opt/rke/rke-etcd-bâ¦"

[2018-07-03 16:36] adingilloRancher commented on #725
v0.1.8-rc11

Triggered new error messages when expected.

[code]

[2018-07-03 16:36] #725 closed

[2018-07-03 19:04] sangeethah commented on #662
Tested with rke version v0.1.8-rc11

With ROS hosts , able to fetch logs from host from the following locations:
/var/log/containers/ and /var/log/pods/

[root@ip-172-31-4-147 rancher]# ls  /var/log/containers/
canal-5pvws_kube-system_calico-node-938c5587cc3e17182b725fc60cbf0e74a15fd210553b3807aa812d3becacba11.log
canal-5pvws_kube-system_install-cni-4605fc0eedf7d737d437b380d94888540dc6dbe13d07f90f

[2018-07-03 19:04] #662 closed

[2018-07-03 20:17] adingilloRancher commented on #733
v0.1.8-rc11

Validated logs are removed.
[code]

[2018-07-03 20:17] #733 closed

[2018-07-03 20:59] soumyalj commented on #698
Reproduced the issue with rke version v0.1.8-rc5
kube-proxy logs before
[code]
Tested with rke version v0.1.8-rc11
Kube-proxy logs do not failures in the logs
[code]

[2018-07-03 20:59] #698 closed

[2018-07-03 21:05] ags131 commented on #95
I've actually been playing with this on my Pi3's running HypriotOS. So far, its been very successful, I replaced all the system images with the direct gcr.io equivalents, built rke-tools from source for arm, and just ran rke from my desktop. All worked fine once I got the right images.

As @ibuildthecloud mentioned, compiling all the images as arm and building the multi-arch manifests should be al

[2018-07-03 21:08] sandbox-services commented on #662
Also Tested with rke version v0.1.8-rc11, the cluster built by RKE can ship logs now, but clusters created by the rancher UI are still not able to, specifically in my use case an ec2 powered cluster that rancher provisions is still unable to ship logs.

`[rancher@test-a2 containers]$ ls /var/log/containers`
`[rancher@test-a2 containers]$ ls /opt/rke/var/log/containers
canal-2r4bg_kube-system_calic

[2018-07-04 01:43] fmunteanu opened #752 "ssh: rejected: administratively prohibited"
**RKE version:**
0.1.7

**Docker version: (`docker version`,`docker info` preferred)**
1.13.1

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
CentOS 7.5.1805 supported OS, 3.10.0-862.3.3.el7.x86_64

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS EC2 autoscaled CloudFormation stack, 3 x c5.large instances

**cluster.yml file:**
[code]

**Steps to

[2018-07-04 07:34] superseb commented on #752
Can the user `rancher` access the Docker socket on the nodes? (i.e. run `docker ps` as `rancher`)

https://docs.docker.com/install/linux/linux-postinstall/#manage-docker-as-a-non-root-user

[2018-07-04 08:53] fmunteanu commented on #752
@superseb, we are running the Docker version you list as supported in RHEL 7.5. The docker.sock is owned by root, as it should. I did not see any Rancher instructions asking to modify the standard Docker behavior.

[2018-07-04 09:01] superseb commented on #752
The docs are unclear on this, I will submit a PR. RKE requires an user that is able to access the Docker socket, see https://rancher.com/docs/rancher/v2.x/en/installation/troubleshooting-ha/ssh-tunneling/

[code]

[2018-07-04 09:08] fmunteanu commented on #752
@superseb isn't running Docker service as non-root user implying security risks? Can you please detail the procedure you recommend?

[2018-07-04 09:34] superseb commented on #752
The user that RKE uses needs to talk to Docker, it does this using the Docker socket present on the system. By default, this is only accessible by `root`. Either due to separation of users (you don't want to login as root), but in your case, definitely because of the issue with RHEL/CentOS where you can't use the `root` user (https://bugzilla.redhat.com/show_bug.cgi?id=1527565), you can allow user

[2018-07-04 10:04] fmunteanu commented on #752
@suoerseb is this issue present in all supported OS? Ubuntu, RancherOS, or just CentOS7?

[2018-07-04 10:08] superseb commented on #752
Not being able to use the `root` user is RHEL/CentOS specific (Bugzilla only applies to RHEL based OS).

If you can't or don't want to use the `root` user anyway, the requirement of the user being able to access the Docker socket is a generic requirement for RKE to work.

[2018-07-04 10:38] superseb commented on #752
I've created https://github.com/rancher/docs/pull/395 for RHEL/CentOS specific requirements, let me know if your issue is solved.

[2018-07-04 16:02] mayconfsbrito commented on #595
`Waiting for full cluster configuration`

I have the same problem.

[2018-07-04 18:07] fmunteanu commented on #752
Creating user `docker` instead of `rancher` addressed the permission issues. I get this error at the end, this is a brand you cluster:
[code]

Also, what would happen if I run the same command on each of the 3 HA nodes?
[code]

[2018-07-04 19:16] superseb commented on #752
Most common errors are described here, please follow the steps for your error: https://rancher.com/docs/rancher/v2.x/en/installation/troubleshooting-ha/

Yes, one `rke up` will build the cluster. The error you are getting is mostly related to bad YAML structure or some mixup in the encoding of the certificates. It will show when you follow the steps in the link for troubleshooting HA.

[2018-07-04 19:33] fmunteanu commented on #752
@superseb if I run the exact same command on a second rancher-server node, I do not obtain any errors. This error occurs only on a fresh cluster deployment.

[2018-07-04 19:34] superseb commented on #752
Because it doesn't re-run the part that is failing.

[2018-07-04 19:35] superseb commented on #752
This is going way off-topic from the issue, ping me on Slack if you want to discuss. The reported issue is solved.

[2018-07-04 19:35] #752 closed

[2018-07-05 09:48] superseb commented on #650
`kube-proxy` and `kubelet` are fighting over port 10256 which you configured as read-only port for the kubelet but is the kube-proxy healthz port. If `kubelet` starts first, all is good, if it dies/restarts and `kube-proxy` takes it, `kubelet` can't start. I have to check why `kube-proxy` doesn't exit when it can't bind and `kubelet` does, but this looks like a configuration error.

[2018-07-05 10:33] sebastien-prudhomme opened #753 "Update Etcd default version to 3.3.x to facilitate Prometheus monitoring"
RKE version: 0.17

Etcd cluster is configured with client cert authentification, which is good for security but prevents  Prometheus from scraping metrics as it has no dedicated client cert for that.

One solution is to use the "--listen-metrics-urls" that enable another port dedicated to monitoring and that is not using client cert authentification.

That option is available starting from Etcd 3.

[2018-07-05 10:41] superseb commented on #753
We follow the validated etcd for a k8s release as stated in their changelog. For 1.10 this is 3.1.12, and for 1.11 this is 3.2.18.

It seems etcd 3.3 will be supported for 1.12, see https://github.com/kubernetes/kubernetes/issues/61326.

Of course you are free to pick your own etcd version for your cluster.

[2018-07-05 10:52] sebastien-prudhomme commented on #753
@superseb Ok, i understand.

[2018-07-05 10:52] #753 closed

[2018-07-05 11:40] sebastien-prudhomme commented on #753
For information: i succesfully upgraded to v3.2 and then to v3.3, each time making an etcd snapshot with RKE.

See no regressions yet.

[2018-07-05 17:12] jgreat opened #754 "Publish list of required images."
Follow the Rancher release pattern and publish a list of all images used by RKE and tools to upload them to a private registry.

**RKE version:**
1.x

[2018-07-06 01:27] HighwayofLife opened #755 "Thousands of deploy-job pods in pending state"
**RKE version:**
rke version v0.1.8-rc11

**Docker version: (`docker version`,`docker info` preferred)**
1.12

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
CoreOS

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Azure Private Cloud

I just ran RKE with the newest version of RKE against an existing cluster previously provisioned by RKE, and the rke-n

[2018-07-06 03:19] willmao opened #756 "struggling setup k8s cluster with rke"
**RKE version: v0.1.7

**Docker version:
[code]

**Operating system and kernel:

[code]

**Type/provider of hosts: AliCloud ecs

**cluster.yml file:
[code]

**Steps to Reproduce:
1. prepare 3 k8s server hosts and a cluster control host with rke installed
2. run `rke up` with the cluster.yml setting above

**Results:
1.rke logs show cluster setup successfully but the kubelet logs on 3 server hosts

[2018-07-06 05:30] willmao commented on #756
seems to be network config issue, the hosts mentioned above are in classical network rather than vpc,
test on vpc environment, works well.

[2018-07-06 15:29] HighwayofLife opened #757 "unknown field "description" in rke-network-plugin.yaml using K8s 1.11"
**RKE version:**
- rke version v0.1.8-rc11

**Docker version: (`docker version`,`docker info` preferred)**
- 18.03.1-ce

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
- Container Linux

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
- Azure Private Cloud

**Kubernetes Version**
- kubernetes: rancher/hyperkube:v1.11.0-rancher1

**Steps to Reproduce:*

[2018-07-06 15:31] superseb commented on #757
K8s 1.11 is not tested/released yet, the templates are not updated yet to work with it.

[2018-07-06 15:32] superseb commented on #757
Linking to https://github.com/rancher/rancher/issues/13837 so it get's taken care of when it's validated.

[2018-07-06 15:32] #757 closed

[2018-07-06 15:35] deniseschannon commented on #755
What k8s version were you using? Was this k8s 1.11?

[2018-07-06 15:50] fmunteanu opened #758 "Failed to get job complete status: <nil>"
**RKE version:**
0.1.7

**Docker version: (`docker version`,`docker info` preferred)**
1.13.1

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
CentOS 7.5.1805 supported OS, 3.10.0-862.3.3.el7.x86_64

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS EC2 autoscaled CloudFormation stack, 3 x c5.large instances

**cluster.yml file:**
[code]

**Steps to

[2018-07-06 15:52] superseb commented on #758
The docs say to rename the file to `rancher-cluster.yml`, which makes the generated kubeconfig to be `kube_config_rancher-cluster.yml`. If you file is named `cluster.yml`, you have to replace all `rancher-cluster.yml` with `cluster.yml`. Can you try that and run through the troubleshooting docs?

[2018-07-06 16:01] fmunteanu commented on #758
[code]

[2018-07-06 17:22] techcto commented on #619
I got passed the above, but just ended back to this thread. Restore does not seem to work on clean install, backup, restore.

I clean out everything.
I install fresh cluster with RKE
./rke etcd snapshot-save --name etcdsnapshot --config config.yaml
then
./rke etcd snapshot-restore --name etcdsnapshot --config config.yaml
and get:
FATA[0011] [etcd] Failed to restore etcd snapshot: Failed to run etc

[2018-07-06 18:07] HighwayofLife commented on #755
No, this one was 1.10.3

[2018-07-06 21:30] galal-hussein commented on #750
tested with v0.1.8-rc12

I used the following cluster.yml file:
[code]
After running rke up and inspecting the etcd container, i can see that rke respects the extra args for etcd parameters:
[code]

[2018-07-06 21:30] #750 closed

[2018-07-07 11:18] willmao commented on #756
i have figured out that i made some mistakes in the config file above

1. cluster cidr should not be the same as the service ip range, i set the cluster cidr to 172.20.0.0/16 and service ip range to 172.21.0.0/16, dns server ip to 172.21.0.10
2. since my hosts have multiple network interface, flannel_iface should be set to the internal network interface
3. my default network interface was eth1, wh

[2018-07-07 11:19] #756 closed

[2018-07-07 11:33] willmao commented on #758
@fmunteanu  it seems that the ip of your hosts conflict with the k8s default cluster cidr which caused the cni network setup issue, you can have a look at the kubelet and cni network containers's logs