[2022-02-04 09:19] andreas-p commented on #2708
Problems appear to be resolved on a fresh 2-node cluster.
rke 1.3.6 on docker-ce 5:20.10.12~3-0 with debian11.

[2022-02-07 09:55] papanito commented on #2312
Still valid

[2022-02-07 20:31] mshilamk8s opened #2827 "rke_v1.21.8-rancher-2-1 vulnarabilities - Remediation"
**RKE version: 1.3.6 ;
rke_v1.21.8-rancher-2-1

Reg: vulnarabilites - Xray report
1145 (CRITICAL: 48, HIGH:584, MEDIUM:394, LOW:110, UNKNOWN: 9)

is there any remediation offered to address the CVE's in next releases and publish new images or any active development going on to fix the CVE's.

[2022-02-08 12:53] n1kofr commented on #2769
It looks like Calico release 3.22.0 contains the fix for Canal deployment with Dual Stack. Any update on RKE side when it will be integrated?

[2022-02-08 16:44] rafal-prasal commented on #2824
[Pull request probably solving the issue](https://github.com/rancher/rke/pull/2828)

[2022-02-08 17:37] gardium90 opened #2829 "Traefik should be an option included in RKE tool"
After attending the SUSE&Rancher Community Master Class event on K3s + Traefik, I would like to request that Traefik becomes an optional configuration for the RKE tool, such that RKE/Rancher can be deployed out of the box with Traefik included.

Traefik seemed much more modern, configurable and more aligned with DevOps/GitOps from a deployment and configuration perspective. I believe there would b

[2022-02-09 23:24] nneul commented on #2743
Ping.

[2022-02-09 23:24] nneul commented on #2775
Ping.

[2022-02-10 06:43] khayalghosh opened #2831 "Rke cluster upgrade failed when upgrading from 1.19.x to 1.20.x"
**RKE version:**
rke version v1.2.7

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Build with BuildKit (Docker Inc., v0.5.1-docker)
  scan: Docker Scan (Docker Inc., v0.12.0)

Server:
 Containers: 5
  Running: 2
  Paused: 0
  Stopped: 3
 Images: 3
 Server Version: 20.1

[2022-02-11 08:15] #2766 closed, assigned to nobody

[2022-02-12 06:15] harridu opened #2833 "rke 1.3.7 uses the experimental Kubernetes version v1.22.6-rancher1-1 by default"
Even though https://github.com/rancher/rke/releases/tag/v1.3.7 lists Kubernetes version v1.22.6-rancher1-1 under "experimental" it is used by default. I didn't ask for an experimental version for the upgrade from rke 1.3.4 to 1.3.7. Now I am stuck with a bricked Rancher installation and all managed clusters are inaccessible.

[2022-02-12 10:18] oncipriani opened #2834 "NGINX Ingress Controller options are not applied to the `ingress-nginx-controller` ConfigMap"
**RKE version:** 1.3.7

**cluster.yml file:**
[code]

**Steps to Reproduce:**
1. Create a `cluster.yml` file with Ingress options like above and run `rke up`;
2. ~~Notice the settings are applied to the `nginx-configuration` ConfigMap in the `ingress-nginx` namespace.~~
3. Notice the `ingress-nginx-controller` ConfigMap in the `ingress-nginx` namespace is created empty.

**Results:**
The Ingress C

[2022-02-12 19:32] immanuelfodor commented on #2833
I successfully upgraded with the new binary from rancher/hyperkube:v1.21.8-rancher2 to rancher/hyperkube:v1.22.6-rancher1 and the cluster is working fine. However I get `FATA[0340] [k8s] Job [rke-network-plugin-deploy-job] deletion timed out. Consider increasing addon_job_timeout value` even with addon_job_timeout=300. Canal pods stayed on the previous v3.19.2 tags instead of v3.21.1 because of th

[2022-02-12 20:12] immanuelfodor commented on #2833
Rebooted the nodes, then all nginx ingress pods are in a crash loop due to not being updated from rancher/nginx-ingress-controller:nginx-0.49.3-rancher1 to rancher/nginx-ingress-controller:nginx-1.1.0-rancher1. v0.49.X is not compatible with k8s v1.22 according to https://github.com/rancher/ingress-nginx/tree/nginx-0.49.x-fix#support-versions-table I suppose their update should run after the `rke-

[2022-02-12 20:32] immanuelfodor commented on #2833
`rke --debug up` showed `DEBU[0240] [k8s] waiting for job rke-network-plugin-deploy-job to delete..` so I listed all jobs in the cluster, and found the matching one in kube-system. Then I said YOLO and ran `k delete job rke-network-plugin-deploy-job -n kube-system` which resulted in `rke up` progressing to coredns setup. Now it got stuck again. This time I ran `k delete job rke-coredns-addon-deplo

[2022-02-12 20:34] immanuelfodor commented on #2833
So maybe these are the ~~droids~~ jobs you're looking for:

[code]

[2022-02-12 20:53] immanuelfodor commented on #2709
Tried to enable dockershim with latest rke v1.3.7 that now includes k8s v1.22.6 and metrics server v0.5.1. I get the same errors in metrics server logs as in https://github.com/rancher/rke/issues/2709#issue-1008631736 and https://github.com/rancher/rke/issues/2709#issuecomment-931652751 . Besides, kubectl top no returns `Error from server (ServiceUnavailable): the server is currently unable to han

[2022-02-13 19:08] harridu commented on #2833
Hi @immanuelfodor, thank you very much for your investigation and helpful hints, but to make things work again I had restored my rancher cluster from backup yesterday. I cannot risk another update and stall all clusters again. Hopefully this problem gets fixed (and tested !!!) by the developers.

[2022-02-14 11:15] lumachan commented on #2834
I can confirm the issue. And thanks for the workaround :)

[2022-02-16 04:25] neoakris commented on #2308
Note: According to RKE2's docs this works in RKE2. I wouldn't be surprised if this could work/does work with RKE1, but maybe just isn't documented.

Quoting the following site: https://docs.rke2.io/install/network_options/#install-a-cni-plugin

Starting with RKE2 v1.23 it is possible to use flannels wireguard backend for in-kernel WireGuard encapsulation and encryption (Users of kernels < 5.6 need

[2022-02-16 10:46] liyang516 opened #2838 "etcd backup failed when rebuild rke-tools image"
**RKE version:**
v1.3.3

**Docker version: (`docker version`,`docker info` preferred)**
20.10.12

**rke-tools image:**
rancher/rke-tools:v0.1.78

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
centos7

**cluster.yml file:**
nodes:
  - address: 10.47.109.136
    user: alkaid
    passwd: alkaid
    role:
      - controlplane
      - etcd
      - worker

**Description:

[2022-02-16 22:34] jiaqiluo opened #2840 "rke crashes if rotate_encryption_key is set when creating a new cluster"
**RKE version:**
v1.3.7
**Docker version: (`docker version`,`docker info` preferred)**
n/a
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
n/a
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
n/a
**cluster.yml file:**
[code]

**Steps to Reproduce:**
run `rke up`

**Results:**

RKE crashes with the following error
[code]

Related issue: https://github.co

[2022-02-17 03:21] jiaqiluo commented on #2840
### Root cause
  RKE will panic if we enable rotate_encryption_key but disable secrets_encryption_config when creating a cluster. The panic happens because RKE tries to use the rkeConfig, which does not exist. The rkeConfig will be made after the rke up command succeeds.
### What was fixed, or what changes have occurred
  Skip the rotateEncryptionKey operation when creating a new cluster. Also, In

[2022-02-17 08:10] vasanthkg commented on #2827
+1

[2022-02-17 12:50] vasanthkg opened #2845 "RKE 1.3.7 - vulnerabilities"
**RKE version:**
v1.3.7

**K8S version**
v1.21.9-rancher1-1

**Docker version: (`docker version`,`docker info` preferred)**
20.10.6

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Operating System: Ubuntu 20.04.2 LT
Kernel : 5.8.0-1043-azure
ARCH : x86_64

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VirtualBox/Bare-metal/Azure/AWS

**Description**

[2022-02-17 17:22] patrikbeno commented on #2833
I personally started fresh 1.3.7 install and I don't seem to have any issues for now, but I certainly didn't expect that I get experimental version by default.

Not sure if it's safe to stay on this version and hope for the best or go through all the pain of rebuilding the cluster from scratch.

[2022-02-17 19:11] iridian-ks opened #2846 "[metrics-server] If generate_serving_certificate is True then do not add --kubelet-insecure-tls"
**RKE version:**

RKE Version: v1.19.10-rancher1-1

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

Architecture | amd64
Docker Version | 19.3.15
Kernel Version | 3.10.0-1160.24.1.el7.x86_64
Kubelet Version | v1.19.10
Kube Proxy Version | v1.19.10
Operating System Image | CentOS Linux 7 (Core)
O

[2022-02-17 22:56] #579 closed

[2022-02-17 22:56] #2696 closed, assigned to nobody

[2022-02-17 22:56] #2705 closed, assigned to nobody

[2022-02-17 22:56] #2710 closed, assigned to nobody

[2022-02-17 22:56] #2746 closed, assigned to nobody

[2022-02-17 22:56] #2739 closed, assigned to nobody

[2022-02-17 22:56] #2744 closed, assigned to nobody

[2022-02-17 22:56] #2752 closed, assigned to nobody

[2022-02-17 22:56] #2711 closed, assigned to nobody

[2022-02-18 23:32] jrowinski3d commented on #2012
I too am receiving this issue. Just testing with the default provided in the docs. Running
**RKE VERSION** -> v1.3.7

[2022-02-19 01:02] yingbo-wu commented on #1915
I have the same problem

[2022-02-19 01:18] ky1emoon opened #2847 "Kubelet CPU Manager Policy args occur crash while running rke2 server"
**RKE version:**

rke2 version v1.22.6+rke2r1 (2dcedaf55c49ef9b24849c92702bdc12ea589d7a)
go version go1.16.10b7

**Docker version: (`docker version`,`docker info` preferred)**

Client:
 Context:    default
 Debug Mode: false

Server:
 Containers: 3
  Running: 3
  Paused: 0
  Stopped: 0
 Images: 85
 Server Version: 20.10.7
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: tru

[2022-02-19 01:20] ky1emoon commented on #2847
closing issue that I need to post this to rke2 issue

[2022-02-19 01:20] #2847 closed, assigned to nobody

[2022-02-19 15:20] sleepy-manul commented on #2818
I think this happens because in Rancher / RKE, all Kubernetes components, including kubelet, run inside docker containers, i.e. they are shielded from the host (unless connected by specific volume mounts, sockets etc.). My suspicion is that due to this, kubelet cannot get contact to the host's systemd. I am not sure if this problem can be fixed.

It would match the following line I find on my syst

[2022-02-19 22:21] #2771 closed, assigned to nobody

[2022-02-19 22:21] #2765 closed, assigned to nobody

[2022-02-20 10:40] ghost commented on #2833
I did a big upgrade yesterday (RKE 1.2.8 to 1.3.7), in this order:
`cert-manager -> Rancher -> RKE (K8s) -> Docker Engine`

1. cert-manager from 0.15 to 1.4.0
[code]

2. Rancher UI from 2.5.8 to 2.6.3
[code]

3. RKE from 1.2.8 to 1.3.7
[code]

4. cert-manager from 1.4.0 to 1.6.2
[code]

5. migrate cert-manager API to unlock cert-manager upgrade to 1.7.1 (latest)
[code]

6. cert-manager from 1.6.2

[2022-02-20 22:33] ghost commented on #2833
I am seeing these warnings / errors in Rancher `kubectl -n cattle-system logs rancher-<REDACTED>`, likely due to the experimental rancher v1.22.6 slipping through with the RKE 1.3.7 upgrade :/
They aren't really breaking the usability for me, but they aren't really nice.
Hoping the new Rancher helm chart will address them.

[code]

[code]

[2022-02-21 08:37] Aramorth opened #2848 "FATA[0428] exit status 1 make: *** [Makefile:11: ci] Error 1 Ubuntu Raspberry Pi 4 B 4GB"
**RKE version:latest

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.4 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubuntu.com/"
SUPPORT_URL="https://help.ubuntu.com/"
BUG_REPORT_URL="https://bugs.launchpad.net/ubuntu/"
PRIVACY_POLICY_URL="https://

[2022-02-21 11:48] peyoz commented on #2741
Looks like this problem was found and fixed here #35943

[2022-02-21 13:30] dm17 commented on #2306
Are there any light weight k8s alternatives that support podman?

[2022-02-21 14:03] Thulium-Drake commented on #2306
I eventually ended up building a cluster using KubeAdm with CRI-O as the container engine, works like a charm :)

[2022-02-21 14:07] dm17 commented on #2306
@Thulium-Drake thanks - I'm looking for a baremetal option and KubeAdm and the like or oriented towards VMs?

[2022-02-21 14:09] Thulium-Drake commented on #2306
Indeed, I'm wrapping it in Ansible over here: https://github.com/Thulium-Drake/ansible-role-k8s

You still need to configure the whole cluster content afterwards (CNI, storage plugins etc), but this role will set up VMs with just plain k8s and CRI-O as the engine.

[2022-02-21 14:26] harridu commented on #2833
HI @arno01, I have restored my rancher cluster from a file system backup. (The backup tar files created by the backup operator every hour couldn't be restored. Not important here.) Currently I have
[code]
This is the *old* rke 1.21.7 and rancher v2.6.3-patch1.

I noticed if I setup a full node (etcd, control plane, worker) in the old rancher and upgrade it to 1.22, then it seems to be working. I c

[2022-02-21 15:06] ghost commented on #2833
@harridu I think the best would be to check the logs of those containers you get running, to see some hints.

Comparing your `helm list -A` vs mine, I do not have `rancher-backup-*`, `rancher-logging-*` charts at all.
And you have `rancher-webhook-1.0.3+up0.2.4`, slightly higher than mine (`rancher-webhook-1.0.2+up0.2.2`).

I also have `cert-manager-v1.7.1`.
I am not 100% sure if `cert-manager` is

[2022-02-22 07:05] harridu commented on #2833
@arno01 Sorry, but no experiments with the production Rancher environment. This problem is a regression of rke 1.22, see my previous post.

[2022-02-22 07:31] n30gupta opened #2849 "Cluster must have at least one etcd plane host: please specify one or more etcd in cluster config"
Hi

I am trying to setup a 1 node cluster but getting error below of etcd.

root@ubuntu:~/rke# rke config --name cluster.yml
[+] Cluster Level SSH Private Key Path [~/.ssh/id_rsa]:
[+] Number of Hosts [1]: 1
[+] SSH Address of host (1) [none]: 192.168.27.148
[+] SSH Port of host (1) [22]:
[+] SSH Private Key Path of host (192.168.27.148) [none]:
[-] You have entered empty SSH key path, trying fetc

[2022-02-22 09:24] Aramorth commented on #2849
https://github.com/rancher/rke/issues/2848I' m not quite as far as where does the error occu

[2022-02-22 10:28] n30gupta commented on #2849
@Aramorth The link you have shared it is of different issue I think
could you please suggest me any idea to resolve this error.

[2022-02-23 03:54] junkiebev commented on #2834
Can confirm this is an issue on `rancher/hyperkube:v1.20.15-rancher1`

[2022-02-23 16:47] alainandre commented on #2834
I confimed the issue on **RKE version:** `v1.3.7`
**k8s versions**: `v1.20.15-rancher1-1` and `v1.21.9-rancher1-1`

@oncipriani thanks for the workaroud. It worked on my cluster upgrading from k8s `v1.20.9-rancher1-1` rke `v1.2.10` to k8s `v1.21.9-rancher1-1` rke `v1.3.7`. As you commented the nginx-configuration ConfigMap  created by a previous RKE was already there.

[2022-02-24 13:34] #2773 closed, assigned to nobody

[2022-02-24 13:34] #2768 closed, assigned to nobody

[2022-02-25 17:18] junkiebev commented on #1737
They are deprecating it: https://blog.min.io/deprecation-of-the-minio-gateway/

[2022-03-02 06:58] josephsahayaraj opened #2856 "Rancher UI is unable to show status of the Cluster or Cluster Explorer is not available due to the error in the screenshot attached"
we have been receiving Alert controller-manager is not active , Alert scheduler is not active for a week, although the status of the cluster and pods we were able to view via cluster explorer until now , from yesterday we are unable to access cluster expolrer from Racnher Ui.

when we tried ssh into hosts and execute kubectl commands we were able to see all the pods and thier status.

**RKE versio

[2022-03-02 07:01] josephsahayaraj commented on #2856
<img width="1382" alt="Screenshot 2022-03-02 at 3 01 01 PM" src="https://user-images.githubusercontent.com/67447780/156311327-0ae62a61-6ed5-4ed2-bfd9-f2877c71abea.png">

[2022-03-02 07:12] josephsahayaraj commented on #2856
<img width="943" alt="Screenshot 2022-03-02 at 3 12 00 PM" src="https://user-images.githubusercontent.com/67447780/156312701-08e7f764-d723-4f90-81e3-661d5d415e24.png">

[2022-03-02 07:20] josephsahayaraj commented on #2856
<img width="1376" alt="Screenshot 2022-03-02 at 3 20 07 PM" src="https://user-images.githubusercontent.com/67447780/156313768-fb9ca200-56e5-4212-93f9-90b30c2b6a75.png">

[2022-03-02 07:21] josephsahayaraj commented on #2856
<img width="1376" alt="Screenshot 2022-03-02 at 3 20 23 PM" src="https://user-images.githubusercontent.com/67447780/156313804-e76eb1e7-a092-485c-a43a-1cbfa7937f93.png">

[2022-03-03 09:17] andreas-p opened #2857 "Upgrade k8s 1.21.5 to 1.21.9 not finalized after rke1.3.7 up"
I have a cluster on Debian Buster with Docker 20.10.8, running v1.21.5-rancher1 installed with rke 1.3.1. In addition, system_images contained canal_flannel: rancher/mirrored-coreos-flannel:v0.15.0.

The system_images override was removed, kubernetes_version: "v1.21.9-rancher1-1" and I tried to update k8s with rke1.3.6 and then rke1.3.7. As a result, coreos-flannel is running v0.15.1 now, but the

[2022-03-03 20:27] jiaqiluo commented on #2840
can be tested in [v1.3.8-rc4](https://github.com/rancher/rke/releases/tag/v1.3.8-rc4)

[2022-03-04 08:30] asettouf opened #2859 "Error with kubelet - failed to get cgroup stats for docker.service"
**RKE version:**
v1.3.5

**Docker version: (`docker version`,`docker info` preferred)**
Docker version 20.10.10, build b485636

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

Debian GNU/Linux 11 (bullseye)
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-metal

**cluster.yml file:**

[code]

**Steps to Reproduce:**

Run a RKE cluster foll

[2022-03-05 14:16] AntsInMyEy3sJohnson commented on #2859
Same issue here, except it occurs on all nodes (three-node cluster, one as master+worker+etcd, the other two being only worker nodes).

* RKE version: 1.3.7
* Docker version: 20.10.12
* OS: Fedora Server 33
* `uname -r` --> `5.14.18-100.fc33.x86_64`
* Provider of hosts: bare-metal

[code]

Full `cluster.yml`:

[code]

Is this a configuration problem or a bug somewhere in RKE?

[2022-03-05 17:05] luis13byte opened #2860 "Change from CNI initially specified in cluster.yml. Migrate from Weave to Calico."
**RKE version:**
v1.3.4

**Type/provider of hosts:**
Bare Metal

### Problem:
I hope someone can help me with this problem, I've a Kubernetes cluster (v1.22), initially deployed with RKE's cluster.yml.

My intention was to change the CNI, since I currently use Weave, which is the one I configured in cluster.yml when I created the cluster and now I would like to migrate to Calico, according to [the

[2022-03-06 10:12] #2785 closed, assigned to nobody

[2022-03-07 18:31] luis13byte commented on #2857
It would be nice to see the logs of your `rke up` command, to better help you with your problem.

[2022-03-07 18:45] Aramorth commented on #2848
Why does a make command fail?

[2022-03-08 09:29] andreas-p commented on #2857
Ok, found it...
I actually didn't run `rke up`, but `rke up --update-only` which should `Skip idempotent deployment of control and etcd plane` according to help. I wouldn't consider 1.21.5 to 1.21.9 idempotent, but apparently rke does.
After running without update-only, control plane is up with expected versions.

[2022-03-08 09:47] luis13byte commented on #2857
I believe that even if it were major versions, the `--update-only` parameter only applies node configurations and little else, as indicated in the [documentation](https://rancher.com/docs/rke/latest/en/managing-clusters/#adding-removing-worker-nodes).

You can mark this problem as closed.

[2022-03-08 09:52] andreas-p commented on #2857
Apparently the documentation is misleading as well: `--update-only` did apply new canal pods.

[2022-03-08 09:52] #2857 closed, assigned to nobody

[2022-03-09 09:46] gioppoluca commented on #1432
Any news on how to disable kube-proxy in favor of a "strinct" cilium configuration?

[2022-03-09 16:44] Laikulo opened #2863 "Enhancement: Allow specifying ssh_cert and ssh_cert_path globally, instead of per node."
**RKE version:** 1.3.7

**Docker version: (`docker version`,`docker info` preferred)**
N/A

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
N/A

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** N/A

**cluster.yml file:** N/A

**Steps to Reproduce:** N/A

**Results:** N/A

Currently, it is not possible to specify `ssh_cert` or `ssh_cert_path` at the top

[2022-03-12 11:06] #2786 closed, assigned to nobody

[2022-03-13 19:26] #2790 closed, assigned to nobody

[2022-03-13 19:26] #2791 closed, assigned to nobody

[2022-03-14 10:07] jehof opened #2867 "PodSelector for NodeDrainInput"
I am using rke to provision kubernetes cluster. As storage engine I use longhorn on each worker node. According to longhorn it is required/preferred to pass a podSelector (`--pod-selector='app!=csi-attacher,app!=csi-provisioner'`) to the kubectl drain command, so that longhorn volumes are properly detached.

Is it somehow possible to pass this `podSelector` to the `rke up` ( as `NodeDrainInput` or

[2022-03-15 08:01] sevenval-admins commented on #2834
I can also confirm that in all our clusters we had the problem with the last update that the options from the Ingress controller were not noticed because the new ConfigMap was empty. The workaround only works for existing clusters and if you don't want to change any options.

Therefore, I ask for a quick fix of the bug.

Version rke: v1.3.7
Old version Kubernetes: v1.18.20-rancher1-2
New version K

[2022-03-15 20:21] paynejacob opened #2870 "Upgrade flannel CNI to latest version"
We should upgrade the flannel cni to the latest version.  At the time of writing this this will require changing how the flannel cni installs plugins as this upgrade fails because the proxyport plugin is no longer shipped with the flannel cni.

[2022-03-16 03:08] #2792 closed, assigned to nobody

[2022-03-17 00:46] slickwarren opened #2872 "Run Conformance Tests for 1.23"
**RKE version:**
1.23

**Task**
1.23 is available for rancher v2.6.4. We should run conformance tests using rke/ k8s v1.23

[2022-03-17 03:45] rchench commented on #2834
My workaround is just to manually update the configmap/ingress-nginx-controller after `rke up`, the daemonset/nginx-ingress-controller pod will be reloaded.

[2022-03-17 05:33] Merikanto opened #2873 "【RKE calico/node】Change Default IP Autodetection Method in calico/node config yml"
Currently, RKE is using **first-found** by default:

https://projectcalico.docs.tigera.io/reference/node/configuration#first-found

However, I wonder if this method is better than the over-simplified **first-found** method:

https://projectcalico.docs.tigera.io/reference/node/configuration#can-reachdestination

It seems reasonable to determine the IP based on local routing, which in many cases, wi

[2022-03-17 10:23] yankcrime commented on #2308
The RKE equivalent would be:

[code]

Which doesn't work, unfortunately.

[2022-03-17 11:04] yankcrime commented on #2308
And for anyone else that lands on this issue when searching for 'wireguard', if you're not married to using Canal then it can be easily enabled using Calico as your CNI instead with the following configuration in your `cluster.yml`:

[code]

[2022-03-17 13:52] rishabhmsra commented on #2872
**Rancher Server Setup :**
- RKE version : v1.3.8-rc8

**Information about the Cluster**
- Kubernetes version : v1.23.4-rancher1-1
- Cluster Type: RKE1 - 1 node with roles - `cp, etcd and worker`, 2 `worker` nodes

**To Reproduce :**
- In cluster.yaml set ingress provider as none.
[code]
- Add kube-api args:
[code]
- Run conformance test

**Result :**
[code]

[2022-03-17 19:27] timhaneunsoo commented on #2840
### Test Environment: ###
**rke version**: 1.3.8-rc4

----------

### Testing: ###

Tested this issue with the following steps:
1. run rke up with the following field added in cluster.yml
`rotate_encryption_key: true`

**Result** - Pass

The cluster is built successfully

![Screen Shot 2022-03-17 at 3.28.20 PM.png](https://zube.io/files/rancher/4308020a3c108ba02dd5e7cecac5b680-screen-shot-2022-03-

[2022-03-17 19:29] #2840 closed, assigned to jiaqiluo, timhaneunsoo

[2022-03-17 19:29] jacobsaw opened #2875 "rke-network-plugin-deploy-job fails with missing API token"
**RKE version:**

v1.2.18

**Docker version: (`docker version`,`docker info` preferred)**

Containers: 240
 Running: 200
 Paused: 0
 Stopped: 40
Images: 71
Server Version: 1.13.1
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: journald
Cgroup Driver: systemd
Plugins:
 Volume: local
 Network: bridge host macvlan null overlay
 Aut

[2022-03-18 15:21] svenluzar commented on #2834
Thanks, the workaround also works for me. After `rke up` I used the following lines to fix the problem:

[code]

But it is only a workaround, the problem should be fixed directly in rke. ;-)

[2022-03-20 15:10] travisghansen commented on #2859
I've got a mixed set of nodes (centos7 and ubuntu 22.04) and only see this on the ubuntu 22.04 nodes.

[2022-03-20 15:42] ElinUrevich8 commented on #2632
Hey There Guys!
This issue reproduces inconsistency at our environment.
Is there any workaround/method to increase this timeouts in order to avoid failing due to slow hardware?
Thanks in advance :)

[2022-03-20 21:16] #2794 closed, assigned to nobody

[2022-03-20 21:16] #2795 closed, assigned to nobody

[2022-03-21 12:41] rishabhmsra commented on #2872
Conformance test results PR on cncf : https://github.com/cncf/k8s-conformance/pull/1836

[2022-03-22 14:31] sixtus opened #2881 "RKE fails to ssh connect on Ubuntu Jammy (22.04 LTS preview)"
I just gave up on trying to make RKE work with Ubuntu Jammy. The initial ssh handshake fails. My installation is scripted, so I rerun the same with Ubuntu Focal and it works just fine.

Didn't find anything obvious, that may cause this, likely it's an ssh config change in Ubuntu.

[2022-03-23 20:41] Sartigan commented on #2116
Any options to disable this? It is not something we want by default. Very often the secret isn't created right away so the pod has the restart a few times before being in a ready status. We have to add a sleep to deploy an ingress after the creation of RKE...

[2022-03-24 00:15] jgallucci32 opened #2883 "Failed calling webhook "validate.nginx.ingress.kubernetes.io""
**RKE version:**
v1.20.15-rancher1-1

**Docker version: (`docker version`,`docker info` preferred)**
<details>
  <summary>docker version</summary>

[code]
</details>
<details>
  <summary>docker info</summary>

[code]
</details>

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Eucalyptus/KVM

[2022-03-24 00:49] jgallucci32 commented on #2883
It looks like `tcp/8443` is missing from the AWS Security Group and needs to be added to the instructions. Once that port was added the admission webhook was able to respond.

[2022-03-24 03:34] FelicianoTech commented on #2881
I don't use RKE but I'm having this same issue bringing up a machine on GCE. Definitely something changes in Ubuntu Jammy that broke this process. I did a build at the beginning of February and it was fine so for me, it's a change within the last 40 days or so.

[2022-03-25 00:36] #2802 closed, assigned to nobody

[2022-03-26 12:23] svenluzar commented on #2834
Thank you very much, with rke version 1.3.8 the problem was fixed.

[2022-03-26 23:23] FelicianoTech commented on #2881
In case it helps...

Ubuntu 22.04 has updated OpenSSH from v8.2 (in 20.04) to v8.9. In v8.8, RSA pubkey support was removed for servers and RSA signatures were removed from clients. This causes some SSH clients to be unable to connect to an Ubuntu 22.04 machine.

[2022-03-27 07:51] #2781 closed, assigned to nobody

[2022-03-28 14:47] sixtus commented on #2881
The problem went away, when I switched the client to a non-rsa key, I used ssh-ed25519 instead.

[2022-03-28 14:47] #2881 closed, assigned to nobody

[2022-03-29 22:22] waldner opened #2890 "Setting vsphere `cloud_provider` prevents nodes from getting `INTERNAL-IP`"
**RKE version:**

1.3.8 (but happens with earlier versions too)

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

VMWare VSphere VMs

**cluster.yml file:**

[code]

**Steps to Reproduce:**

[code]

As you see, `INTERNAL-IP` i

[2022-03-30 10:29] Volkimd opened #2891 "Health Endpoint not Available for NGINX Ingress Controller"
**RKE version:** v1.3.7
**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

5.4.0-104-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**: VMWare

**cluster.yml file:** Rancher provisioned
[code]

**Steps to Reproduce:**

Simply build a RKE Cluster. Check NGINX Health port

`curl

[2022-03-30 17:57] mghlaiel commented on #2891
I'm running into the same issue with the same config using `rke v1.3.8` to create a cluster on EC2

[2022-03-30 19:47] sharky98 commented on #2881
I can confirm this issue. Almost all help out there says to try to connect manually with the same private key using `ssh -i {pathToPrivateKey} user@host`. However, it does work without issues when doing so. However, when using `rke up` it doesn't work.

[2022-03-31 02:24] admun opened #2893 "Unable to add Fedora CoreOS node to RKE cluster"
**RKE version:**

RKE cluster created and managed by rancher v2.6.2

**Docker version: (`docker version`,`docker info` preferred)**

[core@fcos-1 ~]$ sudo docker version
Client:
 Version:           20.10.12
 API version:       1.41
 Go version:        go1.16.12
 Git commit:        485636f
 Built:             Wed Jan 12 03:29:50 2022
 OS/Arch:           linux/amd64
 Context:           default
 Expe

[2022-03-31 08:42] bitfisher commented on #2788
Any progress so far?

[2022-03-31 09:02] Trackhe commented on #1847
I have this issue too. what i can do?

[2022-03-31 11:54] waldner opened #2894 "Cannot create cluster if `MountFlags=shared` in docker"
**RKE version:**

1.3.8

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

VSphere VMs

**cluster.yml file:**

[code]

**Steps to Reproduce:**

[code]

**Results:**

[code]

Having mount propagation enabled is a requirement fo

[2022-04-01 05:01] samkulkarni20 commented on #2872
@Jono-SUSE-Rancher above mentioned PR is merged. We're cncf certified.

[2022-04-01 17:00] #2872 closed, assigned to rishabhmsra

[2022-04-02 07:54] #2804 closed, assigned to nobody

[2022-04-02 07:54] #2793 closed, assigned to nobody

[2022-04-02 07:54] #2805 closed, assigned to nobody

[2022-04-04 17:17] tsde commented on #2788
@bitfisher I opened an issue on Flatcar side too (see https://github.com/flatcar-linux/Flatcar/issues/598). The current workaround is to have selinux disabled for the docker service. This is of course not ideal but work seems currently on-going on Flatcar side to smooth out SELinux related stuff https://github.com/flatcar-linux/Flatcar/issues/673

[2022-04-04 20:47] jiaqiluo opened #2898 "Calico not compatible with RHEL 8.4/Kernel 4.18"
**RKE version:**
RKE 1.3.2

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
 RHEL 8.4

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

**cluster.yml file:**

**Steps to Reproduce:**

- Deploy 3 node cluster with `v1.20.12-rancher1-1` and CNI `Canal`
- Run RKE up on the cluster
- Observe b

[2022-04-05 16:41] Tejeev commented on #2833
@harridu as a best practice in the future, please pin the k8s version in your cluster yaml.  RKE version and kubernetes version are not hard linked, and instead, RKE just allows for the running of several versions with the newest tested being set to default. K8s should be upgraded with intent per https://rancher.com/docs/rke/latest/en/upgrades/#upgrading-kubernetes

[2022-04-05 16:42] Tejeev commented on #2833
(that's not to say I endorse using an experimental version but that to follow k8s best upgrade practices and maintain an environment with optimum uptime, I encourage you to use the best practice of upgrading 1 minor version at a time via pinned k8s version in your cluster yaml.)

[2022-04-05 17:11] #2894 closed, assigned to nobody

[2022-04-06 18:06] travisghansen commented on #1846
Unstale

[2022-04-06 19:45] immanuelfodor commented on #2833
FYI, with RKE v1.3.9 and k8s v1.22.7 I experienced the job deletion issue again, so I needed to run some (but not all) commands mentioned in https://github.com/rancher/rke/issues/2833#issuecomment-1037457764 to make the `rke --debug up` command progress from the stucked job states:

[code]

[2022-04-06 21:31] aslafy-z commented on #1067
Un-stale.

[2022-04-07 04:51] linkafsar commented on #2893
I think the issue is with flexvol-dir, can you check the path of flexvol dir. Coreos /usr is readonly filesystem which are unable to create.

[2022-04-07 16:31] admun commented on #2893
@linkafsar

confirmed /usr is not writable...

[root@fcos-1 ~]# echo "aa" > /usr/aa
-bash: /usr/aa: Read-only file system

How can I get around this?

[2022-04-07 20:42] mddamato commented on #2759
Possible workaround. Add the following to your cluster.yml:

[code]

then `rke up` again.

I have also confirmed this working in downstream clusters by editing the cluster config via yaml in UI

Cluster Management -> Edit Config (for cluster) -> Edit as YAML

then in the spec modify to

[code]

[2022-04-08 12:16] bashofmann commented on #2891
As a workaround, you could expose the port through a nodeport service:

[code]

Also, this only affects RKE1. With RKE2 the port is still accessible, also with K8s versions >= 1.21:

[code]

[2022-04-08 13:46] immanuelfodor commented on #2833
I can also see the "incompatible version" error logs in https://github.com/rancher/rke/issues/2833#issuecomment-1046335489

[2022-04-08 13:46] immanuelfodor commented on #2833
^ latest Rancher v2.6.4

[2022-04-08 22:32] chancez commented on #2709
This also impacts rancher-desktop

[2022-04-09 06:10] papanito commented on #2312
still valid

[2022-04-10 08:36] jostmart commented on #1063
Bump: Any chance to get this prioritized?

[2022-04-11 09:46] tarekabouzeid opened #2901 "Rancher pods not restarting after rotating RKE cluster certificates"
**RKE version:** v1.2.16

**Docker version: (`docker version`,`docker info` preferred)** Docker version 20.10.12, build e91ed57

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** Redhat 8

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** Bare-metal

**cluster.yml file:**
[code]

**Steps to Reproduce:**  Create RKE cluster, then run command to rotate certi

[2022-04-11 10:46] lopf commented on #2834
Are we sure? We just hit this bug with Rancher v2.6.4 which, according to the release notes, uses RKE v1.3.8.

[2022-04-11 12:22] nneul commented on #2743
Ping, this is still very much an issue unless rke 1 is essentially abandoned at this point?

[2022-04-11 12:22] nneul commented on #2775
Ping, this is still very much an issue unless rke 1 is essentially abandoned at this point?

[2022-04-12 09:31] luis13byte commented on #955
I got this error in a network with more nodes and without firewall. In my case the solution was the following:

- Ensure that in ALL control planes can resolve the hostname of the new worker (I used a local host).

- That the server that is going to join the cluster can resolve the hostnames of all the control planes.

Therefore the error as such was not because of the port, as indicated, but beca

[2022-04-14 02:11] 631068264 commented on #1841
Error: unknown flag: --policy-config-file

[2022-04-18 17:29] #2819 closed, assigned to nobody

[2022-04-19 16:43] jacobsaw commented on #2875
Closing. Still unsure of what the cause of this issue was but providing steps to how I worked around it in case it helps someone in the future.

- Updated `rke` to `1.3.9`.
- Upgraded to Rancher `2.6.4`.
- Set `kubernetes_version` to `v1.21.10-rancher1-1`. Cluster was on 1.20.x during issue.
- Removed `cloud_provider` setting as rke could not find node (cluster remained functional but update would

[2022-04-19 16:43] #2875 closed, assigned to nobody

[2022-04-20 15:54] rahendatri opened #2907 "RHEL 8.5 Failed to set up SSH tunneling for host ... : Can't retrieve Docker Info ... ssh: rejected: connect failed (open failed)"
**RKE version:** v1.2.19

**Docker version: (`docker version`,`docker info` preferred)** Docker version 20.10.12, build e91ed57

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** VMware vSphere

**cluster.yml file:**

[code]

**Steps to Reproduce:**

Firstly, log in as user other than root but havin

[2022-04-21 07:06] rahendatri commented on #2907
Transferring this issue into [Rancher Forum](https://forums.rancher.com)

[2022-04-21 14:07] rahendatri commented on #2907
Reopened this issue.
For somehow, the same cluster.yml file worked on RHEL 7.x but not on RHEL 8.5.
Even though ssh is properly configured, it seems like rke does not correctly take into account the current SSH configuration.

Feel free to ask me more details 😉

[2022-04-22 19:06] joereyna commented on #1416
I had this same problem and had to remove any new nodes from the cluster.yml and then run rke update again so the state could be corrected.  Is there a fix for this?  It makes adding 100 nodes very arduous and time consuming.

[2022-04-23 13:01] #2823 closed, assigned to nobody

[2022-04-23 13:01] #2708 closed, assigned to nobody

[2022-04-23 13:01] #2817 closed, assigned to nobody

[2022-04-25 08:24] 631068264 commented on #993
So how to update ? @deniseschannon

[2022-04-27 08:18] #2831 closed, assigned to nobody

[2022-04-27 08:18] #2769 closed, assigned to nobody

[2022-04-27 08:18] #2824 closed, assigned to nobody

[2022-04-27 08:18] #2829 closed, assigned to nobody

[2022-04-29 03:35] dinobagio commented on #2907
I just ran into the same issue. But with node running latest ubuntu 22.04.
I can easily ssh into my node but RKE cannot.
Somehow RKE announce a key type not accepted by sshd.
where sshd is `OpenSSH_8.9p1 Ubuntu-3, OpenSSL 3.0.2 15 Mar 2022`

`sshd[2407]: userauth_pubkey: key type ssh-rsa not in PubkeyAcceptedAlgorithms [preauth]`

I followed the resolution explained in this topic
https://thepcforu

[2022-04-29 18:00] cocampbe commented on #2860
Maybe it's just me. But the docs clearly state you cannot change the CNI after the fact. I feel your only option is to deploy a new cluster and redeploy there. I know it's not likely what you want to hear, but I think it's the only option.

[2022-04-29 19:07] spyder007 opened #2922 "Issue removing etcd role from node"
**RKE version:**
1.3.9

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Context:    default
 Debug Mode: false

Server:
 Containers: 13
  Running: 12
  Paused: 0
  Stopped: 1
 Images: 7
 Server Version: 20.10.12
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: true
  Native Overlay Diff: true
  userxattr: false
 Logging Driver: json-file
 Cgroup Driv

[2022-05-02 21:32] spyder007 commented on #2907
I had the same problem:  I changed from an RSA key to an ed25519 key and RKE was able to connect.

[2022-05-03 11:04] noamles commented on #2922
Hi,

had the same issue, the source of the problem is etcd 3.5.0 .
you can see how to solve it here - https://github.com/rancher/rancher/issues/36874

good luck.

[2022-05-04 14:36] danielhass commented on #1585
Hi @DenisKramer, thanks for your excellent write-up of this issue! Helped a lot with finding a vaible workaround.

I wanted to provide the workaround we applied to get the Kubernetes device-plugin API to work. We are currently running the following setup:
[code]
Upstream docs on the device-plugin API can be found [here](https://kubernetes.io/docs/concepts/extend-kubernetes/compute-storage-net/devi

[2022-05-04 19:38] spyder007 commented on #2922
@noamles Thank you for the guide.. I'm going to stand up a new cluster to test rke 1.3.10 with a new rancher cluster.. if it works i'll have to upgrade my current clusters and try to migrate.

[2022-05-04 22:24] #2846 closed, assigned to nobody

[2022-05-04 22:24] #2838 closed, assigned to nobody

[2022-05-04 22:24] #2827 closed, assigned to nobody

[2022-05-04 22:24] #2845 closed, assigned to nobody

[2022-05-04 23:02] iridian-ks commented on #2846
This shouldn't be closed... this is a legitimate security issue. If the CA's are trusted then we should not be skipping TLS verification.

[2022-05-04 23:17] jiaqiluo opened #2924 "[Rancher 2.6.5] [RKE 1.3] Default k8s version switch to 1.23"
For the Rancher 2.6.5 release, we want to switch the default k8s version to 1.23.  See https://github.com/rancher/rancher/issues/37432
So does the REK CLI which will be released along with Rancher 2.6.5

[2022-05-05 02:15] alexpoth opened #2926 "One of the two core-dns pod in Pending state due to Anti Affinity rules in a Single Node Cluster Environment"
**RKE version:**
v2.6.4
**Docker version: (`docker version`,`docker info` preferred)**
20.10.14
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 18.04.6 LTS Bionic
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Rancher Server as Docker on a Ubuntu VM with the K8s Cluster Baremetal
**cluster.yml file:**

**Steps to Reproduce:**
I upgrade the Ranc

[2022-05-05 17:46] jiaqiluo commented on #2924
can be tested with RKE CLI v1.3.11-rc2

### to test

1. run `rke config -l` to print the default version
2. run `rke up` to provision a cluster with the default version

[2022-05-05 20:33] spyder007 commented on #2922
For reference:
1) Upgraded to RKE 1.3.10 (CLI Version)
2) Upgraded the cluster to `v1.23.6-rancher1-1`
3) Executed the same tests

etcd nodes were removed correctly without causing an error.

[2022-05-05 20:33] #2922 closed, assigned to nobody

[2022-05-06 16:54] Josh-Diamond commented on #2924
Ticket #2924 - Test Results

WIth RKE CLI `v1.3.11-rc2`:
1. Run `rke config -l` to verify default version
2. Verified - Default with `v1.3.11-rc2` is k8s `v1.23.6-rancher1-1`
3. Run `rke up` to provision a downstream rke1 cluster with k8s `v1.23.6`
4. Verified - Cluster successfully provisions

Screenshot:

`Step 2`
<img width="571" alt="Screen Shot 2022-05-06 at 9 37 44 AM" src="https://user-imag

[2022-05-06 16:55] #2924 closed, assigned to jiaqiluo, Josh-Diamond

[2022-05-06 16:57] markusewalker commented on #2898
@jiaqiluo looked into this further on my end. I tested using RHEL 8.5 with kernel version `4.18.0-305.el8.x86_64`. I wasn't able to see this issue with `Canal` as my CNI. Please see below:

[code]

[code]
I used `Calico` as the CNI and I received the same results as above as well. The differences, at least from the description, is that I am using RHEL 8.5 and `v1.22.9` as my version.

[2022-05-06 17:33] HarrisonWAffel commented on #2898
@markusewalker, thanks for checking! It's likely this issue only occurs on RHEL 8.4 due to an issue described in this documentation: https://rancher.com/docs/rancher/v2.6/en/cluster-provisioning/node-requirements/#oracle-linux-and-rhel-derived-linux-nodes . I've responded to the reporter in the related SURE issue and he has confirmed these prerequisite commands resolve the customers issue. Once we

[2022-05-08 06:54] arunc1985 commented on #1883
@superseb I also face similar issue, same configs as above. Unable to ping or ssh to any VM outside of POD.

[2022-05-10 04:31] jehof commented on #2901
What rancher version are you using?

[2022-05-11 11:04] mrolmedo commented on #2295
Hi there,
I had same situation over my cluster: frequent leader changes and restarts of those components. When I checked etcd logs they were full of "failed to send out heartbeat on time". In our particular case, there were  network latency due to a scheduled job. Once the job was disable, they were no more leader changes and restarts.

[2022-05-12 02:14] #2849 closed, assigned to nobody

[2022-05-12 02:14] #2818 closed, assigned to nobody

[2022-05-12 14:23] snasovich commented on #2898
Marking as Blocked since we're waiting for confirmation from the customer

[2022-05-13 12:21] redzioch opened #2934 "FATA[0122] [state] Timeout waiting for kubernetes to be ready"
Rke is not able to save cluster state to k8s and fails.

**RKE version:**
 v1.3.9

**Docker version: (`docker version`,`docker info` preferred)**
[code]
I also tested on Debian 10 - same results.

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
ESXi

**cluster.yml file:**
[code]

**Steps to Reproduce:**
Run `rke --debug up` and wait

**Results:**
Last few log lines:
[code]

[2022-05-13 15:39] tisd opened #2935 "Link in README section "Installing Rancher HA using rke" returning 404"
Link in the repository README Section "Installing Rancher HA using rke" is returning a 404 error.

https://github.com/rancher/rke#installing-rancher-ha-using-rke

[2022-05-13 22:55] jiaqiluo opened #2936 "RKE - Add support for provisioning 1.24 clusters"
K8S 1.24 was released: https://github.com/kubernetes/kubernetes/releases/tag/v1.24.0
We need to add the support for provisioning 1.24 clusters in RKE

TODO:
- [x] add the new [k8s template](https://github.com/rancher/kontainer-driver-metadata/blob/dev-v2.5/rke/k8s_rke_system_images.go) to the KDM
	- [x]  review and update add-on components versions
	  - [x] [etcd 3.5.4 ](https://github.com/etcd-io

[2022-05-14 07:47] chfrank-cgn commented on #2936
The version of cri_dockerd in RKE1 1.23.6 (as bundled in Rancher 2.6.5) has **extremely** bad performance; just installing an empty RKE1 cluster will max out a 4vCPU VM.

[2022-05-15 07:02] chfrank-cgn opened #2937 "azureDisk CSIMigration set in v1.23.6"
**RKE version:**
v1.23.6

**Docker version: (`docker version`,`docker info` preferred)**
20.10

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 20.04 LTS

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Azure

**cluster.yml file:**
[code]

**Steps to Reproduce:**
Create an azureDisk storage class with `provisioner: kubernetes.io/azure-disk`

**R

[2022-05-15 07:58] chfrank-cgn opened #2938 "cri_dockerd as included in rke-tools has extremely bad performance"
**RKE version:**
1.3.11 - v1.23.6

**Docker version: (`docker version`, `docker info` preferred)**
20.10

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 20.04 LTS

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Azure

**cluster.yml file:**
[code]

**Steps to Reproduce:**
Set enable_cri_dockerd will lead to constant, near 100% CPU consumption f

[2022-05-16 02:10] #2856 closed, assigned to nobody

[2022-05-17 18:52] chfrank-cgn commented on #2937
Following the Azure File CSI Driver Readme, creating a config map `azure-cred-file` pointing to the RKE cloud-config file `/etc/kubernetes/cloud-config` will enable the CSI drivers to run on v1.23.6

[code]

[2022-05-18 08:23] redzioch commented on #2934
For anyone having similar issue: when I googled I didn't find any solution or explanation, so I leave some comment to help.

I didn't find exact root cause - I tried different OS, different docker versions - none of this helped.

Finally I changed subnet for whole cluster, because I suspected network issues and that helped indeed. I am debugging network right now, but it seems that the problem was

[2022-05-18 08:23] #2934 closed, assigned to nobody

[2022-05-20 03:21] SkyWingZhang opened #2940 "rke install k8s arm64 aarch64 rke-tools images bug"
**RKE version:**
v1.3.11
**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
arm64 aarch64
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

INFO[0130] [sync] Syncing nodes Labels and Taints
FATA[0293] [ "192.168.xxx.xxx" not found]

rke-tools version: v0.1.80
confd version: v0.16.4
confd versi

[2022-05-20 03:25] SkyWingZhang commented on #2940
The problem occurs only with the worker node nginx-proxy container

[root@arm-centos ~]# docker logs nginx-proxy
/usr/bin/nginx-proxy: line 4: /usr/bin/confd: cannot execute binary file: Exec format error
2022/05/19 12:16:14 [notice] 8#8: using the "epoll" event method
2022/05/19 12:16:14 [notice] 8#8: nginx/1.21.0
2022/05/19 12:16:14 [notice] 8#8: built by gcc 10.2.1 20201203 (Alpine 10.2.1_pre1)

[2022-05-23 12:00] stefanfritsch opened #2941 "ssh certificates have stopped working in v1.3.11"
I use ssh certificates to access nodes and this has worked fine for years until at least v1.3.7 but with v1.3.11 (I haven't used the versions in between) it is broken:

[code]

The same node works if I add the key to `authorized_keys`

**Steps to Reproduce:**

1. Set up ssh certificate login on a host.
2. Create a cluster.yaml
3. Try rke:
    1. With ssh: Works
    1.  With v1.3.7: Works
    2.  W

[2022-05-23 14:37] bheemareddy commented on #2012
Hi Team, I'm trying to test the Event Rate Limit in the device.  Any suggestion on how to test this with the event rate limit admission control plugin and without.

Thanks in advance.

[2022-05-23 17:44] markusewalker opened #2942 "Calico and Canal CNIs cause complications when deploying an RKE1 cluster to Ubuntu 22.04"
**RKE version:**
`v1.3.11`

**Docker version: (`docker version`,`docker info` preferred)**
`20.10.16, build aa7e414`

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 22.04

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS

**cluster.yml file:**

**Steps to Reproduce:**
1. Provision 3 Ubuntu 22.04 AMIs to be used in a 3 node RKE cluster.
2. Af

[2022-05-23 21:18] tsde commented on #2938
I'm seeing the same behavior in a simple setup involving one node with 2 CPUs. Here's my spec for reference :

**RKE / Kubernetes version:**
1.3.11 - v1.23.6

**Docker version: (docker version, docker info preferred)**
20.10.12

**Operating system and kernel: (cat /etc/os-release, uname -r preferred)**
Flatcar Linux 3139.2.1

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VMWare wo

[2022-05-24 08:06] drz9 opened #2943 "Cluster update to 1.21 and 1.22 made weave Pod CrashLoopBackOff"
**RKE version:**
1.3.11

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
OS: 20.04.2 LTS
Kernel: 5.4.0-72-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-metal vCloud VM's

**cluster.yml file:**
I redacted IP addresses and names:

[code]

**Steps to Reproduce:**
couldn

[2022-05-24 11:23] volford-bence commented on #2867
Hi, I have the same issue. We are transforming our infrastructure from rancher1.6 to kubernetes/rke, and we want to use longhorn. I did an rke update (only for test purposes at the moment), but during the update the longhorn engine had some problem, and even got some corrupted volume unfortunately. I read that it is recommended to drain the nodes except the daemonset and use this podselector (base

[2022-05-24 18:31] mohsenmottaghi commented on #2788
We have the same issue in our production cluster, and we are stuck in v1.21.X. but I tried to disable `SELinux` in a test cluster by adding a systemd dropin and it works without issue.

[code]

But I don't want to disable `SELinux` in my production clusters.

[2022-05-25 08:37] drz9 commented on #2943
Update: it is still not working on 1.23 as the Pod was running but throwing lots of "unauthorized, failed to list pods" etc. in Logs, after restart of Weave Pod on this Node it is again CrashLooping.

[2022-05-25 13:24] drz9 commented on #2943
When inspecting kube-apiserver logs, we encounter the following a lot:
`E0525 11:57:08.300871       1 authentication.go:63] "Unable to authenticate the request" err="[invalid bearer token, token audiences [\"api\"] is invalid for the target audiences [\"unknown\"]]"`

However, when testing the token and ca.crt to the API, like in this documentation:
https://kubernetes.io/docs/tasks/run-application

[2022-05-26 02:16] #2863 closed, assigned to nobody

[2022-05-26 02:16] #2848 closed, assigned to nobody

[2022-05-26 02:20] snasovich commented on #2898
This was confirmed as resolved by following the steps referenced in https://github.com/rancher/rke/issues/2898#issuecomment-1119840347. Closing the issue.

[2022-05-26 02:20] #2898 closed, assigned to HarrisonWAffel

[2022-05-26 08:16] 631068264 commented on #1485
same error

I update my nodes
/etc/kubernetes/ssl/bak/kube-etcd-10-81-28-136.pem: OK
/etc/kubernetes/ssl/bak/kube-etcd-10-81-29-85.pem: OK
/etc/kubernetes/ssl/bak/kube-etcd-10-81-29-92.pem: OK
/etc/kubernetes/ssl/kube-apiserver.pem: OK
/etc/kubernetes/ssl/kube-controller-manager.pem: OK
/etc/kubernetes/ssl/kube-etcd-10-81-28-136.pem: CN = kube-etcd
error 7 at 0 depth lookup:certificate signature f

[2022-05-27 10:33] drz9 commented on #2943
OK we figured out the problem. Our cluster.yml is using kube-apiserver extra_args:

[code]

This argument must have been deprecated in recent versions and is now just: `api-audiences`

We found the hint in kube-apiserver logs at the beginning where it clearly said, this argument has been deprecated. kube-apiserver then defaults to the value in `service-account-issuer` as explained in https://kuber

[2022-05-27 10:33] #2943 closed, assigned to nobody

[2022-05-27 18:06] stefanlasiewski commented on #2941
We ran into this as well, but only with Ubuntu 20.04 nodes not Ubuntu 18.04 nodes.

I'm using RKE v1.3.10.

[2022-05-27 18:37] mohag commented on #2883
Similar issue here with 1.3.11 on v1.20.13-rancher-1-3 (this is on a RKE-deployed cluster for Rancher).

(In this case it is a "no route to host" instead)
`error: failed to create ingress: Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": Post "https://ingress-nginx-controller-admission.ingress-nginx.svc:443/networking/v1/ingresses?timeout=10s": dial tcp 10.43

[2022-05-29 02:17] #2870 closed, assigned to nobody

[2022-05-29 16:53] waldner commented on #2890
The issue is still relevant.

[2022-05-31 02:16] #2873 closed, assigned to nobody

[2022-05-31 13:15] fritzduchardt commented on #2859
I am facing the same issue. Looks to me as if rke is not compatible with cgroup v2. Is there any update on this?

[2022-05-31 23:04] markusewalker commented on #2942
Ubuntu 22.04 is currently not supported and being looked into. Putting this into backlog until that is the case.

[2022-06-01 19:50] snasovich commented on #2936
https://github.com/Mirantis/cri-dockerd/pull/38 may be related and help address the performance issues.

[2022-06-04 02:31] jiaqiluo commented on #2936
In order to use the new version of cri-dockerd, we need to
1. ~update https://github.com/rancher/cri-dockerd/ to get the upstream's change , tag a new release~ update: because the upstream is actively maintained now, we will use the upstream's releases directly instead of building it ourselves
1. update the version in https://github.com/rancher/rke-tools/blob/ef0a37a04adf865c50f0d115ec0efcd059c7a9

[2022-06-04 04:18] jiaqiluo commented on #2936
PR to mirror images: https://github.com/rancher/image-mirror/pull/254

[2022-06-06 09:39] aslafy-z commented on #1067
Nope!

[2022-06-06 23:12] jiaqiluo commented on #2938
[This PR](https://github.com/Mirantis/cri-dockerd/pull/38) in the upstream repo possibly fixes this issue.
So the plan, for now, is to bring the changes from the upstream into our fork and then release a new image.

[2022-06-07 04:44] linkafsar commented on #2893
You can change the path via rancher cluster edit yaml file to /opt instead of /usr

[2022-06-07 04:50] linkafsar commented on #2893
network:
  plugin: calico
  options:
   - canal_flex_volume_plugin_dir: "/opt/kubernetes/kubelet-plugins/volume/exec/nodeagent~uds"

[2022-06-07 07:41] caimez opened #2947 "Question: Why are there ACI docker images in the system images and when are they used ?"
**RKE version: v1.3.10**

**Question: Why are there ACI docker images in the system images of rke (images in the format noiro/...) ?
When are these images used? I don't see ACI as a network provider for rke.
I was unable to find any documentation about these images and why they are part of the system images.
Installing in air gapped environments requires to load all the system images internally, s

[2022-06-07 18:49] jiaqiluo commented on #2938
rke-tools 0.1.81 is available, it contains the latest cri-dockerd 0.2.1

we will use this new image in the coming KDM release.

Update:
We will use [rke-tools 0.1.82](https://github.com/rancher/rke-tools/releases/tag/v0.1.82)  and it incldues [cri-dockerd 0.2.2](https://github.com/Mirantis/cri-dockerd/releases/tag/v0.2.2)

[2022-06-08 06:09] immanuelfodor commented on #2709
Unstale, I need to test this with v1.22.9

[2022-06-08 10:06] Raboo commented on #2468
Please reopen, it is a valid issue

[2022-06-08 11:48] harridu commented on #2833
Is anybody actually working on this?

[2022-06-08 13:54] travisghansen commented on #2709
Upstream just fixed this a couple weeks ago FYI: https://github.com/Mirantis/cri-dockerd/issues/15

[2022-06-09 07:29] ghost commented on #1682
Is there any update on that?

[2022-06-09 09:49] papanito commented on #2312
still valid

[2022-06-11 03:40] wangfeng-1 commented on #2833
same question

[2022-06-12 06:07] sysadminxxx commented on #2709
Got the same issue with v1.22.9.

[code]

[2022-06-13 02:01] cjrada commented on #1485
I'm hitting the same error, in version v1.3.10.

To produce:
1) create cluster using 'rke up'
2) Change a configuration on the cluster, for example, add or remove a role on a node
3) (optionally): delete both cluster.rkestate and kube_config_cluster.yml (error occurs with or without this command)
4) run 'rke up' again

Error:
time="2022-06-13T11:44:45+10:00" level=info msg="[etcd] Successfully sta

[2022-06-13 17:10] benley commented on #1432
(not stale)

[2022-06-13 20:46] Josh-Diamond commented on #2938
Ticket #2938 - Test Results

Reproduced with rke `v1.3.11`  and k8s `v1.23.6`:
1.  Create a single EC-2 instance of t3.medium
2. Using rke `v1.3.11`, run rke up on instance with cluster.yml `ignore_docker_version = false` and `enable_cri_dockerd = true` configurations set - [k8s `v1.23.6-rancher1-1`]
3. Once cluster successfully builds, ssh into the node and run `top` to view CPU performace
4. Rep

[2022-06-15 08:39] stefanfritsch commented on #2941
@stefanlasiewski - It's interesting that the server side makes a difference - as `ssh` from the command line works fine, it's clearly a client (`rke`) issue but there must be some snafu with the accepted algorithms.  I know that openssh for windows (the client not the server) needs `PubkeyAcceptedAlgorithms +ssh-rsa-cert-v01@openssh.com` in the `~/.ssh/config` even if the certificates are `rsa-sha

[2022-06-16 13:15] Raboo commented on #2938
In my case on flatcar Linux on a couple of +48 core nodes it used all available CPU and caused very high load eventually crashing workloads in the cluster.

@jiaqiluo  When will [rke-tools 0.1.82](https://github.com/rancher/rke-tools/releases/tag/v0.1.82) be used in [Rancher](https://github.com/rancher/rancher) provisioned RKE1 clusters?

[2022-06-16 17:04] jiaqiluo commented on #2938
@Raboo  The plan is in Rancher ~2.6.6~ 2.6.7

[2022-06-17 17:42] cernst-mx opened #2959 "etcd snapshots fail to send to s3 when IMDSv2 enabled"
RKE version:  v1.3.1

Docker version: 20.10.12

Operating system and kernel: Ubuntu 18.04.06 (5.4.0-1068-aws)

Type/provider of hosts: AWS EC2 with IMDSv2 enabled

cluster.yml file (relevant section):
[code]

Steps to Reproduce:
1) Create a cluster with EC2 nodes with IMDSv2 enabled.
2) Enable s3backupconfig as above.
3) Ensure node has appropriate access to s3 bucket via IAM instance role.
4) Cre

[2022-06-17 23:49] masap opened #2960 "Built RKE 1.3.4 fails to be up"
**RKE version:**
1.3.4

**Docker version: (`docker version`,`docker info` preferred)**
[code]

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
host (Ubuntu 20.04)
[code]

VM (Ubuntu 21.10)
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-metal

**cluster.yml file:**
[code]

**Steps to Reproduce:**
I am trying to built RKE v1.3.4 fro

[2022-06-19 08:52] vasanthkg commented on #1270
Even i am also facing the same issue, rke fails to deploy locally using --local flag.
[code]

'rke-network-plugin-deploy-job' pod logs
[code]

[2022-06-20 02:15] #1846 closed

[2022-06-21 03:20] #2759 closed, assigned to nobody

[2022-06-21 16:31] aslafy-z commented on #1682
@superseb can we hope this to be implemented some day? I worked on some basic implementation at #2853 but currently stuck by the lack of contributor documentation on how to add features and build a working rancher version that includes it. Is this issue still something you're ready to work on? If Rancher mgmt decided to stop working on RKE1, can you close this issue and make a clear announcement?

[2022-06-22 03:22] #2891 closed, assigned to nobody

[2022-06-22 03:22] #312 closed

[2022-06-23 16:20] HarrisonWAffel commented on #2758
RKE1 on windows is [EOL in 2.6.6](https://github.com/rancher/windows/issues/182), so this improvement is no longer actionable

[2022-06-23 16:20] #2758 closed, assigned to HarrisonWAffel

[2022-06-25 03:22] #2834 closed, assigned to nobody

[2022-06-25 03:22] #2775 closed, assigned to nobody

[2022-06-25 03:22] #2743 closed, assigned to nobody

[2022-06-27 10:42] Khanh-197 commented on #2849
Check permission in docker for user remote throught ssh , sudo usermod -aG docker $USER

[2022-06-28 12:48] mbareck7 commented on #1915
Any updates on this, I have the same problem

[code]
kubernetes versoin : v1.23.6

[2022-06-29 16:32] jiaqiluo commented on #2936
can be tested on v1.3.13-rc2 https://github.com/rancher/rke/releases/tag/v1.3.13-rc2

At least to test:
- provision a new 1.24 cluster
- upgrade from a previous version to 1.24
- set/ unset the `enable_cri_dockerd` filed in the cluster.yml file:
	- note:it is enabled by default when the cluster version >= 1.24 AND the option `enable_cri_dockerd` is not configured in the cluster.yml file

[2022-06-29 16:39] jiaqiluo commented on #2938
can be tested on v1.3.13-rc2 https://github.com/rancher/rke/releases/tag/v1.3.13-rc2

The validation steps should be the same as the reproduction steps https://github.com/rancher/rke/issues/2938#issuecomment-1154423112

[2022-07-04 05:54] angusfz commented on #2012
Same issue here
RKE version: `v1.3.11` with below rate limit config in `cluster.yml`
[code]
then `rke up`
[code]

If we set `evet_rate_limit` without `configuration:`,  then `rek up`  can run without issue
[code]

[2022-07-04 13:11] gha-xena opened #2968 "Stale/old etcd-checksum-checker causes etcd snapshot-restore to fail by showing `etcd snapshots are not consistent`"
I noticed this while trying to restore an ectd snapshot using `rke etcd snapshot-restore --name 2022-06-29T10:11:10Z_etcd`. It always fails on checking the checksum with the following:
[code]
This is because, inspecting the docker command, the path is double included:
[code]

[2022-07-04 13:54] eumel8 opened #2969 "rke-ingress-controller-deploy-job doesn't install ingress-nginx-admission secret on the first time"
Upstream:
* Rancher 2.6.6
* Kubernetes v1.23.7+k3s1
* Ubuntu 20.04

Downstream:
* Customized RKE1 cluster
* Kubernetes 1.22.10-rancher1-1
* Ubuntu 20.04

Activate Nginx-ingress-controller failed:

% kubectl -n ingress-nginx get jobs
No resources found in ingress-nginx namespace.

[code]

[code]

RKE Jobs running sucessful:

[code]

[code]
in fact the secret `ingress-nginx-admission`is missing:

[c

[2022-07-05 20:33] Josh-Diamond commented on #2938
Ticket #2938 - Test Results [pt. 2]

With rke `v1.3.13-rc2` and k8s `v1.23.6`:
1. Create a single EC-2 instance of t3.medium
2. Using rke `v1.3.13-rc2`, run `rke up` on instance with cluster.yml `ignore_docker_version = false` and `enable_cri_dockerd = true` configurations set - [k8s `v1.23.6-rancher1-1`]
3. Once cluster successfully builds, ssh into the node and run `top` to view CPU performace
4

[2022-07-05 20:34] #2938 closed, assigned to jiaqiluo, Josh-Diamond

[2022-07-06 07:37] blafasel42 commented on #2891
I installed Rancher 2.6.6 and created a Cluster with k8s 1.23 and still have the problem. Port 10254 is just not responding on the nodes. Adding he workaround service did work (port 3007 is exposed then).   @Volkimd  could you explain where to set  "hostPort: true" in the rancher config? I am quite new to this and not a rancher expert.

[2022-07-06 21:57] Volkimd commented on #2891
Yes of course. Sorry for confusion, this was a typo. I think I mean hostNetwork. You have to set this property in ingress controller daemonset to true. At same level as restartPolicy. Or in Configuration form here
<img width="1099" alt="image" src="https://user-images.githubusercontent.com/25308727/177650316-5de8ee7b-6148-4846-a04c-f6557501f965.png">
Set Network mode to "Host Network"

[2022-07-07 08:07] belfhi opened #2973 "Question: configure network plugin cpu limit"
I have a cluser that is giving me CPU throttling
alterts for the pods in the flannel daemonset.
How do I increase / set the limits?
I presume it would happen in the `network` section of the cluster YAML?

[code]
Is there a way to configure this with RKE while the cluster is running or should I manually
edit the daemonset with increased values and lose the config when I upgrade the k8s version
late

[2022-07-07 15:53] Laikulo commented on #2863
bump to reopen

[2022-07-08 07:45] blafasel42 commented on #2891
thank you. Since the IngressController is running as a deamonset, this should be the preferred configuration anyway, right? I mean: Why add a service when the controller runs on all nodes...

[2022-07-09 10:35] tacerus commented on #2883
I encounter the same issue on-premise with Rancher on RKE2 upon trying to create an ingress.
It used to work for some days after installing the cluster, now all attempts fail.

`Internal error occurred: failed calling webhook "validate.nginx.ingress.kubernetes.io": failed to call webhook: Post "https://rke2-ingress-nginx-controller-admission.kube-system.svc:443/networking/v1/ingresses?timeout=10s"

[2022-07-10 20:34] Volkimd commented on #2891
Correct. And since hostNetwork is true in ingress controller shipped with rke2, it seems to be the prefered way.
I don't know why hostNetwork config was removed from ingress controller in rke1.

[2022-07-11 20:18] #2815 closed, assigned to nobody

[2022-07-11 20:18] snasovich commented on #2815
Closing this one as we have not heard back. @mshilamk8s , if you provide additional information we can reopen it and look deeper.

[2022-07-12 02:55] paddy-hack opened #2975 "Upgrade breaks Ingress functionality"
**RKE version:** Upgrading from `v1.3.10` to `v1.3.12`

**Docker version: (`docker version`,`docker info` preferred)**

<details><summary>docker info</summary>
<pre>
[rancher@rancher ~]$ docker info
Client:
 Debug Mode: false
Server:
 Containers: 0
  Running: 0
  Paused: 0
  Stopped: 0
 Images: 0
 Server Version: 19.03.15
 Storage Driver: overlay2
  Backing Filesystem: extfs
  Supports d_type: tru

[2022-07-12 06:55] paddy-hack commented on #2975
Curious, rebooting the worker node fixes the Ingress ... :open_mouth:

I have no idea why the Ingress becomes non-functional as a result of the upgrade.  I also have no idea how to prevent that from happening during the upgrade but it seems rebooting worker nodes after the upgrade makes the issue go away.

Additional testing with a multi-worker cluster has shown that you can reboot worker nodes on

[2022-07-12 06:55] #2975 closed, assigned to nobody

[2022-07-12 13:28] Moep90 opened #2976 "[RKE] Ignore/Remove user-addons after initially providing them"
When we initially setup our RKE-Cluster we had to provide our addons via local files.

Nowdays we provide them elsewhere.
In the meantime we had updated the addons via something like helm-chart directly while not updating the cluster)

This leaves the files provided in `addons_include:` obsolet. Therefore we removed the whole section (while thinking this will dont harm anything.

# Applying an RKE

[2022-07-12 16:17] Birddude1230 commented on #1067
This feature would be very useful for our Kubernetes instance. Currently, if any node is in an unhealthy state, rke fails, preventing the node addition from completing. This is especially unfortunate when the core issue is overloaded nodes.

Could someone with relevant experience with the codebase (@deniseschannon ? @superseb ?) comment on the complexity of adding a single-node operation like this

[2022-07-13 08:18] bitfisher commented on #2788
Any updates?
Disabling SELinux in production clusters isn't really an option!

[2022-07-13 08:19] maagy commented on #2859
I am facing the same issue on Ubuntu 22.04.

[2022-07-14 03:34] #2860 closed, assigned to nobody

[2022-07-14 04:31] Moep90 commented on #2976
Any advise?

[2022-07-14 12:19] dibi-codes opened #2980 "Include rke-images.txt in release"
**RKE version:** 1.3.12

This is more or less a "feature"-request. Would it be possible to include a `rke-images.txt` with the next release like rancher/rancher does?
Background: [rancher-images.txt](https://github.com/rancher/rancher/releases/download/v2.6.6/rancher-images.txt) from rancher/rancher does not necessarily include all hyperkube images needed for a k8s upgrade with the newest rke. The

[2022-07-15 13:31] bashofmann commented on #2891
The `hostNetwork` setting will also be changed to `false` as a default in RKE2: https://github.com/rancher/rke2/issues/2206.

Running the ingress controller in the hostNetwork (instead of exposing specific ports as hostPorts) has several downsides. For example, it breaks interactions of service meshes with the ingress controller or breaks NetworkPolicies.

I'd say the preferred way would be to jus

[2022-07-15 20:19] blafasel42 commented on #2891
@bashofmann so we create a service now for the ingress-controller and hope that future versions will automatically create one for the healthz port?

[2022-07-16 04:35] Moep90 commented on #2976
@jiaqiluo do you have an idea how I can tackle this?

[2022-07-17 03:28] #2907 closed, assigned to nobody

[2022-07-17 08:24] chfrank-cgn commented on #2937
I do believe we should test and document the installation of the [Azure Disk CSI driver](https://github.com/kubernetes-sigs/azuredisk-csi-driver) and mention it in the RKE release notes

[2022-07-19 02:26] litao812 opened #2985 "upgrade the RKE version"
If I have deployed the k8s cluster and want to upgrade the cluster version, but the maximum version of k8s supported by RKE cannot meet my requirements, can I upgrade the RKE version to a higher version without reinstalling the k8s cluster to facilitate upgrading the k8s version?

[2022-07-19 03:47] #2926 closed, assigned to nobody

[2022-07-19 15:39] rahendatri commented on #2907
I have tried both methods (changed SSH key type to ed25519 and modified the sshd_config) but the error still appears.

Could you provide your sshd_config please ? @dinobagio @spyder007
There must be some parameters I missed...

Thanks in advance ! :)

[2022-07-19 15:47] dinobagio commented on #2907
Humm its not a matter of sshd. its a matter of ssh. Therefore you should just do a ssh_keygen with type other than RSA, then paste your public key on the target server.

[2022-07-19 15:55] rahendatri commented on #2907
@dinobagio

I did copy my user private ssh key into the authorized_keys of the user used to install RKE. I managed to do plain `ssh docker@machine.local` but when "doing" it through RKE command, somehow it fails.
So ssh client seems to work fine but it is not the case for the client used by RKE.

When I try to execute `rke up`, the sshd service gave the following log :

[code]

Pubkey authenticati

[2022-07-19 16:03] dinobagio commented on #2907
@rahendatri
Can you manually ```ssh -v``` into your machine and do a ```docker ps``` ?
And provide the logs for both commands ?

[2022-07-19 16:04] dinobagio commented on #2907
@rahendatri
+ you said _user private ssh key into the authorized_keys_, we agree that you meant your ssh public key right ?

[2022-07-19 20:26] Josh-Diamond commented on #2936
Test cases and results were tracked and may be found in confluence under:
- `Rancher QA > Test Plans > Kubernetes Version Support > RKE > K8s 1.24 support`

[2022-07-19 22:53] Josh-Diamond commented on #2936
Reported testing blockers:
- https://github.com/rancher/rancher/issues/38214 - Set for 2.7
- https://github.com/rancher/rancher/issues/38270 - Set to be release-noted
- https://github.com/rancher/rancher/issues/38265 - Set for 2.7

[2022-07-19 23:03] #2936 closed, assigned to jiaqiluo, Josh-Diamond

[2022-07-20 07:44] rahendatri commented on #2907
@dinobagio

* Below is the result of both commands :

[code]

* you said _user private ssh key into the authorized_keys_, we agree that you meant your ssh public key right ?

Oh my bad ! Yes I meant the public key 🙂

[2022-07-20 07:49] dinobagio commented on #2907
Hi,

OK, now can you show me your rke cluster config YAML ?

Le mer. 20 juil. 2022 à 09:44, rahendatri ***@***.***> a
écrit :

--
<https://time-planet.link/cta-signature-mail>

[2022-07-20 09:34] rahendatri commented on #2907
@dinobagio

cluster.yml below :

[code]

[2022-07-20 09:41] dinobagio commented on #2907
@rahendatri
Everything seems fine to me indeed.

[2022-07-20 10:29] dinobagio commented on #2907
@rahendatri you confirm there is no DES on your private key ?

[2022-07-20 10:38] timarandras commented on #2975
I've just experienced the same issue. Freshly installed RKE, with basic/default config. Everything was working fine, could create resources using kubectl (pods, svc, ingress, etc). RKE up also created the necessary nginx-ingress-controller on my (only) worker node.

So far so good.

Then created a pod:
`k run nginx --image=nginx`

Exposed it via ClusterIP (and also with NodePort to ensure it works

[2022-07-20 12:12] mpepping commented on #2969
Seeing the same thing occasionally, since Rancher 2.6.6.

[2022-07-20 20:55] ghost commented on #1063
bump

[2022-07-21 17:12] jiaqiluo opened #2989 "RKE - Bump the default version to 1.24"
Bump the default version to 1.24

[2022-07-21 18:58] stefanlasiewski commented on #2907
Is this caused by the following Go issue with rsa-sha2-256/rsa-sha2-512 keys? [x/crypto/ssh: rsa-sha2-256/rsa-sha2-512 tracking issue](https://github.com/golang/go/issues/49952)

[2022-07-21 19:40] jiaqiluo commented on #2989
can be validated on rke v1.3.13-rc5

[2022-07-22 00:13] sowmyav27 commented on #2989
Command to use `rke config -l`

[2022-07-22 02:09] roshpr commented on #1417
Thanks. I had the same issue. These settings resolved the problem and was able to proceed with the ssh connection.

[2022-07-22 02:26] Josh-Diamond commented on #2989
Ticket #2989 - Test Results

Verified on rke `v1.3.13-rc5`:
1. With rke `v1.3.13-rc5`, run `rke config -l` via terminal
2. Verified - Default k8s version is `v1.24.2-rancher1-1`

Screenshot:

`Step 2`
<img width="841" alt="Screen Shot 2022-07-21 at 6 40 56 PM" src="https://user-images.githubusercontent.com/46494969/180349252-2a0e977d-baf4-4502-a98d-6c1ae15d4f48.png">

[2022-07-22 02:26] #2989 closed, assigned to jiaqiluo, Josh-Diamond

[2022-07-25 02:17] #2901 closed, assigned to nobody

[2022-07-27 14:02] rahendatri commented on #2907
Hi all,

After a bit of investigation, the following sshd_config parameters need to be set. However, only `AllowTcpForwarding` is required in the documentation.

Will make a PR to update the doc https://rancher.com/docs/rke/latest/en/os/#ssh-server-configuration

[2022-07-27 17:53] Oats87 opened #2993 "`/var/lib/dockershim` and `/var/lib/cri-dockerd` should not be ephemeral"
**RKE version:**
RKE <= 1.3.12?
**Docker version: (`docker version`,`docker info` preferred)**
Doesn't matter
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Doesn't matter
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Doesn't matter
**cluster.yml file:**
Doesn't matter
**Steps to Reproduce:**
The `/var/lib/dockershim` (`/var/lib/cri-dockerd` for >=

[2022-07-27 23:01] sowmyav27 commented on #2993
**Reproduced the issue on Rancher 2.6head commit id: `78017e64e`**

On an upgrade of RKE1 node driver Linode cluster (1 etcd/cp, 2 worker nodes) from `1.20.15-rancher2-1` to `1.21.14-rancher1-1` to `1.22.11-rancher1-1`, ingress after upgrading to `1.22.11-rancher1-1` doesn't work. Works after upgrade to `1.21.14-rancher1-1`

Other useases tested:
- Upgrade from `1.21.14-rancher1-1` to `1.22.11-ran

[2022-07-28 02:17] #2935 closed, assigned to nobody

[2022-07-28 09:01] jandunk opened #2994 "Old ETCD host reference seems to cause issues"
**RKE version:**
Not completely sure. The one that ships with Rancher 2.6.4.

**Docker version: (`docker version`,`docker info` preferred)**
20.10.7

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 20.04.4 LTS
5.4.0-105-generic

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
VSphere

**cluster.yml file:**
management-state/rke/rke-1225454491/clu

[2022-07-28 10:04] mateuszkwiatkowski commented on #2891
What is recommended way of adding extra ports to ingress-nginx daemonset?
Ingress-nginx' helm uses this code and this is exactly what's missing from rke:
[code]

[2022-07-28 12:39] rahendatri commented on #2300
Hello @biscaldis I encounter the same error on vSphere. However, in my case, I created two VM prior to RKE instantiation and I got exactly the same error.
Could you provide a more complete snippet of your solution above, please ?
Thanks in advance !

[2022-07-28 13:32] Birddude1230 commented on #2941
We are experiencing a similar issue -- I can confirm that the root cause is a change in the crypto/ssh library -- certificate-based login (with ssh-rsa certs) works fine for versions of crypto/ssh before commit `3147a52a75dd`, but is broken after. As best I can tell, the issue is with `client_auth.go`, in the function `pickSignatureAlgorithm`. Previously, the library would fail to find a common ce

[2022-07-28 17:16] markusewalker commented on #2993
Reproduced this on `v2.6-head` https://github.com/rancher/rancher/commit/104e111101f68ebf65decea78c33ca5e04f46976.

**ENVIRONMENT DETAILS**
- Rancher Install: Docker
- Rancher version: `v2.6-head` https://github.com/rancher/rancher/commit/104e111101f68ebf65decea78c33ca5e04f46976
- Browser: Chrome

**TEST RESULT**
REPRODUCED

**REPRODUCTION STEPS**
1. Setup Rancher and navigate to the UI in a brows

[2022-07-28 19:07] germanoeich opened #2996 "Add support for iface-regex options in flannel/canal"
flanneld has support for the `iface-regex` option, but this is not available in the rancher network config options. This forces operators to either modify the DaemonSet manually, which is very fragile, or enforce a consistent interface name across all nodes within the cluster, which may not always be feasible and is error prone.

This has been asked multiple times:
https://github.com/rancher/rke/i

[2022-07-29 08:36] waldner commented on #2890
The issue is still relevant.

[2022-07-30 02:17] #188 closed

[2022-07-30 02:17] #63 closed

[2022-07-31 17:46] sowmyav27 commented on #2993
**On 2.6.7-rc5**

On a Linode node driver Node driver cluster - 1 etcd/cp and 3 worker nodes

- v1.21.14-rancher1-1 to  v1.22.11 --> Ingress works after this upgrade.
- v1.21.14-rancher1-1 to  v1.22.11 + a redeploy of ingress -->  ingress doesn't work after
- v1.21.10-rancher1-1 to v1.22.7-rancher1-2 --> Ingress works after this upgrade.
- v1.21.10-rancher1-1 to v1.22.7-rancher1-2 + a redeploy of

[2022-08-02 02:10] stefanlasiewski commented on #2941
I had luck switching from an RSA key to a ed25519 key (After talking to Rancher support). The upstream Go issue suggests that Go support for RSA keys is broken: https://github.com/golang/go/issues/49952

Also, I notice this issue is discussing *certs* while my problem is with *keys*. However, I suspect the underlying cause is the same, and any non-RSA key should work.

[2022-08-02 09:29] imcom commented on #1841
This is due to 1.23 introduces changes in scheduler itself. Use `config` instead, or `--config`. @631068264

[2022-08-02 10:22] imcom commented on #2969
@eumel8 may I know how did you disable the nginx ingress ? which conf opt specifically, thx in advance!

[2022-08-02 12:02] eumel8 commented on #2969
@imcom via Rancher UI or remove part from cluster.yaml:

[code]

[2022-08-02 14:17] lopf commented on #2975
We've just experienced the same going from RKE 1.3.8 on K8s 1.21 to RKE 1.3.12 and K8s 1.22.

[2022-08-02 16:17] imcom commented on #2969
@eumel8 Thx! What I did early on was add the above block, specifically putting in the values to the default `cluster.yaml` and it worked. Guess initially it was not properly configured in my case

[2022-08-03 03:38] #2940 closed, assigned to nobody

[2022-08-03 16:14] Oats87 opened #2998 "Upgrade to 1.24.x results in older (pre-upgrade) pods unable to terminate due to "Error deleting network when building cni runtime conf: could not retrieve port mappings: key is not found""
**RKE version:** 1.3.x

**Docker version: (`docker version`,`docker info` preferred)** Not applicable

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** Not applicable

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** Not applicable

**cluster.yml file:** Not applicable

**Steps to Reproduce:**
Have a cluster that is created on 1.23 or older. Upgrade to 1

[2022-08-03 16:26] sowmyav27 commented on #2998
Same as - https://github.com/rancher/rancher/issues/38270

[2022-08-03 16:31] snasovich commented on #2998
Closing as duplicate of https://github.com/rancher/rancher/issues/38270.

[2022-08-03 16:31] #2998 closed, assigned to Oats87

[2022-08-03 18:49] Oats87 opened #2999 "Upgrades to Kubernetes >= v1.22.x leave duplicate iptables rules for hostport pods on pod termination with Calico or Canal"
**RKE version:** v1.3.x

On Kubernetes versions >= v1.22.x, the `portmap` plugin was updated from `v0.8.6` to `v1.0.0`. This update was a result of upgrading the version of Calico/Canal from `v3.19.x` to `v3.21.x`. The newer version of portmap included a change that `noop`s when `portMappings` are not provided. Traditionally, this doesn't matter; however, when using hostPort, portMappings are used

[2022-08-04 05:40] abh23 commented on #2696
As @WillNilges said, changing to ed25519 method helped to get past this error.

[2022-08-04 13:30] aendi123 commented on #2975
Just had the same problem going from RKE v1.3.11 with K8s 1.23.6 to RKE v1.3.12 with K8s 1.23.7

[2022-08-05 10:51] bitfisher commented on #2788
Is there any other option than disabling `SELinux`?

[2022-08-05 18:16] Oats87 commented on #2993
@markusewalker I have added the testing template to the PR 3001 -- testing this should be very simple.

This issue also ties into https://github.com/rancher/rke/issues/2999 and testing that one is a little more nuanced.

[2022-08-05 18:18] Oats87 commented on #2999
## Issue:
https://github.com/rancher/rke/issues/2993
https://github.com/rancher/rke/issues/2999

## Problem
Please see both of the issues.

## Solution
Please see both of the issues.

## Testing
Please follow the issue in #2999

The duplicate iptables rule can be seen using `iptables-save | grep "HOSTPORT"`

## Engineering Testing
### Manual Testing
I ran the upgrade scenarios and observed no dupl

[2022-08-05 21:01] markusewalker commented on #2993
Verified that this is addressed on `v1.3.13-rc6`.

**ENVIRONMENT DETAILS**
- Client machine: Ubuntu 20.04
- RKE version
     - Reproduced version: `v1.3.10`
     - Verified version: `v1.3.13-rc6`

**TEST RESULT**
PASS

**REPRODUCTION STEPS**
1. On a client machine, downloaded `v1.3.10` and set it up.
2. Provisioned a downstream RKE1 cluster.
3. Once successfully provisioned, verified that `v1.22.9

[2022-08-05 21:58] markusewalker commented on #2993
@Oats87 I'll close for now and if it's an issue, we can open a separate issue as that is more of an upgrade-specific scenario. The rest passed and looked to be fine.

[2022-08-05 22:58] markusewalker commented on #2999
Verified that this is addressed in `v1.3.13-rc6`.

**ENVIRONMENT DETAILS**
- Client Machine: Ubuntu 20.04
- RKE version
     - Reproduced version: `v1.3.12`
     - Verified version: `v1.3.13-rc6`

**TEST RESULT**
PASS

**REPRODUCTION STEPS**
(NOTE: Similar issue where I have reproduced the ingress behavior is here: https://github.com/rancher/rancher/issues/38270#issuecomment-1201356642)
1. On a cl

[2022-08-06 19:33] steve-todorov commented on #2996
Yes! YES PLEASE!!!!

I have a custom bash script which starts `rke` and then does a very nasty patch to fix some issues:

[code]

It would make my life so much, much, MUCH easier if there was an option you could put in the `services` section that would ... maybe something like:

[code]

[2022-08-07 03:14] #2867 closed, assigned to nobody

[2022-08-07 21:54] AidanHilt opened #3003 "Longhorn ingress doesn't work with an extra bind for kubelet"
**RKE version:**
1.3.12

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
The output of the commands was the same for both nodes, so I left them as-is

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Two bare metal machines. Of note, only one has data in the host mount path

*

[2022-08-08 05:08] AidanHilt commented on #3003
I did manage to make my setup work by using hostPath, rather than a local volume, but I'm still not certain why this setup doesn't work.

[2022-08-08 12:56] AWoelfel opened #3004 "cluster.yml stores private_registries passwords in plain text"
**RKE version:**
`v1.3.12`

**cluster.yml file:**
[code]

We currently have the cluster.yml file pushed in git to track changes.
But we do not want to push plaintext PWDs into any git repo ;)

Maybe its possible to introduce something like `password_file` or `password_env` to read PWDs from another source?!

[2022-08-08 14:26] sowmyav27 commented on #2993
Reopening for more validations

[2022-08-08 22:10] sowmyav27 commented on #2993
Can we also validate for these k8s versions ? on 2.6-head latest
- `v1.22.11-rancher1-1` to `1.23.8-rancher1-1` and if the data persists (cri_dockerd disabled which is by default)
- 1.23.8 (cri_dockerd set to false) to 1.24.2 and verify whether data persists between `/var/lib/dockershim/sandbox` and `/var/lib/cri-dockerd/sandbox`
- From Rancher, test a 1.23 to 1.24 upgrade usecase (preupgrades run

[2022-08-08 22:20] sowmyav27 commented on #2999
**On 2.6-head**

- `v1.22.11-rancher1-1` to `1.23.8-rancher1-1` --> And verify ingress is functional
- `v1.22.11-rancher1-1` to `1.23.8-rancher1-1` + a redeploy of ingress daemonset from Rancher UI --> Verify ingress is functional
- `1.23.8-rancher1-1` to  `v1.24.2-rancher1-1` --> And verify ingress is functional
- `1.23.8-rancher1-1` to  `v1.24.2-rancher1-1` + a redeploy of ingress daemonset from

[2022-08-08 23:14] markusewalker commented on #2993
In response to additional validation tests found herehttps://github.com/rancher/rke/issues/2993#issuecomment-1208666694, please find results below.

**ENVIRONMENT DETAILS**
- Rancher Install: Docker
- Rancher version: `v2.6.7-rc7`
- Browser: Chrome

**TEST SCENARIO 1**
1. Setup Rancher and navigated to the UI in a browser.
2. Created standard user and logged into Rancher as that user.
3. Provision

[2022-08-08 23:21] #2993 closed, assigned to Oats87, markusewalker

[2022-08-09 00:27] sownyav27 commented on #2611
@superseb  relax

[2022-08-09 05:48] niusmallnan commented on #2109
The support to config Flannel backend was first introduced by https://github.com/rancher/rke/pull/1290 .

This feature is described in the documentation via this PR https://github.com/rancher/docs/pull/2824 . However, this commit appears to have been removed as it was not available in the online documentation.

Although the code about Flannel Backend is still reserved in RKE, the configuration of

[2022-08-09 06:46] papanito commented on #2312
still valid

[2022-08-09 12:52] rishabhmsra commented on #2999
Validated on rancher v2.6.7-rc7

Steps followed:

Case 1:
- Provisioned node driver k8s `v1.22.11-rancher1-1` clusters with canal and calico network provider -> 1cp, 1etcd, 1w
- Ran pre-upgrade checks. All checks passed
- Upgraded the cluster to `1.23.8-rancher1-1`
- Ran post upgrade checks. All the checks passed

Case 2:
- Provisioned node driver k8s `v1.22.11-rancher1-1` clusters with canal and

[2022-08-09 14:33] #2999 closed, assigned to Oats87, markusewalker

[2022-08-10 08:42] biubiubiu-star opened #3009 "How does Rancher issue certificates for virtual IP addresses? And make the virtual IP ETCD certificate can keep communication with the original cluster"
Hello, I encountered the following problem when trying to use RKE to issue certificates for my cluster:
Background:
Component Versions:
Hardware platform: X86_64
Operating system: CentoS7.8
Docker: 20.10.7
Etcd: 3.5.0
Rancher 2.6.3
Rke version v1.3.4
Kube component: 1.22.5
Components of Kubesphere: V3.2.1
The Calico: v3.21.1
CoreDns: 1.8.6

Operation restoration :(please ignore the difference in t

[2022-08-10 10:09] chilli13 opened #3010 "use comma-separated dual-stack IP addresses to internal_address lead to rke up fail"
**RKE version:**
v1.3.4

**Docker version: (`docker version`,`docker info` preferred)**
 docker info
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Build with BuildKit (Docker Inc., v0.5.1-docker)
  scan: Docker Scan (Docker Inc., v0.8.0)

Server:
 Containers: 25
  Running: 10
  Paused: 0
  Stopped: 15
 Images: 8
 Server Version: 2

[2022-08-12 14:41] tuxicorn commented on #2759
Bump

[2022-08-12 16:25] thordin9 commented on #2859
same issue,  kubelet containers running on ubuntu 22.04 nodes report the same error

[2022-08-12 17:17] tuxicorn commented on #2759
After successfully deploying the load balancer, all nodes are in the backend pool and I can't find how to prevent that. What should I do for having only workers or only masters in the load balancer backend pool?

[2022-08-15 11:29] Raboo commented on #2938
It seems like this is not fixed in Rancher v2.6.6 if I read the release notes.

[2022-08-15 13:00] bashofmann commented on #2891
RKE1 does not expose these settings at the moment.

In RKE2 you can configure all options of the bundled helm charts with a `HelmChartConfig`: https://docs.rke2.io/helm/#customizing-packaged-components-with-helmchartconfig

For RKE1, I'd say the best option is currently to create a NodePort service: https://github.com/rancher/rke/issues/2891#issuecomment-1092798810 or you can switch the networking

[2022-08-15 16:17] jiaqiluo commented on #2938
@Raboo You are right; the fix is not in rancher 2.6.6 but will be in 2.6.7 ( as the milestone indicates) which is planned to be released this week.

[2022-08-15 17:03] benley commented on #1432
still not stale

[2022-08-17 03:45] #2636 closed

[2022-08-17 03:45] #2170 closed

[2022-08-17 03:45] #1937 closed

[2022-08-17 03:45] #1903 closed

[2022-08-17 03:45] #1920 closed

[2022-08-17 03:45] #1756 closed

[2022-08-17 03:45] #1109 closed

[2022-08-17 03:45] #1533 closed

[2022-08-17 11:35] user173193 commented on #1063
This would be incredibly useful. Please make it happen.

[2022-08-18 03:49] #911 closed

[2022-08-18 03:49] #608 closed

[2022-08-18 11:35] Minizinger commented on #2378
Still a problem with rke version `v1.3.13` (works with --ignore-docker-version flag)

[2022-08-18 11:50] talavis opened #3019 "Upgrade from RKE 1.3.12 to 1.3.13 failing"
**RKE version:** 1.3.13

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
Bare-metal+KVM.

**cluster.yml file:**
[code]

**Steps to Reproduce:**
Simply run `./rke_linux-amd64` and wait until it fails.

**Results:**

[code]

The

[2022-08-18 13:27] psahoo00 opened #3020 "rke --version command throws "Memory fault" error."
**RKE version:**1.2.21

**Docker version: (`docker version`,`docker info` preferred)**

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**Red Hat Enterprise Linux Server release 7.9 (Maipo)

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

**cluster.yml file:**

**Steps to Reproduce:** I did execute "wget -O rke https://github.com/rancher/rke/releases/dow

[2022-08-18 14:17] psahoo00 commented on #3020
The installation was not complete. Re-executing the "wget -O rke https://github.com/rancher/rke/releases/download/v1.2.21/rke_linux-amd64" command fixed the issue.

Thanks,
Pradip

[2022-08-18 14:17] #3020 closed, assigned to nobody

[2022-08-19 16:57] markusewalker commented on #2942
Despite this being in the backlog, when Ubuntu 22.04 is eventually supported, here is the QA test plan:

**TEST PLAN**
1. Provision 3 Ubuntu 22.04 AMIs to be used in the RKE1 cluster.
2. After properly setting up each node to meet system requirements,  run `rke config` and fill out the prompts.
     - Ensure that `Calico` is the CNI chosen.
3. Once `cluster.yml` is created, run `rke up --config cl

[2022-08-21 03:27] #2947 closed, assigned to nobody

[2022-08-21 03:27] #2893 closed, assigned to nobody

[2022-08-22 01:05] joshperry commented on #2859
Same issue as well, on Ubuntu 22.04. Rancher 2.6.3. I have set `systemd.unified_cgroup_hierarchy=0` to disable cgroup v2, but may still be a cgroup related issue.

I guess this has most likely been happening since installing the cluster, but I didn't notice until I was digging in to change a self-signed root CA certificate. The cluster is up and connected fine, so I'm assuming this failure is only

[2022-08-23 06:36] sidvijay1989 opened #3022 "rke up - runs into untrusted CA issues with etcd healthcheck"
**RKE version:**currently on 1.2.2, attempting to move 1.3.12

**Docker version: (`docker version`,`docker info` preferred)**
Client:
 Context:    default
 Debug Mode: false
 Plugins:
  app: Docker App (Docker Inc., v0.9.1-beta3)
  buildx: Docker Buildx (Docker Inc., v0.8.2-docker)
  scan: Docker Scan (Docker Inc., v0.17.0)

Server:
 Containers: 76
  Running: 42
  Paused: 0
  Stopped: 34
 Images:

[2022-08-25 07:42] shaopenghan commented on #3010
我也遇到了这个问题，是否有计划将在最新版本修复

[2022-08-26 02:56] jinxingf opened #3023 "WARN[0000] Failed to set up SSH tunneling for host [10.6.120.2]: Can't retrieve Docker Info: error during connect: Get "http://%2Fvar%2Frun%2Fdocker.sock/v1.24/info": Unable to access node with address [10.6.120.2:22] using SSH. Please check if you are able to SSH to the node using the specified SSH Private Key and if you have configured the correct SSH username. Error: ssh: handshake failed: ssh: unable to authenticate, attempted methods [none publickey], no supported methods remain"
**RKE version:**
`rke version v1.2.6`
**Docker version: (`docker version`,`docker info` preferred)**
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
`Vmware`
**cluster.yml file:**
[code]
**Steps to Reproduce:**

`rke up`
**Results:**

[code]

**ssh localhost**

[code]
**openssh, openssl ve

[2022-08-26 04:04] #2709 closed, assigned to nobody

[2022-08-26 08:42] voje commented on #900
Bump. Ran into this issue.
Using `rke version v1.3.13`.

Faulty deployment:
* on 3 nodes with multiple interfaces
* installing cluster via bootstrap server: `[PC] --net_access--> [bootstrap] --net_mgmt--> [rke_nodes 0,1,2]`

I wanted the cluster to listen internally on `net_mgmt` (`INTERNAL-IP`), so I've set each node's `net_mgmt.ip` as both `address`˛ and `internal_address` in `cluster.yaml`. Whe

[2022-08-31 04:18] #2960 closed, assigned to nobody

[2022-08-31 04:18] #2959 closed, assigned to nobody

[2022-08-31 04:18] #2833 closed, assigned to nobody

[2022-08-31 05:06] harridu opened #3028 "rke 1.3.14 dies with SIGSEGV on creating an etcd snapshot"
**RKE version:**
1.3.14

**Docker version: (`docker version`,`docker info` preferred)**
[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Linux dpcl082.ac.aixigo.de 5.10.0-17-amd64 rancher/rke#1 SMP Debian 5.10.136-1 (2022-08-13) x86_64 GNU/Linux

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

**cluster.yml file:**
[code]
**Steps to Reproduce:**

[2022-08-31 05:40] LinAnt commented on #3019
Hitting the same issue when upgrading using the terraform RKE Provider:

[code]

No kubelet container is started on the host

[2022-08-31 14:05] moray95 commented on #2709
Any updates on this? Just tested with RKE 1.3.14 and Kubernetes v1.23.7-rancher1-1, the issue still persists.

[2022-09-01 13:45] samene opened #3029 "incorrect version of rke-tools for etcd-rolling-snapshots"
**RKE version:** : 1.3.0

**Docker version: (`docker version`,`docker info` preferred)**: 1.20

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**: CentOS 7

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** Bare metal

**cluster.yml file:**: using the rke terraform provider. This is the plan

[code]

**Steps to Reproduce:**

Note the version - `kubernetes_

[2022-09-02 15:13] konstantin-921 commented on #3028
**RKE version:** 1.3.14
**Docker version:** 20.10.17

+1
The same problem

[2022-09-02 16:42] stalin4suse commented on #2709
@moray95 - This will be fixed in Rancher v2.6.7 according to https://github.com/rancher/rke/issues/2938

[2022-09-02 20:48] kinarashah commented on #3028
Able to reproduce with RKE `v1.3.13` and `v1.3.14`.
It's panicking because backupConfig here is nil https://github.com/rancher/rke/blob/release/v1.3/cluster/etcd.go#L54

As a workaround, please add empty `backup_config` to the cluster.yml:
[code]

[2022-09-05 07:49] vincebrannon commented on #3028
Has no internal ticket been opened for this yet?
Also customer wants to know if the snapshot taken was successful or not...

[2022-09-05 08:22] harridu commented on #3028
The workaround seems to be OK, AFAICT.

@vincebrannon, the "regular" etcd backups run every couple of hours were sufficient for me.

[2022-09-05 09:16] vincebrannon commented on #3028
@harridu
So what I was asking was is this: The etcd snapshot that triggers this error, is that successful or not? Do you first have to apply the workaround and then re-do the etcd snapshot?

[2022-09-06 01:24] afrozk opened #3030 "Incorrect images list for RKE version"
**RKE version:**
v1.18.20-rancher1-3

**Steps to Reproduce:**
When running `./rke_linux-amd64-123 config --system-images --version=v1.18.20-rancher1-3`.

List of images shows as

INFO[0000] Generating images list for version [v1.18.20-rancher1-3]:
rancher/mirrored-coreos-etcd:v3.4.15-rancher1
rancher/rke-tools:v0.1.75
rancher/mirrored-k8s-dns-kube-dns:1.15.2
rancher/mirrored-k8s-dns-dnsmasq-nanny:

[2022-09-06 06:29] chilli13 commented on #3010
Does RKR have any plans to support on latest release version?

[2022-09-06 06:35] chilli13 commented on #3010
Does RKR have any plans to support on latest release version?

[2022-09-07 13:28] #3022 closed, assigned to nobody

[2022-09-07 13:29] sidvijay1989 commented on #3022
rkestate file was missed in the local path.

[2022-09-08 12:15] cite commented on #2938
We are still seeing massive performance problems when using `enable_cri_dockerd` - are we sure that the correct fixes are applied? I can see that the `cri-dockerd` from `rancher/hyperkube:v1.24.4-rancher1` self-identifies as 0.2.4 (while the included `docker` client identifies as 1.12.3 from 2016), but we are still seeing really bad performance.

[2022-09-08 12:27] cite commented on #2709
I can confirm we are still seeing this issue, see https://github.com/rancher/rancher/issues/38816 - we initially thought that was a problem with the OEL kernel, but it's not related to that.

[2022-09-08 14:29] sj-dev opened #3031 "WARN[0000] Failed to set up SSH tunneling for host"
WARN[0000] Failed to set up SSH tunneling for host [192.168.0.186]: Can't retrieve Docker Info: error during connect: Get "http://%2Fvar%2Frun%2Fdocker.sock/v1.24/info": Unable to access node with address [192.168.0.186:22] using SSH. Please check if you are able to SSH to the node using the specified SSH Private Key and if you have configured the correct SSH username. Error: ssh: handshake failed

[2022-09-08 17:53] jiaqiluo commented on #2938
The correct fix is applied because the upsteam cri-dockerd has fixed the metrics performance issue in [v0.2.1](https://github.com/Mirantis/cri-dockerd/releases/tag/v0.2.1)

[2022-09-09 07:40] samene commented on #3029
This is intentional behaviour. As per this commit -

https://github.com/rancher/rke/commit/217e1b41b8fe0ffc362f75ab7bfd71e644d101f3

rke-tools is dependent on the rke version and not on the kubernetes version. so they have explicitly added code to "replace" the rke-tools image version from the kubernetes version section (which is 1.0.78 for 1.20.14-rancher2-1) with the rke-tools of the "default" k

[2022-09-09 07:40] #3029 closed, assigned to nobody

[2022-09-09 07:41] samene commented on #3030
Same as #3029
The version of rke-tools is not mapped to the kubernetes version, rather to the rke version.

[2022-09-09 11:35] moschlar commented on #2527
I can confirm this issue and that the workaround from the forum works:

[code]

[2022-09-10 00:03] jalvarado-it opened #3032 "RKE Server fails on agent start"
**RKE version:**
[code]

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
`Linux rke1 5.4.0-125-generic #141-Ubuntu SMP Wed Aug 10 13:42:03 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux`

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

[code]

**cluster.yml file:**

[code]

**Steps to Rep

[2022-09-10 18:17] chfrank-cgn commented on #2938
I can confirm - a fresh RKE installation 1.24.4 (from Rancher 2.6.8) shows the same behavior as before, with very high CPU usage and low performance.

Looking at the system itself, the process consuming all available CPU is dockerd.

[2022-09-11 09:24] aslafy-z commented on #1067
Not stale

[2022-09-12 09:14] Raboo commented on #2938
Well this makes me afraid of upgrading to k8s v1.24. Last time I enabled the `enable_cri_dockerd` it brought my cluster down to complete halt.

[2022-09-12 20:58] jiaqiluo opened #3034 "RKE - Add support for provisioning 1.25 clusters"
TODOs:

- [x] bump Go packages to the lastest for 1.25.2 or newer
- [x] bring in and test the updated KDM and maker sure provisioning and upgrading to 1.25 cluster succeeds
- [x] add the support for PSA. See the below for details

---

# Design

RKE will provide two pre-defined `AdmissionConfiguration`s: `privileged` and `restricted`.
To use the `AdmissionConfiguration`, RKE will provide a new fie

[2022-09-13 14:58] lerminou opened #3036 "[Doc] How to renew custom certs for RKE"
**RKE version:** 1.3.11

**Docker version: (`docker version`,`docker info` preferred)** 20.10.9

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)** redhat8

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)** vmware

I created  my cluster with the following command:  `rke cert generate-csr` & `rke up --custom-certs`
I didn't find any documentation to renew th

[2022-09-15 04:26] Moep90 commented on #2976
Still waiting for any kind of Feedback

[2022-09-15 05:05] harridu commented on #3028
It created a snapshot file as expected. I didn't rely upon it, though. I waited for the next scheduled backup.

[2022-09-16 20:54] chfrank-cgn commented on #2937
I do believe we should test and document the installation of the [Azure Disk CSI driver](https://github.com/kubernetes-sigs/azuredisk-csi-driver) and mention it in the RKE release notes

[2022-09-16 22:24] kinarashah opened #3042 "RKE deletes user addons on reconcile and redeploys before rke up"
This is issue created for RKE, see linked rancher issue https://github.com/rancher/rancher/issues/38749 and https://github.com/rancher/rancher/issues/38703 for more details.

[2022-09-16 22:26] kinarashah commented on #3042
Per https://github.com/rancher/rancher/issues/38877#issuecomment-1245877031, this has been validated with `v1.3.15-rc1`. cc @sowmyav27

[2022-09-16 22:30] kinarashah commented on #2942
https://github.com/rancher/rancher/issues/38984

[2022-09-17 02:32] kinarashah commented on #3028
Available to test with v1.3.15-rc2 https://github.com/rancher/rke/releases/tag/v1.3.15-rc2

[2022-09-17 11:03] oxr463 commented on #2985
Yes, you can upgrade the RKE version and then upgrade your cluster without reinstalling from scratch.

[2022-09-19 06:53] vivek-shilimkar commented on #3028
Validated with RKE version v1.3.15-rc2.

Validation steps followed.

1. Provisioned a k8s cluster v1.24.4 with standalone RKE v1.3.15-rc2
2. Wait for cluster to come up active.
3. Once the cluster is active, took the snapshot of cluster with the following command.
`rke etcd snapshot-save --name snapshot-${name}`

4. Made sure snapshot is saved and able to restore cluster with that snapshot.

Based

[2022-09-19 14:57] sowmyav27 commented on #3028
@vivek-infracloud @mitulshah-suse Reopening to validate using 1.3.14 RKE to reproduce the issue using [these ](https://github.com/rancher/rke/issues/3028#issuecomment-1235884097) steps. And ensure the same steps work using latest 1.3.15-rc2.

[2022-09-20 06:10] vivek-shilimkar commented on #3028
Validated if the workaround mentioned [here](https://github.com/rancher/rke/issues/3028#issuecomment-1235884097) works.

Validation steps on RKE v1.3.14

1. Provisioned a standalone RKE1 cluster with 1cp, 1etcd and 1wk node each, without the empty `backup_config` in cluster.yaml
2. Once the cluster is active, tried to take a etcd snapshot with following command.
`rke etcd snapshot-save --name snap

[2022-09-20 07:04] talavis commented on #3019
Same issue with 1.3.14.

[2022-09-21 03:58] vivek-shilimkar commented on #3028
While validating the snapshot creation with RKE v1.3.15-rc2. The snapshot creation was successful and the Panic error did not encounter even with blank backup_config.

[2022-09-21 04:10] #2973 closed, assigned to nobody

[2022-09-21 07:24] kagehisa commented on #3019
Same problem here. 1.3.12 works fine 1.3.13 or 1.3.14 don't work.

[2022-09-21 10:54] kagehisa commented on #3019
Ok a few more details. I reinstalled all the nodes and deployed them with RKE 1.3.12.
In the config I added:
[code]
With these additional settings I deployed the cluster and everything works fine. Then I updated RKE to 1.3.13 and redeployed the Cluster with no further changes to the config. Still works fine.
Then I changed the Kubernetes version to `1.23.8-rancher1-1` and redeployed the Cluster. E

[2022-09-21 11:43] XDavidT commented on #2650
Anything came up since?

[2022-09-21 12:25] ZleFox commented on #2859
I have the same problem. In a 4 node cluster on ubuntu 20.04 running rancher provisioned k8s rke v1.23.10 I have updated 3 nodes to 22.04. The results were baffling. On one node everything went smooth. On the 2 other nodes, rancher began to spawn thousands of rancher-agent containers. So I had to remove them from the cluster, cleanup the nodes and add them again. The nodes look OK. However I see m

[2022-09-21 12:33] XDavidT opened #3044 "IP_AUTODETECTION_METHOD can't be change from cluster.yml and cluster not working with new network cards"
**Issue:** After adding network cards to some of the nodes, and running `rke up --update-only` the calico daemon-set configure the wrong interface.
The issue is one of the env variables configured automatically:
[code]
which suppose to have another segment: `10.200.10.0/24`
After I tried to edit the Daemon set manually - it's rolled back to the original one.
1. Is any other service controlling the

[2022-09-21 16:57] markusewalker commented on #2942
Validated that this is addressed in `v1.3.15-rc3`.

**ENVIRONMENT DETAILS**
- Ubuntu 22.04 AMIs
     - 3 for controplane, etcd, worker

**TEST RESULT**
**PASS**

**VERIFICATION STEPS**
1. Provisioned 3 Ubuntu 22.04 AMIs to be used in the RKE1 cluster.
2. Set up each node meeting system requirements and ran `rke config`.
     - Ensured that `Canal` is the CNI I chose.
3. Verified `cluster.yml` was

[2022-09-21 16:57] #2942 closed, assigned to markusewalker

[2022-09-21 20:38] tkriviradev opened #3047 "RKE kubelet logrotate"
**RKE version:*v1.3.12*

**Docker version:
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

**Type/provider of hosts: KVM ProxMox**

**cluster.yml file:**
[code]

**Steps to Reproduce:**
I have to configure **containerLogMaxSize** for my containers, however I am not able to find the right way how to do it.
https://kubernetes.io/docs/reference/config-api/kubel

[2022-09-21 20:43] kinarashah commented on #3028
Closing this issue, fixed in `v1.3.15`. Please reopen if you run into issues.

[2022-09-21 20:43] kinarashah commented on #3042
Closing this issue, validated and fix should be available with `v1.3.15`.

[2022-09-21 20:43] #3042 closed, assigned to nobody

[2022-09-22 02:10] masap opened #3050 "Failed to rotate certificate with ca"
**RKE version:**
RKE: 1.3.14

**Docker version: (`docker version`,`docker info` preferred)**
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS EC2

**cluster.yml file:**
[code]

**Steps to Reproduce:**
I tried to run `$ rke cert rotate --rotate-ca` when CA certificate is expired. By modi

[2022-09-22 04:02] #2883 closed, assigned to nobody

[2022-09-23 02:00] RuralHunter commented on #1485
I have the same issue with Rancher 2.6 and a new created RKE cluster.

[2022-09-23 12:27] talavis commented on #3019
Thank you @kagehisa for that information. The issue does indeed seem to be 1.24. We successfully got 1.23.10 running on our cluster with the latest rke (1.3.15). Still no luck with 1.24.

[2022-09-26 07:45] kagehisa commented on #3019
It would be good to know why it fails. The only major difference between 1.23 and 1.24 is that they removed everything docker shim related. Is there something that needs to be done for a RKE deployed Cluster to successfully use the external docker shim? Or is there another Problem with RKE  and Kubernetes 1.24?  Would be nice to receive some feedback from a RKE dev in this regard, this is a seriou

[2022-09-26 09:43] y1ka opened #3051 "Update cri-dockerd to v0.2.6"
**RKE version: 1.3.15**

Please update:
https://github.com/Mirantis/cri-dockerd/commits/v0.2.6

Reason:
https://github.com/Mirantis/cri-dockerd/issues/91

[2022-09-28 08:36] waldner commented on #2890
The issue is still relevant.

[2022-09-30 19:03] emmeowzing commented on #1341
I'd still like this feature!

[2022-10-01 04:16] #2980 closed, assigned to nobody

[2022-10-03 17:28] stefanlasiewski commented on #2941
@stefanfritsch @Birddude1230 With rke v1.3.14, SSH now works for me. Is it working for you also?

[2022-10-06 07:26] bitfisher commented on #2788
Unstale please

[2022-10-06 08:40] steve-todorov commented on #2996
Still relevant.

[2022-10-06 18:37] jiaqiluo commented on #2611
### Root cause

The upstream Azure cloud-config supports the option `tags`, but REK does not have it in the internal `AzureCloudProvider` struct, so the value is ignored.

### What was fixed, or what changes have occurred
add it to RKE's internal data structure

### Areas or cases that should be tested
When creating a cluster with Azure as the cloud provider, we can now set the `tags` ( see [RKE D

[2022-10-06 18:41] jiaqiluo commented on #2611
Waiting for the next RC -  v1.4.0-rc2

[2022-10-07 18:34] jiaqiluo commented on #2610
### Root cause

The upstream Azure cloud-config supports the option `SecurityGroupResourceGroup`, but REK does not have it in the internal `AzureCloudProvider` struct, so the value is ignored.

### What was fixed, or what changes have occurred
add it to RKE's internal data structure

### Areas or cases that should be tested
When creating a cluster with Azure as the cloud provider, we can now set t

[2022-10-07 18:36] jiaqiluo commented on #2610
Waiting for the next RC - v1.4.0-rc2

[2022-10-07 20:11] stefanfritsch commented on #2941
@stefanlasiewski Can't confirm for v1.3.15. With an ed25519 private key (ca-key is always rsa) I get:

[code]

with rsa:

[code]

In both cases the login with `ssh shin-11` works just fine.

[2022-10-09 08:35] papanito commented on #2312
still valid

[2022-10-11 00:39] gmanera commented on #1063
This would be incredibly useful. Please make it happen.

[2022-10-11 03:59] #2994 closed, assigned to nobody

[2022-10-11 09:05] knandras commented on #2968
+1 I'm also seeing this on RKE client v1.3.15, and it is preventing me from restoring a snapshot!

[2022-10-11 18:16] jiaqiluo commented on #2610
Can be validated in `v1.4.0-rc3`

[2022-10-11 18:17] jiaqiluo commented on #2611
Can be validated in `v1.4.0-rc3`

[2022-10-12 22:08] dewongway opened #3063 "ingress-nginx pod and jobs issues when deploying using rke up"
Hi,

I'm trying to deploy a simple rke kubernetes using rke utility and while the overall deployment seems to be successful, the ingress-nginx pods and jobs are having issues. Looking into the describe output, I can see that it's complaining about the serviceaccount and secret "ingress-nginx-admission" are missing.  Does anyone know why they are not being created?  I tried both 1.3.15 and 1.4.0-rc

[2022-10-13 23:30] Josh-Diamond commented on #3063
Reproduced
---

With RKE `v1.3.15` + `SLES-15-SP4 - docker-20.10.14-ce`

1. Spin up single-instance: `SLES-15-SP4 - docker-20.10.14-ce`
2. Ssh into instance and add user to docker
   - usermod -aG docker $USER
   - systemctl start docker
   - systemctl enable docker
   - reboot
3. Using `Cluster.yml` provided in issue description, run `rke up`
4. Reproduced - ingress-nginx pod + jobs fail to creat

[2022-10-14 04:19] Nathan7512 opened #3070 "A single-worker role node cannot complete the installation"
**RKE version:**
1.3.4  arm64
**Docker version: (`docker version`,`docker info` preferred)**
Client: Docker Engine - Community
 Version:           20.10.17
 API version:       1.41
 Go version:        go1.17.11
 Git commit:        100c701
 Built:             Mon Jun  6 23:03:34 2022
 OS/Arch:           linux/arm64
 Context:           default
 Experimental:      true

Server: Docker Engine - Commun

[2022-10-14 13:55] dewongway commented on #3063
Hi Josh,

Thanks for the solution. I have used the `cluster.yml` in your workaround in my env and it resolved the issue.

[2022-10-14 15:42] Josh-Diamond commented on #3063
@dewongway Have you been able to successfully spin up clusters, with the `cluster.yml` provided in the issues description, in the past?  I'm trying to  determine if this is a bug, or related to user error w/ mis-configurations in yaml, perhaps. 🤔

[2022-10-14 18:23] thaneunsoo commented on #2610
### Test Environment: ###
RKE version: v1.4.0-rc3
Cloud Provider: Azure

----------

### Testing: ###
Tested the issue with the following steps:
1. Add `securityGroupResourceGroup` to cloud_provider cloud-config in cluster.yml file
2. Run `rke up --config cluster.yml`

Tested the following testcases:
- rke up with no cloud_provider configs
- rke up with basic cloud_provider configs
- rke up with `

[2022-10-14 18:24] thaneunsoo commented on #2611
### Test Environment: ###
RKE version: v1.4.0-rc3
Cloud Provider: Azure

----------

### Testing: ###
Tested the issue with the following steps:
1. Add `tags` to cloud_provider cloud-config in cluster.yml file
2. Run `rke up --config cluster.yml`

Tested the following testcases:
- rke up with no cloud_provider configs
- rke up with basic cloud_provider configs
- rke up with tags` cloud_provider co

[2022-10-14 19:01] jiaqiluo commented on #2610
I confirmed with @thaneunsoo that the same test also failed when using RKE 1.3.15, which means it is an existing bug if it is a bug.

[2022-10-14 19:02] jiaqiluo commented on #2611
I confirmed with @thaneunsoo that the same test also failed when using RKE 1.3.15, which means it is an existing bug if it is.

[2022-10-14 19:49] jmlp1 commented on #1485
I have the same issue
rke version 1.2.0
docker version 19.03.15 - Community

Ouput of collect cert script (master01 and node 01 both are etcd, control pane and worker)

Tried rke remove, reboot nodes, clear up all docker dangling containers and images, etc. the issue came back

master01
f198a32826b9a994c14dc043d6005b0a  /etc/kubernetes/ssl/kube-apiserver.pem
41a44492f2e7e8829ec4cfbecedb224d  /etc/

[2022-10-14 20:15] jmlp1 commented on #1485
**Removed hostname override from Cluster.yml and the cluster was built successfully** :-)

nodes:

address: 192.168.0.30
internal_address: 192.168.0.30
user: jma
role: [controlplane, worker, etcd]

address: 192.168.0.32
internal_address: 192.168.0.32
user: jma
role: [controlplane, worker, etcd]

services:
etcd:
snapshot: true
creation: 6h
retention: 24h

[2022-10-14 22:02] dewongway commented on #3063
@Josh-Diamond I'm new to RKE and kubernetes so it's very likely I did something wrong in the config file. I have never successfully spun up the ingress-nginx controllers and jobs using the `cluster.yml` provided in the issue description. After successfully bringing up the cluster using your `cluster.yml`, I went back to my original `cluster.yml` file and set the `internal_address` just like yours

[2022-10-14 22:15] Josh-Diamond commented on #3063
Awesome! Yes, this sounds like its just a mis-configuration with the original yaml.  Glad to hear you're up and running now 😃
I will close this out as a non-issue.  RKE 1.3.15 is working as expected.  Thanks for the follow-up!

[2022-10-14 22:15] #3063 closed, assigned to Josh-Diamond

[2022-10-15 00:39] jiaqiluo commented on #2611
Move this back to `to-test` because it is not a bug.  I get it working with the following `cluster.yml` + rke version v1.4.0-rc3

[code]
**Something to call out here**:
- the `hostname_override` must match the VM name in Azure
- the `user` must match what you set when creating the VM in Azure
- the `securityGroupResourceGroup` must match the resource group of the network security group used for th

[2022-10-15 00:41] jiaqiluo commented on #2610
This is not a bug.  Please see [this comment](https://github.com/rancher/rke/issues/2611#issuecomment-1279614197) for details

Moving it back to to-test

[2022-10-16 04:04] #2969 closed, assigned to nobody

[2022-10-16 09:49] impsik opened #3072 "Unable to build 3 node cluster with 3 etcd/cp roles"
**RKE version:**
`rke version v1.3.14 also rke version v1.3.15`
**Docker version: (`docker version`,`docker info` preferred)**
[code]

[code]
**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
KVM
**cluster.yml file:**
[code]
**Steps to Reproduce:**
Clean 3 VMs, docker installed etc. Use above cluster

[2022-10-17 10:26] dinhanhhuy commented on #1285
I think this feature is still needed on the RKE1 cluster. Can some 1 help me process this PR  https://github.com/rancher/rke/pull/2698

[2022-10-17 10:29] dinhanhhuy commented on #1285
cc @jlamillan

[2022-10-17 11:19] pasikarkkainen commented on #1285
Yes, this would be nice to have for rke1

[2022-10-17 11:49] seanrmurphy opened #3073 "Problem replacing node in cluster when node is first in list of nodes"
**RKE version:** 1.3.13

**Docker version: (`docker version`,`docker info` preferred)**

[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

[code]
**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**

Provisioned VMs on Openstack.

**cluster.yml file:**

[code]

**Steps to Reproduce:**

- Bring up HA cluster with 3 `etcd` nodes
- Completely remove the

[2022-10-17 13:53] Nathan7512 commented on #3070
This is a problem with rke-tools.
[ARM64 rancher/rke-tools:v0.1.75 confd Exec format error](https://github.com/rancher/rancher/issues/37762)
[Fix building arm64 confd binary]https://github.com/rancher/confd/pull/8/commits/7665a1419fbe8c24022f8e2a319308b323772073)

[2022-10-17 17:12] thaneunsoo commented on #2611
### Test Environment: ###
RKE version: v1.4.0-rc3
Cloud Provider: Azure

----------

### Testing: ###
Tested the issue with the following steps:
1. Add `tags` to cloud_provider cloud-config in cluster.yml file
2. Run `rke up --config cluster.yml`

**Result**
Tags have been added successfully
![image.png](https://zube.io/files/rancher/d001a57d8355f012b0d00889c25c018b-image.png)

[2022-10-17 17:12] #2611 closed

[2022-10-17 17:20] thaneunsoo commented on #2610
### Test Environment: ###
RKE version: v1.4.0-rc3
Cloud Provider: Azure

----------

### Testing: ###
Tested the issue with the following steps:
1. Add `securityGroupResourceGroup` to cloud_provider cloud-config in cluster.yml file
2. Run `rke up --config cluster.yml`

**Result**
The resource group is set correctly.
![image.png](https://zube.io/files/rancher/d001a57d8355f012b0d00889c25c018b-image.

[2022-10-17 17:20] #2610 closed

[2022-10-17 18:13] jiaqiluo opened #3074 "RKE v1.4.0 - Hide k8s 1.22 and below from the version list"
Hide k8s 1.22 and below from the version list

This request is derived from https://github.com/rancher/rancher/issues/39239 where you can find more information

[2022-10-17 18:15] jiaqiluo commented on #3074
can be validated on RKE `v1.4.0-rc4`

[2022-10-17 18:40] balajivedagiri opened #3075 "enabling and disabling admission-controllers"
Hi Team,

Is there any way that we can enable/disable admission-controllers in RKE/RKE2 like we do on vanila kubernetes cluster ?

Control plane components are deployed as containers in RKE, i couldn't find a way to do it.

Regards,
Balaji

[2022-10-19 12:51] impsik commented on #3072
that was my own fault. Host machine had some old iptables rules. I deleted those and everything works now.

[2022-10-21 05:58] horihel commented on #3051
This is actually quite important, as it fixes _any_ interaction with docker that take longer than 2 minutes.
* ImagePulls with large images fail (and im some cases are not retried properly, causing helm timeouts or prolonged incomplete deployments)
* `kubectl logs` fails after 2 minutes with docker socket errors

these are just the problems we observed with rke 1.3.15, there might be more interact

[2022-10-22 03:41] #3003 closed, assigned to nobody

[2022-10-24 04:18] #3009 closed, assigned to nobody

[2022-10-26 05:31] Moep90 commented on #2976
Hey guys, thanks for the apprechiated feedback so far.

I figured a (hacky) way out now....

1. comment the `addons:` and/or `addons_include:` section within the rke config file `rancher-cluster.yml` in my case
2. kubectl edit cm both `rke-user-addon`and `rke-user-includes-addons`and remove the relevant sections, in my case I just had `""` left so for example it looked like `rke-user-addon: ""`
3.

[2022-10-26 05:31] #2976 closed, assigned to nobody

[2022-10-30 03:36] #1432 closed

[2022-10-30 04:14] khayalghosh opened #3081 "Statefulset pods lost after recovering from quorum loss."
**RKE version:**
rke version v1.3.7

**Docker version: (`docker version`,`docker info` preferred)**
`Docker version Output:
Client: Docker Engine - Community
 Version:           20.10.9
 API version:       1.41
 Go version:        go1.16.8
 Git commit:        c2ea9bc
 Built:             Mon Oct  4 16:08:25 2021
 OS/Arch:           linux/amd64
 Context:           default
 Experimental:      true

S

[2022-11-01 21:10] jiaqiluo commented on #3074
@sowmyav27  can you help assign the issue to your team?

[2022-11-01 21:28] benley commented on #1432
is this actually implemented or did it just get closed as stale?

[2022-11-02 15:17] Josh-Diamond commented on #3074
Ticket #3074 - Test Results
---

Verified - RKE1 - [standalone w/ rke `v1.4.0-rc4`]:

1. Attempt to provision clusters, with the following k8s versions:
- `1.23` - [expected to be available]
- `1.24` - [expected to be available]
2. Run `rke config --system-images --version -`
3. Verified - K8s `v1.23.12-rancher1-1` + `v1.24.6-rancher1-1` available
4. Verified - K8s `v1.24.6-rancher1-1` is default

[2022-11-02 15:17] #3074 closed, assigned to jiaqiluo, sowmyav27, Josh-Diamond

[2022-11-03 14:14] bitfisher commented on #2788
Any Updates?

Is there any other option than disabling SELinux?

[2022-11-03 15:55] kinarashah opened #3083 "[v1.4] Support certificate chains when using custom certs"
This issue is to forward port https://github.com/rancher/rke/issues/1834. PR for this has been merged to `release/v1.3` branch - https://github.com/rancher/rke/pull/2742. Need to forward port it.

[2022-11-03 19:38] vinibodruch opened #3084 "Kubelet timeout generating ImagePullBackOff error"
# TL;DR
Where is the kubelet config file on Rancher 2.6.9 - RKE1, like this https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/
Can I manage it? Does this file exist?
Didn't find in */var/lib/kubelet*

[code]

# Explain
Recently we've upgraded the Kubernetes version to v1.24.4-rancher1-1 and to Rancher 2.6.9. Everything worked fine, but recently we've noticed a new behavior: I

[2022-11-03 19:41] gmanera commented on #3084
same problem here.

[2022-11-04 04:57] jiaqiluo commented on #3084
Can I manage it? Does this file exist?

Rancher/RKE does not use the kubelet config file to configure kubelet, which sadly means you cannot find it anywhere. But it does not mean you cannot use it, and actually, you are very close to the final solution:

You need to set both the `extra_args` and `extra_binds` to make it work.
In your cluser.yml it will look like the following
[code]
And of course,

[2022-11-04 05:00] jiaqiluo commented on #3084
and a caveat: AFAIK, the kubelet process does not auto-restart when the changes are made in the config file, which means you need to restart the kubelet container after changes are made to the "external" config file.

[2022-11-04 05:04] jiaqiluo commented on #3032
Hi,  can you bring this issue to RKE2's GH repo https://github.com/rancher/rke2?

[2022-11-04 17:09] likku123 commented on #3084
Still I am experiencing the time out issue.

kubelet:
  extra_args:
        config: /opt/kubelet_timeout_config.yaml
   extra_binds:
        - '/opt/kubelet_timeout_config.yaml:/opt/kubelet_timeout_config.yaml'

kubelet_timeout_config.yaml
----------------------------------------------
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
serializeImagePulls: false
runtimeRequestTim

[2022-11-04 17:42] jiaqiluo commented on #3084
@likku123 can you do the following checks on the container `kube-apiserver`  in the control plan node:
- docker logs to check if there is any error message.
- docker exec into the container to see if the config file exists and contains the proper context.
- docker inspect to check if `--config` is set

If all the above look right, it means RKE has configured the kube-apiserver properly, then I wil

[2022-11-05 02:44] vinibodruch commented on #3084
Thanks for your response, Jiaqi Luo. I was trying this afternoon to solve this issue, but unfortunatly didn't find how.

The file *kubelet-config.yml* I used in each server:
[code]
The RKE config:
[code]

And finally, the process running in on server with *--config*, as example:
[code]

I found a request which probably shows up the current kubelet configuration:
[code]
the content returned:
[code]

[2022-11-05 03:35] likku123 commented on #3084
This is definitely issue with cri-dockerd version which comes along with rke-tools.
Right now the version is
/opt/rke-tools/bin# ./cri-dockerd --version
cri-dockerd 0.2.4 (4b57f30)
As per this link https://github.com/kubernetes/minikube/issues/14789#issuecomment-1233138069 cri-dockerd 0.2.6 is the patch which solves the timeout issue.

Any suggestions to deploy cri-dockerd 0.2.6 in my present setu

[2022-11-05 05:26] vinibodruch commented on #3084
No idea how to upgrade it...
Same version of cri-dockerd too
[code]

[2022-11-06 21:05] revaniki opened #3088 "RKE remove fails FATA[0003] Cluster must have at least one etcd plane host"
Hi Folks,

I'm refreshing my Udacity class on microservices security with latest dependencies and having problems with removing the RKE environment. I was testing adding/removing RKE to ensure students don't have any issues in the class. I'm not sure how to manually remove references to RKE from the host operating system (macOS 10.15.7). I'm OK with tearing RKE down and rebuilding but stuck :(

**

[2022-11-07 05:42] #3070 closed, assigned to nobody

[2022-11-07 12:52] gmanera commented on #3084
@jiaqiluo ,
Thanks for your response. You managed to help us how to configure the kubelet config file.
However, still using the following configuration, the issue persists.

`    kubelet:
      extra_args:
        config: /var/lib/kubelet/kubelet-config.yml
      extra_binds:
        - >-
          /var/lib/kubelet/kubelet-config.yml:/var/lib/kubelet/kubelet-config.yml`

Our cri-dockerd version: c

[2022-11-08 01:39] stefanlasiewski commented on #2941
@stefanfritsch You know what, I was wrong. it's not working for me either.

[2022-11-08 16:05] iTaybb commented on #3084
I also have the same issue in RKE 1.24.

[2022-11-09 03:25] #3023 closed, assigned to nobody

[2022-11-10 16:07] bkonick opened #3091 "Unable to run rke up with AWS EC2 nodes"
I am able to run the same `rke up` command with the same `cluster.yml` on RKE 1.2 without issues. Using RKE 1.3, there is always a failure.

**RKE version:**

1.3.15

**Docker version: (`docker version`,`docker info` preferred)**

`docker version`
[code]

`docker info`
[code]

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**

`cat /etc/os-release`
[code]

`uname -r`
[

[2022-11-10 16:08] bkonick commented on #3091
Full debug output:

[code]

[2022-11-10 17:28] gmanera commented on #3084
@jiaqiluo ,
It's possible to update only the cri-dockerd version?
We are using the https://github.com/rancher/rke-tools/releases/tag/v0.1.87 that has the cri-dockerd 0.2.4.
There any kind of prevision to create a new rke-tools version with the cri-dockerd updated?

We're using the kubelet config file (we can se throut docker inspect kubelet) but the exatly same problem persists.

We've a limited i

[2022-11-11 19:47] vinibodruch commented on #3084
Looking for similar issues, this is the only thing that I thought it could be the solution: https://github.com/rancher/rke/issues/3051
Is it difficult to change this version @jiaqiluo ?:
https://github.com/rancher/rke-tools/blob/2c35b5525f4c17b0cc64f9266f760922216ab9fd/package/Dockerfile#L8

[2022-11-12 08:43] aslafy-z commented on #1067
Not stale

[2022-11-14 07:43] thetaprimeprime commented on #1231
Thanks very much, this solve it.

[2022-11-14 14:08] schnapsidee commented on #3019
I ran into a similar issue today trying to update from 1.23 to 1.24 with RKE 1.4.0.
The issue seems to be that docker on 1.24 needs way more CPU resources than it did on 1.23. I had a test cluster with 3 nodes with 4 cores each and it ran just fine, after the update I increased the cpu cores to 8 and docker still used all cpu cores with 100% utilization. Htop showed a load of 17.

The RKE Update s

[2022-11-15 12:12] rvdh commented on #2938
Also confirmed here on Rancher 2.6.8, k8s v1.24.2 - dockerd using 100% cpu.

@jiaqiluo is it possible 2.6.8 reverted the fix in 2.6.7?

[2022-11-16 09:14] horihel commented on #3084
I'd be happy if anyone knows a decent workaround (that hopefully doesn't involve SSHing into each node and running docker pull). This is seriously disturbing cluster operations as there's some cluster images that are impossible to complete pulling within 2m and will endlessly fail.

[2022-11-16 12:36] gmanera commented on #3084
@horihel ,
Unfortony we don't know any other workaroung. SSHing into each node and running docker pull is the only way so far.
We need to await the Rancher Community.
@jiaqiluo or @superseb we really appreciate if you can guide us.

Thanks in advance.

[2022-11-16 12:47] likku123 commented on #3084
Hack I am doing right now is . Using ansible script i am manually downloading the required images in nodes and scheduled cron job to pull latest changes regularly.
Note: Developers have provided the required list of images ( 26 images) they will be using for there run which makes easy to achieve it

[2022-11-16 21:14] PierreBrisorgueil commented on #2968
@gha-xena @knandras @jakefhyde did you find a workaround?
_ping @superseb I let you know as you've already helped me, and this ticket has been open for a long time. I'm stuck in the restoration of an important snapshot, I'm starting a fresh install in the meantime_

[2022-11-17 08:37] superseb commented on #2968
If this would always fail, no one would be able to restore any snapshot. @gha-xena @knandras @PierreBrisorgueil please include RKE version and cluster.yml to identify what is causing this. (and if possible, the versions that you used that did work)

I will take a look at the code if anything changed or what can cause this.

[2022-11-17 08:51] PierreBrisorgueil commented on #2968
- rke version v1.4.0
- cluster.yml
(the version used that did work was 1.4.0, just yesterday)

[code]

[2022-11-17 08:57] superseb commented on #2968
@PierreBrisorgueil I deleted your comment because it contained sensitive info, please change your password(s) and post a redacted version

[2022-11-17 09:07] PierreBrisorgueil commented on #2968
long night -_- Thx, old one now !

**RKE version:**  rke version v1.4.0

**Docker version:**  Docker version 20.10.21, build baeda1f

**Operating system and kernel: ** 4.19.0-22-amd64

**Type/provider of hosts: ** Bare-metal

**cluster.yml file:**

[code]

**Steps to Reproduce:**

`rke etcd snapshot-restore --config ../cluster.yml --name 2022-11-16_etc`

**Results:**
[code]

[2022-11-17 09:21] superseb commented on #2968
For completeness, please share the complete log. Also, if possible, the output of `docker inspect etcd-checksum-checker` and the output of the following commands for every cluster node:

[code]

[2022-11-17 09:32] PierreBrisorgueil commented on #2968
docker inspect etcd-checksum-checker
[code]

--------------------------------

`rke etcd snapshot-restore --config ../cluster.yml --name 2022-11-16T03:42:54Z_etcd`

1/

[code]
[code]

2/

[code]
[code]

3/

[code]
[code]

[2022-11-17 09:44] superseb commented on #2968
Ok it seems that it is trying to use `/opt/rke/etcd-snapshots/./snapshots/` as directory instead of `/opt/rke/etcd-snapshots/`, I have to dig through some code to see where this could come from but if you have any ideas, let me know. Is `/opt/rke` possibly mounted/symlinked or anything that could interfere with directories/paths? (`ls -ld /opt/rke` && `ls -ld /opt/rke/etcd-snapshots`)

[2022-11-17 10:37] superseb commented on #2968
The only way to replicate what you are seeing is by providing `--name ./snapshots/bla`, so a full log would probably still help.

[2022-11-17 10:52] PierreBrisorgueil commented on #2968
@superseb on three, no symlinked

[code]

A full log of snapshot restaure ?

[code]

[2022-11-17 11:25] PierreBrisorgueil commented on #2968
`rke etcd snapshot-restore --config ../cluster.yml --name 2022-11-16T03:42:54Z_etcd`

I've tried `rke etcd snapshot-restore --config cluster.yml --name 2022-11-16T03:42:54Z_etcd` but no change & same docker inspect etcd-checksum-checker with `/opt/rke/etcd-snapshots/./snapshots/` (my actual directory during the command was in a "snapshots" folder so i give it a try ^^')

[2022-11-17 12:24] superseb commented on #2968
@PierreBrisorgueil Thanks, will continue to look where this can come from. Can you share some more info from the environment like what OS are you running `rke` command from, what OS on the nodes? Could you also grep `snapshots` in the `cluster.rkestate` file just to make sure there is no reference there?

[2022-11-17 13:00] PierreBrisorgueil commented on #2968
Yep,

-  My mac OS: Ventura 13.0 (22A380)
- Nodes
  - PRETTY_NAME="Debian GNU/Linux 10 (buster)" 4.19.0-9-amd64
  - PRETTY_NAME="Debian GNU/Linux 10 (buster)" 4.19.0-9-amd64
  - PRETTY_NAME="Debian GNU/Linux 10 (buster)" 4.19.0-22-amd64
- grep -R "snapshots" 2022-11-16T03:42:54Z_etcd.rkestate => nothing
- grep -R "snapshots" cluster.rkestate   => nothing

[2022-11-17 16:30] chfrank-cgn commented on #2937
I still do believe we should test and document the installation of the [Azure Disk CSI driver](https://github.com/kubernetes-sigs/azuredisk-csi-driver) and mention it in the RKE release notes

[2022-11-17 17:44] knandras commented on #2968
I downloaded the source, corrected/hardcoded the relevant portion, and built a binary for myself.On 2022. Nov 16., at 22:14, Pierre Brisorgueil ***@***.***> wrote:﻿
@gha-xena @knandras did you find a workaround?

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-18 13:09] vinibodruch commented on #3051
Any update of this?

[2022-11-18 15:04] superseb commented on #2968
@PierreBrisorgueil As this seems like an edge case (as not many people are hitting it), can you try running the `rke` command from a Linux host if you have that available?

@knandras What host OS were you running `rke` on and and is the OS of the cluster nodes?

[2022-11-18 17:36] PierreBrisorgueil commented on #2968
hum, complicated, require some setup, I will try it tomorrow .. 🤔

@superseb  have you a short term solution without a specific rebuild ?

[2022-11-18 18:19] PierreBrisorgueil commented on #2968
It will really help me to be able to re up this snapshot 😔

[2022-11-18 18:33] superseb commented on #2968
Short term solution without root cause is placing the snapshot at the location it is looking for I assume. What is the last version you successfully tested your restore scenario with?

[2022-11-18 18:54] gmanera commented on #2968
Same problem here.

@superseb ,
The Short term solution for this problem, "the location it is looking for I assume", what location do you mean?

[2022-11-18 18:57] superseb opened #3099 "etcd snapshot-save panics on minimal `cluster.yml`"
**RKE version:**
v1.4.0

**Docker version: (`docker version`,`docker info` preferred)**
20.10.21

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 20.04

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE/DO)**
AWS

**cluster.yml file:**
[code]

**Steps to Reproduce:**
1. Run `rke up`
2. Run `rke etcd snapshot-save`

**Results:**
[code]

Workaround: add m

[2022-11-18 18:59] gmanera commented on #2968
[code]

[code]
[```
rancher@praiaflorida ~]$ ls -ld /opt/rke
drwxrwxrwx 3 rancher rancher 28 Mar 18  2021 /opt/rke
[rancher@praiaflorida ~]$ ls -ld /opt/rke/etcd-snapshots
drwxrwxrwx 2 rancher rancher 332 Nov 18 15:44 /opt/rke/etcd-snapshots
[code]
[rancher@praiaflorida ~]$ cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="Cent

[2022-11-18 19:00] superseb commented on #2968
@gmanera Please supply the same info requested previously to see what variation you are hitting as it might lead to solving the issue. The first reporter has the path "double included" while the last reporter has `./snapshots/` added to the path.

My short term solution would be to unpack the snapshot archive and place the file at the location its looking for (in the case of the last reporter it w

[2022-11-18 19:06] gmanera commented on #2968
@superseb ,
Thanks for your quick response.

**Error message:**
[code]
[code]

[code]

Snapshots:
[code]

OS Release:
[code]

cluster.yaml
[code]

[2022-11-18 19:07] superseb commented on #2968
Please redact passwords

[2022-11-18 19:10] gmanera commented on #2968
@superseb ,
Thanks.
Here follows again.

[rancher@praiaflorida etcd-snapshots]$ cat /home/rancher/cluster.yml
# If you intened to deploy Kubernetes in an air-gapped environment,
# please consult the documentation on how to configure custom RKE images.
nodes:
- address: praiapaqueta
  port: "22"
  internal_address: 10.0.8.20
  role:
  - worker
  hostname_override: praiapaqueta
  user: rancher
  doc

[2022-11-18 19:20] gmanera commented on #2968
@superseb ,
Here follows more information, if you need.
[rancher@praiaflorida etcd-snapshots]$ docker inspect etcd-checksum-checker
[
    {
        "Id": "bb114a7db17b93cd2e41482156b9cfd5312d5760bfb844a2355a8a8a46d678fb",
        "Created": "2022-11-18T18:26:46.119527291Z",
        "Path": "/docker-entrypoint.sh",
        "Args": [
            "sh",
            "-c",
            " if [ -f '/opt/rk

[2022-11-18 19:25] gmanera commented on #2968
@superseb , I gladly to inform I've success solving the issue. I remove the previously etcd-checksum-checker container, and worked just fine.

Now I've the following error message

[code]

Thanks.

[2022-11-18 19:27] gmanera commented on #2968
I've found this: https://www.suse.com/support/kb/doc/?id=000020214.
Worker just fine too.
Thanks.

[2022-11-18 19:32] superseb commented on #2968
@PierreBrisorgueil I would expect RKE to re-create the container but as your log says ```Starting stopped container [etcd-checksum-checker]```, it would help to delete this container manually as well and re-run the `rke` command.

[2022-11-18 20:43] PierreBrisorgueil commented on #2968
I have

-  rke remove
-  docker rm -f $(docker ps -a -q) on each node
-  reboot each node
-  rke etcd snapshot-restore --config cluster.yml --name 2022-11-16T03:42:54Z_etcd

Each of the pods seems to be KO,  I'll dig into it, but everything restarted this time ... it was indeed a docker container staying lost ...

I'll have to look into it.

Thanks a lot 🙏 @gmanera, for your inputs!

@superseb  Th

[2022-11-18 21:30] gmanera commented on #3084
Hi, @superseb and @jiaqiluo ,
It's possible to help us on this issue? This is seriously disturbing our cluster operations.

Thanks in advance.

[2022-11-18 22:11] iTaybb commented on #3084
I've rolled back to 1.23 for the time being.

[2022-11-19 07:01] knandras commented on #2968
Sorry, I was away for a few days, and this thread exploded :)

My problem was, that in [line 817 of rke/services/etcd.go](https://github.com/rancher/rke/blob/528bbfb843cc70e5b0e2f8f2e676fce9ae0abdbe/services/etcd.go#L817) the variable `snapshotPath` wasn't calculated correctly.

it is defined in line 813: `snapshotPath := fmt.Sprintf("%s%s", EtcdSnapshotPath, snapshotName)` and for me the result b

[2022-11-19 08:06] superseb commented on #2968
@knandras Currently I don't see an issue with the code generating the `snapshotPath` as `EtcdSnapshotPath` is basically a constant and `snapshotName` is input given by the user and should not include path, just the name.

What we have seen so far is that a stale/old `etcd-checksum-checker` with a bad value (so from a previous attempt or cancelled attempt or an attempt with wrong input) is getting

[2022-11-19 08:38] knandras commented on #2968
@superseb from a code perspective, yes, the code is correct, but when I run `rke etcd snapshot-restore --name "2022-10-10T08:13:43Z_etcd" --config cluster.yml` it still appends the path somewhere to the snapshot filename, and I get the result above.

All nodes: OS is Red Hat Enterprise Linux Server release 7.8 (Maipo), Docker is 19.03.15 (Enterprise setting, I don't get to pick versions)

[2022-11-19 11:55] superseb commented on #2968
@knandras Can you share the full log and the `docker inspect` output? If it happens without an existing container, we still need to find out how that is happening.

[2022-11-21 03:09] #3010 closed, assigned to nobody

[2022-11-21 22:52] jiaqiluo commented on #3084
Hi @likku123 @gmanera @iTaybb @vinibodruch
Sorry for the late reply,  I was out sick for the past two weeks and just returned today.
I am glad to see that you guys figured out the root cause and the fix! I can definitely update the `cri-dockerd` version used in[ rancher/rke-tools](https://github.com/rancher/rke-tools) to [v0.2.6](https://github.com/Mirantis/cri-dockerd/releases/tag/v0.2.6).
I will

[2022-11-21 22:57] jiaqiluo commented on #3051
This will fix https://github.com/rancher/rke/issues/3084

[2022-11-21 23:31] snasovich commented on #3051
Closing in favor of https://github.com/rancher/rke/issues/3084, the work to bump `cri-dockerd` will be tracked there.

[2022-11-21 23:31] #3051 closed, assigned to jiaqiluo, kinarashah, snasovich

[2022-11-21 23:34] kinarashah commented on #3084
https://github.com/Mirantis/cri-dockerd/issues/105

[2022-11-21 23:38] snasovich commented on #3084
/backport v1.3.17

[2022-11-21 23:38] rancherbot opened #3101 "[Backport v1.3] Kubelet timeout generating ImagePullBackOff error"
This is a backport issue for https://github.com/rancher/rke/issues/3084, automatically created via rancherbot by @snasovich

Original issue description:

# TL;DR
Where is the kubelet config file on Rancher 2.6.9 - RKE1, like this https://kubernetes.io/docs/tasks/administer-cluster/kubelet-config-file/
Can I manage it? Does this file exist?
Didn't find in */var/lib/kubelet*

[code]

# Explain
Recen

[2022-11-22 06:56] triburtius commented on #2937
@chfrank-cgn This would be really useful to us!

[2022-11-22 19:15] jiaqiluo commented on #3099
/backport v1.3.17

[2022-11-22 19:15] rancherbot opened #3104 "[Backport v1.3] etcd snapshot-save panics on minimal `cluster.yml`"
This is a backport issue for https://github.com/rancher/rke/issues/3099, automatically created via rancherbot by @jiaqiluo

Original issue description:

**RKE version:**
v1.4.0

**Docker version: (`docker version`,`docker info` preferred)**
20.10.21

**Operating system and kernel: (`cat /etc/os-release`, `uname -r` preferred)**
Ubuntu 20.04

**Type/provider of hosts: (VirtualBox/Bare-metal/AWS/GCE

[2022-11-22 19:19] superseb commented on #3104
This was identically fixed via https://github.com/rancher/rke/pull/3041 / https://github.com/rancher/rke/issues/3028

[2022-11-22 19:19] #3104 closed, assigned to superseb, jiaqiluo

[2022-11-23 02:54] #3031 closed, assigned to nobody

[2022-11-24 02:47] #3030 closed, assigned to nobody

[2022-11-24 05:47] vivek-shilimkar commented on #3084
Issue was reproducible on RKE v1.4.1-rc1.
Cluster throws an error _ErrImagePull_ and _ImagePullBackOff_ Image that needs more than 2 minutes to pull.

(Ignore folder name)
![Screenshot from 2022-11-23 15-59-04](https://user-images.githubusercontent.com/83208989/203703307-305dd38a-fb45-4e2a-8319-a2032fa87dd0.png)

**Fixes for the above error were validated with the RKE v1.4.1-rc2.**

**Validations

[2022-11-24 05:47] #3084 closed, assigned to jiaqiluo, kinarashah, vivek-shilimkar, snasovich

[2022-11-24 05:50] vivek-shilimkar commented on #3101
Issue was reproducible on RKE v1.3.17-rc1.
Cluster throws an error _ErrImagePull_ and _ImagePullBackOff_ Image that needs more than 2 minutes to pull.

(Ignore folder name)
![Screenshot from 2022-11-23 15-59-04](https://user-images.githubusercontent.com/83208989/203703307-305dd38a-fb45-4e2a-8319-a2032fa87dd0.png)

**Fixes for the above error were validated with the RKE v1.3.17-rc2.**

**Validation

[2022-11-24 05:50] #3101 closed, assigned to kinarashah, vivek-shilimkar

[2022-11-28 02:47] #3036 closed, assigned to nobody

[2022-11-28 21:07] jiaqiluo commented on #2012
reopen the issue, it was closed automatically by GitHub.

[2022-11-28 21:08] jiaqiluo commented on #2012
waiting for RKE rc

[2022-11-29 09:37] waldner commented on #2890
The issue is still relevant.